@for (faq of faqs; track faq) {
<nb-card [ngClass]="{ 'mb-2': true, selected: selectedFaq?.id === faq.id }">
  <nb-card-body class="grid-columns">
    <div>
      <div
        class="font-weight-bold initial-capitalize"
        data-testid="title"
      >
        {{ faq.title }}
        @if (state.intentIdExistsInOtherApplication(faq.intentId)) {
        <span
          class="align-middle text-primary"
          [nbTooltip]="'faq.faq-management-list.sharedIntentTooltip' | transloco"
        >
          <nb-icon icon="share"></nb-icon>
        </span>
        }
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="truncate text-muted">
            <div class="text-nowrap">
              @if (faq.utterances.length === 1) {
              <small>{{ 'faq.faq-management-list.questionLabel' | transloco }}</small>
              } @if (faq.utterances.length > 1) {
              <small>
                {{ 'faq.faq-management-list.firstQuestionLabel' | transloco: { count: faq.utterances.length } }}
              </small>
              }
              <button
                nbButton
                ghost
                size="tiny"
                [nbTooltip]="'faq.faq-management-list.copyQuestionTooltip' | transloco"
                (click)="copyString(faq.utterances[0])"
              >
                <nb-icon icon="copy"></nb-icon>
              </button>
              <button
                nbButton
                ghost
                size="tiny"
                [nbTooltip]="'faq.faq-management-list.testQuestionTooltip' | transloco"
                (click)="testDialogSentence(faq.utterances[0], faq.language)"
              >
                <nb-icon icon="terminal-plus"></nb-icon>
              </button>
            </div>
            {{ faq.utterances[0] }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="truncate text-muted answer-col">
            <small class="d-block">{{ 'faq.faq-management-list.answerLabel' | transloco }}</small>
            @if (!isCurrentLocaleAnswerLabelProvided(faq)) {
            <nb-icon
              icon="exclamation-triangle"
              class="mr-1 text-danger align-text-middle"
              [nbTooltip]="'faq.faq-management-list.answerNotProvidedTooltip' | transloco"
            ></nb-icon>
            }
            {{ getCurrentLocaleAnswerLabel(faq) }}
          </div>
        </div>
      </div>
    </div>
    <div>
      <nb-tag-list>
        @for (tag of faq.tags; track tag) {
        <nb-tag
          appearance="filled"
          status="basic"
          size="tiny"
          [text]="tag"
        ></nb-tag>
        }
      </nb-tag-list>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-end">
      <nb-toggle
        class="mx-2"
        [nbTooltip]="
          faq.enabled ? ('faq.faq-management-list.disableTooltip' | transloco) : ('faq.faq-management-list.enableTooltip' | transloco)
        "
        [ngModel]="faq.enabled"
        (mousedown)="toggleEnabled(faq)"
        data-testid="toggle"
      ></nb-toggle>
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <button
          nbButton
          ghost
          shape="round"
          status="info"
          [nbTooltip]="'faq.faq-management-list.editTooltip' | transloco"
          class="mb-2"
          (click)="editFaq(faq)"
          data-testid="edit"
        >
          <nb-icon icon="pencil"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          [nbTooltip]="'faq.faq-management-list.downloadTooltip' | transloco"
          class="mb-2"
          (click)="download(faq)"
          data-testid="download"
        >
          <nb-icon icon="download"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          [nbTooltip]="'faq.faq-management-list.showStoryDetailsTooltip' | transloco"
          class="mb-2"
          (click)="displayStoryDetails(faq)"
        >
          <nb-icon icon="book"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          status="danger"
          [nbTooltip]="'faq.faq-management-list.deleteTooltip' | transloco"
          class="mb-2"
          (click)="delete(faq)"
          data-testid="delete"
        >
          <nb-icon icon="trash"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
}
