<nb-card
  *ngFor="let faq of faqs"
  [ngClass]="{ 'mb-2': true, selected: selectedFaq?.id === faq.id }"
>
  <nb-card-body class="grid-columns">
    <div>
      <div class="font-weight-bold initial-capitalize">
        {{ faq.title }}
        <span
          *ngIf="state.intentIdExistsInOtherApplication(faq.intentId)"
          class="valign-middle text-primary"
          nbTooltip="This faq uses an intent that is shared by at least one other application. Any change to the intent will also affect other applications that use that intent."
        >
          <nb-icon icon="share-outline"></nb-icon>
        </span>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="truncate text-muted">
            <small
              class="d-block"
              *ngIf="faq.utterances.length == 1"
              >Question</small
            >
            <small
              class="d-block"
              *ngIf="faq.utterances.length > 1"
              >First question (out of {{ faq.utterances.length }})</small
            >
            {{ faq.utterances[0] }}
          </div>
        </div>

        <div class="col-md-6">
          <div class="truncate text-muted">
            <small class="d-block">Answer</small>
            {{ faq.answer }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <nb-tag-list>
        <nb-tag
          appearance="filled"
          *ngFor="let tag of faq.tags"
          [text]="tag"
          status="basic"
          size="tiny"
        ></nb-tag>
      </nb-tag-list>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <nb-toggle
        id="faqToggle"
        [nbTooltip]="faq.enabled ? 'Disable' : 'Enable'"
        class="mx-2"
        [ngModel]="faq.enabled"
        (mousedown)="toggleEnabled(faq)"
      ></nb-toggle>

      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Edit"
          class="mb-2"
          (click)="editFaq(faq)"
        >
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Download"
          class="mb-2"
          (click)="download(faq)"
        >
          <nb-icon icon="download-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Delete"
          class="mb-2"
          (click)="delete(faq)"
        >
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
