.events-wrapper {
  background-color: var(--background-basic-color-3);
  padding: 0.5em 0.75em;

  border-radius: var(--border-radius);

  .event-info {
    background-color: var(--background-basic-color-2);
    color: var(--color-basic-600);
    font-size: 80%;
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);

    .before-after {
      max-width: 12em;
      line-height: 0.8;
      margin-top: 0.4em;
      color: var(--color-basic-700);
    }

    .emphasize {
      color: var(--color-basic-700);
    }
  }
}

.add-comment-shadow {
  border-top: 1px solid var(--background-basic-color-2);
  box-shadow: 0px -12px 11px -18px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
