<form [formGroup]="form">
  <nb-card class="min-width-90vw">
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      <div>Annotation</div>
      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Close"
        (click)="cancel()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-12 col-xl-6">
          <tock-form-control
            label="State"
            name="state"
            [required]="true"
            [showError]="isSubmitted"
            [noLabelMargin]="true"
          >
            <nb-radio-group
              formControlName="state"
              value="2"
              class="d-flex"
            >
              <nb-radio
                *ngFor="let state of annotationStates"
                [value]="state.value"
                >{{ state.label }}</nb-radio
              >
            </nb-radio-group>
          </tock-form-control>
        </div>
        <div class="col-12 col-xl-6">
          <tock-form-control
            label="Reason"
            name="reason"
          >
            <nb-select
              formControlName="reason"
              placeholder="Select the reason for the report"
              fullWidth
            >
              <nb-option
                *ngFor="let reason of annotationReasons"
                [value]="reason.value"
                >{{ reason.label }}</nb-option
              >
            </nb-select>
          </tock-form-control>
        </div>

        <div class="col-12 col-xl-6">
          <tock-form-control
            label="Description"
            name="description"
            [required]="true"
            [showError]="isSubmitted"
          >
            <textarea
              formControlName="description"
              nbInput
              fullWidth
              fieldSize="small"
              rows="4"
              placeholder="Add a description here"
            ></textarea>
          </tock-form-control>
        </div>

        <div class="col-12 col-xl-6">
          <tock-form-control
            label="Ground truth"
            name="ground_truth"
          >
            <textarea
              formControlName="ground_truth"
              nbInput
              fullWidth
              fieldSize="small"
              rows="4"
              placeholder="Add ground truth here"
            ></textarea>
          </tock-form-control>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="submit()"
        [disabled]="!form.dirty"
      >
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</form>
