<h1>
  {{ 'test.bot-dialog.title' | transloco: { applicationLabel: state.currentApplication.label } }}
</h1>

<nb-card class="mb-0">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-1">
      <div class="d-flex gap-1">
        <tock-select-bot
          [(configurationId)]="currentConfigurationId"
          [returnsRestConfiguration]="true"
          (selectionChange)="changeConfiguration($event)"
        >
        </tock-select-bot>

        @if (xrayAvailable) {
        <div>
          <button
            [nbTooltip]="
              testContext
                ? ('test.bot-dialog.testContextTooltipDisable' | transloco)
                : ('test.bot-dialog.testContextTooltipEnable' | transloco)
            "
            nbButton
            outline
            status="warning"
            size="medium"
            (click)="enableTestContext()"
          >
            <nb-icon icon="cube"></nb-icon>
          </button>
        </div>
        }

        <nb-toggle
          [nbTooltip]="'test.bot-dialog.debugTooltip' | transloco"
          labelPosition="start"
          [(ngModel)]="debug"
          class="nb-toggle-reset-label-margin"
        >
          Debug
        </nb-toggle>

        <nb-toggle
          [nbTooltip]="'test.bot-dialog.sourcesContentTooltip' | transloco"
          labelPosition="start"
          [(ngModel)]="sourceWithContent"
          class="nb-toggle-reset-label-margin"
        >
          {{ 'test.bot-dialog.sourcesContent' | transloco }}
        </nb-toggle>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="loading">
    <tock-chat-ui
      height="calc(100vh - 450px)"
      [mayScroll]="true"
      #chatUi
    >
      @for (m of messages; track m) {
      <tock-chat-ui-message
        [message]="m.message"
        [reply]="m.bot"
        [avatar]="getUserAvatar(m.bot)"
        (sendMessage)="onNewMessage($event)"
      >
        @if (m.locale) {
        <span class="stats">
          [{{ m.locale }}] @if (m.hasNlpStats) {
          <button
            (click)="displayNlpStats(m)"
            [nbTooltip]="'test.bot-dialog.viewNlpStatsTooltip' | transloco"
            nbButton
            ghost
            shape="round"
            size="tiny"
            status="primary"
          >
            <nb-icon icon="clipboard-data"></nb-icon>
          </button>
          }
        </span>
        }
      </tock-chat-ui-message>
      }
    </tock-chat-ui>

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-1 mt-3">
      <div class="d-flex gap-1 flex-grow-1">
        <textarea
          [ngStyle]="{ height: getUserMessageInputHeight() }"
          rows="1"
          class="w-100 nb-autocomplete-position-top"
          nbInput
          fullWidth
          fieldSize="medium"
          status="primary"
          [placeholder]="'test.bot-dialog.userMessagePlaceholder' | transloco"
          [(ngModel)]="userMessage"
          (onInputValueChange)="onUserMessageChange($event)"
          (keyup.shift.enter)="insertCarriage()"
          (keyup.enter)="submit()"
          autocomplete="off"
          [nbAutocomplete]="userMessageAutocomplete"
          position="top"
          (click)="updateUserMessageAutocompleteValues()"
          (keyup)="updateUserMessageAutocompleteValues($event)"
        ></textarea>

        <button
          nbButton
          outline
          status="primary"
          size="medium"
          (click)="submit()"
        >
          {{ 'test.bot-dialog.goButton' | transloco }}
        </button>
      </div>

      @if (messages.length !== 0) {
      <button
        [nbTooltip]="'test.bot-dialog.clearConversationTooltip' | transloco"
        nbButton
        outline
        status="danger"
        size="medium"
        (click)="clear()"
      >
        <nb-icon icon="trash"></nb-icon>
      </button>
      }
    </div>

    <nb-autocomplete
      #userMessageAutocomplete
      size="tiny"
    >
      @for (option of userMessageAutocompleteValues | async; track option) {
      <nb-option [value]="option">
        {{ option }}
      </nb-option>
      }
    </nb-autocomplete>

    @if (testContext) {
    <div id="test-saving-accordions">
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header (click)="removeXrayTestName()">
            {{ 'test.bot-dialog.saveDialogInXray' | transloco }}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            @if (testContext) {
            <input
              nbInput
              [status]="isXrayTestNameFilled ? 'basic' : 'danger'"
              [placeholder]="'test.bot-dialog.xrayTestNamePlaceholder' | transloco"
              id="test-name"
              [(ngModel)]="xrayTestName"
              (ngModelChange)="updateSaveButtonStatus($event)"
            />
            } @if (testContext) {
            <input
              nbInput
              status="default"
              [placeholder]="'test.bot-dialog.jiraIdentifierPlaceholder' | transloco"
              id="jira-name"
              [(ngModel)]="jiraIdentifier"
            />
            } @if (testContext) {
            <nb-select
              multiple
              [placeholder]="'test.bot-dialog.xrayTestPlansPlaceholder' | transloco"
              class="test-plans-select"
              name="testplans"
              [(selected)]="selectTestPlans"
              (selectedChange)="printSelectedTestPlans($event)"
            >
              @for (e of xrayTestPlans; track e) {
              <nb-option
                [value]="e.key"
                [nbTooltip]="e.fields.summary"
              >
                {{ e.key }}
              </nb-option>
              }
            </nb-select>
            } @if (testContext) {
            <button
              [nbTooltip]="'test.bot-dialog.sendToXrayTooltip' | transloco"
              nbTooltipStatus="info"
              [disabled]="!isXrayTestNameFilled"
              id="save-button"
              nbButton
              outline
              status="primary"
              size="small"
              (click)="saveDialogToXray()"
            >
              <nb-icon icon="floppy"></nb-icon>
            </button>
            }
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header (click)="removeXrayTestIdentifier()">
            {{ 'test.bot-dialog.updateDialogInXray' | transloco }}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            @if (testContext) {
            <input
              nbInput
              [status]="isXrayTestIdentifierFilled ? 'basic' : 'danger'"
              [placeholder]="'test.bot-dialog.xrayTestNamePlaceholder' | transloco"
              id="test-identifier"
              [(ngModel)]="xrayTestIdentifier"
              (ngModelChange)="updateUpdateButtonStatus($event)"
            />
            } @if (testContext) {
            <button
              [nbTooltip]="'test.bot-dialog.updateXrayTestTooltip' | transloco"
              nbTooltipStatus="info"
              [disabled]="!isXrayTestIdentifierFilled"
              id="update-button"
              nbButton
              outline
              status="primary"
              size="small"
              (click)="updateDialogXray()"
            >
              <nb-icon icon="floppy"></nb-icon>
            </button>
            }
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item disabled>
          <nb-accordion-item-header>{{ 'test.bot-dialog.saveDialogInTock' | transloco }}</nb-accordion-item-header>
          <nb-accordion-item-body>{{ 'test.bot-dialog.comingSoon' | transloco }}</nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    }
  </nb-card-body>
</nb-card>
