<h1>{{ 'configuration.synchronization.title' | transloco }}</h1>

<nb-card>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <td colspan="2">{{ 'configuration.synchronization.fromLabel' | transloco }}</td>
          <td colspan="2">{{ 'configuration.synchronization.toLabel' | transloco }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="folder"
              ></nb-icon>

              <nb-select
                class="sync-select"
                [placeholder]="'configuration.synchronization.sourceNamespacePlaceholder' | transloco"
                [(selected)]="this.sourceNamespace"
                (selectedChange)="selectSourceNamespace(this.sourceNamespace)"
              >
                <nb-option
                  *ngFor="let namespace of state.namespaces"
                  [value]="namespace"
                  >{{ namespace.displayLabel() }}</nb-option
                >
              </nb-select>
            </nb-form-field>
          </td>
          <td rowspan="3">
            <nb-icon
              class="arrow-right m-2"
              icon="arrow-right"
            ></nb-icon>
          </td>
          <td>
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="folder"
              ></nb-icon>
              <nb-select
                class="sync-select"
                [placeholder]="'configuration.synchronization.targetNamespacePlaceholder' | transloco"
                [(selected)]="this.targetNamespace"
                (selectedChange)="selectTargetNamespace(this.targetNamespace)"
              >
                <nb-option
                  *ngFor="let namespace of state.namespaces"
                  [value]="namespace"
                  >{{ namespace.displayLabel() }}</nb-option
                >
              </nb-select>
            </nb-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="window"
              ></nb-icon>
              <nb-select
                class="sync-select"
                [placeholder]="'configuration.synchronization.sourceApplicationPlaceholder' | transloco"
                [(selected)]="this.sourceApplication"
              >
                <nb-option
                  *ngFor="let app of sourceApplications"
                  [value]="app"
                  >{{ app.name }}</nb-option
                >
              </nb-select>
            </nb-form-field>
          </td>
          <td>
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="window"
              ></nb-icon>
              <nb-select
                class="sync-select"
                [placeholder]="'configuration.synchronization.targetApplicationPlaceholder' | transloco"
                [(selected)]="this.targetApplication"
              >
                <nb-option
                  *ngFor="let app of targetApplications"
                  [value]="app"
                  >{{ app.name }}</nb-option
                >
              </nb-select>
            </nb-form-field>
          </td>
        </tr>
      </tbody>
    </table>
    <nb-toggle
      status="primary"
      [(ngModel)]="this.shouldSynchronizeInboxMessages"
      [nbTooltip]="'configuration.synchronization.copyInboxMessagesTooltip' | transloco"
      >{{ 'configuration.synchronization.copyInboxMessagesLabel' | transloco }}
    </nb-toggle>
    <div>
      <button
        nbButton
        status="primary"
        (click)="copyConfiguration()"
      >
        {{ 'configuration.synchronization.copyButton' | transloco }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
