.main-row {
  min-width: 60vw;
}

.contexts-list {
  max-height: calc(100vh - 620px);
  min-height: 20vh;
  overflow-y: auto;
}

.entity {
  border-radius: 0.45rem;
  padding: 0rem 0.3rem 0rem 0.3rem;
  font-size: 0.7rem;
}
