<nb-card
  id="modal-wrapper"
  class="m-0"
>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    Action definition
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      (click)="cancel()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <div id="formTopSection">
        <tock-form-control
          label="Name"
          name="name"
          required="true"
          [controls]="name"
          [showError]="isSubmitted"
          help="Action name"
        >
          <input
            *ngIf="!isReadonly"
            nbInput
            tockAutofocusElement
            formControlName="name"
            fullWidth
            id="name"
            type="text"
            placeholder="Enter endpoint name"
            (blur)="formatActionName()"
            data-testid="name"
          />
          <ng-container *ngIf="isReadonly">
            <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: name.value }"></ng-container>
          </ng-container>
        </tock-form-control>

        <div class="position-relative">
          <div
            *ngIf="!isReadonly"
            class="arrowhead-centered"
          >
            <nb-icon
              icon="arrowhead-up-outline"
              status="basic"
              nbTooltip="Use description as action name"
              class="pointer"
              (click)="copyDescToName()"
            ></nb-icon>
          </div>

          <tock-form-control
            label="Description"
            name="description"
            [controls]="description"
            [showError]="isSubmitted"
            help="Textual description of the role fulfilled by the action"
          >
            <textarea
              *ngIf="!isReadonly"
              nbInput
              formControlName="description"
              fullWidth
              id="description"
              placeholder="Enter description"
              rows="2"
            ></textarea>
            <ng-container *ngIf="isReadonly">
              <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: description.value }"></ng-container>
            </ng-container>
          </tock-form-control>
        </div>

        <div class="mb-3">
          <div class="position-relative">
            <div
              *ngIf="!isReadonly"
              class="arrowhead-centered"
            >
              <nb-icon
                icon="arrowhead-down-outline"
                status="basic"
                nbTooltip="Use description as answer"
                class="pointer"
                (click)="copyDescToAnswer()"
              ></nb-icon>
            </div>

            <ng-container formArrayName="answers">
              <ng-container *ngFor="let answer of answers.controls; let i = index; let first = first">
                <div [formGroup]="answer">
                  <ng-container *ngIf="showAnswersLocales ? true : answer.value.locale === currentLocale">
                    <tock-form-control
                      name="answer{{ i }}"
                      [label]="first ? 'Answer' : ''"
                      [hasMargin]="false"
                      help="Response sent to the user when the action is performed"
                    >
                      <nb-form-field *ngIf="!isReadonly">
                        <div
                          nbPrefix
                          class="text-uppercase"
                          nbTooltip="Answer in {{ stateService.localeName(answer.value.locale) }}"
                        >
                          {{ answer.value.locale }}
                        </div>

                        <textarea
                          *ngIf="!isReadonly"
                          nbInput
                          fullWidth
                          rows="2"
                          placeholder="Enter answer in {{ stateService.localeName(answer.value.locale) }}"
                          formControlName="answer"
                        ></textarea>
                      </nb-form-field>

                      <ng-container *ngIf="isReadonly">
                        <div class="d-flex gap-1">
                          <span class="text-uppercase text-mitigated">{{ answer.value.locale }}</span>
                          <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: answer.value.answer }"></ng-container>
                        </div>
                      </ng-container>
                    </tock-form-control>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div *ngIf="supportedLocales.length > 1 || answers.value.length > 1">
            <small
              (click)="showAnswersLocales = !showAnswersLocales"
              class="d-block mb-1 pointer"
            >
              <nb-icon
                *ngIf="!showAnswersLocales"
                icon="chevron-right-outline"
                class="valign-middle"
              ></nb-icon>
              <span *ngIf="!showAnswersLocales">Show other locales</span>
              <nb-icon
                *ngIf="showAnswersLocales"
                icon="chevron-up-outline"
                class="valign-middle"
              ></nb-icon>
              <span *ngIf="showAnswersLocales">Hide other locales</span>
            </small>
          </div>
        </div>
      </div>

      <div id="formMiddleSection">
        <tock-form-control
          label="Api handler"
          name="handler"
          help="Business code that will be executed when the action is performed. Execution of an action including a handler does not hand over to the user, but triggers a new round of the dialog handler, as execution of the business code has potentially produced new information useful for advancing the scenario."
          [controls]="handler"
          [showError]="isSubmitted"
        >
          <tock-autocomplete-input
            *ngIf="!isReadonly"
            formControlName="handler"
            placeholder="Enter handler class name"
            name="handler"
            [options]="handlers"
          ></tock-autocomplete-input>
          <ng-container *ngIf="isReadonly">
            <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: handler.value }"></ng-container>
          </ng-container>
        </tock-form-control>

        <div>
          <tock-form-control
            label="Input contexts"
            name="inputContexts"
            [controls]="inputContextsAddError"
            [showError]="true"
            help="Contexts required to execute the action. An action can only be executed if all the contexts defined in the input exist."
          >
            <div
              *ngIf="!isReadonly"
              class="d-flex mb-2"
            >
              <div class="w-100">
                <input
                  #inputContextsInput
                  nbInput
                  fullWidth
                  id="inputContexts"
                  type="text"
                  placeholder="Add an input context and press enter"
                  (keyup)="resetContextsAddErrors()"
                  (keyup.enter)="addContext('input')"
                  autocomplete="off"
                  [nbAutocomplete]="inputContextsAutocomplete"
                  (focus)="updateContextsAutocompleteValues()"
                  (keyup)="updateContextsAutocompleteValues($event)"
                />
                <nb-autocomplete
                  #inputContextsAutocomplete
                  optionsListClass="option-list--break-word"
                >
                  <nb-option
                    *ngFor="let option of contextsAutocompleteValues | async"
                    [value]="option"
                  >
                    {{ option }}
                  </nb-option>
                </nb-autocomplete>
              </div>

              <button
                type="button"
                nbButton
                ghost
                size="small"
                class="ml-1"
                [disabled]="!inputContextsInput.value.length"
                (click)="addContext('input')"
              >
                Add
              </button>
            </div>
            <nb-list class="contexts-list">
              <nb-list-item
                *ngFor="let inputContext of inputContextNames.value"
                class="p-2 d-flex justify-content-between"
              >
                <div class="d-flex flex-wrap justify-content-between w-100 mr-2">
                  <div class="ellipsis font-weight-bold">
                    {{ inputContext }}
                  </div>

                  <ng-container *ngFor="let context of getContextByName(inputContext)">
                    <span
                      *ngIf="context?.entityType"
                      nbTooltip="Entity associated with the context"
                      class="entity"
                      [style.background]="getContextEntityColor(context)"
                      [style.color]="getContextEntityContrast(context)"
                    >
                      {{ qualifiedName(stateService.user, context.entityType, context.entityRole) }}
                    </span>
                  </ng-container>
                </div>

                <nb-icon
                  *ngIf="!isReadonly"
                  icon="trash-2-outline"
                  status="danger"
                  (click)="removeContext('input', inputContext)"
                  class="min-width-1em ml-2 pointer"
                  nbTooltip="Remove this context from inputs"
                ></nb-icon>
              </nb-list-item>
            </nb-list>
            <ng-container *ngIf="isReadonly && !inputContextNames.value.length">
              <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: undefined }"></ng-container>
            </ng-container>
          </tock-form-control>
        </div>

        <tock-form-control
          label="Event"
          name="trigger"
          [controls]="trigger"
          [showError]="isSubmitted"
          help="Internal event resulting in a transition in the state machine. Only available for actions that have a handler (i.e. that do not hand over to the user)."
        >
          <tock-autocomplete-input
            *ngIf="!isReadonly"
            formControlName="trigger"
            placeholder="Add an event"
            name="trigger"
            keyLabel="name"
            [options]="triggers"
          ></tock-autocomplete-input>
          <ng-container *ngIf="isReadonly">
            <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: trigger.value }"></ng-container>
          </ng-container>
        </tock-form-control>

        <div data-testid="output-context-block">
          <tock-form-control
            label="Output contexts"
            name="outputContexts"
            [controls]="outputContextsAddError"
            [showError]="true"
            help="Contexts that can be generated when the action is executed either directly via the execution of a handler (e.g. an Api handler) which will produce this context or indirectly via the user's response to the action."
          >
            <div
              *ngIf="!isReadonly"
              class="d-flex mb-2"
            >
              <div class="w-100">
                <input
                  #outputContextsInput
                  nbInput
                  fullWidth
                  id="outputContexts"
                  type="text"
                  placeholder="Add an output context and press enter"
                  (keyup)="resetContextsAddErrors()"
                  (keyup.enter)="addContext('output')"
                  autocomplete="off"
                  [nbAutocomplete]="outputContextsAutocomplete"
                  (focus)="updateContextsAutocompleteValues()"
                  (keyup)="updateContextsAutocompleteValues($event)"
                />
                <nb-autocomplete
                  #outputContextsAutocomplete
                  optionsListClass="option-list--break-word"
                >
                  <nb-option
                    *ngFor="let option of contextsAutocompleteValues | async"
                    [value]="option"
                  >
                    {{ option }}
                  </nb-option>
                </nb-autocomplete>
              </div>

              <button
                type="button"
                nbButton
                ghost
                size="small"
                class="ml-1"
                [disabled]="!outputContextsInput.value.length"
                (click)="addContext('output')"
              >
                Add
              </button>
            </div>
            <nb-list class="contexts-list">
              <nb-list-item
                *ngFor="let outputContext of outputContextNames.value"
                class="p-2 d-flex justify-content-between"
              >
                <div class="ellipsis font-weight-bold">
                  {{ outputContext }}
                </div>

                <ng-container *ngFor="let context of getContextByName(outputContext)">
                  <span
                    *ngIf="context?.entityType"
                    nbTooltip="Entity associated with the context"
                    class="entity"
                    [style.background]="getContextEntityColor(context)"
                    [style.color]="getContextEntityContrast(context)"
                  >
                    {{ qualifiedName(stateService.user, context.entityType, context.entityRole) }}
                  </span>
                </ng-container>

                <nb-icon
                  *ngIf="!isReadonly"
                  icon="trash-2-outline"
                  status="danger"
                  class="min-width-1em ml-2 pointer"
                  nbTooltip="Remove this context from outputs"
                  (click)="removeContext('output', outputContext)"
                ></nb-icon>
              </nb-list-item>
            </nb-list>
            <ng-container *ngIf="isReadonly && !outputContextNames.value.length">
              <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: undefined }"></ng-container>
            </ng-container>
          </tock-form-control>
        </div>
      </div>

      <div>
        <tock-form-control
          label="Target story"
          name="targetStory"
          [controls]="targetStory"
          [showError]="isSubmitted"
          help="Force a redirection to another story"
        >
          <nb-select
            *ngIf="!isReadonly"
            id="targetStory"
            placeholder="Select a story to redirect to"
            formControlName="targetStory"
            [fullWidth]="true"
            [optionsListClass]="'option-list--break-word'"
            [status]="targetStoryWasDeleted() ? 'danger' : 'basic'"
          >
            <nb-option class="text-muted">
              <nb-icon
                icon="close-circle-outline"
                class="text-muted mr-1"
                style="margin: 0.14rem 0px 0px -0.15rem"
              ></nb-icon>
              No redirection</nb-option
            >
            <nb-option
              *ngFor="let story of availableStories"
              [value]="story.storyId"
            >
              {{ story.name }}
            </nb-option>
          </nb-select>

          <ng-container *ngIf="isReadonly">
            <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: findStory(targetStory.value)?.name }"></ng-container>
          </ng-container>
        </tock-form-control>

        <div
          *ngIf="targetStoryWasDeleted()"
          class="text-danger"
        >
          <nb-icon icon="alert-triangle-outline"></nb-icon> Attention, the target story "{{ targetStory.value }}" no longer exists! This
          scenario will not be publishable.
        </div>
      </div>

      <div
        id="formBottomSection"
        *ngIf="!targetStory.value"
        data-testid="unknown-answers-block"
      >
        <label class="font-weight-bold text-mitigated">
          Question for unknown answer
          <nb-icon
            icon="info-outline"
            class="align-bottom"
            nbTooltip="Message sent if the response given by the user following this action is not recognized (unknown intent received)."
          ></nb-icon>
        </label>

        <small class="d-block text-muted mb-2">Question to ask the user if their answer was not understood.</small>

        <ng-container formArrayName="unknownAnswers">
          <ng-container *ngFor="let unknownAnswer of unknownAnswers.controls; let i = index">
            <div [formGroup]="unknownAnswer">
              <tock-form-control
                [name]="'unknownAnswer_' + unknownAnswer.value.locale"
                [controls]="unknownAnswer.controls.answer"
                [boldLabel]="false"
              >
                <nb-form-field *ngIf="!isReadonly">
                  <div
                    nbPrefix
                    class="text-uppercase"
                    nbTooltip="Question in {{ stateService.localeName(unknownAnswer.value.locale) }}"
                  >
                    {{ unknownAnswer.value.locale }}
                  </div>
                  <textarea
                    nbInput
                    fullWidth
                    rows="2"
                    placeholder="Enter question in {{ stateService.localeName(unknownAnswer.value.locale) }}"
                    formControlName="answer"
                  ></textarea>

                  <button
                    type="button"
                    nbSuffix
                    nbButton
                    ghost
                    (click)="resetLocaleUnknownAnswer(i)"
                    [disabled]="!unknownAnswer.value.answer?.length"
                  >
                    <nb-icon icon="trash-2-outline"> </nb-icon>
                  </button>
                </nb-form-field>
                <ng-container *ngIf="isReadonly">
                  <div class="d-flex gap-1">
                    <span class="text-uppercase text-mitigated">{{ unknownAnswer.value.locale }}</span>
                    <ng-container *ngTemplateOutlet="readOnlyTemplate; context: { value: unknownAnswer.value.answer }"></ng-container>
                  </div>
                </ng-container>
              </tock-form-control>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      <span *ngIf="!isReadonly">Cancel</span>
      <span *ngIf="isReadonly">Close</span>
    </button>

    <button
      *ngIf="item.actionDefinition && !isReadonly"
      nbButton
      size="small"
      status="danger"
      (click)="removeActionDefinition()"
    >
      Remove definition
    </button>

    <button
      *ngIf="!isReadonly"
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled]="!canSave"
    >
      Save
    </button>
  </nb-card-footer>
</nb-card>

<ng-template
  #readOnlyTemplate
  let-value="value"
>
  <span
    *ngIf="value"
    class="text-mitigated"
  >
    {{ value }}
  </span>
  <span
    *ngIf="!value"
    class="text-mitigated font-italic"
  >
    not specified
  </span>
</ng-template>
