<h1>
  {{ 'lu.sentence-new.title' | transloco }}
</h1>
<p>{{ 'lu.sentence-new.sub-title' | transloco }}</p>

<nb-card>
  <nb-card-body>
    <div class="d-flex gap-1 mb-2">
      <input
        nbInput
        fieldSize="large"
        fullWidth
        [placeholder]="'lu.sentence-new.main-input-placeholder' | transloco"
        #newSentenceInput
        (keyup.enter)="onTry(newSentenceInput.value)"
      />
      <button
        nbButton
        size="large"
        (click)="onTry(newSentenceInput.value)"
        [disabled]="!newSentenceInput.value"
      >
        {{ 'lu.sentence-new.analyze-button' | transloco }} ↵
      </button>
    </div>

    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>{{ 'lu.sentence-new.advanced-options' | transloco }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="d-flex gap-1 align-items-center">
            <input
              nbInput
              [(ngModel)]="queryState"
              [placeholder]="'lu.sentence-new.query-state-placeholder' | transloco"
            />
            <nb-checkbox
              [(ngModel)]="skipCache"
              [nbTooltip]="'lu.sentence-new.skip-cache-tooltip' | transloco"
            >
              {{ 'lu.sentence-new.skip-cache' | transloco }}
            </nb-checkbox>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

@if (!sentence) {
<nb-card class="mt-2">
  <nb-card-body class="d-flex flex-column align-items-center justify-content-center text-center py-5">
    <nb-icon
      icon="clock"
      pack="bootstrap-icons"
      style="font-size: 2rem; color: #c5cee0"
      class="mb-2"
    ></nb-icon>
    <p style="color: #8f9bb3">{{ 'lu.sentence-new.empty-state-message' | transloco }}</p>
  </nb-card-body>
</nb-card>
} @if (sentence) {
<tock-sentence-training-entry
  [standAlone]="true"
  [sentence]="sentence"
  (onClearSentence)="onClose()"
></tock-sentence-training-entry>
}
