// nb-card {
//   transition: transform 0.2s ease, box-shadow 0.2s ease;
// }

// nb-card.hover-lift:hover {
//   transform: translateY(-4px);
//   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
// }

.list-grid {
  display: grid;
  grid-template-columns: minmax(8rem, 1fr) minmax(3rem, 5rem) minmax(3rem, 4rem) minmax(5rem, 8.75rem) minmax(3rem, 5rem) 8.75rem;
  gap: 0.5rem;
  padding: var(--card-padding);
  align-items: center;
}

.list-header {
  font-size: 0.68rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.list-entry-name {
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-entry-desc {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-wrapper {
  max-height: 20em;
  overflow-y: auto;
}

.runs-grid {
  display: grid;
  grid-template-columns:
    minmax(4rem, 8rem) minmax(4rem, 8rem) minmax(4rem, 1fr) minmax(2rem, 4rem) minmax(2rem, 3rem) minmax(2rem, 4rem) minmax(3rem, 5rem)
    1.5rem;
  gap: 0.5rem;
}

.runs-grid-header {
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.runs-grid-entry {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
