<div *ngFor="let step of steps; let i = index; let f = first; let l = last">
  <button
    nbButton
    ghost
    size="small"
    shape="round"
    class="step"
    [ngClass]="{ valid: f || isStepSequenceValid(step.mode), selected: mode === step.mode }"
    (click)="switchMode(step.mode)"
    [attr.data-testid]="'step-ctrl-' + step.mode"
  >
    <div class="label-index">
      <nb-icon [icon]="step.icon"></nb-icon>
    </div>
    <span class="label">{{ step.label }}</span>
  </button>
  <div
    *ngIf="!l"
    class="connector"
    [class.connectorpassed]="isStepPassed(step.mode)"
  >
    <div class="line"></div>
    <div class="arrow"></div>
  </div>
</div>
