.stateGroup {
  font-size: 0.8rem;
  border: 2px solid #aaa;
  min-width: 10rem;

  // margin: 20px;
  margin-bottom: 20px;
  border-radius: 0.25rem;

  .stateGroup-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #aaa;
    padding: 0.3rem 0.7rem;
    margin: -1px;
  }
  .stateGroup-body {
    min-height: 3rem;
    .transitions-wrapper {
      position: relative;
    }
    .actions-wrapper {
      padding: 20px 20px 0 20px;
    }
  }

  &.dragHover {
    border-color: #666;
    > .stateGroup-header {
      background-color: #666;
    }
  }
}
