<nb-card [nbSpinner]="downloading">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    <div>{{ 'bot.i18n-export.title' | transloco }}</div>

    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form">
      <tock-form-control
        [label]="'bot.i18n-export.exportLabel' | transloco"
        name="filteredOnly"
        [controls]="filteredOnly"
        [showError]="isSubmitted"
        [required]="true"
      >
        <nb-radio-group
          class="d-flex"
          formControlName="filteredOnly"
          name="filteredOnly"
        >
          <nb-radio value="all">{{ 'bot.i18n-export.allLabelsOption' | transloco }}</nb-radio>
          <nb-radio value="filtered">{{ 'bot.i18n-export.filteredLabelsOption' | transloco }}</nb-radio>
        </nb-radio-group>
      </tock-form-control>

      <tock-form-control
        [label]="'bot.i18n-export.formatLabel' | transloco"
        name="format"
        [controls]="format"
        [showError]="isSubmitted"
        [required]="true"
      >
        <nb-radio-group
          class="d-flex"
          formControlName="format"
          name="format"
        >
          <nb-radio value="json">{{ 'bot.i18n-export.jsonFormatOption' | transloco }}</nb-radio>
          <nb-radio value="csv">{{ 'bot.i18n-export.csvFormatOption' | transloco }}</nb-radio>
        </nb-radio-group>
      </tock-form-control>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="export()"
    >
      {{ 'common.actions.export' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
