<nb-card *ngIf="configuration">
  <nb-card-body
    *ngIf="loading"
    [nbSpinner]="loading"
  ></nb-card-body>

  <nb-card-body
    *ngIf="!loading"
    [ngClass]="{ 'pt-5': configuration._id }"
  >
    <div
      *ngIf="configuration._id"
      class="connector-title-box"
    >
      <img
        src="{{ configuration.connectorType.iconUrl() }}"
        class="connector-icon mr-1"
      />
      {{ configuration.connectorType.label() }}
    </div>

    <h5
      *ngIf="!configuration._id"
      class="mb-3"
    >
      {{ 'configuration.bot-configuration.newConfigurationTitle' | transloco }}
    </h5>

    <div class="row">
      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.configurationNameLabel' | transloco"
          name="configurationName"
        >
          <input
            nbInput
            fullWidth
            type="text"
            [placeholder]="'configuration.bot-configuration.configurationNamePlaceholder' | transloco"
            [(ngModel)]="configuration.name"
          />
        </tock-form-control>
      </div>

      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.connectorTypeLabel' | transloco"
          name="connectorType"
          *ngIf="configuration._id"
        >
          <nb-form-field>
            <img
              nbPrefix
              *ngIf="configuration._id"
              src="{{ configuration.connectorType.iconUrl() }}"
              class="connector-icon"
              [nbTooltip]="configuration.connectorType.label()"
            />
            <input
              nbInput
              fullWidth
              type="text"
              [placeholder]="'configuration.bot-configuration.connectorTypePlaceholder' | transloco"
              [ngModel]="configuration.connectorType.label()"
              [disabled]="true"
              class="connector"
            />
          </nb-form-field>
        </tock-form-control>

        <tock-form-control
          [label]="'configuration.bot-configuration.connectorTypeLabel' | transloco"
          name="connectorType"
          *ngIf="!configuration._id"
        >
          <nb-select
            fullWidth
            [(ngModel)]="configuration.connectorType"
            (selectedChange)="changeConnectorType()"
          >
            <nb-option
              *ngFor="let c of connectorTypesAndRestType"
              [value]="c"
            >
              <img
                src="{{ c.iconUrl() }}"
                class="connector-icon mr-1"
                [nbTooltip]="c.label()"
              />
              {{ c.label() }}
            </nb-option>
            <nb-select-label *ngIf="configuration.connectorType">
              <img
                src="{{ configuration.connectorType.iconUrl() }}"
                class="connector-icon mr-1"
                [nbTooltip]="configuration.connectorType.label()"
              />
              {{ configuration.connectorType.label() }}
            </nb-select-label>
          </nb-select>
        </tock-form-control>
      </div>

      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.targetConnectorTypeLabel' | transloco"
          name="targetConnectorType"
          *ngIf="!configuration._id && configuration.connectorType.isRest()"
        >
          <nb-select
            fullWidth
            [placeholder]="'configuration.bot-configuration.targetConnectorTypePlaceholder' | transloco"
            [(ngModel)]="configuration.ownerConnectorType"
            (selectedChange)="changeConnectorType()"
          >
            <nb-option
              *ngFor="let c of connectorTypes"
              [value]="c"
            >
              <img
                src="{{ c.iconUrl() }}"
                class="connector-icon mr-1"
                [nbTooltip]="c.label()"
              />
              {{ c.label() }}
            </nb-option>
            <nb-select-label *ngIf="configuration.ownerConnectorType">
              <img
                src="{{ configuration.ownerConnectorType.iconUrl() }}"
                class="connector-icon mr-1"
                [nbTooltip]="configuration.ownerConnectorType.label()"
              />
              {{ configuration.ownerConnectorType.label() }}
            </nb-select-label>
          </nb-select>
        </tock-form-control>

        <tock-form-control
          [label]="'configuration.bot-configuration.targetConnectorTypeLabel' | transloco"
          name="targetConnectorType"
          *ngIf="configuration._id && configuration.connectorType.isRest() && configuration.ownerConnectorType"
        >
          <nb-form-field>
            <img
              nbPrefix
              class="connector-icon"
              [nbTooltip]="configuration.ownerConnectorType.label()"
              src="{{ configuration.ownerConnectorType.iconUrl() }}"
            />
            <input
              nbInput
              type="text"
              [placeholder]="'configuration.bot-configuration.targetConnectorTypePlaceholder' | transloco"
              [ngModel]="configuration.ownerConnectorType?.label()"
              [disabled]="true"
            />
          </nb-form-field>
        </tock-form-control>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.connectorIdentifierLabel' | transloco"
          name="connectorIdentifier"
        >
          <input
            nbInput
            type="text"
            [placeholder]="'configuration.bot-configuration.connectorIdentifierPlaceholder' | transloco"
            [(ngModel)]="configuration.applicationId"
          />
        </tock-form-control>
      </div>

      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.relativeRestPathLabel' | transloco"
          name="relativeRestPath"
        >
          <input
            nbInput
            type="text"
            [placeholder]="'configuration.bot-configuration.relativeRestPathPlaceholder' | transloco"
            [nbTooltip]="'configuration.bot-configuration.relativeRestPathTooltip' | transloco"
            [(ngModel)]="configuration.path"
            (change)="changePath()"
          />
        </tock-form-control>
      </div>

      <div class="col-4">
        <tock-form-control
          [label]="'configuration.bot-configuration.connectorUrlLabel' | transloco"
          name="connectorUrl"
          *ngIf="botSharedService.configuration && botSharedService.configuration.botApiSupport"
        >
          {{ botSharedService.configuration.botApiBaseUrl }}{{ configuration.path }}
        </tock-form-control>
      </div>
    </div>

    <nb-accordion
      *ngIf="
        botSharedService.findConnectorConfiguration(configuration.connectorType) &&
        botSharedService.findConnectorConfiguration(configuration.connectorType).fields.length !== 0
      "
    >
      <nb-accordion-item [expanded]="!configuration._id">
        <nb-accordion-item-header>
          {{ 'configuration.bot-configuration.connectorCustomConfigurationTitle' | transloco }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <tock-form-control
            [label]="'configuration.bot-configuration.applicationBaseUrlLabel' | transloco"
            name="applicationBaseUrl"
            *ngIf="!botSharedService.configuration || !botSharedService.configuration.botApiSupport"
          >
            <input
              nbInput
              fullWidth
              type="text"
              [placeholder]="'configuration.bot-configuration.applicationBaseUrlPlaceholder' | transloco"
              [nbTooltip]="'configuration.bot-configuration.applicationBaseUrlTooltip' | transloco"
              [(ngModel)]="configuration.baseUrl"
            />
          </tock-form-control>

          <div class="row">
            <div
              class="col-6"
              *ngFor="let f of botSharedService.findConnectorConfiguration(configuration.connectorType).fields"
            >
              <tock-form-control [label]="f.label">
                <input
                  nbInput
                  fullWidth
                  type="text"
                  [placeholder]="f.label"
                  [(ngModel)]="configuration.parameters[f.key]"
                  [required]="f.mandatory"
                />
              </tock-form-control>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>

  <nb-card-footer
    *ngIf="!loading"
    style="text-align: right"
  >
    <button
      nbButton
      ghost
      [status]="configuration._id ? 'danger' : 'basic'"
      size="small"
      (click)="remove()"
    >
      <nb-icon
        *ngIf="configuration._id"
        icon="trash"
      ></nb-icon>
      <nb-icon
        *ngIf="!configuration._id"
        icon="x-lg"
      ></nb-icon>
      {{
        configuration._id
          ? ('configuration.bot-configuration.deleteButton' | transloco)
          : ('configuration.bot-configuration.cancelButton' | transloco)
      }}
    </button>
    <button
      nbButton
      status="primary"
      (click)="update()"
      size="small"
      style="margin-left: 20px"
    >
      <nb-icon icon="floppy"></nb-icon>
      {{
        configuration._id
          ? ('configuration.bot-configuration.updateButton' | transloco)
          : ('configuration.bot-configuration.createButton' | transloco)
      }}
    </button>
  </nb-card-footer>
</nb-card>
