<div class="d-flex mb-2">
  <h4 class="flex-grow-1">Scenarios management</h4>

  <section class="grid-actions">
    <button
      *ngIf="currentViewMode === viewMode.LIST"
      nbButton
      ghost
      shape="round"
      nbTooltip="Switch to table view"
      (click)="switchViewMode()"
    >
      <nb-icon icon="grid-outline"></nb-icon>
    </button>
    <button
      *ngIf="currentViewMode === viewMode.TREE"
      nbButton
      ghost
      shape="round"
      nbTooltip="Switch to scroll view"
      (click)="switchViewMode()"
    >
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <button
      nbButton
      status="primary"
      (click)="add()"
    >
      <nb-icon icon="plus-outline"></nb-icon>
      Create
    </button>
  </section>
</div>

<section [class.grid]="isSidePanelOpen">
  <nb-card
    *ngIf="loading"
    class="loading"
    [nbSpinner]="loading"
  ></nb-card>

  <nb-card *ngIf="!loading && !scenarios?.length">
    <nb-card-body class="d-flex">
      <img
        src="{{ baseHref }}assets/images/best_bot_gray.png"
        class="tock-robot mr-4"
      />
      <div>
        <h2 class="text-muted">No Scenario found</h2>
        You may create a new one using above button "Create".
      </div>
    </nb-card-body>
  </nb-card>

  <div>
    <tock-scenario-filters></tock-scenario-filters>

    <tock-scenario-list-simple
      *ngIf="!loading && scenarios?.length && currentViewMode === viewMode.LIST"
      [scenarios]="scenarios"
      (handleEdit)="edit($event)"
      (handleDelete)="delete($event)"
    ></tock-scenario-list-simple>

    <tock-scenario-tree
      *ngIf="!loading && scenarios?.length && currentViewMode === viewMode.TREE"
      [scenarios]="scenarios"
      (handleEdit)="edit($event)"
      (handleDelete)="delete($event)"
    ></tock-scenario-tree>
  </div>

  <tock-scenario-edit
    *ngIf="isSidePanelOpen"
    [scenario]="scenarioEdit"
    (handleClose)="closeSidePanel()"
    (handleSave)="saveScenario($event)"
  ></tock-scenario-edit>
</section>
