<div class="d-flex flex-wrap mb-2">
  <h1 class="flex-grow-1">Scenarios management</h1>

  <section class="grid-actions">
    <button
      *ngIf="currentViewMode === viewMode.LIST"
      nbButton
      ghost
      shape="round"
      nbTooltip="Switch to table view"
      [disabled]="!configurations?.length"
      (click)="switchViewMode()"
    >
      <nb-icon icon="grid-outline"></nb-icon>
    </button>
    <button
      *ngIf="currentViewMode === viewMode.TREE"
      nbButton
      ghost
      shape="round"
      nbTooltip="Switch to scroll view"
      [disabled]="!configurations?.length"
      (click)="switchViewMode()"
    >
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <button
      nbButton
      status="primary"
      [disabled]="!configurations?.length"
      (click)="addOrEditScenario()"
    >
      <nb-icon icon="plus-outline"></nb-icon>
      Create
    </button>
  </section>
</div>

<section [class.grid]="isSidePanelOpen">
  <nb-alert
    *ngIf="configurations?.length === 0"
    class="alert-config flex-row align-items-center"
    accent="warning"
  >
    <nb-icon
      class="mr-1"
      icon="alert-triangle-outline"
      status="warning"
    ></nb-icon>
    No bot configuration detected
  </nb-alert>

  <div
    *ngIf="configurations?.length"
    class="main"
  >
    <tock-scenario-filters
      class="d-block mb-2"
      [scenarios]="scenarios"
      [tagsCache]="tagsCache"
      (onFilter)="filterScenarios($event)"
    ></tock-scenario-filters>

    <div
      class="d-flex justify-content-end mb-2"
      *ngIf="!loading.list && scenarios?.length"
    >
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-pagination>
    </div>

    <div
      class="loading"
      [nbSpinner]="loading.list"
    >
      <nb-card *ngIf="!loading.list && (!scenarios?.length || !filteredScenarios.length)">
        <nb-card-body class="d-flex">
          <img
            src="{{ baseHref }}assets/images/best_bot_gray.png"
            class="tock-robot mr-4"
          />
          <div>
            <h2 class="text-muted">No Scenario found</h2>
            You may create a new one using above button "Create".
          </div>
        </nb-card-body>
      </nb-card>

      <tock-scenario-list-simple
        *ngIf="!loading.list && filteredScenarios?.length && currentViewMode === viewMode.LIST"
        [nbSpinner]="loading.delete"
        [scenarios]="filteredScenarios"
        (onEdit)="addOrEditScenario($event)"
        (onDelete)="delete($event)"
      ></tock-scenario-list-simple>

      <tock-scenario-tree
        *ngIf="!loading.list && filteredScenarios?.length && currentViewMode === viewMode.TREE"
        [nbSpinner]="loading.delete"
        [scenarios]="filteredScenarios"
        (onEdit)="addOrEditScenario($event)"
        (onDelete)="delete($event)"
      ></tock-scenario-tree>
    </div>
  </div>

  <tock-scenario-edit
    #scenarioEditComponent
    *ngIf="isSidePanelOpen"
    class="aside"
    [loading]="loading.edit"
    [scenario]="scenarioEdit"
    [scenarios]="scenarios"
    [tagsCache]="tagsCache"
    (onClose)="closeSidePanel()"
    (onSave)="saveScenario($event)"
  ></tock-scenario-edit>
</section>
