<div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
  <h1 class="flex-grow-1">Scenarios Management</h1>

  <section class="d-flex flex-wrap header-actions">
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Export scenarios dumps"
      [disabled]="!configurations?.length || !sagas.length"
      (click)="openExportScenario()"
    >
      <nb-icon icon="download-outline"></nb-icon>
    </button>
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Import scenarios dumps"
      [disabled]="!configurations?.length"
      (click)="openImportScenario()"
    >
      <nb-icon icon="upload-outline"></nb-icon>
    </button>
    <button
      nbButton
      status="primary"
      [disabled]="!configurations?.length"
      (click)="addOrEditScenario()"
    >
      <nb-icon icon="plus-outline"></nb-icon>
      Create
    </button>
  </section>
</div>

<section [class.grid]="isSidePanelOpen.edit || isSidePanelOpen.export || isSidePanelOpen.import">
  <nb-alert
    *ngIf="configurations?.length === 0"
    class="alert-config flex-row align-items-center"
    accent="warning"
  >
    <nb-icon
      class="mr-1"
      icon="alert-triangle-outline"
      status="warning"
    ></nb-icon>
    No bot configuration detected
  </nb-alert>

  <div
    *ngIf="configurations?.length"
    class="main"
  >
    <tock-scenario-filters
      class="d-block mb-2"
      (onFilter)="filterSagas($event)"
    ></tock-scenario-filters>

    <div
      class="d-flex justify-content-end mb-2"
      *ngIf="!loading.list && paginatedSagas?.length"
    >
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-pagination>
    </div>

    <div
      class="loading"
      [nbSpinner]="loading.list"
    >
      <tock-no-data-found
        *ngIf="!loading.list && !paginatedSagas.length"
        title="No Scenario found"
        message="You may create a new one using above button &#34;Create&#34;."
      ></tock-no-data-found>

      <tock-scenario-list-simple
        *ngIf="!loading.list && paginatedSagas.length"
        [nbSpinner]="loading.delete"
        [sagas]="paginatedSagas"
        [selectedScenario]="scenarioEdit"
        (onDeleteSaga)="askDeleteSaga($event)"
        (onEdit)="editSaga($event)"
        (onDuplicate)="askDuplicationDescription($event)"
        (onDelete)="delete($event)"
        (onOrderBy)="orderBy($event)"
      ></tock-scenario-list-simple>
    </div>
  </div>

  <tock-scenario-edit
    #scenarioEditComponent
    *ngIf="isSidePanelOpen.edit"
    class="aside"
    [loading]="loading.edit"
    [scenario]="scenarioEdit"
    (onClose)="closeSidePanel('edit')"
    (onSave)="saveScenario($event)"
  ></tock-scenario-edit>

  <tock-scenario-import
    #scenarioImportComponent
    *ngIf="isSidePanelOpen.import"
    class="aside"
    (onClose)="closeSidePanel('import')"
  ></tock-scenario-import>

  <tock-scenario-export
    #scenarioExportComponent
    *ngIf="isSidePanelOpen.export"
    class="aside"
    [sagas]="sagas"
    (onClose)="closeSidePanel('export')"
  ></tock-scenario-export>
</section>

<ng-template #duplicationModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      Duplicate a scenario
      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Cancel"
        (click)="duplicationCancel()"
      >
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form
        [formGroup]="duplicationForm"
        (submit)="duplicationSubmit()"
      >
        <tock-form-control
          label="Version description"
          name="description"
          required="true"
          [controls]="description"
          [showError]="isDuplicationSubmitted"
          [hasMargin]="false"
        >
          <textarea
            nbInput
            formControlName="description"
            fullWidth
            id="description"
            type="text"
            placeholder="Enter a description"
            autofocusElement
          ></textarea>
        </tock-form-control>
      </form>
    </nb-card-body>
    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="duplicationCancel()"
      >
        Cancel
      </button>
      <button
        nbButton
        status="primary"
        size="small"
        (click)="duplicationSubmit()"
        [disabled]="!canSaveDuplication"
      >
        Duplicate
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
