table th {
  width: 10rem;

  &::first-letter {
    text-transform: capitalize;
  }

  &.actionColumn {
    width: 165px;
  }

  &.descriptionColumn {
    width: auto;
  }
}

section nb-card {
  height: min-content;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: calc(65% - 1rem) 35%;
  }
}
