section {
  &.grid-actions {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: end;
  }

  & nb-card {
    height: min-content;

    .tock-robot {
      width: 4rem;
      height: fit-content;
    }
  }
}

.loading {
  min-height: 50px;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: calc(65% - 1rem) 35%;
  }
}
