<div class="d-flex gap-1 align-items-center mb-1">
  <div
    class="tag"
    [style.background-color]="entity.entityColor"
    [style.color]="getContrastYIQ(entity.entityColor)"
  >
    {{ entity.qualifiedName(state.user) }}

    @if (entityType) {
    <button
      nbButton
      size="tiny"
      shape="round"
      status="danger"
      class="ml-1"
      [nbTooltip]="'lu.entity-details.remove-sub-entity-tooltip' | transloco"
      (click)="remove()"
    >
      <nb-icon icon="trash"></nb-icon>
    </button>
    }
  </div>

  @if (entity.isDateType()) {
  <div class="d-flex gap-1 align-items-center">
    <nb-checkbox
      [checked]="$any(entity.atStartOfDay)"
      (checkedChange)="entity.atStartOfDay = !entity.atStartOfDay; update()"
      [nbTooltip]="'lu.entity-details.evaluate-at-start-of-day-tooltip' | transloco"
    >
      {{ 'lu.entity-details.evaluate-at-start-of-day-label' | transloco }}
    </nb-checkbox>
  </div>
  }
</div>

@for (e of subEntities(); track e) {
<div class="d-flex text-disabled">
  <nb-icon
    icon="arrow-return-right"
    class="mt-1 mx-2"
  ></nb-icon>
  <tock-entity-details
    [entity]="e"
    [entityType]="findEntityType()"
  ></tock-entity-details>
</div>
}
