<h1>{{ 'lu.entities.title' | transloco }}</h1>

<nb-card>
  <nb-card-header>{{ 'lu.entities.entity-types' | transloco }}</nb-card-header>
  <nb-card-body>
    @for (e of entityTypesSortedByName() | async; track e) {
    <div
      class="tag"
      [class.duckling]="e.namespace() !== state.currentApplication.namespace"
      [class.pointer]="e.namespace() === state.currentApplication.namespace"
      [class.info]="e.dictionary"
      [class.success]="e === selectedEntityType"
      (click)="selectEntityType(e)"
    >
      {{ e.nameWithoutNamespace(state.currentApplication.namespace) }}
      @if (e.namespace() === state.currentApplication.namespace) {
      <button
        nbButton
        size="tiny"
        shape="round"
        [nbTooltip]="'lu.entities.edit-entity-tooltip' | transloco"
        class="ml-1"
      >
        <nb-icon icon="pencil"></nb-icon>
      </button>
      } @if (e.namespace() === state.currentApplication.namespace) {
      <button
        nbButton
        size="tiny"
        shape="round"
        status="danger"
        [nbTooltip]="'lu.entities.delete-entity-type-tooltip' | transloco"
        (click)="deleteEntityType(e)"
      >
        <nb-icon icon="trash"></nb-icon>
      </button>
      }
    </div>
    } @if (!!selectedEntityType) {
    <nb-card class="mt-3">
      <nb-card-header class="d-flex justify-content-between">
        {{ 'lu.entities.configuration-for' | transloco }} {{ selectedEntityType.name }}
        <button
          nbButton
          shape="round"
          ghost
          (click)="unSelectEntityType()"
          [nbTooltip]="'lu.entities.unselect-entity-tooltip' | transloco"
        >
          <nb-icon icon="x-lg"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body class="mt-2">
        <nb-checkbox
          [checked]="selectedEntityType.obfuscated"
          (checkedChange)="selectedEntityType.obfuscated = !selectedEntityType.obfuscated; updateEntityType()"
          [nbTooltip]="'lu.entities.obfuscate-tooltip' | transloco"
        >
          {{ 'lu.entities.obfuscate-label' | transloco }}
        </nb-checkbox>
        @if (!!selectedDictionary) {
        <div class="mt-3">
          <b class="lead">{{ 'lu.entities.predefined-values' | transloco }}</b>
          <div class="mt-3">
            <div class="d-flex flex-wrap gap-1 align-items-center">
              <nb-checkbox
                [checked]="selectedDictionary.onlyValues"
                (checkedChange)="selectedDictionary.onlyValues = !selectedDictionary.onlyValues; updateDictionary()"
                [nbTooltip]="'lu.entities.no-model-tooltip' | transloco"
              >
                {{ 'lu.entities.no-model-label' | transloco }}
              </nb-checkbox>
              @if (!selectedDictionary.onlyValues) {
              <div class="d-flex gap-1 align-items-center">
                <small>{{ 'lu.entities.model-limit-label' | transloco }}</small>
                <input
                  nbInput
                  type="number"
                  [placeholder]="'lu.entities.model-limit-placeholder' | transloco"
                  [(ngModel)]="selectedDictionary.minDistance"
                  min="0"
                  max="1"
                  fieldSize="tiny"
                  [nbTooltip]="'lu.entities.model-limit-tooltip' | transloco"
                  (change)="updateDictionary()"
                />
              </div>
              }
              <nb-checkbox
                [checked]="selectedDictionary.textSearch"
                (checkedChange)="selectedDictionary.textSearch = !selectedDictionary.textSearch; updateDictionary()"
                [nbTooltip]="'lu.entities.full-text-tooltip' | transloco"
              >
                {{ 'lu.entities.full-text-label' | transloco }}
              </nb-checkbox>
              <div class="d-flex gap-1 align-items-center">
                <button
                  nbButton
                  size="small"
                  (click)="downloadDictionary()"
                  [nbTooltip]="'lu.entities.download-dictionary-tooltip' | transloco"
                >
                  <nb-icon icon="download"></nb-icon>
                  {{ 'lu.entities.download-dictionary' | transloco }}
                </button>
                @if (showUploadDictionaryButton) {
                <button
                  nbButton
                  size="small"
                  (click)="showUploadDictionaryButton = false"
                  [nbTooltip]="'lu.entities.upload-dictionary-tooltip' | transloco"
                >
                  <nb-icon icon="upload"></nb-icon>
                  {{ 'lu.entities.upload-dictionary' | transloco }}
                </button>
                } @if (!showUploadDictionaryButton) {
                <input
                  #file
                  id="file"
                  type="file"
                  ng2FileSelect
                  [uploader]="uploader"
                />
                }
              </div>
            </div>
          </div>
          @if (selectedDictionary.values.length !== 0) {
          <table class="table mt-3">
            <thead>
              <th width="20%">{{ 'lu.entities.table.predefined-value' | transloco }}</th>
              <th width="50%">{{ 'lu.entities.table.allowed-labels' | transloco }}</th>
              <th width="30%">{{ 'lu.entities.table.actions' | transloco }}</th>
            </thead>
            <tbody>
              @for (predefinedValue of selectedDictionary.values; track predefinedValue) {
              <tr>
                <td>
                  <input
                    nbInput
                    fieldSize="small"
                    #predefValueEdit
                    [(value)]="$any(predefinedValue).value"
                    (blur)="updatePredefinedValueName(predefinedValue, predefValueEdit)"
                  />
                </td>
                <td>
                  @for (label of predefinedValue.labels.get(state.currentLocale); track label) {
                  <div class="tag">
                    {{ label }}
                    <button
                      nbButton
                      size="tiny"
                      status="danger"
                      shape="round"
                      ghost
                      (click)="deleteLabel(predefinedValue, label)"
                      class="ml-1"
                      [nbTooltip]="'lu.entities.delete-label-tooltip' | transloco"
                    >
                      <nb-icon icon="x-circle"></nb-icon>
                    </button>
                  </div>
                  }
                </td>
                <td class="d-flex gap-1">
                  <nb-form-field>
                    <input
                      nbInput
                      fieldSize="small"
                      [placeholder]="'lu.entities.add-label-placeholder' | transloco"
                      #addLabelInput
                      (keyup.enter)="createLabel(predefinedValue, addLabelInput.value)"
                    />
                    <button
                      nbButton
                      ghost
                      nbSuffix
                      size="small"
                      [nbTooltip]="'lu.entities.add-label-tooltip' | transloco"
                      (click)="createLabel(predefinedValue, addLabelInput.value)"
                      [disabled]="!addLabelInput.value?.trim().length"
                    >
                      <nb-icon icon="plus-lg"></nb-icon>
                    </button>
                  </nb-form-field>
                  <button
                    nbButton
                    ghost
                    (click)="deletePredefinedValue(predefinedValue.value)"
                    status="danger"
                    [nbTooltip]="'lu.entities.delete-predefined-value-tooltip' | transloco"
                  >
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
          }
          <div class="d-flex gap-1 align-items-center w-100 mt-4">
            <span class="text-nowrap">{{ 'lu.entities.add-new-predefined-value' | transloco }}</span>
            <nb-form-field class="w-100">
              <input
                nbInput
                fullWidth
                [placeholder]="'lu.entities.new-predefined-value-placeholder' | transloco"
                #predefValueAdd
                (keyup.enter)="createPredefinedValue(predefValueAdd.value); predefValueAdd.value = ''"
                fieldSize="small"
              />
              <button
                nbButton
                ghost
                nbSuffix
                type="button"
                (click)="createPredefinedValue(predefValueAdd.value)"
                [disabled]="!predefValueAdd.value?.trim().length"
              >
                <nb-icon
                  nbSuffix
                  icon="plus"
                ></nb-icon>
              </button>
            </nb-form-field>
          </div>
        </div>
        }
      </nb-card-body>
    </nb-card>
    }
  </nb-card-body>
</nb-card>

<p></p>

<nb-card class="entities">
  <nb-card-header>{{ 'lu.entities.entity-roles' | transloco }}</nb-card-header>
  <nb-card-body>
    @if (!(state.entities | async)?.length) {
    <div class="text-muted font-italic">
      {{ 'lu.entities.no-entity-role-defined' | transloco }}
    </div>
    } @for (e of state.entities | async; track e) {
    <div class="mb-3">
      <tock-entity-details [entity]="e"></tock-entity-details>
    </div>
    }
  </nb-card-body>
</nb-card>
