<div class="row mb-3">
  <div class="col">
    <h4 class="capitalize">
      {{ this.scenario?.name }}
    </h4>
  </div>

  <div class="col text-right">
    <button
      nbButton
      size="small"
      status="basic"
      (click)="exit()"
    >
      Cancel
    </button>
    <button
      nbButton
      size="small"
      status="primary"
      class="ml-2"
      (click)="save()"
    >
      Save
    </button>
    <button
      nbButton
      size="small"
      status="primary"
      class="ml-2"
      (click)="save(true)"
    >
      Save & exit
    </button>
  </div>
</div>

<div
  class="canvas-wrapper"
  #canvasWrapperElem
  appMouseWheelListner
  (onMouseWheel)="mouseWheel($event)"
>
  <div
    class="canvas"
    #canvasElem
  >
    <div class="card-row">
      <div class="card-col">
        <scenario-designer-entry
          *ngIf="scenario?.data.length"
          [itemId]="0"
          [dataList]="scenario.data"
          [selectedItem]="selectedItem"
        ></scenario-designer-entry>
      </div>
    </div>
  </div>
  <div class="canvas-shader"></div>
</div>

<div
  class="chat-wrapper"
  (click)="closeChat()"
  *ngIf="chatDisplayed"
>
  <div
    class="chat-container"
    (click)="stopPropagation($event)"
  >
    <nb-chat
      title="Test story"
      status="primary"
      size="large"
    >
      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [files]="msg.files"
        [quote]="msg.quote"
        [latitude]="msg.latitude"
        [longitude]="msg.longitude"
        [avatar]="msg.user.avatar"
      >
      </nb-chat-message>
    </nb-chat>

    <div
      class="chat-controls"
      *ngIf="chatControlsDisplay"
    >
      <div
        class="from"
        [ngSwitch]="chatControlsFrom"
      >
        <ng-container *ngSwitchCase="'client'">
          <img src="assets/images/scenario-client.svg" />
        </ng-container>
        <ng-container *ngSwitchCase="'bot'">
          <img src="assets/images/scenario-bot.svg" />
        </ng-container>
        <ng-container *ngSwitchCase="'verification'">
          <img src="assets/images/scenario-verification.svg" />
        </ng-container>
      </div>
      <div class="propositions">
        <span
          class="prop-button"
          *ngFor="let proposition of chatPropositions"
          (click)="chooseProposition(proposition)"
        >
          {{ proposition.text }}
        </span>
      </div>
    </div>
  </div>
</div>
