<div class="row mb-3">
  <div class="col">
    <h4 class="initial-capitalize">
      {{ this.scenario?.name }}
    </h4>
  </div>

  <div class="col-auto text-right d-flex">
    <button
      nbButton
      size="small"
      status="basic"
      (click)="exit()"
    >
      Cancel
    </button>
    <button
      nbButton
      size="small"
      status="primary"
      class="ml-2"
      (click)="save()"
    >
      Save
    </button>
    <button
      nbButton
      size="small"
      status="primary"
      class="ml-2"
      (click)="save(true)"
    >
      Save & exit
    </button>

    <div class="mt-2 ml-3">
      <nb-toggle
        [(ngModel)]="modeSwitchState.modeBoolean"
        (checkedChange)="modeSwitched($event)"
        [labelPosition]="modeSwitchState.labelPosition"
        >{{ modeSwitchState.label }}</nb-toggle
      >
    </div>
  </div>
</div>

<div
  class="canvas-wrapper"
  #canvasWrapperElem
  appMouseWheelListner
  (onMouseWheel)="mouseWheel($event)"
>
  <div class="contexts-panel p-3">
    <strong> Contexts </strong>
    <nb-list class="mt-2">
      <nb-list-item
        *ngIf="!scenario.data.contexts.length"
        class="px-0 py-2 d-block justify-content-between text-muted font-italic"
      >
        No context defined yet
      </nb-list-item>

      <nb-list-item
        *ngFor="let context of scenario.data.contexts"
        class="px-0 py-2 d-block justify-content-between"
      >
        {{ context.name }}
        <div *ngIf="context.entityType">
          <span
            class="entity"
            [style.background]="getContextEntityColor(context)"
            [style.color]="getContextEntityContrast(context)"
          >
            {{ context.entityType }}
            {{ context.entityRole }}
          </span>
        </div>
      </nb-list-item>
    </nb-list>
  </div>
  <div
    class="canvas cursor-move"
    #canvasElem
  >
    <div class="card-row">
      <div class="card-col">
        <scenario-designer-entry
          *ngIf="scenario?.data.scenarioItems.length"
          [itemId]="0"
          [scenarioItems]="scenario.data.scenarioItems"
          [contexts]="scenario.data.contexts"
          [selectedItem]="selectedItem"
          [mode]="scenario.mode"
        ></scenario-designer-entry>
      </div>
    </div>
  </div>
  <div class="canvas-shader"></div>
</div>

<div
  class="chat-wrapper"
  (click)="closeChat()"
  *ngIf="chatDisplayed"
>
  <div
    class="chat-container"
    (click)="stopPropagation($event)"
  >
    <nb-chat
      title="Test story"
      status="primary"
      size="large"
    >
      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [files]="msg.files"
        [quote]="msg.quote"
        [latitude]="msg.latitude"
        [longitude]="msg.longitude"
        [avatar]="msg.user.avatar"
      >
      </nb-chat-message>
    </nb-chat>

    <div
      class="chat-controls"
      *ngIf="chatControlsDisplay"
    >
      <div
        class="from"
        [ngSwitch]="chatControlsFrom"
      >
        <ng-container *ngSwitchCase="SCENARIO_ITEM_FROM_CLIENT">
          <img src="assets/images/scenario-client.svg" />
        </ng-container>
        <ng-container *ngSwitchCase="SCENARIO_ITEM_FROM_BOT">
          <img src="assets/images/scenario-bot.svg" />
        </ng-container>
        <ng-container *ngSwitchCase="SCENARIO_ITEM_FROM_API">
          <img src="assets/images/scenario-verification.svg" />
        </ng-container>
      </div>
      <div class="propositions">
        <span
          class="prop-button"
          *ngFor="let proposition of chatPropositions"
          (click)="chooseProposition(proposition)"
        >
          {{ proposition.text }}
        </span>
      </div>
    </div>
  </div>
</div>
