<tock-sticky-menu [offset]="50">
  <div class="d-flex flex-wrap">
    <h1 class="flex-grow-1">Observability settings</h1>

    <section class="grid-actions">
      <button
        *ngIf="settingsBackup && form.dirty"
        nbButton
        ghost
        status="primary"
        nbTooltip="Cancel modifications"
        (click)="cancel()"
      >
        <nb-icon icon="x-circle"></nb-icon>
        CANCEL
      </button>
      <button
        *ngIf="form.dirty"
        nbButton
        status="primary"
        nbTooltip="Save settings"
        (click)="submit()"
      >
        <nb-icon icon="floppy"></nb-icon>
        SAVE
      </button>
    </section>
  </div>
</tock-sticky-menu>

<tock-no-data-found
  *ngIf="configurations?.length === 0"
  title="No bot configuration detected"
></tock-no-data-found>

<form
  [formGroup]="form"
  *ngIf="configurations?.length > 0"
>
  <nb-card class="mt-1">
    <nb-card-body [nbSpinner]="loading">
      <h5 class="section-title">Observability activation</h5>

      <tock-form-control
        name="enabled"
        [controls]="enabled"
        [showError]="isSubmitted"
        [hasMargin]="false"
      >
        <nb-toggle
          formControlName="enabled"
          class="mt-1"
        >
          <span *ngIf="enabled.value">Observability activated</span>
          <span *ngIf="!enabled.value">Observability deactivated</span>
        </nb-toggle>
      </tock-form-control>

      <h5 class="section-title">Observability provider</h5>

      <tock-form-control
        name="observabilityProvider"
        [controls]="observabilityProvider"
        [required]="true"
        [showError]="isSubmitted"
      >
        <nb-radio-group
          formControlName="observabilityProvider"
          name="observabilityProvider"
          class="d-flex"
        >
          <nb-radio
            *ngFor="let provider of providersConfigurations"
            [value]="provider.key"
          >
            {{ provider.label }}
          </nb-radio>
        </nb-radio-group>
      </tock-form-control>

      <div
        *ngIf="currentObservabilityProvider"
        class="mt-2 mb-2"
      >
        <div class="row mb-1">
          <ng-container *ngFor="let param of currentObservabilityProvider.params">
            <div
              class="col-6"
              [ngClass]="{ 'col-12': param.inputScale === 'fullwidth' }"
            >
              <tock-observability-provider-config-param-input
                parentGroup="setting"
                [configurationParam]="param"
                [form]="form"
                [isSubmitted]="isSubmitted"
              ></tock-observability-provider-config-param-input>
            </div>
          </ng-container>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
