<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{ 'bot.create-feature.title' | transloco: { type: type } }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form">
      <div class="d-flex gap-1">
        <div class="w-50">
          <tock-form-control
            [label]="'bot.create-feature.nameLabel' | transloco"
            name="name"
            [controls]="name"
            [showError]="isSubmitted"
            [required]="true"
          >
            <input
              nbInput
              formControlName="name"
              id="name"
              fullWidth
              type="text"
              [placeholder]="'bot.create-feature.namePlaceholder' | transloco"
            />
          </tock-form-control>
        </div>
        <div class="w-50">
          <tock-form-control
            [label]="'bot.create-feature.categoryLabel' | transloco"
            name="category"
            [controls]="category"
            [showError]="isSubmitted"
            [required]="true"
          >
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="grid"
              ></nb-icon>
              <input
                nbInput
                formControlName="category"
                id="category"
                fullWidth
                type="text"
                [placeholder]="'bot.create-feature.categoryPlaceholder' | transloco"
              />
            </nb-form-field>
          </tock-form-control>
        </div>
      </div>

      <div class="d-flex gap-1">
        <div class="w-50">
          <tock-form-control
            [label]="'bot.create-feature.startDateLabel' | transloco"
            name="startDate"
            [controls]="startDate"
            [showError]="isSubmitted"
          >
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="calendar-check"
              ></nb-icon>
              <input
                nbInput
                formControlName="startDate"
                id="startDate"
                fullWidth
                type="text"
                autocomplete="off"
                [placeholder]="'bot.create-feature.startDatePlaceholder' | transloco"
                [nbDatepicker]="startDatePicker"
              />
            </nb-form-field>

            <nb-datepicker
              #startDatePicker
              [max]="endDate.value"
            ></nb-datepicker>
          </tock-form-control>
        </div>
        <div class="w-50">
          <tock-form-control
            [label]="'bot.create-feature.endDateLabel' | transloco"
            name="endDate"
            [controls]="endDate"
            [showError]="isSubmitted"
          >
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="calendar-x"
              ></nb-icon>
              <input
                nbInput
                formControlName="endDate"
                id="endDate"
                fullWidth
                type="text"
                autocomplete="off"
                [placeholder]="'bot.create-feature.endDatePlaceholder' | transloco"
                [nbDatepicker]="endDatePicker"
              />
            </nb-form-field>

            <nb-datepicker
              #endDatePicker
              [min]="startDate.value"
            ></nb-datepicker>
          </tock-form-control>
        </div>
      </div>

      <tock-form-control
        [label]="'bot.create-feature.configurationLabel' | transloco"
        name="configuration"
      >
        <tock-select-bot
          [(configurationId)]="botApplicationConfigurationId"
          [allowNoSelection]="true"
          [noConfigurationLabel]="'bot.create-feature.allConfigurationsLabel' | transloco"
          size="medium"
        ></tock-select-bot>
      </tock-form-control>

      <div class="d-flex gap-1">
        <div class="w-50">
          <nb-toggle
            formControlName="enabled"
            [nbTooltip]="'bot.create-feature.statusTooltip' | transloco"
          >
            <span *ngIf="enabled.value">{{ 'bot.create-feature.featureEnabledLabel' | transloco }}</span>
            <span *ngIf="!enabled.value">{{ 'bot.create-feature.featureDisabledLabel' | transloco }}</span>
          </nb-toggle>
        </div>
        <div class="w-50">
          <tock-form-control
            [label]="'bot.create-feature.graduationLabel' | transloco"
            name="graduation"
            [controls]="graduation"
            [showError]="isSubmitted"
            [required]="false"
          >
            <input
              nbInput
              formControlName="graduation"
              id="graduation"
              type="number"
              min="0"
              max="100"
              [placeholder]="'bot.create-feature.graduationPlaceholder' | transloco"
            />
          </tock-form-control>
        </div>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="save()"
    >
      <nb-icon icon="plus"></nb-icon>
      {{ 'bot.create-feature.createFeatureButton' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
