<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    Create new {{ type }} feature
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      nbTooltip="Close"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form">
      <div class="d-flex gap-1">
        <div class="w-50">
          <tock-form-control
            label="Name"
            name="name"
            [controls]="name"
            [showError]="isSubmitted"
            [required]="true"
          >
            <input
              nbInput
              formControlName="name"
              id="name"
              fullWidth
              type="text"
              placeholder="Enter a name"
            />
          </tock-form-control>
        </div>
        <div class="w-50">
          <tock-form-control
            label="Category"
            name="category"
            [controls]="category"
            [showError]="isSubmitted"
            [required]="true"
          >
            <input
              nbInput
              formControlName="category"
              id="category"
              fullWidth
              type="text"
              placeholder="Enter a category"
            />
          </tock-form-control>
        </div>
      </div>

      <div class="d-flex gap-1">
        <div class="w-50">
          <tock-form-control
            label="Start date"
            name="startDate"
            [controls]="startDate"
            [showError]="isSubmitted"
          >
            <input
              nbInput
              formControlName="startDate"
              id="startDate"
              fullWidth
              type="text"
              autocomplete="off"
              placeholder="Enter a start date"
              [nbDatepicker]="startDatePicker"
            />

            <nb-datepicker
              #startDatePicker
              [max]="endDate.value"
            ></nb-datepicker>
          </tock-form-control>
        </div>
        <div class="w-50">
          <tock-form-control
            label="End date"
            name="endDate"
            [controls]="endDate"
            [showError]="isSubmitted"
          >
            <input
              nbInput
              formControlName="endDate"
              id="endDate"
              fullWidth
              type="text"
              autocomplete="off"
              placeholder="Enter a start date"
              [nbDatepicker]="endDatePicker"
            />

            <nb-datepicker
              #endDatePicker
              [min]="startDate.value"
            ></nb-datepicker>
          </tock-form-control>
        </div>
      </div>

      <tock-form-control
        label="Configuration"
        name="configuration"
      >
        <tock-select-bot
          [(configurationId)]="botApplicationConfigurationId"
          [allowNoSelection]="true"
          noConfigurationLabel="All Configurations"
          size="medium"
        ></tock-select-bot>
      </tock-form-control>

      <nb-toggle
        formControlName="enabled"
        nbTooltip="Status"
      >
        <span *ngIf="enabled.value">Feature enabled</span>
        <span *ngIf="!enabled.value">Feature disabled</span>
      </nb-toggle>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="save()"
    >
      Create feature
    </button>
  </nb-card-footer>
</nb-card>
