<div class="d-flex flex-wrap mb-2">
  @if (state.applications.length === 0) {
  <div class="flex-grow-1">
    <h1 class="mb-0">{{ 'applications.applications.welcomeTitle' | transloco }}</h1>
    <strong>{{ 'applications.applications.createFirstApplication' | transloco }}</strong>
  </div>
  } @if (state.applications.length !== 0) {
  <h1 class="flex-grow-1">
    {{ 'applications.applications.applicationsTitle' | transloco }}
  </h1>
  } @if (isAdmin()) {
  <section class="grid-actions">
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'applications.applications.uploadDumpTooltip' | transloco"
      (click)="showUploadDumpPanel()"
    >
      <nb-icon icon="upload"></nb-icon>
    </button>
    <button
      nbButton
      status="primary"
      routerLink="create"
      [nbTooltip]="'applications.applications.createNewApplicationTooltip' | transloco"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'applications.applications.newApplicationButton' | transloco }}
    </button>
  </section>
  }
</div>

@if (!state.applications.length) {
<tock-no-data-found
  [title]="'applications.applications.noApplicationDetected' | transloco"
  [message]="'applications.applications.useNewApplicationButton' | transloco"
></tock-no-data-found>
} @for (app of state.applications; track app) {
<nb-card
  class="mb-2"
  [nbSpinner]="loading"
>
  <nb-card-body>
    <div class="d-flex gap-1 align-items-center">
      @if (app._id === state.currentApplication._id) {
      <nb-toggle
        checked="true"
        class="mb-0 nb-toggle-reset-label-margin unClickable"
      ></nb-toggle>
      } @if (app._id !== state.currentApplication._id) {
      <nb-toggle
        checked="false"
        (checkedChange)="selectApplication(app)"
        class="mb-0 nb-toggle-reset-label-margin"
        [nbTooltip]="'applications.applications.setAsCurrentApplicationTooltip' | transloco"
      ></nb-toggle>
      }
      <div class="flex-grow-1">
        <span
          class="lead text-nowrap"
          [ngClass]="{ 'font-weight-bold': app._id === state.currentApplication._id }"
        >
          {{ app.label }}
        </span>
        <div class="text-muted">
          @for (locale of app.supportedLocales; track locale; let last = $last) {
          <span>
            {{ state.localeName(locale) }}
            @if (!last) { | }
          </span>
          }
        </div>
      </div>
      @if (isAdmin()) {
      <button
        nbButton
        ghost
        shape="round"
        status="info"
        routerLink="edit/{{ app._id }}"
        [nbTooltip]="'applications.applications.editApplicationTooltip' | transloco"
      >
        <nb-icon icon="pencil"></nb-icon>
      </button>
      } @if (isAdmin()) {
      <button
        nbButton
        ghost
        shape="round"
        (click)="downloadDump(app)"
        [nbTooltip]="'applications.applications.downloadApplicationDumpTooltip' | transloco"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      } @if (isAdmin()) {
      <button
        nbButton
        ghost
        shape="round"
        (click)="downloadSentencesDump(app)"
        [nbTooltip]="'applications.applications.downloadSentencesDumpTooltip' | transloco"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      } @if (isAdmin()) {
      <button
        nbButton
        ghost
        shape="round"
        status="danger"
        (click)="deleteApplication(app)"
        [nbTooltip]="'applications.applications.deleteApplicationTooltip' | transloco"
      >
        <nb-icon icon="trash"></nb-icon>
      </button>
      }
    </div>
  </nb-card-body>
</nb-card>
}

<tock-scroll-top-button></tock-scroll-top-button>
