<div
  [ngClass]="{ scrolled: scrolled, hidden: hidden }"
  class="sticky"
>
  <div class="content-wrapper">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>

  <button
    *ngIf="hideable"
    nbButton
    size="tiny"
    class="reduce"
    (click)="swapDisplay()"
    [nbTooltip]="hidden ? 'Expand this menu' : 'Reduce this menu'"
  >
    <i
      *ngIf="!hidden"
      class="bi bi-chevron-up"
    ></i>
    <i
      *ngIf="hidden"
      class="bi bi-chevron-down"
    ></i>
  </button>
</div>
