<div
  [ngClass]="{ scrolled: scrolled, hidden: hidden }"
  class="sticky"
>
  <div class="content-wrapper">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>

  @if (hideable) {
  <button
    nbButton
    size="tiny"
    class="reduce"
    (click)="swapDisplay()"
    [nbTooltip]="hidden ? ('shared.sticky-menu.expand_menu_tooltip' | transloco) : ('shared.sticky-menu.reduce_menu_tooltip' | transloco)"
  >
    @if (!hidden) {
    <i class="bi bi-chevron-up"></i>
    } @if (hidden) {
    <i class="bi bi-chevron-down"></i>
    }
  </button>
  }
</div>
