# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
**/target/*
!**/target/generated-sources
node_modules

# IDEs and editors
/.idea
!/.idea/runConfigurations/*.xml
.project
.classpath
*.iml
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#System Files
.DS_Store
Thumbs.db

#vert.x
/file-uploads
*.log

