# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# For generated-sources, force LF to prevent diff showing for Windows users
**/target/generated-sources/** text eol=lf