:host {
  border: none;
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;

  .scrollable {
    min-height: 2rem;

    overflow: auto;
    flex: 1;

    .messages {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
    }

    &.mayScroll {
      .messages {
        padding: 0 0.5em 0 0;
      }
    }
  }

  --spinner-size: 8px;
  --spinner-color-a: var(--color-primary-default);
  --spinner-color-b: var(--color-basic-500);

  .query-spinner {
    position: relative;

    margin: 0 0 0 calc(var(--spinner-size) * 2);

    width: var(--spinner-size);
    height: var(--spinner-size);

    border-radius: 50%;

    background: var(--spinner-color-a);

    box-shadow: calc(var(--spinner-size) * 2) 0 var(--spinner-color-a), calc(var(--spinner-size) * 2 * -1) 0 var(--spinner-color-a);

    animation: query-spinner-animation 0.5s ease-out infinite alternate;
  }
}

@keyframes query-spinner-animation {
  0% {
    background: var(--spinner-color-b);
    box-shadow: calc(var(--spinner-size) * 2) 0 var(--spinner-color-b), calc(var(--spinner-size) * 2 * -1) 0 var(--spinner-color-a);
  }
  50% {
    background: var(--spinner-color-a);
    box-shadow: calc(var(--spinner-size) * 2) 0 var(--spinner-color-b), calc(var(--spinner-size) * 2 * -1) 0 var(--spinner-color-b);
  }
  100% {
    background: var(--spinner-color-b);
    box-shadow: calc(var(--spinner-size) * 2) 0 var(--spinner-color-a), calc(var(--spinner-size) * 2 * -1) 0 var(--spinner-color-b);
  }
}

.nb-theme-default :host {
  background-color: #ffffff;
  color: #222b45;
}

.nb-theme-dark :host {
  background-color: #222b45;
  color: #ffffff;
}

// ScrollBars
:host .scrollable::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

:host .scrollable::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0.15625rem;
}

.nb-theme-default :host .scrollable::-webkit-scrollbar-thumb {
  background: #e4e9f2;
}
.nb-theme-default :host .scrollable::-webkit-scrollbar-track {
  background: #f7f9fc;
}

.nb-theme-dark :host .scrollable::-webkit-scrollbar-thumb {
  background: #101426;
}
.nb-theme-dark :host .scrollable::-webkit-scrollbar-track {
  background: #192038;
}
