@if (showDebug && action?.ragDebug) {
<tock-chat-ui-message-debug [action]="action"></tock-chat-ui-message-debug>
} @if (message && !message?.isDebug() && !isMessageEmpty()) {
<div class="wrapper">
  <div class="avatar-wrapper">
    <div
      class="avatar"
      [style.background-image]="avatarStyle"
      [class.mt-1]="sender || date"
    ></div>
    @if ( switchFormattingPos === 'afterAvatar' && reply && (message.isSentence() || message.isSentenceWithFootnotes()) &&
    $any(message).text ) {
    <button
      nbButton
      size="small"
      ghost
      [nbTooltip]="'shared.chat-ui-message.switch-formatting-tooltip' | transloco"
      class="mt-1"
      (click)="switchFormatting()"
    >
      @if (!formatting) {
      <nb-icon icon="body-text"></nb-icon>
      } @if (formatting) {
      <nb-icon icon="code-square"></nb-icon>
      }
    </button>
    }
    <ng-content></ng-content>
  </div>
  <div class="message mb-2">
    <div class="message-text">
      <div class="d-flex gap-1 justify-content-between align-items-end">
        @if (sender || date) {
        <div class="sender font-size-small mb-1">
          {{ sender }}
          <time>{{ date | date: 'y/MM/dd HH:mm:ss' }}</time>
          @if (applicationId) {
          <span [nbTooltip]="'shared.chat-ui-message.configuration-tooltip' | transloco: { name: getApplicationConfigurationName(false) }">
            | {{ getApplicationConfigurationName() }}</span
          >
          }
        </div>
        } @if ( sender && switchFormattingPos === 'afterSender' && reply && (message.isSentence() || message.isSentenceWithFootnotes()) &&
        $any(message).text ) {
        <button
          nbButton
          size="small"
          ghost
          [nbTooltip]="'shared.chat-ui-message.switch-formatting-tooltip' | transloco"
          (click)="switchFormatting()"
        >
          @if (!formatting) {
          <nb-icon icon="body-text"></nb-icon>
          } @if (formatting) {
          <nb-icon icon="code-square"></nb-icon>
          }
        </button>
        }
      </div>
      <div
        class="text position-relative"
        (mouseenter)="showCopyButton = true"
        (mouseleave)="showCopyButton = false"
        [ngClass]="{
          'reply-bg-positive': reply && replyBgPositive,
          'reply-bg-negative': reply && replyBgNegative
        }"
      >
        @if (canBeCopied()) {
        <button
          nbButton
          status="primary"
          size="small"
          [nbTooltip]="'shared.chat-ui-message.copy-message-tooltip' | transloco"
          class="copy-button"
          [class.d-none]="!showCopyButton"
          (click)="copyToClipboard()"
        >
          <nb-icon icon="copy"></nb-icon>
        </button>
        } @if (message.isSentence()) {
        <tock-chat-ui-message-sentence
          [sentence]="$any(message)"
          [replay]="replay"
          [reply]="reply"
          [formatting]="formatting"
          (sendMessage)="replyMessage($event)"
        ></tock-chat-ui-message-sentence>
        } @if (message.isSentenceWithFootnotes()) {
        <tock-chat-ui-message-sentence-footnotes
          [sentence]="$any(message)"
          [reply]="reply"
          [formatting]="formatting"
        ></tock-chat-ui-message-sentence-footnotes>
        } @if (message.isChoice()) {
        <tock-chat-ui-message-choice
          [choice]="$any(message)"
          [replay]="true"
          [reply]="reply"
        ></tock-chat-ui-message-choice>
        } @if (message.isAttachment()) {
        <tock-chat-ui-message-attachment [attachment]="$any(message)"></tock-chat-ui-message-attachment>
        } @if (message.isLocation()) {
        <tock-chat-ui-message-location [location]="$any(message)"></tock-chat-ui-message-location>
        }
      </div>
    </div>
  </div>
</div>
}
