<div
  *ngIf="!message.isDebug() && !isMessageEmpty()"
  class="wrapper"
>
  <div>
    <div
      class="avatar"
      [style.background-image]="avatarStyle"
      [class.mt-1]="sender || date"
    ></div>
    <ng-content></ng-content>
  </div>

  <div class="message mb-2">
    <div class="message-text">
      <p
        class="sender font-size-small mb-1"
        *ngIf="sender || date"
      >
        {{ sender }}

        <time>{{ date | date: 'HH:mm:ss y/MM/dd' }}</time>

        <span
          *ngIf="applicationId"
          nbTooltip="Configuration : {{ getApplicationConfigurationName(false) }}"
        >
          | {{ getApplicationConfigurationName() }}</span
        >
      </p>

      <div class="text">
        <tock-chat-ui-message-sentence
          *ngIf="message.isSentence()"
          [sentence]="$any(message)"
          [replay]="replay"
          [reply]="reply"
          (sendMessage)="replyMessage($event)"
        ></tock-chat-ui-message-sentence>

        <tock-chat-ui-message-sentence-footnotes
          *ngIf="message.isSentenceWithFootnotes()"
          [sentence]="$any(message)"
          [reply]="reply"
        ></tock-chat-ui-message-sentence-footnotes>

        <tock-chat-ui-message-choice
          *ngIf="message.isChoice()"
          [choice]="$any(message)"
          [replay]="true"
          [reply]="reply"
        ></tock-chat-ui-message-choice>

        <tock-chat-ui-message-attachment
          *ngIf="message.isAttachment()"
          [attachment]="$any(message)"
        ></tock-chat-ui-message-attachment>

        <tock-chat-ui-message-location
          *ngIf="message.isLocation()"
          [location]="$any(message)"
        ></tock-chat-ui-message-location>
      </div>
    </div>
  </div>
</div>

<tock-chat-ui-message-debug
  *ngIf="message.isDebug()"
  [message]="$any(message)"
></tock-chat-ui-message-debug>
