<nb-card [nbSpinner]="loading">
  <nb-card-header class="d-flex position-relative">
    {{ 'bot.application-feature.title' | transloco }}

    <tock-info-button [message]="'bot.application-feature.infoMessage' | transloco"></tock-info-button>

    <button
      nbButton
      ghost
      shape="round"
      type="button"
      class="ml-3"
      [nbTooltip]="'bot.application-feature.refreshTooltip' | transloco"
      (click)="refresh()"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body class="pb-2">
    <tock-application-features-table
      [features]="tockFeatures"
      type="tock"
      (onRefresh)="refresh()"
    ></tock-application-features-table>

    <tock-application-features-table
      [features]="botFeatures"
      type="application"
      (onRefresh)="refresh()"
    ></tock-application-features-table>
  </nb-card-body>
</nb-card>
