<div class="float-left text-muted">
  Sentences:
</div>

<div class="paginator" [nbSpinner]="loading" nbSpinnerStatus="primary" *ngIf="total !== 0">
    <mat-paginator #paginator
                   [ngClass]="'background'"
                   [length]="total"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>
</div>

<ng-container *ngIf="currentIntents$ | async as intents">
  <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()">
        <div *ngFor="let d of data">
          <tock-train-grid-item
            (onRemove)="refreshOnEmpty()"
            (onUnknown)="refreshOnEmpty()"
            (onValidate)="refreshOnEmpty()"
            [intents]="intents"
            [sentence]="d">
          </tock-train-grid-item>
        </div>
  </div>
</ng-container>
