<nb-checkbox ngClass="['ml-2','mb-2','mt-4','mr-2','d-flex']">Unknown sentences:</nb-checkbox>

<div class="paginator" [nbSpinner]="loading" nbSpinnerStatus="primary" *ngIf="total !== 0">
    <mat-paginator #paginator class="background"
                   [length]="total"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>
</div>

<div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()">
    <div *ngFor="let d of data">
        <tock-train-grid-item [sentence]="d" ngClass="['ml-3','mb-2','mt-2','mr-2']"></tock-train-grid-item>
    </div>
</div>