<nb-card class="main-card">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ 'metrics.metrics-by-stories.title' | transloco: { indicatorLabel: indicatorLabel } }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'metrics.metrics-by-stories.cancel_tooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    @if (!storiesCharts?.length) {
    <div class="text-muted font-italic text-center p-3">
      {{ 'metrics.metrics-by-stories.no_metrics_recorded' | transloco }}
    </div>
    } @if (pagination) {
    <div class="d-flex justify-content-end mb-4">
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange()"
      ></tock-pagination>
    </div>
    } @if (storiesCharts?.length) {
    <div class="d-flex flex-wrap justify-content-around gap-1">
      @for (chart of storiesCharts; track chart) {
      <div class="text-center mb-4">
        <span class="initial-capitalize"
          ><strong>{{ chart.name }}</strong></span
        >
        <div
          echarts
          [options]="chart"
          class="chart"
        ></div>
      </div>
      }
    </div>
    } @if (pagination && pagination.size > 6) {
    <div class="d-flex justify-content-end mt-4">
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange()"
      ></tock-pagination>
    </div>
    }
  </nb-card-body>
</nb-card>
