:host {
  --hideable-container-inner-shadow: inset 0px -7px 9px -10px rgba(0, 0, 0, 0.3);
  --diff-added-color: #4d8262;
  --diff-removed-color: #903535;
  --pre-code-bg-color: var(--background-basic-color-3);

  --tag-bg-default: var(--background-basic-color-3);

  --tag-text-green: #24857a;
  --tag-bg-green: #98eae0;

  --tag-text-orange: #ba7301;
  --tag-bg-orange: #f5a5247d;

  --tag-text-red: #a41616;
  --tag-bg-red: #de09097d;
}
.nb-theme-dark {
  :host {
    --hideable-container-inner-shadow: inset 0px -7px 9px -10px rgba(0, 0, 0, 0.9);
    --diff-added-color: #c2ffdb;
    --diff-removed-color: #fbd5d5;
    --pre-code-bg-color: rgb(from var(--background-basic-color-3) r g b / 0.7);

    --tag-bg-default: var(--background-basic-color-2);

    --tag-text-green: #2dd4bf;
    --tag-bg-green: #1d50577d;

    --tag-text-orange: #f5a524;
    --tag-bg-orange: #7d54127d;

    --tag-text-red: #f55624;
    --tag-bg-red: #7d12127d;
  }
}

:host ::ng-deep span.added {
  color: var(--diff-added-color);
}

:host ::ng-deep span.removed {
  color: var(--diff-removed-color);
}

:host ::ng-deep .chat-ui-message-content-styling pre code {
  background-color: var(--pre-code-bg-color);
}

.hideable-container {
  overflow: hidden;
  transition: max-height 1.5s ease;
  max-height: 10000px;

  &.collapsed {
    transition: max-height 1s ease;
    max-height: 300px;
    box-shadow: var(--hideable-container-inner-shadow);
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;

  > div:not(.separator) {
    min-width: 0;
    overflow-x: auto;
  }

  .separator {
    width: 1px;
    background-color: var(--border-basic-color-4);
  }

  &.large {
    gap: 2em;
  }
}

.tag {
  background-color: var(--tag-bg-default);
  border-radius: 0.3em;
  padding: 0.1em 0.3em 0.2em 0.3em;

  &.added {
    color: var(--tag-text-green);
    background-color: var(--tag-bg-green);
  }
  &.changed {
    color: var(--tag-text-orange);
    background-color: var(--tag-bg-orange);
  }
  &.removed {
    color: var(--tag-text-red);
    background-color: var(--tag-bg-red);
  }
}
