<nb-card class="mb-3">
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <div>
      <span class="d-inline-block initial-capitalize">{{ 'bot.application-features-table.title' | transloco: { type: type } }}</span>
      <span class="font-weight-normal">({{ features.length }})</span>
    </div>

    <button
      nbButton
      status="primary"
      size="small"
      [nbTooltip]="'bot.application-features-table.newFeatureTooltip' | transloco"
      (click)="newFeature()"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'bot.application-features-table.newFeatureButton' | transloco: { type: type } }}
    </button>
  </nb-card-header>

  <nb-card-body>
    <div
      class="text-muted font-italic"
      *ngIf="!features?.length"
    >
      {{ 'bot.application-features-table.noRulesMessage' | transloco }}
    </div>

    <table
      *ngIf="features?.length"
      class="features-table"
    >
      <thead>
        <tr>
          <td style="width: 15%">{{ 'bot.application-features-table.categoryColumn' | transloco }}</td>
          <td style="width: 30%">{{ 'bot.application-features-table.featureColumn' | transloco }}</td>
          <td style="width: 20%">{{ 'bot.application-features-table.configurationColumn' | transloco }}</td>
          <td style="width: 10%">{{ 'bot.application-features-table.startDateColumn' | transloco }}</td>
          <td style="width: 10%">{{ 'bot.application-features-table.endDateColumn' | transloco }}</td>
          <td style="width: 10%">{{ 'bot.application-features-table.graduationColumn' | transloco }}</td>
          <td
            class="text-center"
            style="width: 10%"
          >
            {{ 'bot.application-features-table.statusColumn' | transloco }}
          </td>
          <td style="width: 5%"></td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let feature of features">
          <!-- Category -->
          <td
            class="ellipsis"
            [nbTooltip]="feature.category"
          >
            {{ feature.category }}
          </td>

          <!-- Feature Name -->
          <td
            class="font-weight-bold ellipsis"
            [nbTooltip]="feature.name"
          >
            {{ feature.name }}
          </td>

          <!-- Configuration -->
          <td class="ellipsis">
            <span
              *ngIf="feature.configuration"
              [nbTooltip]="'bot.application-features-table.configurationTooltip' | transloco"
            >
              <img
                src="{{ feature.configuration.connectorType.iconUrl() }}"
                class="connector"
                [nbTooltip]="feature.configuration.connectorType.label()"
              />
              {{ feature.configuration.connectorType.label() }} ({{ feature.configuration.applicationId }})
            </span>
            <span
              *ngIf="!feature.configuration"
              [nbTooltip]="'bot.application-features-table.allConfigurationsTooltip' | transloco"
            >
              {{ 'bot.application-features-table.allConfigurations' | transloco }}
            </span>
          </td>

          <!-- Start Date -->
          <td>
            <input
              nbInput
              fieldSize="small"
              class="date-field"
              [placeholder]="'bot.application-features-table.startDatePlaceholder' | transloco"
              (keyup.enter)="changeStartDate(feature, $event)"
              [(ngModel)]="feature.startDate"
              [nbDatepicker]="startDate"
              (ngModelChange)="changeStartDate(feature, $event)"
              [nbTooltip]="'bot.application-features-table.startDateTooltip' | transloco"
            />
            <nb-datepicker
              #startDate
              (dateChange)="changeStartDate(feature, $event)"
              [max]="feature.endDate"
            ></nb-datepicker>
          </td>

          <!-- End Date -->
          <td>
            <input
              nbInput
              fieldSize="small"
              class="date-field"
              [placeholder]="'bot.application-features-table.endDatePlaceholder' | transloco"
              (keyup.enter)="changeEndDate(feature, $event)"
              [(ngModel)]="feature.endDate"
              [nbDatepicker]="endDate"
              (ngModelChange)="changeEndDate(feature, $event)"
              [nbTooltip]="'bot.application-features-table.endDateTooltip' | transloco"
            />
            <nb-datepicker
              #endDate
              (dateChange)="changeEndDate(feature, $event)"
              [min]="feature.startDate"
            ></nb-datepicker>
          </td>

          <!-- Graduation -->
          <td>
            <input
              nbInput
              type="number"
              fieldSize="small"
              [placeholder]="'bot.application-features-table.graduationPlaceholder' | transloco"
              min="0"
              max="100"
              (blur)="changeGraduation(feature, $event)"
              [(ngModel)]="feature.graduation"
              [nbTooltip]="'bot.application-features-table.graduationTooltip' | transloco"
            />
          </td>

          <!-- Status Toggle -->
          <td class="text-center">
            <nb-toggle
              class="nb-toggle-reset-label-margin mt-1"
              [checked]="feature.enabled"
              (checkedChange)="toggle(feature, $event)"
              [nbTooltip]="
                feature.enabled
                  ? ('bot.application-features-table.toggleDisableTooltip' | transloco)
                  : ('bot.application-features-table.toggleEnableTooltip' | transloco)
              "
            ></nb-toggle>
          </td>

          <!-- Delete Button -->
          <td class="text-right">
            <button
              nbButton
              status="danger"
              size="small"
              shape="round"
              [nbTooltip]="'bot.application-features-table.deleteRuleTooltip' | transloco"
              (click)="askDeleteFeature(feature)"
            >
              <nb-icon icon="trash"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
