<div class="grid-columns grid-columns-header mb-1">
  <div>
    <span
      (click)="setOrderBy('name')"
      class="pointer"
    >
      Name
      <nb-icon
        icon="chevron-down-outline"
        class="valign-middle"
        *ngIf="orderBy == 'name' && !orderByReverse"
      ></nb-icon>
      <nb-icon
        icon="chevron-up-outline"
        class="valign-middle"
        *ngIf="orderBy == 'name' && orderByReverse"
      ></nb-icon>
    </span>
  </div>
  <div>
    <span
      (click)="setOrderBy('category')"
      class="pointer"
    >
      Category
      <nb-icon
        icon="chevron-down-outline"
        class="valign-middle"
        *ngIf="orderBy == 'category' && !orderByReverse"
      ></nb-icon>
      <nb-icon
        icon="chevron-up-outline"
        class="valign-middle"
        *ngIf="orderBy == 'category' && orderByReverse"
      ></nb-icon>
    </span>
  </div>
  <div>Tags</div>
</div>

<nb-accordion
  class="mb-2"
  *ngFor="let saga of sagas"
>
  <!-- [class.selected]="selectedScenario?.id === scenario.id" -->
  <nb-accordion-item (collapsedChange)="collapsedChange($event, saga)">
    <nb-accordion-item-header>
      <div class="grid-columns">
        <div>
          <div class="font-weight-bold initial-capitalize">
            {{ saga.name }}
          </div>
          <span class="text-muted truncate">
            {{ saga.description }}
          </span>
        </div>

        <div class="initial-capitalize">
          {{ saga.category }}
        </div>

        <div>
          <nb-tag-list>
            <nb-tag
              appearance="filled"
              *ngFor="let tag of saga.tags"
              [text]="tag"
              status="basic"
              size="tiny"
            ></nb-tag>
          </nb-tag-list>
        </div>

        <div class="actions">
          <a
            *ngIf="sagaHasDraft(saga)"
            nbButton
            ghost
            shape="round"
            nbTooltip="Designer"
            (click)="design($event, saga)"
          >
            <nb-icon icon="color-palette-outline"></nb-icon>
          </a>
          <!-- <button
              nbButton
              ghost
              shape="round"
              nbTooltip="Edit"
              (click)="edit($event, saga)"
            >
              <nb-icon icon="edit-outline"></nb-icon>
            </button> -->
          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Delete scenarios saga and corresponding story"
            (click)="deleteSaga($event, saga)"
          >
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div
        class="d-flex justify-content-between"
        *ngFor="let scenario of saga.scenarios"
      >
        <div
          class="row"
          style="width: 100%"
        >
          <div class="col-3">
            <span
              [ngClass]="{ 'font-weight-bold': scenario.state === SCENARIO_STATE.current }"
              [nbTooltip]="scenario.createDate | date: 'y/MM/dd HH:mm:ss'"
            >
              {{ scenario.createDate | date: 'y/MM/dd' }}
            </span>
          </div>
          <div
            class="col-3 d-flex"
            [ngClass]="{ 'font-weight-bold': scenario.state === SCENARIO_STATE.current }"
          >
            {{ scenario.state }}
            <nb-icon
              *ngIf="scenario.state === SCENARIO_STATE.current"
              status="success"
              icon="checkmark-outline"
              class="min-width-1em"
            ></nb-icon>
          </div>
          <div class="col-6 text-muted font-italic col">
            {{ scenario.description }}
          </div>
        </div>

        <div class="d-flex">
          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Open scenario"
            [routerLink]="'./' + scenario.id"
          >
            <nb-icon
              *ngIf="scenario.state !== SCENARIO_STATE.draft"
              icon="eye-outline"
            ></nb-icon>
            <nb-icon
              *ngIf="scenario.state === SCENARIO_STATE.draft"
              icon="color-palette-outline"
            ></nb-icon>
          </button>

          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Copy and edit a new version"
            (click)="duplicate(scenario)"
          >
            <nb-icon icon="copy-outline"></nb-icon>
          </button>

          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Export scenario"
            (click)="download(scenario)"
          >
            <nb-icon icon="download-outline"></nb-icon>
          </button>

          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Delete"
            (click)="delete($event, scenario)"
          >
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
