@import url(../../common/_base_faq.scss);

.tock-col-a {
  flex: 0 0 4%;
}

.tock-col-b {
  flex: 0 0 28%;
}

.tock-col-c {
  flex: 0 0 33%;
}

.tock-col-d {
  flex: 1;
}

.tock-grid-item-card-body.tock--docked-panel,.tock-grid-item-card-body.tock--full_width--small {
  .tock-col-b {
    flex: 0 0 32%;
    padding: 0 0 0 .5rem;
  }

  .tock-col-c {
    flex: 0 0 44%;
  }
}

/* Fix card overflow */
nb-card,nb-card-body {
    overflow-x: hidden;
}

.tock-select-faq > nb-select {
  width: 280px;
}

.tock-btn-addfaq {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    background: transparent;
    border: 0;
}

.tock--subtle-hover {
  transition: background .5s ease;

  &:hover {
    background: #eee;
  }
}

.tock-date-zone {
  position: absolute;
  top: -15px;
  left: 240px;
  font-size: 0.8em;
}

.tock-option-label {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nb-card {
  transition: opacity .5s ease;
  opacity: 1;

  &.tock--hidden {
    display: none;
  }

  &.tock--closed {
    opacity: .8;
  }
}
