table th {
  width: 10rem;

  &::first-letter {
    text-transform: capitalize;
  }

  &.actionColumn {
    width: 165px;
  }

  &.descriptionColumn {
    width: auto;
  }
}

.nb-tree-grid-cell,
.nb-tree-grid-header-cell,
.nb-tree-grid-footer-cell {
  overflow-x: auto;
}
