<div class="d-flex flex-wrap mb-2">
  <h1 class="flex-grow-1">{{ 'configuration.bot-configurations.title' | transloco }}</h1>

  <section
    class="grid-actions"
    *ngIf="configurations"
  >
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="
        displayTestConfigurations
          ? ('configuration.bot-configurations.hideTestConfigurationsTooltip' | transloco)
          : ('configuration.bot-configurations.displayTestConfigurationsTooltip' | transloco)
      "
      (click)="displayTestConfigurations = !displayTestConfigurations"
      *ngIf="!newApplicationConfiguration && state.currentApplication"
    >
      <nb-icon
        *ngIf="!displayTestConfigurations"
        icon="eye"
      ></nb-icon>
      <nb-icon
        *ngIf="displayTestConfigurations"
        icon="eye-slash"
      ></nb-icon>
    </button>

    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.refresh' | transloco"
      (click)="refresh()"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>

    <button
      nbButton
      status="primary"
      [nbTooltip]="'configuration.bot-configurations.newConfigurationTooltip' | transloco"
      (click)="prepareCreate()"
      *ngIf="!newApplicationConfiguration && state.currentApplication"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'configuration.bot-configurations.newConfigurationButton' | transloco }}
    </button>
  </section>
</div>

<tock-no-data-found
  *ngIf="!configurations.length && !newApplicationConfiguration"
  [title]="'common.messages.noBotConfiguration' | transloco"
  [message]="'configuration.bot-configurations.noBotConfigurationMessage' | transloco"
></tock-no-data-found>

<tock-bot-configuration
  *ngIf="newApplicationConfiguration"
  [configuration]="newApplicationConfiguration"
  (onRemove)="cancelCreate()"
  (onValidate)="create()"
></tock-bot-configuration>

<nb-accordion
  class="mb-3"
  *ngFor="let botconfig of configurations"
>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead text-nowrap">
        {{ botconfig.name }}
      </span>

      <ng-container *ngFor="let conf of botconfig.configurations">
        <img
          *ngIf="isFirstLevelConfiguration(botconfig, conf)"
          src="{{ conf.connectorType.iconUrl() }}"
          class="connector-icon ml-1"
          [nbTooltip]="conf.connectorType.label()"
        />
      </ng-container>
    </nb-accordion-item-header>

    <nb-accordion-item-body>
      <div class="row">
        <div class="col">
          <tock-form-control
            [label]="'configuration.bot-configurations.apiKeyLabel' | transloco"
            name="apikey"
          >
            <nb-form-field>
              <input
                nbInput
                fullWidth
                type="text"
                [placeholder]="'configuration.bot-configurations.apiKeyPlaceholder' | transloco"
                [nbTooltip]="'configuration.bot-configurations.apiKeyTooltip' | transloco"
                [(ngModel)]="botconfig.apiKey"
                [readonly]="true"
              />
              <button
                nbButton
                ghost
                nbSuffix
                (click)="copyToClipboard(botconfig)"
                [nbTooltip]="'configuration.bot-configurations.copyApiKeyTooltip' | transloco"
              >
                <nb-icon icon="copy"></nb-icon>
              </button>
            </nb-form-field>
          </tock-form-control>
        </div>
        <div class="col">
          <tock-form-control
            [label]="'configuration.bot-configurations.webhookUrlLabel' | transloco"
            name="webhookurl"
          >
            <nb-form-field>
              <input
                nbInput
                fullWidth
                type="text"
                [placeholder]="'configuration.bot-configurations.webhookUrlPlaceholder' | transloco"
                [nbTooltip]="'configuration.bot-configurations.webhookUrlTooltip' | transloco"
                [(ngModel)]="botconfig.webhookUrl"
                (keyup.enter)="saveBot(botconfig)"
              />
              <button
                nbButton
                nbSuffix
                status="primary"
                (click)="saveBot(botconfig)"
                [nbTooltip]="'configuration.bot-configurations.saveWebhookTooltip' | transloco"
              >
                <nb-icon icon="floppy"></nb-icon>
              </button>
            </nb-form-field>
          </tock-form-control>
        </div>
      </div>

      <h5 class="mt-3">{{ 'configuration.bot-configurations.connectorsTitle' | transloco }}</h5>
      <div *ngFor="let conf of botconfig.configurations">
        <tock-bot-configuration
          *ngIf="displayTestConfigurations || isFirstLevelConfiguration(botconfig, conf)"
          [configuration]="conf"
          (onRemove)="remove(conf)"
          (onValidate)="update(conf)"
        >
        </tock-bot-configuration>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<tock-scroll-top-button></tock-scroll-top-button>
