<nb-card>
  <nb-card-body style="padding: 2rem 5.5rem">
    <nb-stepper
      #stepper
      [linear]="true"
    >
      <nb-step
        [stepControl]="languageForm"
        [label]="'configuration.new-bot.chooseLanguageStepLabel' | transloco"
      >
        <form
          #languageForm="ngForm"
          [formGroup]="firstFormGroup"
          class="step-container"
        >
          <div class="input-group group-margin-top">
            <nb-select
              [placeholder]="'configuration.new-bot.languagePlaceholder' | transloco"
              formControlName="firstCtrl"
              required
              class="list"
            >
              @for (l of state.locales; track l; let i = $index) {
              <nb-option [value]="l.first">{{ l.second }}</nb-option>
              }
            </nb-select>
          </div>
          <div class="submit-btn">
            <button
              nbButton
              nbStepperNext
              [status]="firstFormGroup.invalid ? 'basic' : 'primary'"
            >
              {{ 'configuration.new-bot.nextButton' | transloco }}
            </button>
          </div>
        </form>
      </nb-step>

      <nb-step
        [stepControl]="channelForm"
        [label]="'configuration.new-bot.selectChannelStepLabel' | transloco"
      >
        <form
          #channelForm="ngForm"
          [formGroup]="secondFormGroup"
        >
          <div class="input-group group-margin-top">
            <nb-select
              required
              [placeholder]="'configuration.new-bot.channelPlaceholder' | transloco"
              [formControl]="channel"
              class="list"
            >
              @if (channel.value) {
              <span class="connector">
                <img
                  src="{{ channel.value.iconUrl() }}"
                  class="connector-icon"
                  [nbTooltip]="channel.value.label()"
                />
                {{ channel.value.label() }}
              </span>
              } @for (c of connectorTypes; track c) {
              <nb-option
                [value]="c"
                class="connector"
              >
                <img
                  src="{{ c.iconUrl() }}"
                  class="connector-icon"
                  [nbTooltip]="c.label()"
                />
                {{ c.label() }}
              </nb-option>
              }
            </nb-select>
          </div>
          <div class="submit-btn">
            <button
              nbButton
              nbStepperPrevious
              class="btn-margin"
              status="primary"
            >
              {{ 'configuration.new-bot.prevButton' | transloco }}
            </button>
            <button
              nbButton
              nbStepperNext
              class="btn-margin"
              [status]="channel.invalid ? 'basic' : 'primary'"
            >
              {{ 'configuration.new-bot.nextButton' | transloco }}
            </button>
          </div>
        </form>
      </nb-step>

      <nb-step
        [stepControl]="somethingForm"
        [label]="'configuration.new-bot.createAssistantStepLabel' | transloco"
      >
        <form
          #somethingForm="ngForm"
          class="step-container"
        >
          <div class="input-group group-margin-top">
            <p class="create">
              {{ 'configuration.new-bot.createAssistantDescription' | transloco }}
            </p>
          </div>
          <div class="submit-btn">
            <button
              nbButton
              status="basic"
              class="btn-margin"
              (click)="stepper.reset()"
            >
              {{ 'configuration.new-bot.resetButton' | transloco }}
            </button>
            <button
              nbButton
              status="primary"
              class="btn-margin"
              (click)="validate()"
            >
              {{ 'configuration.new-bot.createButton' | transloco }}
            </button>
          </div>
        </form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
