<nb-card [status]="modalStatus">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ title }}
    <button
      *ngIf="cancellable"
      [status]="modalStatus"
      type="button"
      nbButton
      shape="round"
      nbTooltip="Close"
      (click)="dialogRef.close('cancel')"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body class="message">
    <pre>{{ subtitle }}</pre>

    <ul *ngIf="list?.length">
      <li *ngFor="let str of list">
        {{ str }}
      </li>
    </ul>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      *ngFor="let actionDef of actions"
      nbButton
      size="small"
      [ghost]="actionDef.ghost"
      [status]="actionDef.buttonStatus"
      (click)="dialogRef.close(actionDef.actionName.toLowerCase())"
    >
      {{ actionDef.actionName }}
    </button>
  </nb-card-footer>
</nb-card>
