<form [formGroup]="form">
  <nb-card
    class="mb-0"
    [nbSpinner]="loading"
  >
    <nb-card-header>
      <div class="d-flex justify-content-between align-items-start">
        <h4>FAQ Parameters</h4>
        <button
          type="button"
          nbButton
          ghost
          shape="round"
          nbTooltip="Close"
          (click)="close()"
          data-testid="close-button"
        >
          <nb-icon icon="x-lg"></nb-icon>
        </button>
      </div>
    </nb-card-header>

    <nb-card-body>
      <p>Parameters are shared by all FAQ of this bot</p>

      <div class="mb-2">
        <nb-checkbox formControlName="satisfactionEnabled"> Ask for satisfaction after answering on FAQ question </nb-checkbox>
      </div>

      <tock-form-control
        label="Select story"
        name="story"
        [controls]="satisfactionStoryId"
        [showError]="isSubmitted"
        [required]="satisfactionEnabled.value"
      >
        <nb-select
          placeholder="Select story"
          formControlName="satisfactionStoryId"
          [fullWidth]="true"
          [optionsListClass]="'option-list--break-word'"
        >
          <nb-option
            *ngFor="let story of availableStories"
            [value]="story.storyId"
          >
            {{ story.name }}
          </nb-option>
        </nb-select>
      </tock-form-control>
    </nb-card-body>

    <nb-card-footer>
      <div class="grid-button">
        <button
          type="button"
          nbButton
          outline
          status="primary"
          size="small"
          (click)="close()"
          data-testid="cancel-button"
        >
          Cancel
        </button>
        <button
          type="button"
          nbButton
          status="primary"
          size="small"
          [disabled]="!canSave"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
