@import '~@nebular/theme/styles/global/_breakpoints.scss';

.grid-button {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

@include media-breakpoint-up(sm) {
  .grid-button {
    grid-template-columns: auto auto;
    justify-content: space-between;

    button {
      width: fit-content;
    }
  }
}
