<div class="d-flex flex-wrap align-items-center">
  <h1 class="flex-grow-1">{{ 'analytics.activate-satisfaction.title' | transloco }}</h1>
</div>

<nb-card
  class="stats"
  [nbSpinner]="loading"
>
  <nb-card-header>
    <h2>{{ 'analytics.activate-satisfaction.activationTitle' | transloco }}</h2>
  </nb-card-header>
  <nb-card-body>
    <p>
      {{ 'analytics.activate-satisfaction.activationDescription1' | transloco }}
    </p>

    <p></p>
    <p>{{ 'analytics.activate-satisfaction.activationDescription2' | transloco }}</p>

    <button
      nbButton
      (click)="activate()"
    >
      {{ 'analytics.activate-satisfaction.activationButton' | transloco }}
    </button>
  </nb-card-body>
</nb-card>
