@import '~@nebular/theme/styles/global/_breakpoints.scss';

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

@include media-breakpoint-up(sm) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
