@import '~@nebular/theme/styles/global/_breakpoints.scss';

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
  align-items: center;
}

@include media-breakpoint-up(sm) {
  .grid {
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  }
}
