<tock-dialogs-list-filters
  (onFilter)="onFilterDialogs($event)"
  [initialFilters]="filters"
></tock-dialogs-list-filters>

<nb-card
  *ngIf="loading && !data?.length"
  [nbSpinner]="loading"
>
  <nb-card-body>&nbsp;</nb-card-body>
</nb-card>

<div [nbSpinner]="loading">
  <tock-no-data-found
    *ngIf="!loading && pagination.total === 0"
    title="No dialogs found"
  ></tock-no-data-found>

  <tock-sticky-menu *ngIf="!loading && data?.length">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <div class="sticky-menu-scrolled-info">
          <button
            nbButton
            ghost
            shape="round"
            nbTooltip="Refresh dialogs"
            (click)="refresh()"
          >
            <nb-icon icon="arrow-clockwise"></nb-icon>
          </button>
        </div>
      </div>
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-pagination>
    </div>
  </tock-sticky-menu>

  <div
    *ngIf="data?.length"
    class="mt-2"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let dialog of data">
      <nb-card id="dialog-wrapper-{{ dialog.id }}">
        <nb-card-body class="pl-3 pr-0">
          <tock-chat-ui>
            <tock-chat-ui-dialog-logger [dialog]="dialog"></tock-chat-ui-dialog-logger>
          </tock-chat-ui>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
