<div
  [class.max-width]="!fullWidth"
  data-testid="root"
>
  <input
    type="file"
    id="file"
    class="inputfile"
    [tockAutofocusElement]="autofocus"
    [disabled]="disabled"
    [multiple]="multiple"
    data-testid="input-file"
  />
  <label
    for="file"
    class="d-flex flex-column justify-content-between gap-4"
    [class.max-width]="!fullWidth"
    [class.dragHover]="isFilesContainerHover && !disabled"
    data-testid="input-file-zone"
  >
    @if (files.length) {
    <div
      class="files"
      data-testid="files"
    >
      @for (file of files; track file) {
      <div
        class="file"
        [class.error]="wrongType(file) || wrongFormat(file)"
        (click)="preventDefault($event)"
      >
        <nb-icon icon="file-text"></nb-icon>
        <div class="footer">
          <span
            class="fileName"
            [nbTooltip]="file.name"
            data-testid="filename"
          >
            {{ file.name }}
          </span>
          <button
            nbButton
            [nbTooltip]="'shared.file-upload.remove_file_tooltip' | transloco"
            ghost
            shape="round"
            size="small"
            type="button"
            status="danger"
            (click)="preventDefault($event); removeFile(file.name)"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
      </div>
      }
    </div>
    }
    <div class="d-flex flex-column align-items-center gap-1">
      <nb-icon
        class="upload-icon"
        icon="upload"
      ></nb-icon>
      <span>
        {{ 'shared.file-upload.drag_and_drop_here' | transloco: { count: multiple ? 2 : 1 } }}
      </span>
      <span>{{ 'shared.file-upload.or' | transloco }}</span>
      <span
        class="button"
        data-testid="browse-for-file"
      >
        {{ 'shared.file-upload.browse_for_files' | transloco: { count: multiple ? 2 : 1 } }}
      </span>
    </div>
  </label>
</div>
@if (fileTypeAccepted) {
<small
  class="text-mitigated"
  data-testid="file-type-accepted"
>
  {{ 'shared.file-upload.file_types_accepted' | transloco: { count: fileTypeAccepted.length, fileTypes: fileTypes } }}
</small>
}
