@import '@nebular/theme/styles/global/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

.engine-params {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.grid-button {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

@include media-breakpoint-up(sm) {
  .grid-button {
    grid-template-columns: auto auto;
    justify-content: space-between;

    button {
      width: fit-content;
    }
  }
}
