<tock-sticky-menu [offset]="50">
  <div class="d-flex flex-wrap">
    <h1 class="flex-grow-1">{{ 'rag.rag-settings.title' | transloco }}</h1>

    <section class="grid-actions">
      <button
        [disabled]="!hasExportableData"
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'rag.rag-settings.export_tooltip' | transloco"
        (click)="exportSettings()"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'rag.rag-settings.import_tooltip' | transloco"
        (click)="importSettings()"
      >
        <nb-icon icon="upload"></nb-icon>
      </button>

      <button
        *ngIf="settingsBackup && form.dirty"
        nbButton
        ghost
        status="primary"
        [nbTooltip]="'rag.rag-settings.cancel_modifications_tooltip' | transloco"
        (click)="cancel()"
      >
        <nb-icon icon="x-circle"></nb-icon>
        {{ 'rag.rag-settings.cancel_button' | transloco }}
      </button>
      <button
        *ngIf="form.dirty && hasExportableData"
        nbButton
        status="primary"
        [nbTooltip]="'rag.rag-settings.save_settings_tooltip' | transloco"
        (click)="submit()"
      >
        <nb-icon icon="floppy"></nb-icon>
        {{ 'rag.rag-settings.save_button' | transloco }}
      </button>
    </section>
  </div>
</tock-sticky-menu>

<tock-no-data-found
  *ngIf="configurations?.length === 0"
  [title]="'rag.rag-settings.no_bot_configuration' | transloco"
></tock-no-data-found>

<form
  [formGroup]="form"
  *ngIf="configurations?.length > 0"
>
  <nb-card class="mt-1">
    <nb-card-body
      [nbSpinner]="loading"
      class="pb-0"
    >
      <nb-card class="mt-2 mb-3">
        <nb-card-header>{{ 'rag.rag-settings.rag_activation_title' | transloco }}</nb-card-header>
        <nb-card-body class="d-flex gap-2 align-items-start">
          <tock-form-control
            name="enabled"
            [controls]="enabled"
            [showError]="isSubmitted"
            [hasMargin]="false"
          >
            <nb-toggle
              formControlName="enabled"
              class="mt-1"
            >
              <span *ngIf="enabled.value">{{ 'rag.rag-settings.rag_activated' | transloco }}</span>
              <span *ngIf="!enabled.value">{{ 'rag.rag-settings.rag_deactivated' | transloco }}</span>
            </nb-toggle>
          </tock-form-control>

          <tock-form-control
            name="debugEnabled"
            [controls]="debugEnabled"
            [showError]="isSubmitted"
            [hasMargin]="false"
          >
            <nb-toggle
              formControlName="debugEnabled"
              class="nb-toggle-small mt-2"
              status="basic"
              [nbTooltip]="'rag.rag-settings.debug_info_tooltip' | transloco"
            >
              <span *ngIf="debugEnabled.value">{{ 'rag.rag-settings.dialogs_debug_activated' | transloco }}</span>
              <span *ngIf="!debugEnabled.value">{{ 'rag.rag-settings.dialogs_debug_deactivated' | transloco }}</span>
            </nb-toggle>
          </tock-form-control>

          <tock-form-control
            name="explainabilityEnabled"
            [controls]="explainabilityEnabled"
            [showError]="isSubmitted"
            [hasMargin]="false"
          >
            <nb-toggle
              formControlName="explainabilityEnabled"
              class="nb-toggle-small mt-2"
              status="basic"
              [nbTooltip]="'rag.rag-settings.explainability_tooltip' | transloco"
            >
              <span *ngIf="explainabilityEnabled.value">{{ 'rag.rag-settings.explainability_activated' | transloco }}</span>
              <span *ngIf="!explainabilityEnabled.value">{{ 'rag.rag-settings.explainability_deactivated' | transloco }}</span>
            </nb-toggle>
          </tock-form-control>
        </nb-card-body>
      </nb-card>

      <nb-card class="mb-3">
        <nb-card-header>{{ 'rag.rag-settings.question_condensing_title' | transloco }}</nb-card-header>
        <nb-card-body class="p-0">
          <nb-accordion
            multi
            class="shadow-none"
          >
            <nb-accordion-item [expanded]="isAccordionItemsExpanded('questionConsensingConfiguration')">
              <nb-accordion-item-header>{{ 'rag.rag-settings.configuration_title' | transloco }}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <tock-form-control
                  name="questionCondensingLlmProvider"
                  [controls]="questionCondensingLlmProvider"
                  [required]="true"
                  [showError]="isSubmitted"
                >
                  <nb-radio-group
                    formControlName="questionCondensingLlmProvider"
                    name="questionCondensingLlmProvider"
                    class="d-flex"
                  >
                    <nb-radio
                      *ngFor="let engine of enginesConfigurations[engineSettingKeyName.questionCondensingLlmSetting]"
                      [value]="engine.key"
                    >
                      {{ engine.label }}
                    </nb-radio>
                  </nb-radio-group>
                </tock-form-control>

                <div
                  *ngIf="currentQuestionCondensingConfig"
                  class="mt-2"
                >
                  <div class="row">
                    <ng-container *ngFor="let param of currentQuestionCondensingConfig.params">
                      <div
                        class="col-12 px-3"
                        [ngClass]="{ 'col-lg-6': param.inputScale !== 'fullwidth' }"
                      >
                        <tock-ai-settings-engine-config-param-input
                          [parentGroup]="engineSettingKeyName.questionCondensingLlmSetting"
                          [configurationParam]="param"
                          [form]="form"
                          [isSubmitted]="isSubmitted"
                        ></tock-ai-settings-engine-config-param-input>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item [expanded]="isAccordionItemsExpanded('questionCondensingPrompt')">
              <nb-accordion-item-header>{{ 'rag.rag-settings.prompt_title' | transloco }}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="row">
                  <ng-container *ngFor="let param of questionCondensing_prompt">
                    <div
                      class="col-12 px-3"
                      *ngIf="shouldDisplayPromptParam('questionCondensingPrompt', param)"
                    >
                      <tock-ai-settings-engine-config-param-input
                        parentGroup="questionCondensingPrompt"
                        [configurationParam]="param"
                        [form]="form"
                        [isSubmitted]="isSubmitted"
                        [defaultPrompt]="$any(param.defaultValue)"
                      ></tock-ai-settings-engine-config-param-input>
                    </div>
                  </ng-container>

                  <div class="col-6 px-3">
                    <tock-form-control
                      [label]="'rag.rag-settings.max_messages_history_label' | transloco"
                      name="maxMessagesFromHistory"
                      [controls]="maxMessagesFromHistory"
                      [required]="false"
                      [showError]="isSubmitted"
                      [boldLabel]="false"
                      [information]="'rag.rag-settings.max_messages_history_info' | transloco"
                    >
                      <input
                        type="number"
                        step="1"
                        min="0"
                        max="20"
                        nbInput
                        fieldSize="small"
                        fullWidth
                        formControlName="maxMessagesFromHistory"
                      />
                    </tock-form-control>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card-body>
      </nb-card>

      <nb-card class="mb-3">
        <nb-card-header>{{ 'rag.rag-settings.question_answering_title' | transloco }}</nb-card-header>
        <nb-card-body class="p-0">
          <nb-accordion
            multi
            class="shadow-none"
          >
            <nb-accordion-item [expanded]="isAccordionItemsExpanded('questionAnsweringConfiguration')">
              <nb-accordion-item-header>{{ 'rag.rag-settings.configuration_title' | transloco }}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <tock-form-control
                  name="questionAnsweringLlmProvider"
                  [controls]="questionAnsweringLlmProvider"
                  [required]="true"
                  [showError]="isSubmitted"
                >
                  <nb-radio-group
                    formControlName="questionAnsweringLlmProvider"
                    name="questionAnsweringLlmProvider"
                    class="d-flex"
                  >
                    <nb-radio
                      *ngFor="let engine of enginesConfigurations[engineSettingKeyName.questionAnsweringLlmSetting]"
                      [value]="engine.key"
                    >
                      {{ engine.label }}
                    </nb-radio>
                  </nb-radio-group>
                </tock-form-control>

                <div
                  *ngIf="currentQuestionAnsweringConfig"
                  class="mt-2"
                >
                  <div class="row">
                    <ng-container *ngFor="let param of currentQuestionAnsweringConfig.params">
                      <div
                        class="col-12 px-3"
                        [ngClass]="{ 'col-lg-6': param.inputScale !== 'fullwidth' }"
                      >
                        <tock-ai-settings-engine-config-param-input
                          [parentGroup]="engineSettingKeyName.questionAnsweringLlmSetting"
                          [configurationParam]="param"
                          [form]="form"
                          [isSubmitted]="isSubmitted"
                        ></tock-ai-settings-engine-config-param-input>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item [expanded]="isAccordionItemsExpanded('questionAnsweringPrompt')">
              <nb-accordion-item-header>{{ 'rag.rag-settings.prompt_title' | transloco }}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="row">
                  <ng-container *ngFor="let param of questionAnswering_prompt">
                    <div
                      class="col-12 px-3"
                      *ngIf="shouldDisplayPromptParam('questionAnsweringPrompt', param)"
                    >
                      <tock-ai-settings-engine-config-param-input
                        parentGroup="questionAnsweringPrompt"
                        [configurationParam]="param"
                        [form]="form"
                        [isSubmitted]="isSubmitted"
                        [defaultPrompt]="$any(param.defaultValue)"
                      ></tock-ai-settings-engine-config-param-input>
                    </div>
                  </ng-container>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card-body>
      </nb-card>

      <nb-card class="mb-3">
        <nb-card-header>{{ 'rag.rag-settings.embedding_title' | transloco }}</nb-card-header>
        <nb-card-body class="p-0">
          <nb-accordion
            multi
            class="shadow-none"
          >
            <nb-accordion-item [expanded]="isAccordionItemsExpanded('embeddingConfiguration')">
              <nb-accordion-item-header>{{ 'rag.rag-settings.configuration_title' | transloco }}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <tock-form-control
                  name="emProvider"
                  [controls]="emProvider"
                  [required]="true"
                  [showError]="isSubmitted"
                >
                  <nb-radio-group
                    formControlName="emProvider"
                    name="emProvider"
                    class="d-flex"
                  >
                    <nb-radio
                      *ngFor="let engine of enginesConfigurations[engineSettingKeyName.emSetting]"
                      [value]="engine.key"
                    >
                      {{ engine.label }}
                    </nb-radio>
                  </nb-radio-group>
                </tock-form-control>

                <div
                  *ngIf="currentEmConfig"
                  class="mt-2"
                >
                  <div class="row">
                    <div
                      class="col-12 px-3"
                      [ngClass]="{ 'col-lg-6': param.inputScale !== 'fullwidth' }"
                      *ngFor="let param of currentEmConfig.params"
                    >
                      <tock-ai-settings-engine-config-param-input
                        [parentGroup]="engineSettingKeyName.emSetting"
                        [configurationParam]="param"
                        [form]="form"
                        [isSubmitted]="isSubmitted"
                      ></tock-ai-settings-engine-config-param-input>
                    </div>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card-body>
      </nb-card>

      <nb-card class="mb-3">
        <nb-card-header>{{ 'rag.rag-settings.indexing_session_title' | transloco }}</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-12 col-lg-6 px-3">
              <tock-form-control
                [label]="'rag.rag-settings.indexing_session_id_label' | transloco"
                name="indexingSessionId"
                [controls]="indexSessionId"
                [required]="false"
                [showError]="isSubmitted"
                [boldLabel]="false"
              >
                <input
                  nbInput
                  fullWidth
                  formControlName="indexSessionId"
                />
              </tock-form-control>
            </div>

            <div class="col-12 col-lg-6 px-3">
              <tock-form-control
                [label]="'rag.rag-settings.vector_db_index_name_label' | transloco"
                name="indexName"
                [controls]="indexName"
                [required]="false"
                [boldLabel]="false"
              >
                <input
                  nbInput
                  fullWidth
                  formControlName="indexName"
                  readonly
                />
              </tock-form-control>
            </div>

            <div class="col-12 px-3">
              <tock-form-control
                [label]="'rag.rag-settings.search_type_label' | transloco"
                name="documentSearchType"
                [controls]="documentSearchType"
                [required]="false"
                [boldLabel]="false"
                [information]="'rag.rag-settings.search_type_info' | transloco"
              >
                <nb-radio-group
                  formControlName="documentSearchType"
                  name="documentSearchType"
                  class="d-flex"
                >
                  <nb-radio
                    *ngFor="let option of documentSearchTypes"
                    [value]="option.key"
                    class="lineHeight-0"
                  >
                    {{ option.label }}
                  </nb-radio>
                </nb-radio-group>
              </tock-form-control>
            </div>

            <div class="col-12 px-3">
              <tock-form-control
                [label]="'rag.rag-settings.max_documents_retrieved_label' | transloco"
                name="maxDocumentsRetrieved"
                [controls]="maxDocumentsRetrieved"
                [required]="false"
                [boldLabel]="false"
                [information]="'rag.rag-settings.max_documents_retrieved_info' | transloco"
              >
                <input
                  type="number"
                  step="1"
                  min="0"
                  max="50"
                  nbInput
                  fieldSize="small"
                  fullWidth
                  formControlName="maxDocumentsRetrieved"
                />
              </tock-form-control>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card *ngIf="settingsBackup">
        <nb-card-header>{{ 'rag.rag-settings.settings_deletion_title' | transloco }}</nb-card-header>
        <nb-card-body>
          <button
            nbButton
            status="danger"
            [nbTooltip]="'rag.rag-settings.delete_settings_button' | transloco"
            (click)="confirmSettingsDeletion()"
          >
            <nb-icon icon="trash"></nb-icon>
            {{ 'rag.rag-settings.delete_settings_button' | transloco }}
          </button>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</form>

<ng-template #exportConfirmationModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'rag.rag-settings.export_confirmation_title' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'rag.rag-settings.close_tooltip' | transloco"
        (click)="closeExportConfirmationModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="mb-2">{{ 'rag.rag-settings.include_sensitive_data' | transloco }}</div>
      <div *ngFor="let sensitiveParam of sensitiveParams">
        <nb-checkbox
          status="basic"
          [(ngModel)]="sensitiveParam.include"
        >
          {{ sensitiveParam.label }}
          {{ sensitiveParam.param.label }}
        </nb-checkbox>
      </div>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeExportConfirmationModal()"
      >
        {{ 'rag.rag-settings.cancel_button' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="confirmExportSettings()"
      >
        {{ 'rag.rag-settings.export_button' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #importModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'rag.rag-settings.import_modal_title' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'rag.rag-settings.close_tooltip' | transloco"
        (click)="closeImportModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <form
        [formGroup]="importForm"
        (submit)="submitImportSettings()"
      >
        <tock-form-control
          [label]="'rag.rag-settings.title' | transloco"
          name="importFile"
          [required]="true"
          [controls]="fileSource"
          [showError]="isImportSubmitted"
        >
          <tock-file-upload
            id="importFile"
            formControlName="fileSource"
            [autofocus]="true"
            [fullWidth]="true"
            [multiple]="false"
            [fileTypeAccepted]="['json']"
          ></tock-file-upload>
        </tock-form-control>
      </form>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeImportModal()"
      >
        {{ 'rag.rag-settings.cancel_button' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="submitImportSettings()"
      >
        {{ 'rag.rag-settings.import_button' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<tock-scroll-top-button></tock-scroll-top-button>
