openapi: 3.0.0
info:
  description: "Web bot connector API for Tock (The Open Conversation Kit)."
  version: "1.0.0"
  title: "Tock Web Bot Connector API"
  contact:
    name: Contact us on Gitter
    url: https://gitter.im/tockchat/Lobby
  license:
    name: Licence Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://demo-bot.tock.ai/
    description: Public demo server (linked to https://demo.tock.ai)
  - url: http://localhost:8080/
    description: Local server (default tock-docker implementation)
paths:
  /io/{namespace}/{bot}/{connector}:
    post:
      summary: "Send query to the bot"
      description: ""
      requestBody:
        description: "Query to be sent with user ID"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
      parameters:
        - name: namespace
          in: path
          description: namespace
          required: true
          schema:
            type: string
        - name: bot
          in: path
          description: bot name
          required: true
          schema:
            type: string
        - name: connector
          in: path
          description: connector ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
              example:
                responses:
                  - text: 'Welcome to Tock :)'
                    version: 1
                  - card:
                      title: 'The Open Conversation Kit'
                      subTitle: 'Open platform for Conversational AI.'
                      file:
                        url: 'https://doc.tock.ai/tock/master/fr/assets/images/logo.svg'
                        name: 'logo.svg'
                        type: image
                      buttons:
                        - title: 'Tock Home'
                          url: 'https://doc.tock.ai'
                          type: web_url
                    version: 1
                  - text: 'Ask for more...'
                    buttons:
                      - title: 'What is Tock?'
                        type: postback
                    version: 1

        500:
          description: "Internal Server Error"

  /io/{namespace}/{bot}/{connector}/sse:
    get:
      summary: "Stream bot responses for the given user"
      parameters:
        - name: namespace
          in: path
          description: namespace
          required: true
          schema:
            type: string
        - name: bot
          in: path
          description: bot name
          required: true
          schema:
            type: string
        - name: connector
          in: path
          description: connector ID
          required: true
          schema:
            type: string
        - name: userId
          in: query
          description: userId to stream
          required: true
          schema:
            type: string
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

components:
  schemas:
    Query:
      type: "object"
      properties:
        query:
          type: "string"
          example: "Hello!"
        userId:
          type: "string"
          example: "ID_00001"

    Response:
      type: "object"
      properties:
        responses:
          type: "array"
          items:
            $ref: "#/components/schemas/Message"

    Message:
      type: "object"
      required: ["version"]
      properties:
        text:
          type: "string"
          example: "Welcome to Tock :)"
        buttons:
          $ref: '#/components/schemas/Buttons'
        card:
          $ref: "#/components/schemas/Card"
        carousel:
          $ref: '#/components/schemas/Carousel'
        widget:
          $ref: "#/components/schemas/Widget"
        version:
          type: "string"
          example: "1"

    Buttons:
      type: "array"
      items:
        oneOf:
          - $ref: "#/components/schemas/PostBack"
          - $ref: "#/components/schemas/QuickReply"
          - $ref: "#/components/schemas/UrlButton"
      discriminator:
        propertyName: type
        mapping:
          postback: '#/components/schemas/PostBack'
          quick_reply: '#/components/schemas/QuickReply'
          web_url: '#/components/schemas/UrlButton'

    PostBack:
      type: "object"
      required: ["title", "type"]
      properties:
        title:
          type: "string"
          example: "Help me on Topic 1"
        payload:
          type: "string"
          example: "helpTopic1?_previous_intent=greetings"
        type:
          type: "string"
          example: "postback"

    QuickReply:
      type: "object"
      required: ["title", "type"]
      properties:
        title:
          type: "string"
          example: "Choice Topic 1"
        payload:
          type: "string"
          example: "choiceTopic1?_previous_intent=greetings"
        type:
          type: "string"
          example: "quick_reply"

    UrlButton:
      type: "object"
      required: ["title", "url", "type"]
      properties:
        title:
          type: "string"
          example: "Help me on Topic 1"
        url:
          type: "string"
          example: "http://www.sncf.com"
        type:
          type: "string"
          example: "web_url"

    Carousel:
      type: "object"
      properties:
        cards:
          type: "array"
          items:
            $ref: "#/components/schemas/Card"

    Card:
      type: "object"
      properties:
        title:
          type: "string"
          example: "Tock"
        subTitle:
          type: "string"
          example: "The Open Conversation Kit."
        file:
          $ref: '#/components/schemas/File'
        buttons:
          $ref: "#/components/schemas/Buttons"

    File:
      type: "object"
      required: ["url", "name", "type"]
      properties:
        url:
          type: "string"
          example: "http://url1.fr/image1.jpg"
        name:
          type: "string"
          example: "filename.jpg"
        type:
          type: "string"
          example: "image"

    Widget:
      type: "object"
      required: ["data", "type"]
      properties:
        data:
          type: "object"
        type:
          type: "string"

externalDocs:
  description: "Tock Home"
  url: "https://doc.tock.ai/"