<tock-form-control
  [label]="'bot.story-tag.label' | transloco"
  name="storyTag"
  [information]="'bot.story-tag.information' | transloco"
>
  <nb-select
    fullWidth
    id="storyTag"
    name="storyTag"
    [(ngModel)]="selectedTag"
    (ngModelChange)="selectedTagChange.emit($event)"
  >
    <nb-option [value]="">{{ 'bot.story-tag.noActionLabel' | transloco }}</nb-option>
    <nb-option
      *ngFor="let tag of tags"
      [value]="tag.value"
    >
      {{ tag.label }}
    </nb-option>
  </nb-select>
</tock-form-control>
