@import '@nebular/theme/styles/global/breakpoints';

.grid {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

@include media-breakpoint-up(lg) {
  .grid {
    grid-template-columns: 4fr 4fr 5fr 5fr 1fr 1fr;
  }
}
