<nb-card class="mt-2 mb-2">
  <nb-card-body>
    <form
      class="grid"
      [formGroup]="form"
    >
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="search"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="medium"
          placeholder="Search story"
          type="text"
          formControlName="search"
        />
        <button
          *ngIf="!!search.value"
          nbButton
          nbSuffix
          nbTooltip="Clear"
          ghost
          (click)="clearSearch()"
          data-testid="clear-button"
        >
          <nb-icon icon="x-lg"></nb-icon>
        </button>
      </nb-form-field>

      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="grid"
        ></nb-icon>

        <nb-select
          multiple
          placeholder="Categories"
          fullWidth
          optionsListClass="option-list--break-word"
          formControlName="categories"
        >
          <nb-option
            *ngFor="let tag of categories"
            value="{{ tag }}"
          >
            <span class="initial-capitalize">{{ tag }}</span>
          </nb-option>
        </nb-select>
      </nb-form-field>

      <nb-checkbox
        [checked]="configuredStoriesOnly.value"
        formControlName="configuredStoriesOnly"
      >
        Configured stories only
      </nb-checkbox>

      <nb-checkbox
        [checked]="sortStoriesByModificationDate.value"
        formControlName="sortStoriesByModificationDate"
      >
        Sort by edition date
      </nb-checkbox>

      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Export Stories"
        (click)="download()"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Import Stories"
        (click)="prepareUpload()"
      >
        <nb-icon icon="upload"></nb-icon>
      </button>
    </form>
  </nb-card-body>
</nb-card>
