<nb-card class="mb-0">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-start">
      {{ 'shared.sentence-training-dialog.header' | transloco }}
      <button
        type="button"
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.close' | transloco"
        (click)="close()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="p-0">
    @if (dialogs?.length > 1) {
    <div class="p-3">
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="wechat"
        ></nb-icon>
        <nb-select
          [placeholder]="'shared.sentence-training-dialog.dialog-selector-placeholder' | transloco: { index: displayedDialogIndex + 1 }"
          status="basic"
          size="small"
          fullWidth
        >
          @for (dialog of dialogs; track dialog; let index = $index) {
          <nb-option
            [value]="null"
            (click)="displayDialog(index)"
          >
            {{ 'shared.sentence-training-dialog.dialog-option' | transloco: { index: index + 1 } }}
          </nb-option>
          }
        </nb-select>
      </nb-form-field>
    </div>
    } @if (!displayedDialog) {
    <div class="p-3 text-center text-danger">
      {{ 'shared.sentence-training-dialog.no-dialog-found' | transloco }}
    </div>
    } @if (displayedDialog?.actions) {
    <tock-chat-ui height="calc(100vh - 330px)">
      <tock-chat-ui-dialog-logger
        [dialog]="displayedDialog"
        [userMessageIsClickable]="true"
        (onMessageClicked)="searchSentence($event)"
        [highlightedAction]="getCurrentSentenceAction()"
      ></tock-chat-ui-dialog-logger>
    </tock-chat-ui>
    }
  </nb-card-body>
</nb-card>
