<nb-card class="mb-0">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-start">
      Dialog featuring this sentence
      <button
        type="button"
        nbButton
        ghost
        shape="round"
        nbTooltip="Close"
        (click)="close()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="p-0">
    <div
      class="p-3"
      *ngIf="dialogs?.length > 1"
    >
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="wechat"
        ></nb-icon>
        <nb-select
          placeholder="Dialog #{{ displayedDialogIndex + 1 }}"
          status="basic"
          size="small"
          fullWidth
        >
          <nb-option
            *ngFor="let dialog of dialogs; let index = index"
            [value]="null"
            (click)="displayDialog(index)"
          >
            Dialog #{{ index + 1 }}
          </nb-option>
        </nb-select>
      </nb-form-field>
    </div>

    <div
      *ngIf="!displayedDialog"
      class="p-3 text-center text-danger"
    >
      No dialog with this phrase were found.
    </div>

    <tock-chat-ui
      *ngIf="displayedDialog?.actions"
      height="calc(100vh - 320px)"
    >
      <tock-chat-ui-message
        *ngFor="let action of displayedDialog.actions"
        [message]="action.message"
        [replay]="true"
        [reply]="action.isBot()"
        [sender]="getUserName(action)"
        [avatar]="getUserAvatar(action)"
        [date]="action.date"
        [ngClass]="{ currentsentence: isCurrentSentence(action), pointer: !action.isBot() }"
        (click)="searchSentence(action)"
      >
        <div
          *ngIf="$any(action).metadata.isGenAiRagAnswer"
          class="mt-3 text-right"
        >
          <button
            nbButton
            size="tiny"
            status="warning"
            type="button"
            (click)="createFaq(action, displayedDialog.actions)"
          >
            <nb-icon icon="chat-left-text"></nb-icon>
            Create a FAQ with this question/answer pair
          </button>
        </div>
      </tock-chat-ui-message>
    </tock-chat-ui>
  </nb-card-body>
</nb-card>
