<nb-card class="mb-0">
  <nb-card-body>
    <form
      class="grid"
      [formGroup]="form"
    >
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="search"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="medium"
          placeholder="Search a faq"
          type="text"
          formControlName="search"
        />
      </nb-form-field>

      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="bookmark"
        ></nb-icon>

        <nb-select
          multiple
          placeholder="Tags"
          fullWidth
          optionsListClass="option-list--break-word"
          formControlName="tags"
        >
          <nb-option
            *ngFor="let tag of tagsCache"
            value="{{ tag }}"
          >
            <span class="initial-capitalize">{{ tag }}</span>
          </nb-option>
        </nb-select>
      </nb-form-field>

      <nb-checkbox
        [checked]="enabled.value"
        [indeterminate]="enabled.value === null"
        formControlName="enabled"
        (checkedChange)="enabledCheckChanged()"
      >
        Active
      </nb-checkbox>

      <button
        *ngIf="isFiltered"
        nbButton
        nbTooltip="Clear all filters"
        ghost
        shape="round"
        (click)="clearFilters()"
        data-testid="clear-button"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </form>
  </nb-card-body>
</nb-card>
