<h1>{{ 'analytics.flow.title' | transloco }}</h1>

<nb-card class="mb-0">
  <nb-card-body [nbSpinner]="loading">
    <div class="d-flex justify-content-between align-items-center mt-2">
      <div class="flex-grow-1">
        <div class="row">
          <div class="col-3">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="calendar"
              ></nb-icon>
              <input
                #dateRangeInput
                nbInput
                fieldSize="small"
                [placeholder]="'analytics.flow.dateRangePlaceholder' | transloco"
                [nbDatepicker]="dateRangePicker"
                [(ngModel)]="range"
                readonly
              />
            </nb-form-field>
          </div>
          <div class="col-9">
            <div class="flex-grow-1 d-flex justify-content-between">
              @for (range of timeRanges; track range) {
              <button
                nbButton
                size="small"
                ghost
                [status]="getTimeRangeBttnStatus(range)"
                [nbTooltip]="'analytics.flow.displayFlowTooltip' | transloco: { range: range.tooltipLabel }"
                (click)="setTimeRange(range)"
                class="px-2"
              >
                {{ range.label }}
              </button>
              }
            </div>
          </div>
        </div>
        <nb-rangepicker
          #dateRangePicker
          [(range)]="range"
          (rangeChange)="datePickerChange($event)"
        ></nb-rangepicker>

        <div class="row mt-2">
          <div class="col-3">
            <nb-form-field [nbTooltip]="'analytics.flow.displayLayoutTooltip' | transloco">
              <nb-icon
                nbPrefix
                icon="activity"
              ></nb-icon>
              <nb-select
                size="small"
                [placeholder]="'analytics.flow.displayLayoutPlaceholder' | transloco"
                fullWidth
                [(ngModel)]="layout"
                (ngModelChange)="unselect()"
              >
                @for (lyout of layouts; track lyout) {
                <nb-option [value]="lyout">{{ lyout.name }}</nb-option>
                }
              </nb-select>
            </nb-form-field>
          </div>

          <div class="col-9 d-flex align-items-center pt-0">
            <small class="text-muted text-nowrap my-0 mr-2">{{ 'analytics.flow.modeLabel' | transloco }}</small>
            <nb-radio-group
              class="d-flex"
              name="mode"
              [(ngModel)]="statsMode"
              (ngModelChange)="changeMode()"
            >
              <nb-radio
                class="text-nowrap smallHeight"
                [value]="true"
                [nbTooltip]="'analytics.flow.usersFlowTooltip' | transloco"
                >{{ 'analytics.flow.usersFlowLabel' | transloco }}</nb-radio
              >
              <nb-radio
                class="text-nowrap smallHeight"
                [value]="false"
                [nbTooltip]="'analytics.flow.staticModeTooltip' | transloco"
                >{{ 'analytics.flow.staticModeLabel' | transloco }}</nb-radio
              >
            </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="ml-3">
        @if (!advanced) {
        <nb-icon
          icon="chevron-down-outline"
          pack="nebular-essentials"
          (click)="swapAdvanced()"
          class="pointer"
          [nbTooltip]="'analytics.flow.displayAdvancedOptionsTooltip' | transloco"
        ></nb-icon>
        } @if (advanced) {
        <nb-icon
          icon="chevron-up-outline"
          pack="nebular-essentials"
          (click)="swapAdvanced()"
          class="pointer"
          [nbTooltip]="'analytics.flow.hideAdvancedOptionsTooltip' | transloco"
        ></nb-icon>
        }
      </div>
    </div>

    <!-- ADVANCED -->
    @if (advanced) {
    <div
      class="mt-2"
      [@inOutHeightAnimation]
    >
      <div class="row mt-1">
        @if (statsMode) {
        <div
          class="col-6 mb-3 pt-1 d-flex align-items-center"
          [nbTooltip]="'analytics.flow.minNodeTrafficTooltip' | transloco"
        >
          <small class="text-muted text-nowrap mb-0 mr-2">{{ 'analytics.flow.minNodeTrafficLabel' | transloco }}</small>
          <input
            type="range"
            min="0"
            [max]="maxNodeCount"
            [(ngModel)]="minimalNodeCount"
            (change)="updateCount()"
            class="w-100"
          />
        </div>
        } @if (statsMode) {
        <div
          class="col-6 mb-3 pt-1 d-flex align-items-center"
          [nbTooltip]="'analytics.flow.minTransitionPercentageTooltip' | transloco"
        >
          <small class="text-muted text-nowrap mb-0 mr-2">{{ 'analytics.flow.minTransitionPercentageLabel' | transloco }}</small>
          <input
            type="range"
            min="0"
            max="100"
            [(ngModel)]="minimalTransitionPercentage"
            (change)="updateCount()"
            class="w-100"
          />
        </div>
        }
        <div class="col-3 mb-2">
          <nb-select
            fullWidth
            size="small"
            [placeholder]="'analytics.flow.storyTypeFilterPlaceholder' | transloco"
            [nbTooltip]="'analytics.flow.storyTypeFilterTooltip' | transloco"
            [(ngModel)]="selectedTypeFilter"
            (selectedChange)="update()"
          >
            @for (typeFilter of typeFilters; track typeFilter) {
            <nb-option
              [value]="typeFilter"
              [disabled]="typeFilterCounters.get(typeFilter) < 1"
            >
              <span [nbTooltip]="typeFilter.description">
                {{ typeFilter.name }}
                @if (typeFilterCounters.get(typeFilter) > 0) {
                <span> ({{ typeFilterCounters.get(typeFilter) }})</span>
                }
              </span>
            </nb-option>
            }
          </nb-select>
        </div>
        <div class="col-6 mb-2">
          <tock-select-bot
            [allowNoConfigurationSelection]="false"
            [noConnectorLabel]="'analytics.flow.allConnectorsLabel' | transloco"
            [noConfigurationLabel]="'analytics.flow.allConfigurationsLabel' | transloco"
            (selectionChange)="selectedConfigurationChanged($event)"
            [disabled]="showAllConfigurations"
          >
          </tock-select-bot>
        </div>
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="showAllConfigurations"
            (change)="changeShowAllConfigurations()"
            [nbTooltip]="'analytics.flow.displayAllConfigurationsTooltip' | transloco"
            >{{ 'analytics.flow.displayAllConfigurationsLabel' | transloco }}</nb-checkbox
          >
        </div>
        <div class="col-3 mb-2">
          <nb-form-field>
            <nb-icon
              nbPrefix
              icon="chat-left"
            ></nb-icon>
            @if (!statsMode) {
            <nb-select
              size="small"
              fullWidth
              [placeholder]="'analytics.flow.storyFocusPlaceholder' | transloco"
              [nbTooltip]="'analytics.flow.storyFocusTooltip' | transloco"
              [(selected)]="selectedStory"
              (selectedChange)="update()"
            >
              @if (selectedStory) {
              <nb-select-label>
                @if (selectedStory.isBuiltIn()) {
                <nb-icon
                  icon="box"
                  class="align-middle mr-1"
                ></nb-icon>
                } @if (selectedStory.isSimpleAnswer()) {
                <nb-icon
                  icon="chat-left"
                  class="align-middle mr-1"
                ></nb-icon>
                } @if (selectedStory.isScriptAnswer()) {
                <nb-icon
                  icon="code"
                  class="align-middle mr-1"
                ></nb-icon>
                }
                {{ selectedStory.storyName }}
              </nb-select-label>
              }
              <nb-option [value]="undefined">{{ 'analytics.flow.allStoriesOption' | transloco }}</nb-option>
              @for (entry of storiesById | keyvalue; track entry) {
              <nb-option
                [value]="entry.value"
                [disabled]="!selectedTypeFilter.filter(entry.value)"
                class="align-items-center"
              >
                @if (entry.value.isBuiltIn()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.builtInTooltip' | transloco"
                  icon="box"
                  class="mr-1"
                ></nb-icon>
                } @if (entry.value.isSimpleAnswer()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.messageTooltip' | transloco"
                  icon="chat-left"
                  class="mr-1"
                ></nb-icon>
                } @if (entry.value.isScriptAnswer()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.scriptTooltip' | transloco"
                  icon="code"
                  class="mr-1"
                ></nb-icon>
                }
                {{ entry.value.name }}
              </nb-option>
              }
            </nb-select>
            } @if (statsMode) {
            <nb-select
              size="small"
              fullWidth
              [placeholder]="'analytics.flow.storyFocusPlaceholder' | transloco"
              [nbTooltip]="'analytics.flow.storyFocusTooltip' | transloco"
              [(ngModel)]="selectedStory"
              (selectedChange)="update()"
            >
              @if (selectedStory) {
              <nb-select-label>
                @if (selectedStory.isBuiltIn()) {
                <nb-icon
                  icon="box"
                  class="align-middle mr-1"
                ></nb-icon>
                } @if (selectedStory.isSimpleAnswer()) {
                <nb-icon
                  icon="chat-left"
                  class="align-middle mr-1"
                ></nb-icon>
                } @if (selectedStory.isScriptAnswer()) {
                <nb-icon
                  icon="code"
                  class="align-middle mr-1"
                ></nb-icon>
                } @if (selectedStory.storyType === undefined) {
                <nb-icon
                  icon="question-circle"
                  class="align-middle mr-1"
                ></nb-icon>
                }
                <span class="story-label">{{ selectedStory.storyName }}</span>
              </nb-select-label>
              }
              <nb-option [value]="undefined">{{ 'analytics.flow.allStoriesOption' | transloco }}</nb-option>
              @for (entry of nodesById | keyvalue; track entry) {
              <nb-option
                [value]="entry.value"
                [disabled]="!selectedTypeFilter.filter(entry.value)"
                class="align-items-center"
              >
                @if (entry.value.isBuiltIn()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.builtInTooltip' | transloco"
                  icon="box"
                  class="mr-1"
                ></nb-icon>
                } @if (entry.value.isSimpleAnswer()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.messageTooltip' | transloco"
                  icon="chat-left"
                  class="mr-1"
                ></nb-icon>
                } @if (entry.value.isScriptAnswer()) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.scriptTooltip' | transloco"
                  icon="code"
                  class="mr-1"
                ></nb-icon>
                } @if (entry.value.storyType === undefined) {
                <nb-icon
                  [nbTooltip]="'analytics.flow.unknownTypeTooltip' | transloco"
                  icon="question-circle"
                  class="mr-1"
                ></nb-icon>
                }
                {{ entry.value.storyName }}
              </nb-option>
              }
            </nb-select>
            }
          </nb-form-field>
        </div>
        @if (selectedStory) {
        <div class="col-3 mb-2">
          <nb-select
            size="small"
            fullWidth
            [placeholder]="'analytics.flow.directionPlaceholder' | transloco"
            [nbTooltip]="'analytics.flow.directionTooltip' | transloco"
            [(ngModel)]="direction"
            (selectedChange)="update()"
          >
            <nb-option [value]="undefined">{{ 'analytics.flow.directionBothOption' | transloco }}</nb-option>
            <nb-option [value]="-1">{{ 'analytics.flow.directionOutcomingOption' | transloco }}</nb-option>
            <nb-option [value]="1">{{ 'analytics.flow.directionIncomingOption' | transloco }}</nb-option>
          </nb-select>
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="entity"
            (change)="update()"
            [nbTooltip]="'analytics.flow.entityTooltip' | transloco"
            >{{ 'analytics.flow.entityLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="step"
            (change)="update()"
            [nbTooltip]="'analytics.flow.stepTooltip' | transloco"
            >{{ 'analytics.flow.stepLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="intent"
            (change)="update()"
            [nbTooltip]="'analytics.flow.intentTooltip' | transloco"
            >{{ 'analytics.flow.intentLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (!statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="displayDisabled"
            (change)="update()"
            [nbTooltip]="'analytics.flow.displayDisabledTooltip' | transloco"
            >{{ 'analytics.flow.displayDisabledLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="displayTests"
            (change)="reload()"
            [nbTooltip]="'analytics.flow.displayTestsTooltip' | transloco"
            >{{ 'analytics.flow.displayTestsLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="mergeOldStories"
            (change)="update()"
            [nbTooltip]="'analytics.flow.mergeOldStoriesTooltip' | transloco"
            >{{ 'analytics.flow.mergeOldStoriesLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="recursive"
            (change)="update()"
            [nbTooltip]="'analytics.flow.displayRecursiveTransitionsTooltip' | transloco"
            >{{ 'analytics.flow.displayRecursiveTransitionsLabel' | transloco }}</nb-checkbox
          >
        </div>
        }
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="displayNodeType"
            (change)="updateCount()"
            [nbTooltip]="'analytics.flow.displayNodeTypeTooltip' | transloco"
            >{{ 'analytics.flow.displayNodeTypeLabel' | transloco }}</nb-checkbox
          >
        </div>
        @if (statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="displayNodeCount"
            (change)="updateCount()"
            [nbTooltip]="'analytics.flow.displayNodeCountTooltip' | transloco"
            >{{ 'analytics.flow.displayNodeCountLabel' | transloco }}</nb-checkbox
          >
        </div>
        } @if (!statsMode) {
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="intent"
            (change)="updateCount()"
            [nbTooltip]="'analytics.flow.displayMainIntentsTooltip' | transloco"
            >{{ 'analytics.flow.displayMainIntentsLabel' | transloco }}</nb-checkbox
          >
        </div>
        }
        <div class="col-3 mb-2 pt-1">
          <nb-checkbox
            [(ngModel)]="displayDebug"
            [nbTooltip]="'analytics.flow.displayDebugStatsTooltip' | transloco"
            >{{ 'analytics.flow.displayDebugStatsLabel' | transloco }}</nb-checkbox
          >
        </div>
        @if (displayDebug) {
        <div class="col-6 mb-2 pt-1">
          @if (nodesById || storiesById) {
          <span> {{ 'analytics.flow.totalStoriesLabel' | transloco: { count: statsMode ? nodesById.size : storiesById.size } }} | </span>
          } @if (nodesById || storiesById) {
          <span> {{ 'analytics.flow.filteredStoriesLabel' | transloco: { count: allNodes.length } }} | </span>
          } @if (allTransitionsSize) {
          <span>
            {{ 'analytics.flow.filteredTransitionsLabel' | transloco: { count: allTransitionsSize } }}
          </span>
          }
        </div>
        }
      </div>
    </div>
    }
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="p-0 position-relative">
    @if (forceData && layout?.name === 'Force-based') {
    <div>
      <div
        echarts
        [options]="forceData"
        class="canvas"
        (chartClick)="onEchartsGraphClick($event)"
        (click)="unselect()"
      ></div>
    </div>
    } @if (circularData && layout?.name === 'Circular') {
    <div>
      <div
        echarts
        [options]="circularData"
        class="canvas"
        (chartClick)="onEchartsGraphClick($event)"
        (click)="unselect()"
      ></div>
    </div>
    } @if (sankeyData && layout?.name === 'Sankey') {
    <div>
      @if (!statsMode) {
      <div class="text-center text-warning p-5">
        {{ 'analytics.flow.sankeyWarning' | transloco }}
      </div>
      } @if (statsMode) {
      <div
        echarts
        [options]="sankeyData"
        class="canvas"
      ></div>
      }
    </div>
    } @if (selectedNode) {
    <div
      [@inOutRightAnimation]
      class="right-panel scrollable"
    >
      <tock-story
        [storyNode]="selectedNode"
        [botId]="state.currentApplication.name"
        [displayCount]="statsMode"
        (closeStory)="unselect()"
      ></tock-story>
    </div>
    }
  </nb-card-body>
</nb-card>
