<div class="production-wrapper d-flex align-items-stretch">
  <div class="production-menu p-3">
    <div class="intents-wrapper">
      <strong>Intents</strong>
      <div class="intents-list mt-2">
        <div
          class="intent d-flex my-1 unselectable"
          *ngFor="let intent of getScenarioIntentDefinitions()"
          [ngClass]="{ disabled: !isIntentDraggable(intent) }"
          [nbTooltip]="getIntentTooltip(intent)"
          [dndDraggable]="{ type: 'intent', name: intent.name }"
          [dndType]="getDraggableIntentType(intent)"
          dndHandle
          [dndDisableIf]="!isIntentDraggable(intent)"
        >
          <nb-icon
            *ngIf="intent.primary"
            icon="award-outline"
            class="valign-middle mr-1"
            style="margin-left: -5px; height: 1em"
          ></nb-icon>
          <div class="ellipsis">
            {{ intent.name }}
          </div>
        </div>
      </div>
    </div>

    <hr class="menu-separator mb-2" />

    <div class="actions-wrapper">
      <strong>Actions</strong>
      <div class="actions-list mt-2">
        <div
          class="action p-2 my-1 unselectable"
          *ngFor="let action of getScenarioActionDefinitions()"
          [ngClass]="{ disabled: isActionInUse(action) }"
          [nbTooltip]="getActionTooltip(action)"
          [dndDraggable]="{ type: 'action', name: action.name }"
          dndHandle
          dndType="action"
          [dndDisableIf]="isActionInUse(action)"
        >
          <div class="ellipsis">{{ action.name }}</div>
        </div>
      </div>
    </div>

    <hr class="menu-separator mb-2" />

    <button
      (click)="displayStateMachineCode()"
      fullWidth
      nbButton
      size="tiny"
      status="primary"
      class="mt-1"
    >
      Display state machine code
    </button>
    <button
      (click)="resetStateMachine()"
      fullWidth
      nbButton
      size="tiny"
      status="warning"
      class="mt-1"
    >
      Reset state machine
    </button>
  </div>

  <div
    class="production-canvas-wrapper flex-fill"
    #canvasWrapperElem
    appMouseWheelListner
    (onMouseWheel)="mouseWheel($event)"
    (mousedown)="onMouseDownCanvas($event)"
    (mouseup)="onMouseUpCanvas($event)"
    (mousemove)="onMouseMoveCanvas($event)"
  >
    <div
      class="production-canvas"
      #canvasElem
    >
      <scenario-state-group
        [state]="scenario.data.stateMachine.states.Global"
        [stateMachine]="scenario.data.stateMachine"
        [usedNames]="collectAllUsedNames()"
        [intents]="getScenarioIntentDefinitions()"
        [actions]="getScenarioActionDefinitions()"
      ></scenario-state-group>

      <ng-container *ngFor="let handler of pathHandlers">
        <div
          class="pathHandler"
          [ngStyle]="{ 'top.px': handler.transStartTop, 'left.px': handler.transStartLeft }"
          [dndDraggable]="{
            type: 'transitionSource',
            source: handler.transitionSource,
            name: handler.transitionName
          }"
          (mousedown)="preventDefault($event)"
          nbTooltip="Drag to the state to which this transition should be attached"
        >
          <nb-icon icon="arrow-circle-left-outline"></nb-icon>
        </div>
        <div
          class="pathHandler"
          [ngStyle]="{ 'top.px': handler.endTop, 'left.px': handler.endLeft }"
          [dndDraggable]="{
            type: 'transitionTarget',
            source: handler.transitionSource,
            name: handler.transitionName
          }"
          (mousedown)="preventDefault($event)"
          nbTooltip="Drag to the state to which you want to direct this transition"
        >
          <nb-icon icon="arrow-circle-right-outline"></nb-icon>
        </div>
      </ng-container>
    </div>
  </div>
</div>
