<nb-card
  class="mt-2"
  [nbSpinner]="loading"
>
  <nb-card-header class="position-relative">
    {{ 'bot.story-runtime-settings.title' | transloco }} <span class="font-weight-normal">({{ taggedStoriesCount }})</span>
    <button
      nbButton
      ghost
      shape="round"
      type="button"
      class="ml-3"
      [nbTooltip]="'bot.story-runtime-settings.refreshTooltip' | transloco"
      (click)="refresh()"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>
    <tock-info-button
      message="Stories configured by tags."
      url="http://doc.tock.ai/"
    ></tock-info-button>
  </nb-card-header>

  <nb-card-body>
    <div class="d-flex gap-1 justify-content-between border-bottom pb-2 mb-3">
      <label class="font-weight-bold w-50">
        {{ 'bot.story-runtime-settings.disableStoriesLabel' | transloco }}
        <tock-info-button
          [message]="'bot.story-runtime-settings.disableStoriesTooltip' | transloco"
          position="inline"
        ></tock-info-button>
      </label>

      <div class="w-50">
        @if (!disableStories?.length) {
        <div class="text-muted font-italic">
          {{ 'bot.story-runtime-settings.noneLabel' | transloco }}
        </div>
        } @if (disableStories?.length > 0) {
        <div>
          @for (story of disableStories; track story) {
          <div>
            <span
              (click)="editStory(story)"
              class="pointer"
              [nbTooltip]="'bot.story-runtime-settings.clickToViewStoryDetailsTooltip' | transloco"
            >
              <nb-icon
                [icon]="getStoryIcon(story)"
                class="align-middle"
              ></nb-icon>
              {{ story.name }}
            </span>
          </div>
          }
        </div>
        }
      </div>
    </div>

    <div class="d-flex gap-1 justify-content-between border-bottom pb-2 mb-3">
      <label class="font-weight-bold w-50">
        {{ 'bot.story-runtime-settings.enableStoriesLabel' | transloco }}
        <tock-info-button
          [message]="'bot.story-runtime-settings.enableStoriesTooltip' | transloco"
          position="inline"
        ></tock-info-button>
      </label>

      <div class="w-50">
        @if (!enableStories?.length) {
        <div class="text-muted font-italic">
          {{ 'bot.story-runtime-settings.noneLabel' | transloco }}
        </div>
        } @if (enableStories?.length > 0) {
        <div>
          @for (story of enableStories; track story) {
          <div>
            <span
              (click)="editStory(story)"
              class="pointer"
              [nbTooltip]="'bot.story-runtime-settings.clickToViewStoryDetailsTooltip' | transloco"
            >
              <nb-icon
                [icon]="getStoryIcon(story)"
                class="align-middle"
              ></nb-icon>
              {{ story.name }}
            </span>
          </div>
          }
        </div>
        }
      </div>
    </div>

    <div class="d-flex gap-1 justify-content-between border-bottom pb-2 mb-3">
      <label class="font-weight-bold w-50">
        {{ 'bot.story-runtime-settings.checkOnlySubEntitiesLabel' | transloco }}
        <tock-info-button
          [message]="'bot.story-runtime-settings.checkOnlySubEntitiesTooltip' | transloco"
          position="inline"
        ></tock-info-button>
      </label>

      <div class="w-50">
        @if (!checkOnlySubEntitiesForStorySelection?.length) {
        <div class="text-muted font-italic">
          {{ 'bot.story-runtime-settings.noneLabel' | transloco }}
        </div>
        } @if (checkOnlySubEntitiesForStorySelection?.length > 0) {
        <div>
          @for (story of checkOnlySubEntitiesForStorySelection; track story) {
          <div>
            <span
              (click)="editStory(story)"
              class="pointer"
              [nbTooltip]="'bot.story-runtime-settings.clickToViewStoryDetailsTooltip' | transloco"
            >
              <nb-icon
                [icon]="getStoryIcon(story)"
                class="align-middle"
              ></nb-icon>
              {{ story.name }}
            </span>
          </div>
          }
        </div>
        }
      </div>
    </div>

    <div class="d-flex gap-1 justify-content-between">
      <label class="font-weight-bold w-50">
        {{ 'bot.story-runtime-settings.checkSubEntitiesOnlyWithStoryIntentsLabel' | transloco }}
        <tock-info-button
          [message]="'bot.story-runtime-settings.checkSubEntitiesOnlyWithStoryIntentsTooltip' | transloco"
          position="inline"
        ></tock-info-button>
      </label>

      <div class="w-50">
        @if (!checkSubEntitiesOnlyWithStoryIntents?.length) {
        <div class="text-muted font-italic">
          {{ 'bot.story-runtime-settings.noneLabel' | transloco }}
        </div>
        } @if (checkSubEntitiesOnlyWithStoryIntents?.length > 0) {
        <div>
          @for (story of checkSubEntitiesOnlyWithStoryIntents; track story) {
          <div>
            <span
              (click)="editStory(story)"
              class="pointer"
              [nbTooltip]="'bot.story-runtime-settings.clickToViewStoryDetailsTooltip' | transloco"
            >
              <nb-icon
                [icon]="getStoryIcon(story)"
                class="align-middle"
              ></nb-icon>
              {{ story.name }}
            </span>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </nb-card-body>
</nb-card>
