@if (configurations && configurations.length === 0) {
<div>{{ 'common.messages.noBotConfiguration' | transloco }}&nbsp;</div>
} @if (configurations && configurations.length !== 0) {
<div
  class="gap-1"
  [ngClass]="{ 'd-flex': displayConnectorChoice && currentBotName !== 'None' }"
>
  @if (botNames && (allowNoSelection || botNames.length > 1)) {
  <span class="select-configuration w-50 lineHeight-1">
    <nb-form-field [nbTooltip]="'shared.select-bot.selectConfigurationTooltip' | transloco">
      <nb-icon
        nbPrefix
        icon="link-45deg"
      ></nb-icon>
      <nb-select
        (selectedChange)="changeBotName()"
        [size]="size"
        [placeholder]="'shared.select-bot.selectConfigurationPlaceholder' | transloco"
        [(ngModel)]="currentBotName"
        class="select-width"
        fullWidth
        [disabled]="disabled"
      >
        @if (allowNoSelection) {
        <nb-option value="None">{{ noConfigurationLabel }}</nb-option>
        } @for (n of botNames; track n) {
        <nb-option [value]="n">{{ n }}</nb-option>
        }
      </nb-select>
    </nb-form-field>
  </span>
  } @if (displayConnectorChoice && currentBotName !== 'None') {
  <span
    class="select-configuration lineHeight-1"
    [class.w-50]="botNames && (allowNoSelection || botNames.length > 1)"
  >
    <nb-form-field [nbTooltip]="'shared.select-bot.selectConnectorTooltip' | transloco">
      <nb-icon
        nbPrefix
        icon="plug"
      ></nb-icon>
      <nb-select
        (selectedChange)="changeConnectorType()"
        [size]="size"
        [placeholder]="'shared.select-bot.selectConnectorPlaceholder' | transloco"
        [(ngModel)]="currentConfiguration"
        class="select-width"
        fullWidth
        [disabled]="disabled"
      >
        @if (allowNoConfigurationSelection) {
        <nb-option value="">{{ noConnectorLabel }}</nb-option>
        } @for (c of currentConfigurations; track c) {
        <nb-option [value]="c">
          <img
            src="{{ c.connectorType.iconUrl() }}"
            class="connector-icon"
          />
          {{ c.connectorType.label() }} ( {{ c.applicationId }})</nb-option
        >
        }
      </nb-select>
    </nb-form-field>
  </span>
  }
  <ng-content></ng-content>
</div>
}
