<button
  outline
  nbButton
  [status]="disabledOrModified() ? 'disabled' : 'basic'"
  size="small"
  [disabled]="disabledOrModified()"
  [title]="'shared.date-range.title' | transloco: { start: range.start, end: range.end }"
  [nbPopover]="templateRef"
  nbPopoverPlacement="bottom"
  nbPopoverTrigger="click"
>
  {{ range.start | date }} - {{ range.end | date }}
</button>

<ng-template #templateRef>
  @if (!disabled) {
  <nb-card
    accent="info"
    class="calendar-panel"
  >
    <nb-card-body class="calendar-body">
      <div class="calendar-shortcuts">
        <button
          nbButton
          size="small"
          [status]="getStatus(1)"
          (click)="setRangeInDays(1)"
        >
          {{ 'shared.date-range.shortcuts.yesterday' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(0)"
          (click)="setRangeInDays(0)"
        >
          {{ 'shared.date-range.shortcuts.today' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(7)"
          (click)="setRangeInDays(7)"
        >
          {{ 'shared.date-range.shortcuts.last7Days' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(14)"
          (click)="setRangeInDays(14)"
        >
          {{ 'shared.date-range.shortcuts.last14Days' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(30)"
          (click)="setRangeInDays(30)"
        >
          {{ 'shared.date-range.shortcuts.last30Days' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(90)"
          (click)="setRangeInDays(90)"
        >
          {{ 'shared.date-range.shortcuts.last90Days' | transloco }}
        </button>
        <button
          nbButton
          size="small"
          [status]="getStatus(180)"
          (click)="setRangeInDays(180)"
        >
          {{ 'shared.date-range.shortcuts.last180Days' | transloco }}
        </button>
      </div>
      <nb-calendar-range [(range)]="range"></nb-calendar-range>
    </nb-card-body>
    <nb-card-footer class="calendar-controls">
      <button
        nbButton
        size="small"
        status="primary"
        (click)="update()"
      >
        {{ 'shared.date-range.update' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
  }
</ng-template>
