<div class="d-flex flex-wrap align-items-center">
  <h1 class="flex-grow-1">
    {{ 'analytics.dialogs.title' | transloco }}
    @if (count) {
    <span class="font-weight-normal">({{ count }})</span>
    }
  </h1>

  <div class="d-flex">
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.refresh-dialogs' | transloco"
      (click)="refresh()"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>
  </div>
</div>

<tock-dialogs-list #dialogsList></tock-dialogs-list>

<tock-scroll-top-button></tock-scroll-top-button>
