<nb-card class="main-card">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ indicatorLabel }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'metrics.metrics-indicator-details.close_tooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <div class="stats-line d-flex justify-content-between gap-2 py-2 font-weight-bold">
      <div
        class="pointer"
        (click)="sortBy(SortingCriteria.name)"
      >
        {{ 'metrics.metrics-indicator-details.indicator_value_name_label' | transloco }}
        @if (sortCriteria === SortingCriteria.name && sortDirection) {
        <nb-icon
          icon="chevron-down-outline"
          pack="nebular-essentials"
        ></nb-icon>
        } @if (sortCriteria === SortingCriteria.name && !sortDirection) {
        <nb-icon
          icon="chevron-up-outline"
          pack="nebular-essentials"
        ></nb-icon>
        }
      </div>

      <div
        class="pointer"
        (click)="sortBy(SortingCriteria.count)"
      >
        {{ 'metrics.metrics-indicator-details.hits_label' | transloco }}
        @if (sortCriteria === SortingCriteria.count && sortDirection) {
        <nb-icon
          icon="chevron-down-outline"
          pack="nebular-essentials"
        ></nb-icon>
        } @if (sortCriteria === SortingCriteria.count && !sortDirection) {
        <nb-icon
          icon="chevron-up-outline"
          pack="nebular-essentials"
        ></nb-icon>
        }
      </div>
    </div>

    @for (metric of metrics; track metric) {
    <div class="stats-line d-flex justify-content-between gap-2 py-2">
      <div>{{ getIndicatorValueLabel(metric.row.indicatorValueName) }}</div>
      <div>{{ metric.count }}</div>
    </div>
    }

    <div class="d-flex justify-content-between gap-2 py-2 font-weight-bold">
      <div>{{ 'metrics.metrics-indicator-details.total_label' | transloco }}</div>
      <div>{{ getSum() }}</div>
    </div>
  </nb-card-body>
</nb-card>
