<h1>{{ 'metrics.metrics-board.title' | transloco }}</h1>

@if (configurations?.length === 0) {
<tock-no-data-found [title]="'metrics.metrics-board.no_bot_configuration_detected' | transloco"></tock-no-data-found>
} @if (configurations?.length > 0) {
<nb-card [nbSpinner]="loading">
  <nb-card-header>
    <div class="d-flex gap-1">
      <div class="row">
        <div class="col-12 col-xl-6">
          <nb-form-field class="mb-2">
            <nb-icon
              nbPrefix
              icon="calendar-plus"
            ></nb-icon>
            <input
              nbInput
              fullWidth
              [placeholder]="'metrics.metrics-board.from_date_placeholder' | transloco"
              [nbTooltip]="'metrics.metrics-board.from_date_tooltip' | transloco"
              [nbDatepicker]="from_date"
              [ngModel]="range().start"
              (ngModelChange)="updateStart($event)"
            />
          </nb-form-field>
          <nb-date-timepicker
            #from_date
            [max]="max"
            [showCurrentTimeButton]="false"
            [step]="10"
            singleColumn
            format="y/MM/dd HH:mm"
          ></nb-date-timepicker>
        </div>
        <div class="col-12 col-xl-6">
          <nb-form-field class="mb-2">
            <nb-icon
              nbPrefix
              icon="calendar-minus"
            ></nb-icon>
            <input
              nbInput
              fullWidth
              [placeholder]="'metrics.metrics-board.to_date_placeholder' | transloco"
              [nbTooltip]="'metrics.metrics-board.to_date_tooltip' | transloco"
              [nbDatepicker]="to_date"
              [ngModel]="range().end"
              (ngModelChange)="updateEnd($event)"
            />
          </nb-form-field>
          <nb-date-timepicker
            #to_date
            [min]="min"
            [showCurrentTimeButton]="false"
            [step]="10"
            singleColumn
            format="y/MM/dd HH:mm"
          ></nb-date-timepicker>
        </div>
      </div>
      <div class="d-flex flex-wrap align-items-start">
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_3_days_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.threeDays)"
        >
          3d
        </button>
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_7_days_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.week)"
        >
          7d
        </button>
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_month_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.month)"
        >
          1m
        </button>
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_3_months_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.quarter)"
        >
          3m
        </button>
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_6_months_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.halfYear)"
        >
          6m
        </button>
        <button
          nbButton
          ghost
          status="info"
          [nbTooltip]="'metrics.metrics-board.last_year_tooltip' | transloco"
          (click)="setTimeRange(timeRanges.year)"
        >
          1y
        </button>
      </div>
    </div>
    <nb-checkbox
      [nbTooltip]="'metrics.metrics-board.display_tests_tooltip' | transloco"
      class="text-nowrap"
      [checked]="displayTests"
      (checkedChange)="onToggleDisplayTests()"
    >
      {{ 'metrics.metrics-board.display_tests_label' | transloco }}
    </nb-checkbox>
  </nb-card-header>
  <nb-card-body class="main-card-body">
    <div class="row mt-0">
      <div class="col-12 mb-3">
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          <strong>&nbsp;</strong>
          <div class="d-flex">
            <span class="stats-value">{{ 'metrics.metrics-board.end_user_label' | transloco }}</span>
            @if (displayTests) {
            <span class="stats-value test">
              {{ 'metrics.metrics-board.tests_label' | transloco }}
            </span>
            }
          </div>
        </div>
        <h6 class="mt-3 mb-2">{{ 'metrics.metrics-board.bot_global_activity_title' | transloco }}</h6>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.total_user_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value"
              ><strong>{{ dialogStats?.prod?.allUserActions || 0 }}</strong></span
            >
            @if (displayTests) {
            <span class="stats-value test">
              <strong>{{ dialogStats?.test?.allUserActions || 0 }}</strong>
            </span>
            }
          </div>
        </div>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.unknown_user_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value"
              ><strong>{{ dialogStats?.prod?.unknownIntentUserActions || 0 }}</strong></span
            >
            @if (displayTests) {
            <span class="stats-value test">
              <strong>{{ dialogStats?.test?.unknownIntentUserActions || 0 }}</strong>
            </span>
            }
          </div>
        </div>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          <div>
            {{ 'common.feedback.positive' | transloco }}
            <nb-icon
              icon="hand-thumbs-up-fill"
              class="text-success font-size-small mt-2"
            ></nb-icon>
          </div>
          <div class="d-flex">
            <span class="stats-value">{{ dialogStats?.prod?.allFeedbackUp || 0 }}</span>
            @if (displayTests) {
            <span class="stats-value test">
              {{ dialogStats?.test?.allFeedbackUp || 0 }}
            </span>
            }
          </div>
        </div>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          <div>
            {{ 'common.feedback.negative' | transloco }}
            <nb-icon
              icon="hand-thumbs-down-fill"
              class="text-danger font-size-small mt-2"
            ></nb-icon>
          </div>
          <div class="d-flex">
            <span class="stats-value">{{ dialogStats?.prod?.allFeedbackDown || 0 }}</span>
            @if (displayTests) {
            <span class="stats-value test">
              {{ dialogStats?.test?.allFeedbackDown || 0 }}
            </span>
            }
          </div>
        </div>
        <h6 class="mt-3 mb-2">{{ 'metrics.metrics-board.bot_nlp_statistics_title' | transloco }}</h6>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.total_nlp_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value"
              ><strong>{{ dialogStats?.prod?.allUserActionsExceptRag || 0 }}</strong></span
            >
            @if (displayTests) {
            <span class="stats-value test">
              <strong>{{ dialogStats?.test?.allUserActionsExceptRag || 0 }}</strong>
            </span>
            }
          </div>
        </div>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.known_intent_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value">{{ dialogStats?.prod?.knownIntentUserActions || 0 }}</span>
            @if (displayTests) {
            <span class="stats-value test">
              {{ dialogStats?.test?.knownIntentUserActions || 0 }}
            </span>
            }
          </div>
        </div>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.unknown_classified_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value">{{ dialogStats?.prod?.unknownIntentUserActionsExceptRag || 0 }}</span>
            @if (displayTests) {
            <span class="stats-value test">
              {{ dialogStats?.test?.unknownIntentUserActionsExceptRag || 0 }}
            </span>
            }
          </div>
        </div>
        <h6 class="mt-3 mb-2">{{ 'metrics.metrics-board.gen_ai_rag_statistics_title' | transloco }}</h6>
        <div class="stats-line d-flex justify-content-between gap-1 py-2">
          {{ 'metrics.metrics-board.total_rag_messages_label' | transloco }}
          <div class="d-flex">
            <span class="stats-value"
              ><strong>{{ dialogStats?.prod?.allUserRagActions || 0 }}</strong></span
            >
            @if (displayTests) {
            <span class="stats-value test">
              <strong>{{ dialogStats?.test?.allUserRagActions || 0 }}</strong>
            </span>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div
        class="col-12 col-xl-6"
        [ngClass]="{ 'force-col-12': doesStoriesHitsExceed(24) }"
      >
        <h6>{{ 'metrics.metrics-board.number_of_user_messages_title' | transloco }}</h6>
        @if (messagesChartOptions) {
        <div
          echarts
          [options]="messagesChartOptions"
          class="messages-height"
          [ngClass]="{ 'height-250': doesStoriesHitsExceed(24) }"
        ></div>
        }
      </div>
      <div
        class="col-12 col-xl-6"
        [ngClass]="{ 'force-col-12': doesStoriesHitsExceed(24) }"
      >
        <div class="row mb-3">
          <div class="col-6">
            <h6>{{ 'metrics.metrics-board.distribution_of_stories_title' | transloco }}</h6>
          </div>
          @if (indicatorsDimensions.length) {
          <div class="col-6 text-right">
            @if (indicators) {
            <nb-select
              [nbTooltip]="'metrics.metrics-board.filter_stories_tooltip' | transloco"
              [placeholder]="'metrics.metrics-board.filters_placeholder' | transloco"
              size="small"
              class="full-width"
              multiple
              [(ngModel)]="selectedStoriesFilters"
              (selectedChange)="storiesFilterSelected()"
              [compareWith]="matchStoriesFilters"
            >
              <nb-option [value]="{ type: storiesFilterType.metricsStories }">
                {{ 'metrics.metrics-board.show_metrics_stories_option' | transloco }}
              </nb-option>
              <nb-option-group [title]="'metrics.metrics-board.stories_types_title' | transloco">
                @for (filter of storiesFilters; track filter) { @if (filter.type === storiesFilterType.currentType) {
                <nb-option [value]="filter">
                  {{ filter.value }}
                </nb-option>
                } }
              </nb-option-group>
              <nb-option-group [title]="'metrics.metrics-board.stories_categories_title' | transloco">
                @for (filter of storiesFilters; track filter) { @if (filter.type === storiesFilterType.category) {
                <nb-option [value]="filter">
                  {{ filter.value }}
                </nb-option>
                } }
              </nb-option-group>
            </nb-select>
            }
          </div>
          }
        </div>
        <div
          echarts
          [options]="storiesChart"
          (chartClick)="onStoriesChartClick($event)"
        ></div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="row mb-3">
          <div class="col-6">
            <h6>Indicators</h6>
          </div>
          @if (indicatorsDimensions.length) {
          <div class="col-6 text-right">
            @if (indicators) {
            <nb-form-field class="d-inline-flex">
              <nb-icon
                nbPrefix
                icon="sign-merge-left"
              ></nb-icon>
              <nb-select
                [nbTooltip]="'metrics.metrics-board.select_dimension_tooltip' | transloco"
                [placeholder]="'metrics.metrics-board.select_dimension_placeholder' | transloco"
                size="small"
                (selectedChange)="dimensionSelected($event)"
                [(ngModel)]="currentDimension"
              >
                @for (dimension of indicatorsDimensions; track dimension) {
                <nb-option [value]="dimension">
                  {{ dimension }}
                </nb-option>
                }
              </nb-select>
            </nb-form-field>
            }
          </div>
          }
        </div>
        @if (!indicatorsDimensions.length) {
        <div class="text-muted font-italic">
          {{ 'metrics.metrics-board.no_indicator_defined' | transloco }}
        </div>
        }
        <div class="row">
          @for (chart of currentDimensionCharts; track chart) {
          <div class="col-12 col-md-6">
            <div class="dimension-chart">
              <div class="row">
                <div class="col-8 initial-capitalize">
                  <strong>{{ chart.name }}</strong>
                </div>
                <div class="col-4 text-right">
                  @if (chart.indicatorType === indicatorType.CUSTOM) {
                  <button
                    nbButton
                    ghost
                    size="tiny"
                    [nbTooltip]="'metrics.metrics-board.display_indicator_metrics_by_story_tooltip' | transloco"
                    (click)="loadIndicatorMetrics($any(chart).indicatorName)"
                  >
                    {{ 'metrics.metrics-board.detail_by_stories_button' | transloco }}
                  </button>
                  } @if (chart.indicatorType === indicatorType.PREDEFINED) {
                  <button
                    nbButton
                    ghost
                    size="tiny"
                    [nbTooltip]="'metrics.metrics-board.display_indicator_metrics_detail_tooltip' | transloco"
                    (click)="displayPredefinedIndicatorMetrics($any(chart).indicatorName)"
                  >
                    {{ 'metrics.metrics-board.metric_details_button' | transloco }}
                  </button>
                  }
                </div>
              </div>
              <div
                echarts
                [options]="chart"
              ></div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
}

<tock-scroll-top-button></tock-scroll-top-button>
