<form [formGroup]="newFaqForm" class="h-100 d-flex justify-content-start flex-column flex-nowrap align-items-stretch">
  <div [ngClass]="(tabName === 'Info') ? 'tock--active' : 'tock--hidden'">
    <div class="tock-field mb-3">
      <label class="d-block mb-1"> Name <span class="text-muted">(*)</span></label>
      <input nbInput fieldSize="small" class="d-block w-100" formControlName="name"
             placeholder="Heptadecagon question" type="text"/>
    </div>
    <div class="tock-field d-flex h-25 flex-column mb-3 ">
      <label class="d-block mb-1"> Description</label>

      <textarea nbInput
                class="d-block w-100 col"
                fieldSize="small"
                formControlName="description"
                placeholder="Knowing more about what a heptadecagon specifically is"></textarea>
    </div>

    <div class="tock-field mb-3">
      <label class="d-block mb-1"> Tags</label>
      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
        <input type="text" placeholder="Polygon" nbTagInput (tagAdd)="onTagAdd($event)" (keydown.enter)="handleKeyEnter($event)"
               fullWidth>
      </nb-tag-list>
    </div>
  </div>
  <div [ngClass]="(tabName === 'Answer') ? 'tock--active' : 'tock--hidden'">
    <div class="tock-field d-flex h-75 flex-column mb-3 ">
      <textarea nbInput
                class="d-block w-100 col m-auto"
                fieldSize="small"
                formControlName="answer"
                placeholder="A heptadecagon or septadecagon or 17-gon is a shape with 17 sides and 17 corners."></textarea>
    </div>
  </div>
  <div [ngClass]="(tabName === 'Question') ? 'tock--active' : 'tock--hidden'">

    <div class="mb-1 w-100 d-flex justify-content-between p-1">
      <nb-form-field [ngClass]="['w-100', 'd-flex']">
        <div class="tock-search-icon nb-form-field-addon nb-form-field-prefix-small nb-form-field-addon-basic">
          <nb-icon nbPrefix pack="material-icons" icon="search"></nb-icon>
        </div>
        <div class="nb-form-control-container nb-form-field-control-with-prefix tock-search-bar">
          <input type="text"
                 value=""
                 placeholder="Search"
                 (keyup)="utteranceSearchChange($event)"
                 fullWidth fieldSize="small" nbInput />
        </div>
      </nb-form-field>
      <button class="d-inline-block my-0 mx-0 tock-action tock--subtle-hover text-muted"
              (click)="addUtterance()"
              title="Add"
              nbButton size="small" ghost status="secondary">
        <nb-icon icon="plus-outline"></nb-icon>
      </button>
    </div>

    <div class="tock-utterances-wrapper">
      <table class="table table-sm table-bordered table-fixed tock-utterances-table">
        <colgroup>
          <col>
          <col>
        </colgroup>
        <tbody>
        <tr *ngFor="let u of displayedUtterances$ | async">
          <td>
            {{u.value}}
          </td>
          <td>
            <div class="d-flex justify-content-center w-100">
              <button class="d-inline-block my-0 mx-0 px-1 tock-action tock--subtle-hover text-muted"
                      (click)="edit(u)"
                      title="Edit"
                      nbButton size="small" ghost status="secondary">
                <nb-icon icon="edit-outline"></nb-icon>
              </button>

              <button class="d-inline-block my-0 mx-0 px-1  tock-action tock--subtle-hover text-muted"
                      (click)="remove(u)"
                      title="Delete"
                      nbButton size="small" ghost status="secondary">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
