.lastUpdateDate {
  font-style: italic;
}

.lastActionText {
  color: lightseagreen;
}

.select-plan {
  width: 200px;
}

.users {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.dialog {
  text-align: justify;
}

.searchForm {
  text-align: center;
}

.filter {
  width: 80%;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

.test {
  font-size: smaller;
}

.from-date{
  left: 575px;
  position: absolute;
  top: 285px;
  z-index: 1000;
}

.to-date{
  left: 975px;
  position: absolute;
  top: 285px;
  z-index: 1000;
}
