<nb-card status="info">
  <nb-card-header>{{ 'bot.create-entity-dialog.title' | transloco }}</nb-card-header>
  <nb-card-body class="content">
    <p
      *ngIf="error"
      class="error"
    >
      {{ error }}
    </p>

    <p>
      <label>{{ 'bot.create-entity-dialog.selectExistingEntityLabel' | transloco }}</label
      ><br />

      <ng-container *ngIf="entityTypes">
        <span
          *ngFor="let e of entityTypes"
          [nbTooltip]="'bot.create-entity-dialog.selectEntityTooltip' | transloco: { entityName: e.qualifiedName(state.user) }"
          (click)="onSelect(e)"
          class="tag"
          [style.background-color]="e === entityType ? '' : e.qualifiedEntityColor(state.user)"
        >
          {{ e.qualifiedName(state.user) }}
        </span>
      </ng-container>
    </p>

    <div class="form-group">
      <span>{{ 'bot.create-entity-dialog.orCreateLabel' | transloco }}</span>
      <input
        nbInput
        [placeholder]="'bot.create-entity-dialog.entityTypePlaceholder' | transloco"
        [(ngModel)]="type"
        (keyup)="onTypeKeyUp($event)"
      />
    </div>
    <div class="form-group">
      <label>{{ 'bot.create-entity-dialog.roleLabel' | transloco }}</label>
      <input
        nbInput
        [placeholder]="'bot.create-entity-dialog.rolePlaceholder' | transloco"
        [(ngModel)]="role"
        (keyup)="onRoleKeyUp($event)"
      />
    </div>
  </nb-card-body>
  <nb-card-footer class="footer">
    <button
      nbButton
      size="small"
      (click)="dialogRef.close('cancel')"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      nbButton
      size="small"
      class="submit-button"
      status="success"
      (click)="save()"
    >
      {{ 'common.actions.add' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
