<div [ngClass]="{ 'px-3': !readOnly }">
  <div
    class="tokens-container-wrapper"
    [ngClass]="{ fontSmall: fontsize === 'small' }"
  >
    <div
      class="tokens-container"
      #tokensContainer
    >
      <tock-token-view
        *ngFor="let token of tokens"
        [token]="token"
        [readOnly]="readOnly"
        (deleteTokenEntity)="deleteTokenEntity($event)"
      ></tock-token-view>
    </div>
  </div>

  <div
    *ngIf="selection"
    class="my-3"
  >
    <div class="text-muted font-size-small">
      {{ 'shared.sentence-training-sentence.assign-entity-to' | transloco }} <strong>"{{ getSelectionText() }}"</strong> :
    </div>
    <div
      *ngFor="let entity of getAssignableEntities()"
      class="token-selector pointer"
      [style.background-color]="entity.entityColor"
      [style.color]="getContrastYIQ(entity.entityColor)"
      [nbTooltip]="'shared.sentence-training-sentence.assign-entity-tooltip' | transloco: { entityName: entity.qualifiedName(state.user) }"
      (click)="assignEntity(entity)"
    >
      {{ entity.qualifiedName(state.user) }}
    </div>

    <button
      nbButton
      ghost
      size="small"
      (click)="createEntity()"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'shared.sentence-training-sentence.add-entity' | transloco }}
    </button>
  </div>
</div>
