@if (stories?.length) {
<div class="table-list table-list-header">
  <div class="table-list-entry">{{ 'bot.stories-list.storyHeader' | transloco }}</div>
  <div class="table-list-entry bordered text-center">{{ 'bot.stories-list.mainIntentHeader' | transloco }}</div>
  <div class="table-list-entry bordered text-center">{{ 'bot.stories-list.infosHeader' | transloco }}</div>
  <div class="table-list-entry bordered text-center">{{ 'bot.stories-list.lastEditedHeader' | transloco }}</div>
  <div class="table-list-entry text-center">{{ 'bot.stories-list.actionsHeader' | transloco }}</div>
</div>
} @for (story of stories; track story) {
<div class="table-list">
  <div class="table-list-entry">
    <div
      class="font-weight-bold ellipsis"
      [nbTooltip]="story.name"
    >
      @if (story.isBuiltIn()) {
      <nb-icon
        class="align-middle mr-2"
        [nbTooltip]="'common.storyTypes.builtIn' | transloco"
        icon="box"
      ></nb-icon>
      } @if (story.isSimpleNonFaqAnswer()) {
      <nb-icon
        class="align-middle mr-2"
        [nbTooltip]="'common.storyTypes.message' | transloco"
        icon="chat-left"
      ></nb-icon>
      } @if (story.isSimpleFaqAnswer()) {
      <nb-icon
        class="align-middle mr-2"
        [nbTooltip]="'common.storyTypes.messageFaq' | transloco"
        icon="chat-left-text"
      ></nb-icon>
      } @if (story.isScriptAnswer()) {
      <nb-icon
        class="align-middle mr-2"
        [nbTooltip]="'common.storyTypes.script' | transloco"
        icon="code"
      ></nb-icon>
      }
      {{ story.name }}
    </div>
    <span class="text-muted">{{ story.description }}</span>
  </div>
  <div
    class="table-list-entry bordered text-center ellipsis"
    [nbTooltip]="story.intent.getIntentLabel(state)"
  >
    {{ story.intent.getIntentLabel(state) }}
  </div>
  <div class="table-list-entry bordered text-center">
    <button
      nbButton
      ghost
      shape="round"
      (click)="displayIntentStoryDetails(story.intent)"
      [nbTooltip]="'bot.stories-list.showIntentStoryDetailsTooltip' | transloco"
    >
      <nb-icon icon="book"></nb-icon>
    </button>
  </div>
  <div class="table-list-entry bordered text-center">
    {{ story.lastEdited | date: dateFormat }}
  </div>
  <div class="table-list-entry text-center">
    <div class="d-flex justify-content-center">
      <button
        nbButton
        ghost
        shape="round"
        status="info"
        [nbTooltip]="'bot.stories-list.viewEditStoryTooltip' | transloco"
        (click)="editStory(story)"
      >
        <nb-icon icon="pencil"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.export' | transloco"
        (click)="downloadStory(story)"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        shape="round"
        status="danger"
        [nbTooltip]="'common.actions.delete' | transloco"
        (click)="deleteStory(story)"
      >
        <nb-icon icon="trash"></nb-icon>
      </button>
    </div>
  </div>
</div>
}
