<div class="dialog-summary shadow-sm py-1 pl-3 pr-1 d-flex align-items-center justify-content-between">
  <div class="d-flex gap-1 text-muted font-size-small">
    <div
      class="d-flex align-items-center pr-3 border-right"
      [nbTooltip]="getDialogConfigurationDetail()"
    >
      <img
        src="{{ getDialogConnectorIconUrl() }}"
        class="connector-icon align-text-top mr-2"
      />
      {{ getDialogConnectorLabel() }}
    </div>

    <div
      class="d-flex align-items-center"
      [nbTooltip]="'shared.chat-ui-dialog-evaluator.user_inputs_tooltip' | transloco"
    >
      <nb-icon
        icon="person"
        class="font-size-small mr-1"
      ></nb-icon>
      {{ nbUserQuestions() }}
    </div>
    <div
      class="d-flex align-items-center"
      [nbTooltip]="'shared.chat-ui-dialog-evaluator.bot_responses_tooltip' | transloco"
    >
      <nb-icon
        icon="robot"
        class="font-size-small mr-1"
      ></nb-icon>
      {{ nbBotAnswers() }}
    </div>
    <div
      class="d-flex align-items-center"
      [nbTooltip]="'shared.chat-ui-dialog-evaluator.rag_answers_tooltip' | transloco"
    >
      <nb-icon
        icon="lightbulb"
        class="font-size-small mr-1"
      ></nb-icon>
      {{ nbRagAnswers() }}
    </div>
  </div>

  <div class="d-flex gap-05">
    <a
      nbButton
      ghost
      size="small"
      [nbTooltip]="'shared.chat-ui-dialog-evaluator.open_dialog_tooltip' | transloco"
      href="analytics/dialogs/{{ state.currentApplication.namespace }}/{{ state.currentApplication._id }}/{{ dialog.id }}"
      target="_blank"
    >
      <nb-icon icon="box-arrow-up-right"></nb-icon>
    </a>

    <div
      [nbTooltip]="
        !isVisible
          ? ('shared.chat-ui-dialog-evaluator.evaluation_summary_with_expand'
            | transloco: { evaluated: nbEvaluatedBotAnswers(), total: nbAssessableBotAnswers() })
          : ('shared.chat-ui-dialog-evaluator.evaluation_summary'
            | transloco: { evaluated: nbEvaluatedBotAnswers(), total: nbAssessableBotAnswers() })
      "
      class="m-n1 py-1 px-2 d-flex align-items-center pointer"
      [ngClass]="{
        'bg-warning': isDialogEvaluated() && nbNegativelyEvaluatedBotAnswers() > 0,
        'bg-success': isDialogEvaluated() && nbNegativelyEvaluatedBotAnswers() === 0,
        'text-white': isDialogEvaluated(),
        'background-basic-color-3': !isDialogEvaluated()
      }"
      (click)="switchVisibility()"
    >
      <nb-icon
        icon="check"
        *ngIf="isDialogEvaluated()"
      ></nb-icon>
      <nb-icon
        icon="inbox"
        *ngIf="!isDialogEvaluated()"
      ></nb-icon>
    </div>
  </div>
</div>

<div
  class="pt-3 pl-3 pb-3"
  *ngIf="isVisible"
>
  <ng-container *ngFor="let action of dialog.actions; let first = first">
    <div
      *ngIf="$any(action).message.text || $any(action).message.messages?.length"
      class="dialogs-messages-grid"
      [class.mt-2]="!first && !action.isBot()"
    >
      <div class="flex-grow-1 align-self-center">
        <tock-chat-ui-message
          [message]="action.message"
          [date]="action.date"
          [reply]="action.isBot()"
          [replay]="true"
          [sender]="getUserNameKey(action) | transloco"
          [avatar]="getUserAvatar(action)"
          [applicationId]="action.applicationId"
          [showDebug]="false"
          [replyBgPositive]="action._evaluation?.status === evaluationDirection.UP"
          [replyBgNegative]="action._evaluation?.status === evaluationDirection.DOWN"
          id="action-anchor-{{ action.id }}"
        >
          <div
            *ngIf="action._nlpStats"
            class="d-flex align-items-center justify-content-between font-size-small mt-n2"
          >
            <div
              class="locale-display"
              [nbTooltip]="state.localeName(action._nlpStats.locale)"
            >
              {{ normalizeLocaleCode(action._nlpStats.locale) }}
            </div>
          </div>
        </tock-chat-ui-message>
      </div>

      <div
        class="dialog-vertical-separator"
        [class.horizontal-separation-start]="!action.isBot()"
        [class.horizontal-separation-end]="action.isBotAnswerWithContent()"
      ></div>

      <div>
        <div
          class="pl-1 text-center"
          *ngIf="action.isBotAnswerWithContent()"
        >
          <div class="button-horizontal-separator mb-2"></div>
          <ng-container *ngIf="action._evaluation">
            <button
              *ngIf="canEvaluate && action._evaluation?.status !== evaluationDirection.UP"
              nbButton
              size="small"
              ghost
              shape="round"
              status="success"
              [nbTooltip]="'shared.chat-ui-dialog-evaluator.evaluate_positively_tooltip' | transloco"
              (click)="evaluateActionOk(action)"
              class="mb-1"
            >
              <nb-icon icon="hand-thumbs-up-fill"></nb-icon>
            </button>

            <div
              *ngIf="action._evaluation?.status === evaluationDirection.UP"
              [nbTooltip]="
                'shared.chat-ui-dialog-evaluator.evaluated_positively_by' | transloco: { evaluator: action._evaluation.evaluator?.id }
              "
              nbTooltipStatus="success"
              class="bg-success text-white text-center p-2 rounded-circle"
            >
              <nb-icon
                icon="hand-thumbs-up-fill"
                class="font-size-small mt-n2"
              ></nb-icon>
            </div>

            <div [nbTooltip]="'shared.chat-ui-dialog-evaluator.evaluate_negatively_tooltip' | transloco">
              <button
                nbButton
                size="small"
                ghost
                shape="round"
                status="warning"
                *ngIf="canEvaluate && action._evaluation?.status !== evaluationDirection.DOWN"
                class="mt-1"
                [nbContextMenu]="reasonItems"
                nbContextMenuTag="actionEvaluation_{{ dialog.id }}_{{ action.id }}"
                nbContextMenuTrigger="click"
              >
                <nb-icon icon="hand-thumbs-down-fill"></nb-icon>
              </button>
            </div>

            <div
              [nbTooltip]="
                'shared.chat-ui-dialog-evaluator.evaluated_negatively_by_with_reason'
                  | transloco: { evaluator: action._evaluation.evaluator?.id, reason: getActionEvaluationReason(action) }
              "
              nbTooltipStatus="warning"
              *ngIf="action._evaluation?.status === evaluationDirection.DOWN"
              class="bg-warning text-white text-center p-2 rounded-circle"
            >
              <nb-icon
                icon="hand-thumbs-down-fill"
                class="font-size-small"
              ></nb-icon>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
