.tock-qa-viewport.tock--full_width, .tock-qa-viewport.tock--full_width--small {

  >tock-qa-grid {
    flex: 0 0 100%;
  }

  >.tock-qa-sidebar {
    flex: 0 0 0%;
  }
}


.tock-qa-viewport.tock--docked-panel {

  >tock-qa-grid {
    flex: 1 1 auto;
  }

  >.tock-qa-sidebar {
    flex: 0 0 400px;
  }
}

tock-qa-header.tock--docked {
  display: block;
  width: calc(100% - 440px);
}

.tock-tab {
  background-color: rgba(51, 102, 255, 0.16);
  border-color: #3366ff;
  color: #3366ff;
  padding: 10px 27px;
  margin: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #3366ff;
  cursor: pointer;
  user-select: none;

  &.tock--active {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
  }
}

.tock-form-problems {
  position: absolute;
  user-select: none;
  top: 100px;
  color: orangered;
  right: 12px;

  nb-icon {
    vertical-align: middle;
    user-select: none;
  }
}

.tock-editor-warns>nb-list>nb-list-item {
  color: orangered;
}

