.features-table {
  display: table;
}

.feature {
  width: 100%;
  display: table-row;
  margin-bottom: 20px;
}

.feature-property {
  max-width: 15vw;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-property > div {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-action {
  max-width: 10vw;
  vertical-align: top;
}

.feature-action > button {
  padding: 0;
}

.cell {
  display: table-cell;
  padding: 10px;
}

nb-card-body > div > p {
  font-size: small;
  font-style: italic;
}

.new {
  margin-right: 20px;
}

.first_new {
  margin-top: 20px;
}

.connector {
  height: 24px;
}

