@import url(../../common/_base_faq.scss);

:host {
  flex: 0 0 100%;
}

.tock-robot {
  width: 8%;
  margin-right: 20px;
}

tock-qa-grid-item.tock--selected {
  border-left: 7px solid #3366ff;
  padding-left: 10px
}
