<div class="d-flex flex-wrap">
  <h1 class="flex-grow-1">{{ 'bot.i18n.title' | transloco }}</h1>

  <section class="d-flex flex-wrap align-items-center">
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'bot.i18n.refreshTooltip' | transloco"
      (click)="refresh()"
      class="ml-2"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>
  </section>
</div>

<tock-i18n-filters
  class="d-block mb-1"
  [categories]="allCategories"
  (onSearch)="onSearch($event)"
  (onValidateAll)="onValidateAll()"
  (onTranslate)="onTranslate()"
  (onImport)="onImport()"
  (onExport)="onExport()"
></tock-i18n-filters>

<tock-no-data-found
  *ngIf="!loading && !i18n.length"
  [title]="'bot.i18n.noAnswerFound' | transloco"
></tock-no-data-found>

<tock-no-data-found
  *ngIf="!loading && i18n.length && !filteredI18n.length"
  [title]="'bot.i18n.noAnswerMatchesCriteria' | transloco"
></tock-no-data-found>

<tock-sticky-menu
  [offset]="300"
  *ngIf="!loading && filteredI18n.length"
>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <nb-checkbox
        class="ml-2"
        [(ngModel)]="showEmptyLabels"
        status="info"
        [nbTooltip]="'bot.i18n.displayEmptyLabelsTooltip' | transloco"
        >{{ 'bot.i18n.displayEmptyLabelsTooltip' | transloco }}</nb-checkbox
      >
    </div>
    <tock-pagination
      [pagination]="pagination"
      (onPaginationChange)="paginationChange()"
    ></tock-pagination>
  </div>
</tock-sticky-menu>

<div
  [nbSpinner]="loading"
  class="mt-1"
>
  <ng-container *ngIf="!loading">
    <tock-i18n-label
      *ngFor="let i18nLabel of pagedItems()"
      [i18nLabel]="i18nLabel"
      [deleteLabelAllowed]="isDeleteLabelAllowed()"
      (labelDeleted)="labelDeleted($event)"
      (fillLabels)="fillMissingLabels()"
      [showEmptyLabels]="showEmptyLabels"
    >
    </tock-i18n-label>
  </ng-container>
</div>

<div
  class="d-flex justify-content-between"
  *ngIf="!loading && filteredI18n.length"
>
  &nbsp;
  <tock-pagination
    [pagination]="pagination"
    (onPaginationChange)="paginationChange()"
  ></tock-pagination>
</div>

<tock-scroll-top-button></tock-scroll-top-button>
