<div class="d-flex">
  <h1 class="flex-grow-1 mb-0">{{ 'configuration.vector-db-settings.title' | transloco }}</h1>

  <section class="grid-actions">
    <button
      [disabled]="!hasExportableData"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'configuration.vector-db-settings.exportTooltip' | transloco"
      (click)="exportSettings()"
    >
      <nb-icon icon="download"></nb-icon>
    </button>
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'configuration.vector-db-settings.importTooltip' | transloco"
      (click)="importSettings()"
    >
      <nb-icon icon="upload"></nb-icon>
    </button>

    @if (settingsBackup && form.dirty) {
    <button
      nbButton
      ghost
      status="primary"
      [nbTooltip]="'configuration.vector-db-settings.cancelTooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-circle"></nb-icon>
      {{ 'common.actions.cancel' | transloco }}
    </button>
    } @if (form.dirty) {
    <button
      nbButton
      status="primary"
      [nbTooltip]="'configuration.vector-db-settings.saveTooltip' | transloco"
      (click)="submit()"
    >
      <nb-icon icon="floppy"></nb-icon>
      {{ 'common.actions.save' | transloco }}
    </button>
    }
  </section>
</div>

<small>
  {{ 'configuration.vector-db-settings.description' | transloco }}
  <b
    ><i>{{ state.currentApplication.name }}</i></b
  >.
</small>

@if (configurations?.length === 0) {
<tock-no-data-found [title]="'configuration.vector-db-settings.noBotConfiguration' | transloco"></tock-no-data-found>
} @if (configurations?.length > 0) {
<form [formGroup]="form">
  <nb-card class="mt-2">
    <nb-card-body
      [nbSpinner]="loading"
      class="pb-0"
    >
      <nb-card class="mt-2">
        <nb-card-header>{{ 'configuration.vector-db-settings.vectorDbActivationTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <tock-form-control
            name="enabled"
            [controls]="enabled"
            [showError]="isSubmitted"
            [hasMargin]="false"
          >
            <nb-toggle
              formControlName="enabled"
              class="mt-1"
            >
              @if (enabled.value) {
              <span>{{ 'configuration.vector-db-settings.vectorDbActivated' | transloco }}</span>
              } @if (!enabled.value) {
              <span>{{ 'configuration.vector-db-settings.vectorDbDeactivated' | transloco }}</span>
              }
            </nb-toggle>
          </tock-form-control>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          {{ 'configuration.vector-db-settings.vectorDbProviderTitle' | transloco }} <i>{{ state.currentApplication.name }}</i>
        </nb-card-header>
        <nb-card-body>
          <tock-form-control
            name="vectorDbProvider"
            [controls]="vectorDbProvider"
            [required]="true"
            [showError]="isSubmitted"
          >
            <nb-radio-group
              formControlName="vectorDbProvider"
              name="vectorDbProvider"
              class="d-flex"
            >
              @for (provider of providersConfigurations; track provider) {
              <nb-radio [value]="provider.key">
                {{ provider.label }}
              </nb-radio>
              }
            </nb-radio-group>
          </tock-form-control>
          @if (currentVectorDbProvider) {
          <div class="mt-2 mb-2">
            <div class="row mb-1">
              @for (param of currentVectorDbProvider.params; track param) {
              <div
                class="col-6 px-3"
                [ngClass]="{ 'col-12': param.inputScale === 'fullwidth' }"
              >
                <tock-ai-settings-engine-config-param-input
                  parentGroup="setting"
                  [configurationParam]="param"
                  [form]="form"
                  [isSubmitted]="isSubmitted"
                ></tock-ai-settings-engine-config-param-input>
              </div>
              }
            </div>
          </div>
          }
        </nb-card-body>
      </nb-card>
      @if (settingsBackup) {
      <nb-card>
        <nb-card-header>{{ 'configuration.vector-db-settings.settingsDeletionTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <button
            nbButton
            status="danger"
            [nbTooltip]="'configuration.vector-db-settings.deleteSettingsTooltip' | transloco"
            (click)="confirmSettingsDeletion()"
          >
            <nb-icon icon="trash"></nb-icon>
            {{ 'configuration.vector-db-settings.deleteSettingsButton' | transloco }}
          </button>
        </nb-card-body>
      </nb-card>
      }
    </nb-card-body>
  </nb-card>
</form>
}

<ng-template #exportConfirmationModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'configuration.vector-db-settings.exportConfirmationTitle' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.cancel' | transloco"
        (click)="closeExportConfirmationModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="mb-2">{{ 'configuration.vector-db-settings.includeSensitiveDataLabel' | transloco }}</div>
      @for (sensitiveParam of sensitiveParams; track sensitiveParam) {
      <div>
        <nb-checkbox
          status="basic"
          [(ngModel)]="sensitiveParam.include"
        >
          {{ sensitiveParam.label }}
          {{ sensitiveParam.param.label }}
        </nb-checkbox>
      </div>
      }
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeExportConfirmationModal()"
      >
        {{ 'common.actions.cancel' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="confirmExportSettings()"
      >
        {{ 'configuration.vector-db-settings.exportButton' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #importModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'configuration.vector-db-settings.importModalTitle' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.cancel' | transloco"
        (click)="closeImportModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <form
        [formGroup]="importForm"
        (submit)="submitImportSettings()"
      >
        <tock-form-control
          [label]="'configuration.vector-db-settings.importFileLabel' | transloco"
          name="importFile"
          [required]="true"
          [controls]="fileSource"
          [showError]="isImportSubmitted"
        >
          <tock-file-upload
            id="importFile"
            formControlName="fileSource"
            [autofocus]="true"
            [fullWidth]="true"
            [multiple]="false"
            [fileTypeAccepted]="['json']"
          ></tock-file-upload>
        </tock-form-control>
      </form>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeImportModal()"
      >
        {{ 'common.actions.cancel' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="submitImportSettings()"
      >
        {{ 'configuration.vector-db-settings.importButton' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<tock-scroll-top-button></tock-scroll-top-button>
