<nb-card [nbSpinner]="loading">
  <nb-card-header class="d-flex position-relative">
    {{ 'bot.story-rule.title' | transloco }}

    <tock-info-button [message]="'bot.story-rule.infoMessage' | transloco"></tock-info-button>

    <button
      nbButton
      ghost
      shape="round"
      type="button"
      class="ml-3"
      [nbTooltip]="'bot.story-rule.refreshTooltip' | transloco"
      (click)="refresh()"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body class="pb-2">
    <tock-story-rules-table
      [type]="ruleType.Activation"
      [features]="disabledFeatures"
      (onRefresh)="refresh()"
    ></tock-story-rules-table>

    <tock-story-rules-table
      [type]="ruleType.Redirection"
      [features]="redirectedFeatures"
      (onRefresh)="refresh()"
    ></tock-story-rules-table>

    <tock-story-rules-table
      [type]="ruleType.Ending"
      [features]="endingFeatures"
      (onRefresh)="refresh()"
    ></tock-story-rules-table>
  </nb-card-body>
</nb-card>
