<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    Create a new context
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      (click)="cancel()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <tock-form-control
        label="Name"
        name="name"
        required="true"
        [controls]="name"
        [showError]="isSubmitted"
        [hasMargin]="false"
      >
        <input
          tockAutofocusElement
          nbInput
          formControlName="name"
          fullWidth
          id="name"
          type="text"
          placeholder="Enter new context name"
          (blur)="formatContextName()"
          data-testid="name"
        />
      </tock-form-control>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      Cancel
    </button>

    <button
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled]="!canSave"
    >
      Save
    </button>
  </nb-card-footer>
</nb-card>
