<div
  class="d-flex flex-column"
  [class.mb-3]="hasMargin"
  data-testid="form-control"
>
  <div class="d-flex align-items-center justify-content-between">
    <label
      *ngIf="label"
      [ngClass]="{ 'font-weight-bold': boldLabel, 'text-mitigated': true, required: required, hasError: showError && !!controls.errors }"
      [for]="name"
      data-testid="label"
    >
      <abbr
        *ngIf="required"
        title="Required"
      >
        *
      </abbr>
      {{ label }}
    </label>
    <nb-icon
      *ngIf="information"
      class="control-info"
      size="small"
      status="info"
      [nbTooltip]="information"
      icon="info-circle"
    ></nb-icon>
  </div>
  <ng-content></ng-content>
  <tock-error-helper
    *ngIf="showError"
    class="mt-1"
    [field]="controls"
  ></tock-error-helper>
</div>
