<div
  class="d-flex flex-column"
  [class.mb-3]="hasMargin"
  data-testid="form-control"
>
  <div class="d-flex align-items-center justify-content-between">
    @if (label) {
    <label
      class="mb-0"
      [ngClass]="{
        'font-weight-bold': boldLabel,
        'text-mitigated': true,
        required: required,
        hasError: showError && (!controls || !!controls.invalid),
        'mb-0': noLabelMargin
      }"
      [for]="name"
      data-testid="label"
    >
      @if (required) {
      <abbr [title]="'shared.form-control.required' | transloco"> * </abbr>
      }
      {{ label }}
    </label>
    } @if (information) {
    <nb-icon
      class="control-info"
      size="small"
      status="info"
      [nbTooltip]="information"
      icon="info-circle"
    ></nb-icon>
    }
  </div>
  <ng-content></ng-content>
  @if (showError) {
  <tock-error-helper
    class="mt-1"
    [field]="controls"
  ></tock-error-helper>
  }
</div>
