<div
  class="d-flex flex-column"
  [class.mb-3]="hasMargin"
  data-testid="form-control"
>
  <label
    *ngIf="label"
    [ngClass]="{ 'font-weight-bold': boldLabel, 'text-mitigated': true, required: required, hasError: showError && controls.invalid }"
    [for]="name"
    data-testid="label"
  >
    <abbr
      *ngIf="required"
      title="Required"
    >
      *
    </abbr>
    {{ label }}

    <nb-icon
      *ngIf="help"
      icon="info-outline"
      [nbTooltip]="help"
      class="align-bottom"
    ></nb-icon>
  </label>
  <ng-content></ng-content>
  <tock-error-helper
    *ngIf="showError"
    class="mt-1"
    [field]="controls"
  ></tock-error-helper>
</div>
