@import '@nebular/theme/styles/global/breakpoints';

section {
  &.grid-actions {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
  }

  & nb-card {
    height: min-content;
  }

  & .alert-config {
    height: fit-content;
  }
}

.aside {
  height: fit-content;
}

.loading {
  min-height: 50px;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;

  .main {
    order: 2;
  }

  .aside {
    order: 1;
    position: inherit;
  }
}

@include media-breakpoint-up(lg) {
  .grid:not(.sidePanelExpanded) {
    grid-template-columns: 3fr 1fr;

    .main {
      order: 1;
    }

    .aside {
      order: 2;
      position: sticky;
      top: 5.75rem;
      width: 25em;
    }
  }
}
