<div
  class="d-flex flex-wrap mb-2"
  [nbSpinner]="loading.edit || loading.delete"
>
  <h1 class="flex-grow-1">{{ 'faq.faq-management.title' | transloco }}</h1>

  <section class="grid-actions">
    <button
      nbButton
      ghost
      shape="round"
      [disabled]="loading.list || loading.edit || !configurations?.length"
      [nbTooltip]="'faq.faq-management.importFaqsTooltip' | transloco"
      (click)="openImport()"
    >
      <nb-icon icon="upload"></nb-icon>
    </button>

    <button
      [disabled]="loading.list || !faqs?.length"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'faq.faq-management.exportAllFaqsTooltip' | transloco"
      (click)="openExport()"
    >
      <nb-icon icon="download"></nb-icon>
    </button>

    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'faq.faq-management.faqParametersTooltip' | transloco"
      [disabled]="!configurations?.length"
      (click)="openSettings()"
    >
      <nb-icon icon="gear"></nb-icon>
    </button>

    <button
      [disabled]="loading.list || loading.edit || !faqs?.length"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'faq.faq-management.disableAllFaqsTooltip' | transloco"
      (click)="disableAllFaqs()"
    >
      <nb-icon icon="toggle-off"></nb-icon>
    </button>

    <button
      nbButton
      status="primary"
      [disabled]="!configurations?.length"
      (click)="addOrEditFaq()"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'faq.faq-management.newFaqButton' | transloco }}
    </button>
  </section>
</div>

<section
  [class.grid]="isSidePanelOpen.edit || isSidePanelOpen.settings || isSidePanelOpen.export"
  [class.sidePanelExpanded]="sidePanelExpanded"
  [nbSpinner]="loading.edit || loading.delete"
>
  @if (configurations?.length === 0) {
  <tock-no-data-found [title]="'faq.faq-management.noBotConfiguration' | transloco"></tock-no-data-found>
  } @if (configurations?.length) {
  <div class="main">
    <tock-faq-management-filters
      [tagsCache]="tagsCache"
      (onFilter)="filterFaqs($event)"
      class="d-block mb-2"
    ></tock-faq-management-filters>
    @if (!loading.list && faqs?.length) {
    <div class="d-flex justify-content-end">
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-pagination>
    </div>
    }
    <div
      class="loading mt-2"
      [nbSpinner]="loading.list"
      infinite-scroll
      [infiniteScrollDistance]="1"
      (scrolled)="onScroll()"
    >
      @if (!loading.list && !faqs?.length) {
      <tock-no-data-found
        [title]="'faq.faq-management.noFaqFoundTitle' | transloco"
        [message]="'faq.faq-management.noFaqFoundMessage' | transloco"
      ></tock-no-data-found>
      } @if (!loading.list && faqs?.length) {
      <tock-faq-management-list
        [faqs]="faqs"
        [selectedFaq]="faqEdit"
        (onEdit)="addOrEditFaq($event)"
        (onDelete)="deleteFaq($event)"
        (onEnable)="enableFaq($event)"
      ></tock-faq-management-list>
      }
    </div>
  </div>
  } @if (isSidePanelOpen.edit) {
  <tock-faq-management-edit
    #faqEditComponent
    class="aside"
    [loading]="loading.edit"
    [faq]="faqEdit"
    [tagsCache]="tagsCache"
    [expanded]="sidePanelExpanded"
    (onClose)="closeSidePanel()"
    (onSave)="saveFaq($event)"
    (onExpandSidePanel)="onExpandSidePanel()"
  ></tock-faq-management-edit>
  } @if (isSidePanelOpen.settings) {
  <tock-faq-management-settings
    #faqSettingsComponent
    class="aside"
    (onClose)="closeSidePanel()"
  ></tock-faq-management-settings>
  } @if (isSidePanelOpen.export) {
  <tock-data-export
    class="aside"
    [data]="faqs"
    [defaultColumns]="exportDefaultColumns"
    [mdHeadingPrefix]="'Faq'"
    [deepeningPropertiesStrategies]="{
      answer: {
        path: 'i18n',
        dirimantKey: 'locale',
        possibleDirimantKeyValues: stateService.currentApplication.supportedLocales,
        valueKey: 'label'
      }
    }"
    exportFileNameType="Faqs"
    [searchQuery]="getExportSearchQuery()"
    (onClose)="closeSidePanel()"
  ></tock-data-export>
  }
</section>

<tock-scroll-top-button></tock-scroll-top-button>
