<div class="d-flex flex-wrap mb-2">
  <h1 class="flex-grow-1">FAQs stories</h1>

  <section class="grid-actions">
    <button
      [disabled]="loading.list || !faqs?.length"
      nbButton
      ghost
      shape="round"
      nbTooltip="Export all faqs"
      (click)="openExport()"
    >
      <nb-icon icon="download"></nb-icon>
    </button>

    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="FAQ Parameters"
      [disabled]="!configurations?.length"
      (click)="openSettings()"
    >
      <nb-icon icon="gear"></nb-icon>
    </button>

    <button
      nbButton
      status="primary"
      [disabled]="!configurations?.length"
      (click)="addOrEditFaq()"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      NEW FAQ STORY
    </button>
  </section>
</div>

<section
  [class.grid]="isSidePanelOpen.edit || isSidePanelOpen.settings || isSidePanelOpen.export"
  [class.sidePanelExpanded]="sidePanelExpanded"
>
  <tock-no-data-found
    *ngIf="configurations?.length === 0"
    title="No bot configuration detected"
  ></tock-no-data-found>

  <div
    *ngIf="configurations?.length"
    class="main"
  >
    <tock-faq-management-filters
      [tagsCache]="tagsCache"
      (onFilter)="filterFaqs($event)"
      class="d-block mb-2"
    ></tock-faq-management-filters>

    <div
      class="d-flex justify-content-end"
      *ngIf="!loading.list && faqs?.length"
    >
      <tock-pagination
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-pagination>
    </div>

    <div
      class="loading mt-2"
      [nbSpinner]="loading.list"
      infinite-scroll
      [infiniteScrollDistance]="1"
      (scrolled)="onScroll()"
    >
      <tock-no-data-found
        *ngIf="!loading.list && !faqs?.length"
        title="No Faq found"
        message="You may create a new one using above button &#34;NEW FAQ&#34;."
      ></tock-no-data-found>

      <tock-faq-management-list
        *ngIf="!loading.list && faqs?.length"
        [nbSpinner]="loading.delete"
        [faqs]="faqs"
        [selectedFaq]="faqEdit"
        (onEdit)="addOrEditFaq($event)"
        (onDelete)="deleteFaq($event)"
        (onEnable)="enableFaq($event)"
      ></tock-faq-management-list>
    </div>
  </div>

  <tock-faq-management-edit
    #faqEditComponent
    *ngIf="isSidePanelOpen.edit"
    class="aside"
    [loading]="loading.edit"
    [faq]="faqEdit"
    [tagsCache]="tagsCache"
    [expanded]="sidePanelExpanded"
    (onClose)="closeSidePanel()"
    (onSave)="saveFaq($event)"
    (onExpandSidePanel)="onExpandSidePanel()"
  ></tock-faq-management-edit>

  <tock-faq-management-settings
    #faqSettingsComponent
    *ngIf="isSidePanelOpen.settings"
    class="aside"
    (onClose)="closeSidePanel()"
  ></tock-faq-management-settings>

  <tock-data-export
    *ngIf="isSidePanelOpen.export"
    class="aside"
    [data]="faqs"
    [deepeningPropertiesStrategies]="{
      answer: {
        path: 'i18n',
        dirimantKey: 'locale',
        possibleDirimantKeyValues: stateService.currentApplication.supportedLocales,
        valueKey: 'label'
      }
    }"
    exportFileNameType="Faqs"
    [searchQuery]="getExportSearchQuery()"
    (onClose)="closeSidePanel()"
  ></tock-data-export>
</section>

<tock-scroll-top-button></tock-scroll-top-button>
