<h1>{{ 'bot.search-story.title' | transloco }}</h1>

@if (loading) {
<div
  class="loading-spinner-wrapper mt-2"
  [nbSpinner]="loading"
></div>
} @if (configurations?.length === 0) {
<tock-no-data-found [title]="'common.messages.noBotConfiguration' | transloco"></tock-no-data-found>
} @if (!loading && configurations?.length) {
<tock-stories-filter
  [categories]="categories"
  (onFilter)="onFilterChange($event)"
  (onDownload)="download()"
  (onPrepareUpload)="prepareUpload()"
></tock-stories-filter>
} @if (!loading && configurations?.length && !stories?.length) {
<tock-no-data-found [title]="'bot.search-story.noStoryFound' | transloco"></tock-no-data-found>
} @if (!loading && !displayStoriesByCategory && !filteredStories.length) {
<div class="text-center font-italic mt-3">
  {{ 'bot.search-story.noStoryMatchCriteria' | transloco }}
</div>
} @if (!loading && !displayStoriesByCategory && filteredStories.length) {
<nb-card class="mt-2 mb-2">
  <nb-card-body>
    <tock-stories-list
      [stories]="filteredStories"
      (onEditStory)="editStory($event)"
      (onDownloadStory)="downloadStory($event)"
      (onDeleteStory)="deleteStory($event)"
    ></tock-stories-list>
  </nb-card-body>
</nb-card>
} @if (!loading && displayStoriesByCategory && storyCategories) {
<nb-accordion class="no-shadow mb-4">
  @for (category of storyCategories; track category) {
  <nb-accordion-item
    [expanded]="isCategoryExpanded(category)"
    (collapsedChange)="collapsedChange(category)"
  >
    <nb-accordion-item-header class="h6 text-capitalize">
      {{ category.category }}
    </nb-accordion-item-header>
    <nb-accordion-item-body class="accordion-item-body">
      <div class="compensate-accordion-item-padding">
        <tock-stories-list
          [stories]="category.stories"
          (onEditStory)="editStory($event)"
          (onDownloadStory)="downloadStory($event)"
          (onDeleteStory)="deleteStory($event)"
        ></tock-stories-list>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
  }
</nb-accordion>
}

<tock-scroll-top-button></tock-scroll-top-button>
