<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="!valid">
      <nb-icon
        icon="alert-triangle"
        status="danger"
      ></nb-icon>
      {{ 'configuration.selection-dialog.errorMessage' | transloco }}
    </div>
    <nb-select
      [placeholder]="'configuration.selection-dialog.selectPlaceholder' | transloco"
      [(selected)]="selectedConfig"
      class="configuration-select"
      [status]="validationStatus()"
    >
      <nb-select-label>
        <span
          class="configuration-select-label"
          *ngIf="selectedConfig"
        >
          <span class="configuration-name">{{ selectedConfig.name }}</span>
          <span class="configuration-connectors">
            <img
              *ngFor="let connectorConfig of selectedConfig.configurations"
              [src]="connectorConfig.connectorType.iconUrl()"
              [alt]="connectorConfig.connectorType.label()"
              class="connector-icon"
            />
          </span>
        </span>
      </nb-select-label>
      <nb-option
        *ngFor="let config of botApplicationConfigurations"
        [value]="config"
      >
        <span class="configuration-select-label">
          <span class="configuration-name">{{ config.name }}</span>
          <span class="configuration-connectors">
            <img
              *ngFor="let connectorConfig of config.configurations"
              [src]="connectorConfig.connectorType.iconUrl()"
              [alt]="connectorConfig.connectorType.label()"
              class="connector-icon"
            />
          </span>
        </span>
      </nb-option>
    </nb-select>
  </nb-card-body>
  <nb-card-footer class="button-footer">
    <button
      nbButton
      (click)="close()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      nbButton
      status="primary"
      (click)="submit()"
      (submit)="submit()"
    >
      {{ 'common.actions.select' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
