@if (!loading && !intent) {
<nb-card class="min-width-90vw">
  <nb-card-body class="p-0 pb-2">
    <tock-no-data-found
      [title]="'shared.intent-story-details.not-found.title' | transloco"
      [message]="'shared.intent-story-details.not-found.message' | transloco: { intentName: this.intentName || this.intentId }"
    ></tock-no-data-found>
  </nb-card-body>
</nb-card>
} @if (intent) {
<nb-card class="min-width-90vw">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    <div>{{ 'shared.intent-story-details.header.title' | transloco: { intentLabel: this.intent.label || this.intent.name } }}</div>
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body
    class="p-0 pb-2"
    [nbSpinner]="loading"
  >
    @if (story) {
    <div>
      <ul class="list-group list-group-flush">
        @if (!story.storyId) {
        <li class="list-group-item text-warning">
          {{ 'shared.intent-story-details.warnings.no-story' | transloco }}
        </li>
        } @if (story.storyId) {
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.story-name' | transloco }} :</div>
              {{ story.name }}
            </div>
            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.type' | transloco }} :</div>
              @if (story.isBuiltIn()) {
              <nb-icon
                [nbTooltip]="'common.storyTypes.builtIn' | transloco"
                class="align-middle"
                icon="box"
              ></nb-icon>
              } @if (story.isSimpleNonFaqAnswer()) {
              <nb-icon
                [nbTooltip]="'common.storyTypes.message' | transloco"
                icon="chat-left"
                class="align-middle"
              ></nb-icon>
              } @if (story.isSimpleFaqAnswer()) {
              <nb-icon
                class="align-middle"
                [nbTooltip]="'common.storyTypes.messageFaq' | transloco"
                icon="chat-left-text"
              ></nb-icon>
              } @if (story.isScriptAnswer()) {
              <nb-icon
                [nbTooltip]="'common.storyTypes.script' | transloco"
                class="align-middle"
                icon="code"
              ></nb-icon>
              } @if (story.isBuiltIn()) {
              <span> {{ 'shared.intent-story-details.story-types.built-in' | transloco }}</span>
              } @if (story.isSimpleNonFaqAnswer()) {
              <span> {{ 'shared.intent-story-details.story-types.simple' | transloco }}</span>
              } @if (story.isSimpleFaqAnswer()) {
              <span> {{ 'shared.intent-story-details.story-types.simple-faq' | transloco }}</span>
              } @if (story.isScriptAnswer()) {
              <span> {{ 'shared.intent-story-details.story-types.scripted' | transloco }}</span>
              }
            </div>
            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.category' | transloco }} :</div>
              {{ story.category }}
            </div>
          </div>
        </li>
        }
        <li class="list-group-item">
          @if (story.storyId) {
          <label class="font-weight-bold"> {{ 'shared.intent-story-details.labels.default-sentence' | transloco }} : </label>
          }
          <div>
            @if (story.storyId) {
            <span>
              <span class="text-mitigated-light">&laquo;</span>{{ story.userSentence }}<span class="text-mitigated-light">&raquo;</span>
              <span
                [nbTooltip]="'shared.intent-story-details.tooltips.locale' | transloco"
                class="ml-2"
              >
                [{{ story.userSentenceLocale }}]
              </span>
              <button
                nbButton
                ghost
                size="tiny"
                class="ml-2"
                [nbTooltip]="'shared.intent-story-details.tooltips.test-sentence' | transloco"
                (click)="testDialogSentence(story.userSentence, story.userSentenceLocale)"
              >
                <nb-icon icon="terminal-plus"></nb-icon>
              </button>
            </span>
            } @if (sentences?.length) {
            <div class="mt-1">
              <button
                nbButton
                size="tiny"
                (click)="sentencesReveal = !sentencesReveal"
                class="mt-2"
              >
                @if (!sentencesReveal) {
                <nb-icon
                  class="align-middle"
                  icon="chevron-right"
                ></nb-icon>
                } @if (sentencesReveal) {
                <nb-icon
                  class="align-middle"
                  icon="chevron-down"
                ></nb-icon>
                }
                {{ 'shared.intent-story-details.buttons.show-all-sentences' | transloco }}
              </button>
              @if (sentencesReveal) {
              <ul class="list-group list-group-flush mt-2">
                @for (sentence of sentences; track sentence) {
                <li class="list-group-item">
                  <small>
                    <span class="text-mitigated-light">&laquo;</span>{{ $any(sentence).text
                    }}<span class="text-mitigated-light">&raquo;</span>
                    <span
                      [nbTooltip]="'shared.intent-story-details.tooltips.locale' | transloco"
                      class="ml-2"
                    >
                      [{{ $any(sentence).language }}]
                    </span>
                    <span
                      [nbTooltip]="'shared.intent-story-details.tooltips.usage-count' | transloco"
                      class="ml-2"
                      >({{ $any(sentence).classification?.usageCount }})</span
                    >
                    <button
                      nbButton
                      ghost
                      size="tiny"
                      class="ml-2"
                      [nbTooltip]="'shared.intent-story-details.tooltips.test-sentence' | transloco"
                      (click)="testDialogSentence($any(sentence).text, $any(sentence).language)"
                    >
                      <nb-icon icon="terminal-plus"></nb-icon>
                    </button>
                  </small>
                </li>
                }
              </ul>
              }
            </div>
            }
          </div>
        </li>
        @if (story.storyId) {
        <li class="list-group-item">
          <label class="font-weight-bold">{{ 'shared.intent-story-details.labels.default-answers' | transloco }} :</label>
          @if (story.isSimpleAnswer()) { @for (answer of story.answers; track answer) {
          <div>
            @for (subanswer of $any(answer).answers; track subanswer) {
            <div>
              <span class="text-mitigated-light">&laquo;</span>{{ subanswer.label.defaultLocalizedLabel().label
              }}<span class="text-mitigated-light">&raquo;</span>
            </div>
            }
          </div>
          } } @if (story.isBuiltIn()) { @for (answer of story.answers; track answer) {
          <div>
            {{ answer.simpleTextView(true) }}
          </div>
          } } @if (story.isScriptAnswer()) { @for (answer of story.answers; track answer) {
          <div>
            {{ answer.simpleTextView(true) }}
          </div>
          } }
        </li>
        }
      </ul>
    </div>
    }
  </nb-card-body>
</nb-card>
}
