<nb-card
  class="min-width-90vw"
  *ngIf="!loading && !intent"
>
  <nb-card-body class="p-0 pb-2">
    <tock-no-data-found
      [title]="'shared.intent-story-details.not-found.title' | transloco"
      [message]="'shared.intent-story-details.not-found.message' | transloco: { intentName: this.intentName || this.intentId }"
    ></tock-no-data-found>
  </nb-card-body>
</nb-card>

<nb-card
  class="min-width-90vw"
  *ngIf="intent"
>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    <div>{{ 'shared.intent-story-details.header.title' | transloco: { intentLabel: this.intent.label || this.intent.name } }}</div>
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body
    class="p-0 pb-2"
    [nbSpinner]="loading"
  >
    <div *ngIf="story">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item text-warning"
          *ngIf="!story.storyId"
        >
          {{ 'shared.intent-story-details.warnings.no-story' | transloco }}
        </li>

        <li
          class="list-group-item"
          *ngIf="story.storyId"
        >
          <div class="row">
            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.story-name' | transloco }} :</div>
              {{ story.name }}
            </div>

            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.type' | transloco }} :</div>

              <nb-icon
                *ngIf="story.isBuiltIn()"
                [nbTooltip]="'common.storyTypes.builtIn' | transloco"
                class="align-middle"
                icon="box"
              ></nb-icon>
              <nb-icon
                *ngIf="story.isSimpleNonFaqAnswer()"
                [nbTooltip]="'common.storyTypes.message' | transloco"
                icon="chat-left"
                class="align-middle"
              ></nb-icon>
              <nb-icon
                *ngIf="story.isSimpleFaqAnswer()"
                class="align-middle"
                [nbTooltip]="'common.storyTypes.messageFaq' | transloco"
                icon="chat-left-text"
              ></nb-icon>
              <nb-icon
                *ngIf="story.isScriptAnswer()"
                [nbTooltip]="'common.storyTypes.script' | transloco"
                class="align-middle"
                icon="code"
              ></nb-icon>

              <span *ngIf="story.isBuiltIn()"> {{ 'shared.intent-story-details.story-types.built-in' | transloco }}</span>
              <span *ngIf="story.isSimpleNonFaqAnswer()"> {{ 'shared.intent-story-details.story-types.simple' | transloco }}</span>
              <span *ngIf="story.isSimpleFaqAnswer()"> {{ 'shared.intent-story-details.story-types.simple-faq' | transloco }}</span>
              <span *ngIf="story.isScriptAnswer()"> {{ 'shared.intent-story-details.story-types.scripted' | transloco }}</span>
            </div>

            <div class="col">
              <div class="font-weight-bold">{{ 'shared.intent-story-details.labels.category' | transloco }} :</div>
              {{ story.category }}
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <label
            class="font-weight-bold"
            *ngIf="story.storyId"
          >
            {{ 'shared.intent-story-details.labels.default-sentence' | transloco }} :
          </label>

          <div>
            <span *ngIf="story.storyId">
              <span class="text-mitigated-light">&laquo;</span>{{ story.userSentence }}<span class="text-mitigated-light">&raquo;</span>
              <span
                [nbTooltip]="'shared.intent-story-details.tooltips.locale' | transloco"
                class="ml-2"
              >
                [{{ story.userSentenceLocale }}]
              </span>

              <button
                nbButton
                ghost
                size="tiny"
                class="ml-2"
                [nbTooltip]="'shared.intent-story-details.tooltips.test-sentence' | transloco"
                (click)="testDialogSentence(story.userSentence, story.userSentenceLocale)"
              >
                <nb-icon icon="terminal-plus"></nb-icon>
              </button>
            </span>

            <div
              class="mt-1"
              *ngIf="sentences?.length"
            >
              <button
                nbButton
                size="tiny"
                (click)="sentencesReveal = !sentencesReveal"
                class="mt-2"
              >
                <nb-icon
                  *ngIf="!sentencesReveal"
                  class="align-middle"
                  icon="chevron-right"
                ></nb-icon>
                <nb-icon
                  *ngIf="sentencesReveal"
                  class="align-middle"
                  icon="chevron-down"
                ></nb-icon>
                {{ 'shared.intent-story-details.buttons.show-all-sentences' | transloco }}
              </button>

              <ul
                *ngIf="sentencesReveal"
                class="list-group list-group-flush mt-2"
              >
                <li
                  *ngFor="let sentence of sentences"
                  class="list-group-item"
                >
                  <small>
                    <span class="text-mitigated-light">&laquo;</span>{{ $any(sentence).text
                    }}<span class="text-mitigated-light">&raquo;</span>
                    <span
                      [nbTooltip]="'shared.intent-story-details.tooltips.locale' | transloco"
                      class="ml-2"
                    >
                      [{{ $any(sentence).language }}]
                    </span>
                    <span
                      [nbTooltip]="'shared.intent-story-details.tooltips.usage-count' | transloco"
                      class="ml-2"
                      >({{ $any(sentence).classification?.usageCount }})</span
                    >

                    <button
                      nbButton
                      ghost
                      size="tiny"
                      class="ml-2"
                      [nbTooltip]="'shared.intent-story-details.tooltips.test-sentence' | transloco"
                      (click)="testDialogSentence($any(sentence).text, $any(sentence).language)"
                    >
                      <nb-icon icon="terminal-plus"></nb-icon>
                    </button>
                  </small>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li
          class="list-group-item"
          *ngIf="story.storyId"
        >
          <label class="font-weight-bold">{{ 'shared.intent-story-details.labels.default-answers' | transloco }} :</label>

          <ng-container *ngIf="story.isSimpleAnswer()">
            <div *ngFor="let answer of story.answers">
              <div *ngFor="let subanswer of $any(answer).answers">
                <span class="text-mitigated-light">&laquo;</span>{{ subanswer.label.defaultLocalizedLabel().label
                }}<span class="text-mitigated-light">&raquo;</span>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="story.isBuiltIn()">
            <div *ngFor="let answer of story.answers">
              {{ answer.simpleTextView(true) }}
            </div>
          </ng-container>
          <ng-container *ngIf="story.isScriptAnswer()">
            <div *ngFor="let answer of story.answers">
              {{ answer.simpleTextView(true) }}
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
  </nb-card-body>
</nb-card>
