<nb-card class="m-0">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{ 'bot.select-entity-dialog.title' | transloco }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    @if (generate) {
    <tock-form-control
      [label]="'bot.select-entity-dialog.intentLabel' | transloco"
      name="intent"
      [information]="'bot.select-entity-dialog.intentInformation' | transloco"
    >
      <input
        nbInput
        name="intent"
        [placeholder]="'bot.select-entity-dialog.intentPlaceholder' | transloco"
        fullWidth
        fieldSize="small"
        autocomplete="off"
        [nbAutocomplete]="intentAuto"
        [(ngModel)]="intent.name"
        (keyup)="onIntentChange($any($event.target))"
        (focus)="onIntentChange($any($event.target))"
      />
    </tock-form-control>
    }

    <tock-form-control
      [label]="'bot.select-entity-dialog.entityLabel' | transloco"
      name="entity"
    >
      <nb-tag-list>
        @for (e of entities; track e) {
        <nb-tag
          class="pointer"
          [text]="e.nameWithoutNamespace(stateService.currentApplication.namespace)"
          [status]="e === selectedEntity ? 'info' : e.dictionary ? 'success' : 'basic'"
          (click)="selectEntityType(e)"
        ></nb-tag>
        }
      </nb-tag-list>
      @if (!entities?.length) {
      <small class="font-italic">
        {{ 'bot.select-entity-dialog.noValueFound' | transloco }}
      </small>
      }
    </tock-form-control>
    <tock-form-control
      [label]="'bot.select-entity-dialog.withRoleLabel' | transloco"
      name="role"
    >
      <input
        nbInput
        id="role"
        fieldSize="small"
        fullWidth
        [placeholder]="'bot.select-entity-dialog.rolePlaceholder' | transloco"
        [(ngModel)]="role"
      />
    </tock-form-control>
    @if (!generate && entityValues.length !== 0) {
    <tock-form-control
      [label]="'bot.select-entity-dialog.entityValueLabel' | transloco"
      name="entityValue"
    >
      <nb-tag-list>
        @for (e of entityValues; track e) {
        <nb-tag
          class="pointer"
          [text]="e"
          status="info"
          (click)="selectEntityValue(e)"
        ></nb-tag>
        }
      </nb-tag-list>
    </tock-form-control>
    }
  </nb-card-body>
  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    @if (generate) {
    <button
      nbButton
      size="small"
      status="primary"
      [disabled]="!selectedEntity || !role"
      (click)="validateEntity()"
    >
      {{ 'bot.select-entity-dialog.generateButton' | transloco }}
    </button>
    } @if (!generate) {
    <button
      nbButton
      size="small"
      status="danger"
      (click)="removeEntityValue()"
    >
      {{ 'bot.select-entity-dialog.removeButton' | transloco }}
    </button>
    } @if (!generate) {
    <button
      nbButton
      size="small"
      status="primary"
      (click)="validateEntityValue()"
    >
      {{ 'bot.select-entity-dialog.changeButton' | transloco }}
    </button>
    }
  </nb-card-footer>
</nb-card>

<nb-autocomplete
  #intentAuto
  [activeFirst]="true"
>
  @for (category of currentIntentCategories; track category) {
  <nb-option-group [title]="category.category">
    @for (intent of category.intents; track intent) {
    <nb-option [value]="intent.name">
      {{ intent.intentLabel() }}
    </nb-option>
    }
  </nb-option-group>
  }
</nb-autocomplete>
