<div class="text-danger">
  @if (field?.errors?.required) {
  <small class="mr-1">
    {{ 'shared.error-helper.required' | transloco }}
  </small>
  } @if (field?.errors?.minlength) {
  <small class="mr-1">
    {{ 'shared.error-helper.minlength' | transloco: { requiredLength: field?.errors?.minlength.requiredLength } }}
  </small>
  } @if (field?.errors?.maxlength) {
  <small class="mr-1">
    {{ 'shared.error-helper.maxlength' | transloco: { requiredLength: field?.errors?.maxlength.requiredLength } }}
  </small>
  } @if (field?.errors?.min) {
  <small class="mr-1">
    {{ 'shared.error-helper.min' | transloco: { min: field?.errors?.min.min } }}
  </small>
  } @if (field?.errors?.max) {
  <small class="mr-1">
    {{ 'shared.error-helper.max' | transloco: { max: field?.errors?.max.max } }}
  </small>
  } @if (field?.errors?.filesNameWithWrongType) {
  <small>
    {{ 'shared.error-helper.files_name_with_wrong_type' | transloco }}
    <ul>
      @for (file of field.errors.filesNameWithWrongType; track file) {
      <li class="text-danger">
        <small>{{ file }}</small>
      </li>
      }
    </ul>
  </small>
  } @if (field?.errors?.filesNameWithWrongFormat) {
  <small class="mr-1">
    @if (field?.errors?.message) {
    <span>{{ field.errors.message }}<br /></span>
    }
    {{ 'shared.error-helper.files_name_with_wrong_format' | transloco }}
    <ul>
      @for (file of field.errors.filesNameWithWrongFormat; track file) {
      <li class="text-danger">
        <small>{{ file }}</small>
      </li>
      }
    </ul>
  </small>
  } @if (field?.errors?.custom) {
  <small class="mr-1">{{ field.errors.custom }}</small>
  }
</div>
