<div class="d-flex flex-wrap">
  <h1 class="flex-grow-1">{{ 'metrics.indicators.title' | transloco }}</h1>

  <section>
    @if (configurations?.length) {
    <button
      nbButton
      status="primary"
      (click)="addOrEditIndicator()"
    >
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'metrics.indicators.new_indicator_button' | transloco }}
    </button>
    }
  </section>
</div>

<section
  [class.grid]="isSidePanelOpen.edit"
  class="mt-1"
>
  @if (configurations?.length === 0) {
  <tock-no-data-found [title]="'metrics.indicators.no_bot_configuration_detected' | transloco"></tock-no-data-found>
  } @if (configurations?.length) {
  <div
    class="main"
    [nbSpinner]="loading.list || loading.delete"
  >
    <nb-card class="mb-2">
      <nb-card-body>
        <tock-indicators-filters
          [dimensionsCache]="dimensionsCache"
          (onFilter)="filterIndicators($event)"
        ></tock-indicators-filters>
      </nb-card-body>
    </nb-card>
    @if (!filteredIndicators?.length && !loading.list) {
    <tock-no-data-found
      [title]="'metrics.indicators.no_indicator_found' | transloco"
      [message]="'metrics.indicators.no_indicator_found_message' | transloco"
    ></tock-no-data-found>
    } @for (indicator of filteredIndicators; track indicator) {
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="indicator">
          <div class="d-flex align-items-center justify-content-between">
            <strong>{{ indicator.label }}</strong>
            <div>
              @for (dimension of indicator.dimensions; track dimension) {
              <nb-tag
                appearance="filled"
                status="basic"
                size="tiny"
                [text]="dimension"
                class="mx-1"
              ></nb-tag>
              }
            </div>
          </div>
          <small class="text-muted">
            {{ indicator.description }}
          </small>
          <div class="d-flex gap-2">
            <ul class="flex-grow-1 pl-3 w-50 mb-0">
              @for (value of indicator.values; track value) {
              <li>{{ value.label }}</li>
              }
            </ul>
            @if (indicatorIsNotPredefined(indicator)) {
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <button
                nbButton
                ghost
                shape="round"
                status="info"
                [nbTooltip]="'metrics.indicators.edit_tooltip' | transloco"
                class="mb-2"
                (click)="addOrEditIndicator(indicator)"
              >
                <nb-icon icon="pencil"></nb-icon>
              </button>
              <button
                nbButton
                ghost
                shape="round"
                status="danger"
                [nbTooltip]="'metrics.indicators.delete_tooltip' | transloco"
                class="mb-2"
                (click)="confirmDeleteIndicator(indicator)"
              >
                <nb-icon icon="trash"></nb-icon>
              </button>
            </div>
            }
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    }
  </div>
  } @if (isSidePanelOpen.edit) {
  <tock-indicators-edit
    #indicatorsEditComponent
    class="aside"
    [indicatorEdition]="indicatorEdition"
    [indicators]="indicators"
    [dimensionsCache]="dimensionsCache"
    (onClose)="closeSidePanel()"
    (onSave)="saveOrCreateIndicator($event)"
    [nbSpinner]="loading.edit"
  ></tock-indicators-edit>
  }
</section>
