<nb-card
  status="info"
  class="max-width-50vw"
>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <p>
      {{ 'lu.add-state.description' | transloco }}
    </p>
    <form #stateForm="ngForm">
      <input
        nbInput
        required
        name="name"
        [placeholder]="'lu.add-state.placeholder' | transloco"
        [(ngModel)]="name"
      />
    </form>
  </nb-card-body>
  <nb-card-footer class="footer">
    <button
      nbButton
      size="small"
      (click)="dialogRef.close('cancel')"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      nbButton
      size="small"
      status="success"
      class="submit-button"
      (click)="save()"
      [disabled]="!stateForm.form.valid"
    >
      {{ 'common.actions.add' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
