<nb-card class="mb-0">
  <nb-card-body class="pb-2">
    <form [formGroup]="form">
      <div class="mb-2">
        <nb-form-field class="flex-grow-1">
          <nb-icon
            nbPrefix
            icon="search"
          ></nb-icon>
          <input
            nbInput
            fullWidth
            fieldSize="medium"
            [placeholder]="'bot.i18n-filters.searchPlaceholder' | transloco"
            type="text"
            formControlName="search"
            [nbTooltip]="'bot.i18n-filters.searchTooltip' | transloco"
            spellcheck="false"
            autocomplete="off"
          />
          @if (!!getFormControl('search').value) {
          <button
            nbButton
            nbSuffix
            ghost
            [nbTooltip]="'bot.i18n-filters.clearTooltip' | transloco"
            type="button"
            (click)="resetControl(getFormControl('search'))"
          >
            <nb-icon icon="x-lg"></nb-icon>
          </button>
          }
        </nb-form-field>
      </div>

      <div class="row">
        <div class="col-md-3 col-6 mb-2">
          <nb-form-field [nbTooltip]="'bot.i18n-filters.localeFilterTooltip' | transloco">
            <nb-icon
              nbPrefix
              icon="globe2"
            ></nb-icon>
            <nb-select
              size="small"
              [placeholder]="'bot.i18n-filters.localeFilterPlaceholder' | transloco"
              fullWidth
              formControlName="locale"
            >
              <nb-option
                [value]="I18nLocaleFilters.ALL"
                [title]="'bot.i18n-filters.allLocalesOptionTitle' | transloco"
              >
                {{ 'common.actions.all' | transloco }}
              </nb-option>
              <nb-option
                [value]="I18nLocaleFilters.CURRENT"
                [title]="'bot.i18n-filters.currentLocaleOptionTitle' | transloco"
              >
                {{ 'bot.i18n-filters.currentLocaleOption' | transloco }}
              </nb-option>
              <nb-option
                [value]="I18nLocaleFilters.SUPPORTED"
                [title]="'bot.i18n-filters.supportedLocalesOptionTitle' | transloco"
              >
                {{ 'bot.i18n-filters.supportedLocalesOption' | transloco }}
              </nb-option>
              <nb-option
                [value]="I18nLocaleFilters.NOT_SUPPORTED"
                [title]="'bot.i18n-filters.notSupportedLocalesOptionTitle' | transloco"
              >
                {{ 'bot.i18n-filters.notSupportedLocalesOption' | transloco }}
              </nb-option>
            </nb-select>
          </nb-form-field>
        </div>

        <div class="col-md-3 col-6 mb-2">
          <nb-form-field [nbTooltip]="'bot.i18n-filters.categoryFilterTooltip' | transloco">
            <nb-icon
              nbPrefix
              icon="grid"
            ></nb-icon>
            <nb-select
              size="small"
              [placeholder]="'bot.i18n-filters.categoryFilterPlaceholder' | transloco"
              fullWidth
              formControlName="category"
            >
              <nb-option [value]="I18nCategoryFilterAll">{{ 'common.actions.all' | transloco }}</nb-option>
              @for (c of categories; track c) {
              <nb-option [value]="c">
                {{ c }}
              </nb-option>
              }
            </nb-select>
          </nb-form-field>
        </div>

        <div class="col-md-3 col-6 mb-2">
          <nb-form-field [nbTooltip]="'bot.i18n-filters.stateFilterTooltip' | transloco">
            <nb-icon
              nbPrefix
              icon="check2-circle"
            ></nb-icon>
            <nb-select
              size="small"
              [placeholder]="'bot.i18n-filters.stateFilterPlaceholder' | transloco"
              fullWidth
              formControlName="state"
            >
              <nb-option [value]="I18nLabelStateQuery.ALL">{{ 'common.actions.all' | transloco }}</nb-option>
              <nb-option [value]="I18nLabelStateQuery.NOT_VALIDATED">{{ 'bot.i18n-filters.notValidatedOption' | transloco }}</nb-option>
              <nb-option [value]="I18nLabelStateQuery.VALIDATED">{{ 'bot.i18n-filters.validatedOption' | transloco }}</nb-option>
            </nb-select>
          </nb-form-field>
        </div>

        <div class="col-md-3 col-6 mb-2">
          <nb-form-field [nbTooltip]="'bot.i18n-filters.usageFilterTooltip' | transloco">
            <nb-icon
              nbPrefix
              icon="calendar-x"
            ></nb-icon>
            <nb-select
              size="small"
              [placeholder]="'bot.i18n-filters.usageFilterPlaceholder' | transloco"
              fullWidth
              formControlName="usage"
            >
              @for (notUsedFromValue of notUsedFromPossibleValues; track notUsedFromValue) {
              <nb-option [value]="notUsedFromValue">
                {{ notUsedFromLabel(notUsedFromValue) }}
              </nb-option>
              }
            </nb-select>
          </nb-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-6">
          <button
            nbButton
            fullWidth
            size="small"
            ghost
            [nbTooltip]="'bot.i18n-filters.validateAllTooltip' | transloco"
            (click)="validateAll()"
          >
            <nb-icon icon="check-circle"></nb-icon>
            {{ 'bot.i18n-filters.validateAllButton' | transloco }}
          </button>
        </div>

        <div class="col-sm-3 col-6">
          @if (state.currentApplication.supportedLocales.length !== 1) {
          <button
            nbButton
            fullWidth
            size="small"
            ghost
            [nbTooltip]="'bot.i18n-filters.translateAllTooltip' | transloco"
            (click)="translate()"
          >
            <nb-icon icon="globe2"></nb-icon>
            {{ 'bot.i18n-filters.translateAllButton' | transloco }}
          </button>
          }
        </div>

        <div class="col-sm-3 col-6">
          <button
            nbButton
            fullWidth
            size="small"
            ghost
            [nbTooltip]="'common.actions.import' | transloco"
            (click)="import()"
          >
            <nb-icon icon="upload"></nb-icon>
            {{ 'common.actions.import' | transloco }}
          </button>
        </div>

        <div class="col-sm-3 col-6">
          <button
            nbButton
            fullWidth
            size="small"
            ghost
            [nbTooltip]="'common.actions.export' | transloco"
            (click)="export()"
          >
            <nb-icon icon="download"></nb-icon>
            {{ 'common.actions.export' | transloco }}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
