@import url(../../common/_base_faq.scss);

.tock-bar-search {
  width: 400px;
}


.tock-input-clear {
  cursor: pointer;
}

.tock--no-select {
  user-select: none;
  pointer-events: none;
}

nb-card-body {
  user-select: none;
}

