<nb-card ngClass="px-2 py-1">
    <nb-card-body class="d-flex align-items-center p-2 flex-wrap">
        <div class="col-3 d-flex justify-content-between">
            <nb-checkbox ngClass="mr-2 d-flex">Select all</nb-checkbox>
            <nb-form-field ngClass="d-flex">
                <div class="nb-form-field-addon nb-form-field-prefix-small nb-form-field-addon-basic">
                    <nb-icon nbPrefix pack="material-icons" icon="build"></nb-icon>
                </div>
                <div class="nb-form-control-container nb-form-field-control-with-prefix">
                    <nb-select [size]="'small'" placeholder="Action" status="primary">
                        <nb-option value="1">
                            <nb-icon ngClass="mr-2" icon="checkmark-outline"></nb-icon> Validate
                        </nb-option>
                        <nb-option value="2">
                            <nb-icon ngClass="mr-2" icon="trash-2-outline"></nb-icon> Delete
                        </nb-option>
                    </nb-select>
                </div>

            </nb-form-field>
            <div class="tock-divider"></div>
        </div>
        <div class="col-4 d-flex justify-content-between">

            <nb-select [size]="'small'" placeholder="Tags">
                <nb-option value="1">
                    Tag 1
                </nb-option>
                <nb-option value="2">
                    Tag 2
                </nb-option>
            </nb-select>
            <nb-checkbox ngClass="ml-2 d-flex">Active</nb-checkbox>

            <div class="d-flex justify-content-between align-items-center">
                <button shape="round" size="small" nbButton status="primary">
                    <nb-icon icon="star"></nb-icon>
                    75% Confidence
                    <nb-icon ngClass="ml-2 mr-0" icon="chevron-down-outline"></nb-icon>
                </button>
            </div>
            <div class="tock-divider"></div>
        </div>
        <div class="col-1 d-flex justify-content-between">
            <nb-select [size]="'small'" placeholder="Category">
                <nb-option value="1">
                    Category 1
                </nb-option>
                <nb-option value="2">
                    Category 2
                </nb-option>
            </nb-select>
        </div>
        <div class="col-4 d-flex justify-content-between">
            <div class="tock-divider ml-4"></div>
            <nb-form-field ngClass="d-flex">
                <div class="nb-form-field-addon nb-form-field-prefix-small nb-form-field-addon-basic">
                    <nb-icon nbPrefix pack="material-icons" icon="search"></nb-icon>
                </div>
                <div class="nb-form-control-container nb-form-field-control-with-prefix">
                    <input type="text" fullWidth fieldSize="small" nbInput />
                </div>
            </nb-form-field>
            <div class="tock-divider ml-2"></div>

            <button ghost status="primary" size="small" nbButton>
                <nb-icon nbPrefix pack="material-icons" icon="sort"></nb-icon> More recent
            </button>

        </div>
    </nb-card-body>
</nb-card>