@import url(../../common/_base_faq.scss);

.status {
  margin-right: 0.5em;
  border-radius: 25px;
  padding: 8px;
  margin-left: 10px;
}

nb-toggle {
  margin-bottom: -.5rem;
  margin-right: 1rem;
}

.tock-col-a {
  flex: 0 0 20%;
  white-space: pre-line;
}

.tock-col-b {
  flex: 0 0 40%;
  white-space: pre-line;
}

.tock-col-c {
  flex: 1;
}

nb-card,nb-card-body {
  overflow-x: hidden;
}

.tock--hideable {
  transition: opacity .5s ease;
  opacity: 1;

  &.tock--hidden {
    display: none;
  }

  &.tock--closed {
    opacity: .8;
  }
}

nb-card-body {

  /* Ability to add absolute elements inside */
  position: relative;
  top: 0;
  left: 0;

  &.tock--docked-panel,&.tock--full_width--small {
    .tock-col-a {
      flex: 0 0 30%;
    }

    .tock-col-b {
      flex: 0 0 45%;
    }

    nb-toggle {
      transform: scale(0.8);
      margin-right: .1rem;
    }
  }
}

.tock-additional-info {
  font-size: 75%;
}
