<h5 class="tock--hideable" [ngClass]="hideableCssClass">{{qa.title}}</h5>
<nb-card class="overflow-hidden mb-2 tock--hideable" [ngClass]="hideableCssClass">
  <nb-card-body class="d-flex align-items-center justify-content-between p-2 flex-wrap">
    <div class="tock-col-a d-flex justify-content-between">
      {{qa.label}}
      <div class="tock-divider ml-3">&nbsp;</div>
    </div>
    <div class="tock-col-b d-flex justify-content-between ">
      {{qa.description}}
      <div class="tock-divider ml-3">&nbsp;</div>
    </div>
    <div class="tock-col-d d-flex justify-content-end">
      <nb-toggle [ngClass]="'mr-3'" status="basic" [(ngModel)]="qa.enabled">

      </nb-toggle>

      <button class="tock-action tock--subtle-hover text-muted"
              (click)="edit()"
              title="Edit"
              nbButton size="medium" ghost status="secondary">
        <nb-icon icon="edit-outline"></nb-icon>
        Edit
      </button>

      <button class="tock-action tock--subtle-hover text-muted"
              (click)="download()"
              title="Validate"
              nbButton size="medium" ghost status="secondary">
        <nb-icon icon="download-outline"></nb-icon>
        Download
      </button>

      <button class="tock-action tock--subtle-hover text-muted"
              (click)="remove()"
              title="Delete"
              nbButton size="medium" ghost status="secondary">
        <nb-icon icon="trash-2-outline"></nb-icon>
        Delete
      </button>

    </div>
  </nb-card-body>
</nb-card>
