:host {
  /* Purple */
  --color-purple-text: #503a90;
  --color-purple-bg: #a78bfa7d;
  --color-purple-border: rgba(80, 58, 144, 0.3);
  --color-purple-bg-diff: #7c3aed;
  --color-purple-text-diff: #ffffff;
  --color-purple-border-diff: rgba(124, 58, 237, 0.5);

  /* Orange */
  --color-orange-text: #ba7301;
  --color-orange-bg: #f5a5247d;
  --color-orange-border: rgba(186, 115, 1, 0.3);
  --color-orange-bg-diff: #ffa500;
  --color-orange-text-diff: #000000;
  --color-orange-border-diff: rgba(255, 165, 0, 0.5);

  /* Teal */
  --color-teal-text: #066b5f;
  --color-teal-bg: #2dd4bf7d;
  --color-teal-border: rgba(6, 107, 95, 0.3);
  --color-teal-bg-diff: #00d4c0;
  --color-teal-text-diff: #ffffff;
  --color-teal-border-diff: rgba(0, 212, 192, 0.5);

  /* prev-entries */
  --color-prev-entry-bg: #e8efff;
  --color-prev-entry-bg-current: #7ca0ff;
  --color-prev-entry-shadow: inset 0px 7px 3px -5px rgba(0, 0, 0, 0.1);
}

.nb-theme-dark {
  :host {
    /* Purple */
    --color-purple-text: #a78bfa;
    --color-purple-bg: #5749827d;
    --color-purple-border: rgba(167, 139, 250, 0.3);
    --color-purple-bg-diff: #8b5cf6;
    --color-purple-text-diff: #ffffff;
    --color-purple-border-diff: rgba(139, 92, 246, 0.5);

    /* Orange */
    --color-orange-text: #f5a524;
    --color-orange-bg: #7d54127d;
    --color-orange-border: rgba(245, 165, 36, 0.3);
    --color-orange-bg-diff: #f97316;
    --color-orange-text-diff: #4e1c03;
    --color-orange-border-diff: rgba(249, 115, 22, 0.5);

    /* Teal */
    --color-teal-text: #2dd4bf;
    --color-teal-bg: #19776b7d;
    --color-teal-border: rgba(45, 212, 191, 0.3);
    --color-teal-bg-diff: #00b8a8;
    --color-teal-text-diff: #ffffff;
    --color-teal-border-diff: rgba(0, 184, 168, 0.5);

    /* prev-entries */
    --color-prev-entry-bg: #2e3651;
    --color-prev-entry-bg-current: #224dcd;
    --color-prev-entry-shadow: inset 0px 7px 3px -5px rgba(0, 0, 0, 0.4);
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-size: 0.65rem;
  font-family: var(--font-mono);
  border: 1px solid;

  &.muted {
    background-color: var(--background-basic-color-2) !important;
    border-color: var(--color-teal-border);
  }

  &.prompt {
    color: var(--color-purple-text);
    background: var(--color-purple-bg);
    border-color: var(--color-purple-border);
    &.diff {
      background: var(--color-purple-bg-diff);
      color: var(--color-purple-text-diff);
      border-color: var(--color-purple-border-diff);
      font-weight: bold;
    }
  }

  &.settings {
    color: var(--color-orange-text);
    background: var(--color-orange-bg);
    border-color: var(--color-orange-border);
    &.diff {
      background: var(--color-orange-bg-diff);
      color: var(--color-orange-text-diff);
      border-color: var(--color-orange-border-diff);
      font-weight: bold;
    }
  }

  &.corpus {
    color: var(--color-teal-text);
    background: var(--color-teal-bg);
    border-color: var(--color-teal-border);
    &.diff {
      background: var(--color-teal-bg-diff);
      color: var(--color-teal-text-diff);
      border-color: var(--color-teal-border-diff);
      font-weight: bold;
    }
  }
}

.vs-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;
  align-items: start;
  .vs-badge {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--card-background-color);
    border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.prev-entries {
  box-shadow: inset 0px 7px 3px -5px rgba(0, 0, 0, 0.1);

  .prev-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.85em;
    font-size: 0.65rem;
    border-right: 2px solid var(--card-background-color);
    background-color: var(--color-prev-entry-bg);
    cursor: pointer;

    box-shadow: var(--color-prev-entry-shadow);

    &.unselectable {
      background-color: transparent;
      color: #6c757d;
      cursor: default;
      pointer-events: none;
      box-shadow: none;
    }

    &.current {
      background-color: var(--color-prev-entry-bg-current);
      color: white;
      font-weight: bold;
      cursor: default;
      box-shadow: var(--color-prev-entry-shadow);
    }
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;

  > div:not(.separator) {
    min-width: 0; /* Empêche le contenu de forcer l'expansion */
    // overflow-wrap: break-word; /* Optionnel : gère le débordement du texte */
    overflow-x: auto;
  }

  .separator {
    width: 1px;
    background-color: var(--border-basic-color-4);
  }

  &.large {
    gap: 2em;
  }
}
