<div class="d-flex flex-wrap align-items-center mt-3">
  <h1 class="flex-grow-1">
    {{ 'analytics.users.title' | transloco }}
    @if (formattedTotal()) {
    <span class="font-weight-normal">({{ formattedTotal() }})</span>
    }
  </h1>

  <button
    nbButton
    ghost
    shape="round"
    [nbTooltip]="'analytics.users.refreshTooltip' | transloco"
    (click)="reload()"
    class="ml-2"
  >
    <nb-icon icon="arrow-clockwise"></nb-icon>
  </button>
</div>

<nb-card class="mb-3">
  <nb-card-body class="d-flex gap-1 align-items-end justify-content-between">
    <div class="w-50">
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="calendar-plus"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="small"
          [placeholder]="'analytics.users.dataCollectedAfterPlaceholder' | transloco"
          [nbDatepicker]="from_date"
          [(ngModel)]="filter.from"
        />
      </nb-form-field>
      <nb-datepicker
        (dateChange)="changeAfter()"
        #from_date
      ></nb-datepicker>
    </div>

    <div class="w-50">
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="calendar-minus"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="small"
          [placeholder]="'analytics.users.dataCollectedBeforePlaceholder' | transloco"
          [nbDatepicker]="to_date"
          [(ngModel)]="filter.to"
        />
      </nb-form-field>
      <nb-datepicker
        (dateChange)="changeBefore()"
        #to_date
      ></nb-datepicker>
    </div>

    <nb-toggle
      [nbTooltip]="(!filter.displayTests ? 'analytics.users.displayTestsTooltip' : 'analytics.users.hideTestsTooltip') | transloco"
      [(ngModel)]="filter.displayTests"
      (change)="waitAndRefresh()"
      class="nb-toggle-reset-label-margin text-nowrap"
    >
      {{ (!filter.displayTests ? 'analytics.users.displayTestsLabel' : 'analytics.users.hideTestsLabel') | transloco }}
    </nb-toggle>
  </nb-card-body>
</nb-card>

@if (!loading && !data?.length) {
<tock-no-data-found [title]="'analytics.users.noRecordsFound' | transloco"></tock-no-data-found>
} @if (data.length) {
<div
  [nbSpinner]="loading"
  class="min-vh-100"
>
  <div class="d-flex gap-1">
    <div
      class="messages-col position-relative"
      infinite-scroll
      [infiniteScrollDistance]="1"
      (scrolled)="load()"
      [scrollWindow]="false"
      [nbSpinner]="loading"
    >
      @for (user of data; track user) {
      <nb-card
        [accent]="user.playerId === selectedUser?.playerId ? 'info' : ''"
        class="m-0"
      >
        <nb-card-header
          (click)="loadDialog(user)"
          class="d-flex align-items-center justify-content-between pointer"
        >
          <nb-user
            size="large"
            name="{{ user.userPreferences.firstName ? user.userPreferences.firstName : ('analytics.users.anonymousLabel' | transloco) }} {{
              user.userPreferences.lastName
            }}"
            title="{{ user.lastUpdateDate | amDateFormat: 'DD MMM YYYY HH:mm' }}"
            picture="{{ getUserPicture(user) }}"
          >
          </nb-user>
          @if (getConnector(user.applicationIds[0])) {
          <img
            src="{{ getConnector(user.applicationIds[0]).iconUrl() }}"
            class="connector"
            [nbTooltip]="getConnector(user.applicationIds[0]).label()"
          />
          }
        </nb-card-header>
        <nb-card-body>
          <div>
            @if (user.botConfiguration) {
            <span>[{{ user.botConfiguration.name }} - {{ user.botConfiguration.connectorType.id }}]</span>
            } @if (user.userPreferences.locale) {
            <span>({{ user.userPreferences.locale }})</span>
            } @if (user.lastActionText) {
            <span class="text-muted"> {{ user.lastActionText }}</span>
            }
          </div>
          @for (f of user.userState.flags; track f) {
          <div
            class="tag pointer"
            [selected]="containsFlag(f)"
            color="accent"
            (click)="toggleFlag(f)"
            [nbTooltip]="'analytics.users.filterByFlagTooltip' | transloco: { flag: f }"
          >
            {{ f }}
          </div>
          }
        </nb-card-body>
      </nb-card>
      }
    </div>
    <nb-card
      class="flex-grow-1 mn-0"
      [nbSpinner]="loadingDialog"
    >
      <nb-card-header class="position-relative p-0">
        @if (selectedUser && selectedUser.displayDialogs && selectedUser.userDialog) {
        <tock-chat-ui height="calc(100vh - 350px)">
          <tock-chat-ui-dialog-logger [dialog]="selectedUser.userDialog"></tock-chat-ui-dialog-logger>
        </tock-chat-ui>
        }
        <div class="shader"></div>
      </nb-card-header>
      @if ( selectedUser?.displayDialogs && selectedUser?.userDialog && selectedUser.userDialog.actions.length !== 0 &&
      selectedUser.testPlans && selectedUser.testPlans.length !== 0 ) {
      <nb-card-body class="d-flex align-items-center">
        <nb-select
          fullWidth
          size="small"
          [(ngModel)]="selectedPlanId"
          [placeholder]="'analytics.users.addDialogToTestPlanPlaceholder' | transloco"
        >
          @for (plan of selectedUser.testPlans; track plan) {
          <nb-option [value]="plan._id">{{ plan.name }} </nb-option>
          }
        </nb-select>
        <button
          nbButton
          size="small"
          (click)="addDialogToTestPlan(selectedPlanId, selectedUser.userDialog)"
          ghost="true"
          [nbTooltip]="'analytics.users.addDialogToTestPlanTooltip' | transloco"
        >
          <nb-icon icon="plus-circle"></nb-icon>
        </button>
      </nb-card-body>
      }
    </nb-card>
  </div>
</div>
}
