<nb-card class="mb-0">
  <nb-card-body>
    <form
      class="grid"
      [formGroup]="form"
    >
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="search-outline"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="medium"
          placeholder="Search a sentence"
          type="text"
          formControlName="search"
        />
        <button
          *ngIf="!!search.value"
          nbButton
          nbSuffix
          nbTooltip="Clear"
          ghost
          (click)="clearSearch()"
          data-testid="clear-button"
        >
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </nb-form-field>

      <div *ngIf="sentenceTrainingMode !== SentenceTrainingMode.RAGEXCLUDED">
        <nb-toggle
          class="mb-n2 mr-2"
          nbTooltip="Show unknown sentences"
          formControlName="showUnknown"
        >
          Unknown
        </nb-toggle>
      </div>
    </form>
  </nb-card-body>
</nb-card>
