<nb-card class="mb-0">
  <nb-card-body>
    <form [formGroup]="form">
      <div class="d-flex justify-content-between align-items-center">
        <nb-form-field class="flex-grow-1">
          <nb-icon
            nbPrefix
            icon="search"
          ></nb-icon>
          <input
            nbInput
            fullWidth
            fieldSize="medium"
            [placeholder]="'shared.sentence-training-filters.search-placeholder' | transloco"
            type="text"
            formControlName="search"
            [nbTooltip]="'shared.sentence-training-filters.search-tooltip' | transloco"
            spellcheck="false"
            autocomplete="off"
          />
          @if (!!getFormControl('search').value) {
          <button
            nbButton
            nbSuffix
            ghost
            [nbTooltip]="'shared.sentence-training-filters.clear' | transloco"
            type="button"
            (click)="resetControl(getFormControl('search'))"
          >
            <nb-icon icon="x-lg"></nb-icon>
          </button>
          }
        </nb-form-field>

        @if (sentenceTrainingMode === SentenceTrainingModes.SEARCH) {
        <div class="ml-3">
          @if (!advanced) {
          <nb-icon
            (click)="swapAdvanced()"
            class="pointer"
            [nbTooltip]="'shared.sentence-training-filters.display-advanced-search' | transloco"
            icon="chevron-down-outline"
            pack="nebular-essentials"
          ></nb-icon>
          } @if (advanced) {
          <nb-icon
            (click)="swapAdvanced()"
            class="pointer"
            [nbTooltip]="'shared.sentence-training-filters.hide-advanced-search' | transloco"
            icon="chevron-up-outline"
            pack="nebular-essentials"
          ></nb-icon>
          }
        </div>
        }
      </div>
    </form>

    @if (advanced) {
    <div class="mt-2">
      <form [formGroup]="form">
        <div class="row">
          <div class="col d-flex align-items-center">
            <small class="text-muted text-nowrap mb-0 mr-2">{{ 'shared.sentence-training-filters.status' | transloco }} :</small>
            <nb-radio-group
              class="d-flex"
              formControlName="status"
              name="status"
            >
              <nb-radio
                class="text-nowrap"
                [value]=""
                >{{ 'shared.sentence-training-filters.status-all' | transloco }}</nb-radio
              >
              <nb-radio
                class="text-nowrap"
                [value]="sentenceStatus.inbox"
                >{{ 'shared.sentence-training-filters.status-inbox' | transloco }}</nb-radio
              >
              <nb-radio
                class="text-nowrap"
                [value]="sentenceStatus.validated"
                >{{ 'shared.sentence-training-filters.status-validated' | transloco }}</nb-radio
              >
              <nb-radio
                class="text-nowrap"
                [value]="sentenceStatus.model"
                >{{ 'shared.sentence-training-filters.status-included-in-model' | transloco }}</nb-radio
              >
            </nb-radio-group>
          </div>
          <div class="col py-1">
            <nb-checkbox
              class="text-nowrap"
              formControlName="onlyToReview"
            >
              {{ 'shared.sentence-training-filters.sentences-to-review' | transloco }}
            </nb-checkbox>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3 mb-2">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="compass"
              ></nb-icon>
              <input
                #intentInput
                nbInput
                fieldSize="small"
                [placeholder]="'shared.sentence-training-filters.intent-placeholder' | transloco"
                fullWidth
                [nbTooltip]="'shared.sentence-training-filters.intent-tooltip' | transloco"
                spellcheck="false"
                autocomplete="off"
                [nbAutocomplete]="intentsAutocomplete"
                (keyup)="filterIntentsList('filter', $event)"
                (keyup.escape)="onBlurIntentsInput('filter', $event)"
                (blur)="onBlurIntentsInput('filter', $event)"
                (focus)="onFocusIntentsInput('filter')"
              />
              @if (getFormControl('intent').value) {
              <button
                nbButton
                ghost
                size="small"
                [nbTooltip]="'shared.sentence-training-filters.clear' | transloco"
                nbSuffix
                (click)="resetControl(getFormControl('intent'), intentInput)"
              >
                <nb-icon icon="x-lg"></nb-icon>
              </button>
              }
            </nb-form-field>
            <nb-autocomplete
              size="tiny"
              #intentsAutocomplete
              (selectedChange)="selectIntent($event)"
              [handleDisplayFn]="intentsAutocompleteViewHandle"
            >
              @for (group of filteredFilterIntentsGroups$ | async; track group) {
              <nb-option-group [title]="group.category">
                @for (intent of group.intents; track intent) {
                <nb-option [value]="intent">
                  {{ intent.label || intent.name }}
                </nb-option>
                }
              </nb-option-group>
              }
              <nb-option
                class="autocompleteSeparator mt-2 pt-2"
                [value]="unknownIntent"
              >
                {{ unknownIntent.label }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <div class="col-3 mb-2">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="paperclip"
              ></nb-icon>
              @if (entityTypes) {
              <nb-select
                size="small"
                [placeholder]="'shared.sentence-training-filters.entity-type-placeholder' | transloco"
                fullWidth
                [nbTooltip]="'shared.sentence-training-filters.entity-type-tooltip' | transloco"
                formControlName="entityType"
              >
                <nb-option [value]="null">{{ 'shared.sentence-training-filters.all' | transloco }}</nb-option>
                @for (e of entityTypes; track e) {
                <nb-option [value]="e.name">
                  {{ e.qualifiedName(state.user) }}
                </nb-option>
                }
              </nb-select>
              }
            </nb-form-field>
          </div>
          <div class="col-3 mb-2">
            @if (entityRolesToIncludeList) {
            <nb-select
              multiple
              size="small"
              [placeholder]="'shared.sentence-training-filters.entity-roles-to-include-placeholder' | transloco"
              fullWidth
              [nbTooltip]="'shared.sentence-training-filters.entity-roles-to-include-tooltip' | transloco"
              formControlName="entityRolesToInclude"
            >
              <nb-option
                [disabled]="!getFormControl('entityRolesToInclude').value?.length"
                [value]="null"
              >
                <span class="d-flex align-items-center">
                  <nb-icon
                    icon="x"
                    class="mr-1"
                  ></nb-icon>
                  {{ 'shared.sentence-training-filters.clear-selection' | transloco }}
                </span>
              </nb-option>
              @for (r of entityRolesToIncludeList; track r) {
              <nb-option [value]="r">
                {{ r }}
              </nb-option>
              }
            </nb-select>
            }
          </div>
          <div class="col-3 mb-2">
            @if (entityRolesToExcludeList) {
            <nb-select
              multiple
              size="small"
              [placeholder]="'shared.sentence-training-filters.entity-roles-to-exclude-placeholder' | transloco"
              fullWidth
              [nbTooltip]="'shared.sentence-training-filters.entity-roles-to-exclude-tooltip' | transloco"
              formControlName="entityRolesToExclude"
            >
              <nb-option
                [disabled]="!getFormControl('entityRolesToExclude').value?.length"
                [value]="null"
              >
                <span class="d-flex align-items-center">
                  <nb-icon
                    icon="x"
                    class="mr-1"
                  ></nb-icon>
                  {{ 'shared.sentence-training-filters.clear-selection' | transloco }}
                </span>
              </nb-option>
              @for (r of entityRolesToExcludeList; track r) {
              <nb-option [value]="r">
                {{ r }}
              </nb-option>
              }
            </nb-select>
            }
          </div>
          <div class="col-3 mb-2">
            <nb-form-field [nbTooltip]="'shared.sentence-training-filters.modified-after-tooltip' | transloco">
              <nb-icon
                nbPrefix
                icon="calendar-plus"
              ></nb-icon>
              <input
                nbInput
                fieldSize="small"
                fullWidth
                [placeholder]="'shared.sentence-training-filters.modified-after-placeholder' | transloco"
                [nbDatepicker]="modifiedAfterPicker"
                formControlName="modifiedAfter"
              />
              @if (getFormControl('modifiedAfter').value) {
              <button
                nbButton
                ghost
                size="small"
                [nbTooltip]="'shared.sentence-training-filters.clear' | transloco"
                nbSuffix
                (click)="resetControl(getFormControl('modifiedAfter'))"
              >
                <nb-icon icon="x-lg"></nb-icon>
              </button>
              }
            </nb-form-field>
            <nb-datepicker #modifiedAfterPicker></nb-datepicker>
          </div>
          <div class="col-3 mb-2">
            <nb-form-field [nbTooltip]="'shared.sentence-training-filters.modified-before-tooltip' | transloco">
              <nb-icon
                nbPrefix
                icon="calendar-minus"
              ></nb-icon>
              <input
                nbInput
                fieldSize="small"
                fullWidth
                [placeholder]="'shared.sentence-training-filters.modified-before-placeholder' | transloco"
                [nbDatepicker]="modifiedBeforePicker"
                formControlName="modifiedBefore"
              />
              @if (getFormControl('modifiedBefore').value) {
              <button
                nbButton
                ghost
                size="small"
                [nbTooltip]="'shared.sentence-training-filters.clear' | transloco"
                nbSuffix
                (click)="resetControl(getFormControl('modifiedBefore'))"
              >
                <nb-icon icon="x-lg"></nb-icon>
              </button>
              }
            </nb-form-field>
            <nb-datepicker #modifiedBeforePicker></nb-datepicker>
          </div>
          @if (users && users.length !== 0) {
          <div class="col-3 mb-2">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="person-add"
              ></nb-icon>
              <nb-select
                size="small"
                [placeholder]="'shared.sentence-training-filters.validated-by-placeholder' | transloco"
                fullWidth
                formControlName="user"
                [nbTooltip]="'shared.sentence-training-filters.validated-by-tooltip' | transloco"
              >
                <nb-option [value]="null">{{ 'shared.sentence-training-filters.anyone' | transloco }}</nb-option>
                @for (u of users; track u) {
                <nb-option [value]="u">
                  {{ u }}
                </nb-option>
                }
              </nb-select>
            </nb-form-field>
          </div>
          } @if (users && users.length !== 0) {
          <div class="col-3 mb-2">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="person-dash"
              ></nb-icon>
              <nb-select
                size="small"
                [placeholder]="'shared.sentence-training-filters.not-validated-by-placeholder' | transloco"
                fullWidth
                formControlName="allButUser"
                [nbTooltip]="'shared.sentence-training-filters.not-validated-by-tooltip' | transloco"
              >
                <nb-option [value]="null">{{ 'shared.sentence-training-filters.nobody' | transloco }}</nb-option>
                @for (u of users; track u) {
                <nb-option [value]="u">
                  {{ u }}
                </nb-option>
                }
              </nb-select>
            </nb-form-field>
          </div>
          } @if (configurations && configurations.length !== 0) {
          <div class="col-3 mb-2">
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="link-45deg"
              ></nb-icon>
              <nb-select
                size="small"
                [placeholder]="'shared.sentence-training-filters.configuration-placeholder' | transloco"
                fullWidth
                formControlName="configuration"
                [nbTooltip]="'shared.sentence-training-filters.configuration-tooltip' | transloco"
              >
                <nb-option [value]="null">{{ 'shared.sentence-training-filters.all-configurations' | transloco }}</nb-option>
                @for (u of configurations; track u) {
                <nb-option [value]="u">
                  {{ u }}
                </nb-option>
                }
              </nb-select>
            </nb-form-field>
          </div>
          }
          <div
            class="col"
            style="min-width: 25em"
          >
            <div class="flex-fill d-flex align-items-center">
              <small class="text-muted text-nowrap mb-0 mr-3"
                >{{ 'shared.sentence-training-filters.detection-probability' | transloco }} :
              </small>
              <div class="intent-proba-slider">
                <ngx-slider
                  [options]="intentProbaSliderOptions"
                  formControlName="intentProbability"
                ></ngx-slider>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="advanced-tools font-size-small">
        @if (state.hasRole(userRoles.admin)) {
        <div
          class="pointer font-weight-bold d-flex align-items-center"
          (click)="swapAdvancedTools()"
          [nbTooltip]="'shared.sentence-training-filters.advanced-tools-tooltip' | transloco"
        >
          @if (!advancedTools) {
          <nb-icon
            icon="chevron-down-outline"
            pack="nebular-essentials"
          ></nb-icon>
          } @if (advancedTools) {
          <nb-icon
            icon="chevron-up-outline"
            pack="nebular-essentials"
          ></nb-icon>
          }
          {{ 'shared.sentence-training-filters.advanced-tools' | transloco }}
        </div>
        } @if (advancedTools) {
        <div>
          <div class="my-2 tools-columns">
            {{ 'shared.sentence-training-filters.change-intent-title' | transloco }}
            <div class="flex-grow-1 d-flex gap-1 align-items-center justify-content-between">
              <nb-form-field class="flex-grow-1">
                <nb-icon
                  nbPrefix
                  icon="compass"
                ></nb-icon>
                <input
                  nbInput
                  fieldSize="small"
                  [placeholder]="'shared.sentence-training-filters.select-intent-placeholder' | transloco"
                  fullWidth
                  [nbTooltip]="'shared.sentence-training-filters.select-intent-tooltip' | transloco"
                  spellcheck="false"
                  autocomplete="off"
                  [(ngModel)]="changeIntent"
                  [nbAutocomplete]="intentSwapAutocomplete"
                  (keyup)="filterIntentsList('swap', $event)"
                  (focus)="onFocusIntentsInput('swap')"
                  (keyup.escape)="onBlurIntentsInput('swap', $event)"
                  (blur)="onBlurIntentsInput('swap', $event)"
                />
              </nb-form-field>
            </div>
            <button
              nbButton
              size="small"
              status="warning"
              [nbTooltip]="'shared.sentence-training-filters.change-intent-button' | transloco"
              [disabled]="!isIntentSelected()"
              (click)="applyChangeIntent()"
            >
              {{ 'shared.sentence-training-filters.change-intent' | transloco }}
            </button>
          </div>
          <nb-autocomplete
            #intentSwapAutocomplete
            size="tiny"
            [handleDisplayFn]="intentsAutocompleteViewHandle"
          >
            @for (group of filteredSwapIntentsGroups$ | async; track group) {
            <nb-option-group [title]="group.category">
              @for (intent of group.intents; track intent) {
              <nb-option [value]="intent">
                {{ intent.label || intent.name }}
              </nb-option>
              }
            </nb-option-group>
            }
            <nb-option
              class="autocompleteSeparator mt-2 pt-2"
              [value]="unknownIntent"
            >
              {{ unknownIntent.label }}
            </nb-option>
          </nb-autocomplete>
          <div class="my-2 tools-columns">
            {{ 'shared.sentence-training-filters.change-entity-title' | transloco }}
            <div class="flex-grow-1 d-flex gap-1 align-items-center justify-content-between">
              <nb-form-field class="w-50">
                <nb-icon
                  nbPrefix
                  icon="paperclip"
                ></nb-icon>
                <nb-select
                  size="small"
                  [placeholder]="'shared.sentence-training-filters.select-old-entity-placeholder' | transloco"
                  [nbTooltip]="'shared.sentence-training-filters.select-old-entity-tooltip' | transloco"
                  [(ngModel)]="swapEntitiesOrigin"
                >
                  @for (e of state.entities | async; track e) {
                  <nb-option [value]="e">
                    {{ e.qualifiedRole }}
                  </nb-option>
                  }
                </nb-select>
              </nb-form-field>
              <nb-form-field class="w-50">
                <nb-icon
                  nbPrefix
                  icon="paperclip"
                ></nb-icon>
                <nb-select
                  size="small"
                  [placeholder]="'shared.sentence-training-filters.select-new-entity-placeholder' | transloco"
                  [nbTooltip]="'shared.sentence-training-filters.select-new-entity-tooltip' | transloco"
                  [(ngModel)]="swapEntitiesTarget"
                >
                  @for (e of state.entities | async; track e) {
                  <nb-option [value]="e">
                    {{ e.qualifiedRole }}
                  </nb-option>
                  }
                </nb-select>
              </nb-form-field>
            </div>
            <button
              nbButton
              size="small"
              status="warning"
              [nbTooltip]="'shared.sentence-training-filters.change-entity-button' | transloco"
              [disabled]="!swapEntitiesOrigin || !swapEntitiesTarget"
              (click)="applyChangeEntity()"
            >
              {{ 'shared.sentence-training-filters.change-entity' | transloco }}
            </button>
          </div>
          <div class="my-2 tools-columns">
            {{ 'shared.sentence-training-filters.translate-title' | transloco }}
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="globe2"
              ></nb-icon>
              <nb-select
                [placeholder]="'shared.sentence-training-filters.target-language-placeholder' | transloco"
                fullWidth
                size="small"
                [nbTooltip]="'shared.sentence-training-filters.target-language-tooltip' | transloco"
                [(ngModel)]="translateTargetLocale"
              >
                @for (l of state.otherThanCurrentLocales(); track l) {
                <nb-option [value]="l">
                  {{ state.localeName(l) }}
                </nb-option>
                }
              </nb-select>
            </nb-form-field>
            <button
              nbButton
              size="small"
              status="warning"
              [nbTooltip]="'shared.sentence-training-filters.translate-button' | transloco"
              [disabled]="!translateTargetLocale"
              (click)="translateSentences()"
            >
              {{ 'shared.sentence-training-filters.translate' | transloco }}
            </button>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </nb-card-body>
</nb-card>
