<tock-sticky-menu [offset]="50">
  <div class="d-flex flex-wrap">
    <h1 class="flex-grow-1">{{ 'configuration.compressor-settings.title' | transloco }}</h1>

    <section class="grid-actions">
      <button
        [disabled]="!hasExportableData"
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'configuration.compressor-settings.exportTooltip' | transloco"
        (click)="exportSettings()"
      >
        <nb-icon icon="download"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'configuration.compressor-settings.importTooltip' | transloco"
        (click)="importSettings()"
      >
        <nb-icon icon="upload"></nb-icon>
      </button>

      <button
        *ngIf="settingsBackup && form.dirty"
        nbButton
        ghost
        status="primary"
        [nbTooltip]="'configuration.compressor-settings.cancelTooltip' | transloco"
        (click)="cancel()"
      >
        <nb-icon icon="x-circle"></nb-icon>
        {{ 'common.actions.cancel' | transloco }}
      </button>
      <button
        *ngIf="form.dirty"
        nbButton
        status="primary"
        [nbTooltip]="'configuration.compressor-settings.saveTooltip' | transloco"
        (click)="submit()"
      >
        <nb-icon icon="floppy"></nb-icon>
        {{ 'common.actions.save' | transloco }}
      </button>
    </section>
  </div>
</tock-sticky-menu>

<tock-no-data-found
  *ngIf="configurations?.length === 0"
  [title]="'configuration.compressor-settings.noBotConfiguration' | transloco"
></tock-no-data-found>

<form
  [formGroup]="form"
  *ngIf="configurations?.length > 0"
>
  <nb-card class="mt-1">
    <nb-card-body
      [nbSpinner]="loading"
      class="pb-0"
    >
      <nb-card class="mt-2">
        <nb-card-header>{{ 'configuration.compressor-settings.compressorActivationTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <tock-form-control
            name="enabled"
            [controls]="enabled"
            [showError]="isSubmitted"
            [hasMargin]="false"
          >
            <nb-toggle
              formControlName="enabled"
              class="mt-1"
            >
              <span *ngIf="enabled.value">{{ 'configuration.compressor-settings.compressorActivated' | transloco }}</span>
              <span *ngIf="!enabled.value">{{ 'configuration.compressor-settings.compressorDeactivated' | transloco }}</span>
            </nb-toggle>
          </tock-form-control>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>{{ 'configuration.compressor-settings.compressorProviderTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <tock-form-control
            name="compressorProvider"
            [controls]="compressorProvider"
            [required]="true"
            [showError]="isSubmitted"
          >
            <nb-radio-group
              formControlName="compressorProvider"
              name="compressorProvider"
              class="d-flex"
            >
              <nb-radio
                *ngFor="let provider of providersConfigurations"
                [value]="provider.key"
              >
                {{ provider.label }}
              </nb-radio>
            </nb-radio-group>
          </tock-form-control>

          <div
            *ngIf="currentCompressorProvider"
            class="mt-2 mb-2"
          >
            <div class="row mb-1">
              <ng-container *ngFor="let param of currentCompressorProvider.params">
                <div
                  class="col-6 px-3"
                  [ngClass]="{ 'col-12': param.inputScale === 'fullwidth' }"
                >
                  <tock-ai-settings-engine-config-param-input
                    parentGroup="setting"
                    [configurationParam]="param"
                    [form]="form"
                    [isSubmitted]="isSubmitted"
                  ></tock-ai-settings-engine-config-param-input>
                </div>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card *ngIf="settingsBackup">
        <nb-card-header>{{ 'configuration.compressor-settings.settingsDeletionTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <button
            nbButton
            status="danger"
            [nbTooltip]="'configuration.compressor-settings.deleteSettingsTooltip' | transloco"
            (click)="confirmSettingsDeletion()"
          >
            <nb-icon icon="trash"></nb-icon>
            {{ 'configuration.compressor-settings.deleteSettingsButton' | transloco }}
          </button>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</form>

<ng-template #exportConfirmationModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'configuration.compressor-settings.exportConfirmationTitle' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.cancel' | transloco"
        (click)="closeExportConfirmationModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="mb-2">{{ 'configuration.compressor-settings.includeSensitiveDataLabel' | transloco }}</div>
      <div *ngFor="let sensitiveParam of sensitiveParams">
        <nb-checkbox
          status="basic"
          [(ngModel)]="sensitiveParam.include"
        >
          {{ sensitiveParam.label }}
          {{ sensitiveParam.param.label }}
        </nb-checkbox>
      </div>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeExportConfirmationModal()"
      >
        {{ 'common.actions.cancel' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="confirmExportSettings()"
      >
        {{ 'configuration.compressor-settings.exportButton' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #importModal>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
      {{ 'configuration.compressor-settings.importModalTitle' | transloco }}
      <button
        nbButton
        ghost
        shape="round"
        [nbTooltip]="'common.actions.cancel' | transloco"
        (click)="closeImportModal()"
      >
        <nb-icon icon="x-lg"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <form
        [formGroup]="importForm"
        (submit)="submitImportSettings()"
      >
        <tock-form-control
          [label]="'configuration.compressor-settings.importFileLabel' | transloco"
          name="importFile"
          [required]="true"
          [controls]="fileSource"
          [showError]="isImportSubmitted"
        >
          <tock-file-upload
            id="importFile"
            formControlName="fileSource"
            [autofocus]="true"
            [fullWidth]="true"
            [multiple]="false"
            [fileTypeAccepted]="['json']"
          ></tock-file-upload>
        </tock-form-control>
      </form>
    </nb-card-body>

    <nb-card-footer class="card-footer-actions">
      <button
        nbButton
        ghost
        size="small"
        (click)="closeImportModal()"
      >
        {{ 'common.actions.cancel' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        (click)="submitImportSettings()"
      >
        {{ 'configuration.compressor-settings.importButton' | transloco }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<tock-scroll-top-button></tock-scroll-top-button>
