.wrapperFullscreen {
  position: absolute !important;
  z-index: 1040 !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  margin: 0 !important;
}

.canvasFullscreen {
  height: inherit;
  width: inherit;
  margin: 0;
}
