<nb-card id="modal-wrapper">
  <nb-card-header class="d-flex justify-content-between align-items-start">
    <div>
      <h4>Create a new intent</h4>
      There is no existing intention corresponding to the label "{{ item.text }}". Please define one
      below.
    </div>
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      (click)="cancel()"
      class="ml-3"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <div class="d-flex flex-column mb-2">
        <tock-form-control
          label="Label"
          name="label"
          required="true"
          [controls]="label"
          [showError]="isSubmitted"
        >
          <input
            nbInput
            autofocusElement
            formControlName="label"
            fullWidth
            id="label"
            type="text"
            placeholder="Enter label"
            (keyup)="copyLabelToName()"
          />
        </tock-form-control>
      </div>

      <div class="d-flex flex-column mb-2">
        <tock-form-control
          label="Name"
          name="name"
          required="true"
          [controls]="name"
          [showError]="isSubmitted"
        >
          <input
            nbInput
            formControlName="name"
            fullWidth
            id="name"
            type="text"
            placeholder="Enter name"
            (keyup)="formatNameInput()"
          />
        </tock-form-control>
      </div>

      <div class="d-flex flex-column mb-2">
        <tock-form-control
          label="Category"
          name="category"
          [controls]="category"
          [showError]="isSubmitted"
        >
          <input
            nbInput
            formControlName="category"
            fullWidth
            id="category"
            type="text"
            placeholder="Select category"
            autocomplete="off"
            [nbAutocomplete]="categoryAutocomplete"
          />
          <nb-autocomplete #categoryAutocomplete>
            <nb-option
              *ngFor="let option of categoryAutocompleteValues | async"
              [value]="option"
            >
              {{ option }}
            </nb-option>
          </nb-autocomplete>
        </tock-form-control>
      </div>

      <div class="d-flex flex-column mb-2">
        <tock-form-control
          label="Description"
          name="description"
          [controls]="description"
          [showError]="isSubmitted"
        >
          <textarea
            nbInput
            formControlName="description"
            fullWidth
            id="description"
            type="text"
            placeholder="Enter description"
          ></textarea>
        </tock-form-control>
      </div>

      <div class="grid-button mt-4">
        <button
          nbButton
          outline
          status="primary"
          size="small"
          type="button"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button
          nbButton
          status="primary"
          size="small"
          type="submit"
          [disabled]="!canSave"
        >
          Save
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
