@if (!exportAlexa && !tokenizerProperties) {
<div>
  <button
    nbButton
    outline
    shape="rectangle"
    status="primary"
    (click)="showUploadDumpPanel()"
  >
    {{ 'applications.application-advanced-options.uploadDumpButton' | transloco }}
  </button>
  &nbsp;
  <button
    nbButton
    outline
    shape="rectangle"
    status="primary"
    (click)="triggerBuild()"
  >
    {{ 'applications.application-advanced-options.triggerBuildButton' | transloco }}
  </button>
  &nbsp;
  <button
    nbButton
    outline
    shape="rectangle"
    status="primary"
    (click)="displayConfiguration()"
  >
    {{ 'applications.application-advanced-options.nluEngineConfigurationButton' | transloco }}
  </button>
  &nbsp;
  <button
    nbButton
    outline
    shape="rectangle"
    status="primary"
    (click)="exportAlexa = true"
  >
    {{ 'applications.application-advanced-options.alexaExportButton' | transloco }}
  </button>
</div>
} @if (exportAlexa) {
<nb-card>
  <nb-card-body>
    <div class="d-flex">
      <nb-select
        [placeholder]="'applications.application-advanced-options.selectLocalePlaceholder' | transloco"
        [(ngModel)]="alexaLocale"
        class="mr-3"
      >
        @for (locale of application.supportedLocales; track locale) {
        <nb-option [value]="locale">
          {{ state.localeName(locale) }}
        </nb-option>
        }
      </nb-select>
      <button
        nbButton
        outline
        status="primary"
        size="small"
        (click)="exportAlexa = false"
      >
        {{ 'applications.application-advanced-options.cancelButton' | transloco }}
      </button>
      <button
        nbButton
        status="primary"
        size="small"
        style="margin-left: 10px"
        (click)="downloadAlexaExport()"
      >
        {{ 'applications.application-advanced-options.exportButton' | transloco }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
} @if (tokenizerProperties) {
<nb-card>
  <nb-card-body>
    <div class="mb-2">
      <label>{{ 'applications.application-advanced-options.tokenizerPropertiesLabel' | transloco }}</label>
      <textarea
        nbInput
        fullWidth
        [(ngModel)]="tokenizerProperties"
        [placeholder]="'applications.application-advanced-options.tokenizerPropertiesPlaceholder' | transloco"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-2">
      <label>{{ 'applications.application-advanced-options.intentClassifierPropertiesLabel' | transloco }}</label>
      <textarea
        nbInput
        fullWidth
        [(ngModel)]="intentClassifierProperties"
        [placeholder]="'applications.application-advanced-options.intentClassifierPropertiesPlaceholder' | transloco"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-2">
      <label>{{ 'applications.application-advanced-options.entityClassifierPropertiesLabel' | transloco }}</label>
      <textarea
        nbInput
        fullWidth
        [(ngModel)]="entityClassifierProperties"
        [placeholder]="'applications.application-advanced-options.entityClassifierPropertiesPlaceholder' | transloco"
        rows="3"
      ></textarea>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      outline
      status="primary"
      size="small"
      (click)="tokenizerProperties = null; intentClassifierProperties = null; entityClassifierProperties = null"
    >
      {{ 'applications.application-advanced-options.cancelButton' | transloco }}
    </button>
    <button
      nbButton
      status="primary"
      size="small"
      (click)="updateConfiguration()"
      style="margin-left: 10px"
    >
      {{ 'applications.application-advanced-options.updateConfigurationButton' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
}
