UL {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-right: 0;
  margin-bottom: 0.5rem;
  max-width: 100%;

  &.container {
    border-top: 2px var(--card-border-style) var(--card-border-color);
    border-left: 2px var(--card-border-style) var(--card-border-color);
  }

  .primitive {
    padding-left: 0;
  }

  &:not(:last-child).primitive {
    border-bottom: 1px var(--card-border-style) var(--card-border-color);
  }

  .array {
    background-color: var(--card-border-color);
    color: var(--card-text-color);
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
    margin-left: -1.5rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 5px;
  }
}
