<nb-card class="mt-2 mb-2">
  <nb-card-body>
    <form
      class="grid"
      [formGroup]="form"
    >
      <nb-form-field>
        <nb-icon
          nbPrefix
          icon="search"
        ></nb-icon>
        <input
          nbInput
          fullWidth
          fieldSize="medium"
          placeholder="Search an intent"
          type="text"
          formControlName="search"
        />
        <button
          *ngIf="!!search.value"
          type="button"
          nbButton
          nbSuffix
          nbTooltip="Clear"
          ghost
          (click)="clearSearch()"
          data-testid="clear-button"
        >
          <nb-icon icon="x-lg"></nb-icon>
        </button>
      </nb-form-field>
    </form>
  </nb-card-body>
</nb-card>
