.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

@media screen and (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .actions {
      justify-self: end;
    }
  }
}
