<nb-card class="main-wrapper">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ title }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'shared.debug-viewer-dialog.close_tooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    @if (hasDocuments) {
    <section class="documents-summary">
      <header class="documents-summary__header">
        <span class="documents-summary__title">
          {{ 'shared.debug-viewer-dialog.documents_title' | transloco: { count: allDocuments.length } }}
        </span>
        @if (hasContextUsage) {
        <span class="documents-summary__counts">
          <span class="badge badge--used"> {{ usedDocuments.length }} {{ 'shared.debug-viewer-dialog.used' | transloco }} </span>
          <span class="badge badge--unused"> {{ unusedDocuments.length }} {{ 'shared.debug-viewer-dialog.unused' | transloco }} </span>
        </span>
        }
      </header>
      @if (hasContextUsage) { @if (usedDocuments.length) {
      <p class="documents-summary__group-label documents-summary__group-label--used">
        {{ 'shared.debug-viewer-dialog.group_label_used' | transloco }}
      </p>
      @for (doc of usedDocuments; track doc) {
      <ng-container *ngTemplateOutlet="docRow; context: { $implicit: doc }"></ng-container>
      } } @if (unusedDocuments.length) {
      <p class="documents-summary__group-label documents-summary__group-label--unused">
        {{ 'shared.debug-viewer-dialog.group_label_unused' | transloco }}
      </p>
      @for (doc of unusedDocuments; track doc) {
      <ng-container *ngTemplateOutlet="docRow; context: { $implicit: doc }"></ng-container>
      } } } @else { @for (doc of allDocuments; track doc) {
      <ng-container *ngTemplateOutlet="docRow; context: { $implicit: doc }"></ng-container>
      } }
    </section>
    }

    <ng-template
      #docRow
      let-doc
    >
      <div
        class="doc-item"
        [class.doc-item--used]="hasContextUsage && doc.used"
        [class.doc-item--unused]="hasContextUsage && !doc.used"
        [class.doc-item--expanded]="doc.expanded"
      >
        <button
          type="button"
          class="doc-item__row"
          (click)="toggle(doc)"
        >
          <nb-icon
            class="doc-item__caret"
            [icon]="doc.expanded ? 'chevron-down' : 'chevron-right'"
            pack="nebular-essentials"
          ></nb-icon>
          @if (hasContextUsage) {
          <span
            class="doc-item__dot"
            [class.doc-item__dot--used]="doc.used"
          ></span>
          }
          <span class="doc-item__title">{{ doc.title }}</span>
          @if (!doc.expanded && doc.reason) {
          <span class="doc-item__reason-preview">{{ doc.reason }}</span>
          }
        </button>

        @if (doc.expanded) {
        <div class="doc-item__detail">
          @if (doc.reason) {
          <p class="doc-item__reason">
            <span class="doc-item__label">
              {{ 'shared.debug-viewer-dialog.reason' | transloco }}
            </span>
            {{ doc.reason }}
          </p>
          } @if (doc.sentences?.length) {
          <div class="doc-item__block">
            <span class="doc-item__label">
              {{ 'shared.debug-viewer-dialog.sentences' | transloco: { count: doc.sentences.length } }}
            </span>
            <ul class="doc-item__sentences">
              @for (s of doc.sentences; track s) {
              <li>{{ s }}</li>
              }
            </ul>
          </div>
          } @if (doc.content) {
          <div class="doc-item__block">
            <span class="doc-item__label">
              {{ 'shared.debug-viewer-dialog.content' | transloco }}
            </span>
            <pre class="doc-item__content">{{ doc.content }}</pre>
          </div>
          } @if (doc.metadataEntries?.length) {
          <div class="doc-item__block">
            <span class="doc-item__label">
              {{ 'shared.debug-viewer-dialog.metadata' | transloco }}
            </span>
            <dl class="doc-item__meta">
              @for (m of doc.metadataEntries; track m) {
              <dt>{{ m.key }}</dt>
              <dd>{{ m.value }}</dd>
              }
            </dl>
          </div>
          }
        </div>
        }
      </div>
    </ng-template>

    @if (hasDocuments) {
    <div class="json-separator">
      <span class="json-separator__label">
        {{ 'shared.debug-viewer-dialog.full_debug_json' | transloco }}
      </span>
    </div>
    }

    <tock-json-iterator
      [data]="debug"
      [customOrder]="['user_question', 'condensed_question', 'error', 'answer', 'question_answering_prompt', 'documents']"
    ></tock-json-iterator>
  </nb-card-body>
</nb-card>
