<nb-card
  class="mb-0 main-card"
  [class.maincard]="!expanded"
  [nbSpinner]="loading"
>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <div class="ellipsis initial-capitalize">
        {{ faq?.id ? faq.title : ('faq.faq-management-edit.newFaqTitle' | transloco) }}
      </div>

      <div class="d-flex">
        <button
          type="button"
          nbButton
          ghost
          shape="round"
          [nbTooltip]="
            expanded ? ('faq.faq-management-edit.reduceTooltip' | transloco) : ('faq.faq-management-edit.expandTooltip' | transloco)
          "
          (click)="expandSidePanel()"
        >
          @if (!expanded) {
          <nb-icon icon="arrows-angle-expand"></nb-icon>
          } @if (expanded) {
          <nb-icon icon="arrows-angle-contract"></nb-icon>
          }
        </button>
        <button
          type="button"
          nbButton
          ghost
          shape="round"
          [nbTooltip]="'faq.faq-management-edit.closeTooltip' | transloco"
          (click)="close()"
        >
          <nb-icon icon="x-lg"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body class="pt-0">
    <form [formGroup]="form">
      <nb-tabset
        fullWidth
        (changeTab)="setCurrentTab($event)"
      >
        <nb-tab
          #infoTab
          [tabTitle]="'faq.faq-management-edit.infoTabTitle' | transloco"
          badgePosition="top right"
          badgeStatus="danger"
          [badgeDot]="isSubmitted && !!(title.invalid || description.invalid || intentNameExistInApp)"
          [active]="currentTab === faqTabs.INFO"
          class="pb-0"
        >
        </nb-tab>
        <nb-tab
          #questionTab
          [tabTitle]="'faq.faq-management-edit.questionTabTitle' | transloco"
          badgePosition="top right"
          badgeStatus="danger"
          [badgeDot]="isSubmitted && !!utterances.invalid"
          [active]="currentTab === faqTabs.QUESTION"
          class="pb-0"
        >
        </nb-tab>
        <nb-tab
          #answerTab
          [tabTitle]="'faq.faq-management-edit.answerTabTitle' | transloco"
          badgePosition="top right"
          badgeStatus="danger"
          [badgeDot]="isSubmitted && !!(answers.invalid || footnotes.invalid)"
          [active]="currentTab === faqTabs.ANSWER"
          class="pb-0"
        >
        </nb-tab>
      </nb-tabset>

      @if (currentTab === faqTabs.INFO) {
      <div>
        <tock-form-control
          [label]="'faq.faq-management-edit.nameLabel' | transloco"
          name="name"
          [controls]="title"
          [showError]="isSubmitted"
          [required]="true"
          data-testid="name"
        >
          <input
            tockAutofocusElement
            nbInput
            formControlName="title"
            id="name"
            fullWidth
            type="text"
            [placeholder]="'faq.faq-management-edit.namePlaceholder' | transloco"
            (keyup)="resetAlerts()"
          />
          @if (intentNameExistInApp) {
          <div class="text-danger">
            <small>{{ 'faq.faq-management-edit.intentNameExistsWarning' | transloco }}</small>
          </div>
          }
        </tock-form-control>
        <tock-form-control
          [label]="'faq.faq-management-edit.descriptionLabel' | transloco"
          name="description"
          [controls]="description"
          [showError]="isSubmitted"
          data-testid="description"
        >
          <textarea
            nbInput
            formControlName="description"
            fullWidth
            id="description"
            type="text"
            rows="8"
            [placeholder]="'faq.faq-management-edit.descriptionPlaceholder' | transloco"
          ></textarea>
          <small [ngClass]="getControlLengthIndicatorClass('description')">
            {{
              'faq.faq-management-edit.descriptionLengthIndicator'
                | transloco: { count: form.controls.description.value.length, max: controlsMaxLength.description }
            }}
          </small>
        </tock-form-control>
        <tock-form-control
          [label]="'faq.faq-management-edit.tagsLabel' | transloco"
          name="tags"
          [controls]="tags"
          [showError]="isSubmitted"
          data-testid="tags"
        >
          <nb-tag-list (tagRemove)="onTagRemove($event)">
            @for (tag of tags.value; track tag) {
            <nb-tag
              removable
              [text]="tag"
            ></nb-tag>
            }
            <input
              nbTagInput
              #tagInput
              fullWidth
              id="tags"
              type="text"
              [placeholder]="'faq.faq-management-edit.tagsPlaceholder' | transloco"
              autocomplete="off"
              (tagAdd)="onTagAdd($event)"
              (keyup)="updateTagsAutocompleteValues($event)"
              [nbAutocomplete]="tagsAutocomplete"
            />
            <nb-autocomplete
              #tagsAutocomplete
              (selectedChange)="tagSelected($event)"
            >
              @for (option of tagsAutocompleteValues | async; track option) {
              <nb-option
                [value]="option"
                class="text-capitalize"
              >
                {{ option }}
              </nb-option>
              }
            </nb-autocomplete>
          </nb-tag-list>
        </tock-form-control>
      </div>
      } @if (currentTab === faqTabs.QUESTION) {
      <div>
        <tock-form-control
          [label]="'faq.faq-management-edit.questionLabel' | transloco"
          name="question"
          [controls]="utterances"
          [showError]="isSubmitted"
          [required]="true"
          data-testid="question"
        >
          <div class="d-flex gap-1">
            <nb-form-field class="flex-grow-1">
              <input
                #addUtteranceInput
                tockAutofocusElement
                nbInput
                fullWidth
                id="question"
                type="text"
                [placeholder]="'faq.faq-management-edit.questionPlaceholder' | transloco"
                [disabled]="lookingForSameUterranceInOtherInent"
                (keyup)="resetAlerts()"
                (keyup.enter)="addUtterance()"
              />
              <button
                type="button"
                nbButton
                nbSuffix
                ghost
                [nbTooltip]="'faq.faq-management-edit.addTooltip' | transloco"
                [disabled]="!addUtteranceInput.value || lookingForSameUterranceInOtherInent"
                (click)="addUtterance()"
              >
                <nb-icon icon="plus-lg"></nb-icon>
              </button>
            </nb-form-field>
            <button
              nbButton
              type="button"
              [nbTooltip]="'faq.faq-management-edit.generateSentencesTooltip' | transloco"
              ghost
              shape="round"
              status="primary"
              (click)="generateSentences()"
              [disabled]="!utterances.controls.length"
            >
              <nb-icon icon="list-columns"></nb-icon>
            </button>
          </div>
        </tock-form-control>
        @if (utterances.controls.length && showInboxSentencesWarning) {
        <nb-alert
          accent="warning"
          closable
          (close)="onCloseInboxSentencesWarning()"
        >
          <div class="font-size-small">
            {{ 'faq.faq-management-edit.inboxSentencesWarning' | transloco }}
            <a
              href="javascript:void(0)"
              (click)="sendToInbox()"
            >
              {{ 'faq.faq-management-edit.inboxSentencesWarningClickHere' | transloco }}
            </a>
          </div>
        </nb-alert>
        } @if (existingUterranceInOtherintent) {
        <nb-alert
          status="danger"
          class="closable mt-2"
          data-testid="existing-uterrance-in-other-intent"
        >
          <button
            type="button"
            aria-label="Close"
            class="close alert-custom-close"
            (click)="resetAlerts()"
          >
            <span>×</span>
          </button>
          <span data-testid="alert-message">
            {{ 'faq.faq-management-edit.existingUtteranceWarning' | transloco }}
            <strong>"{{ existingUterranceInOtherintent }}" </strong>
          </span>
        </nb-alert>
        }
        <div
          #utterancesListWrapper
          class="entries-list d-flex flex-column mb-2"
          [nbSpinner]="lookingForSameUterranceInOtherInent"
        >
          <ul>
            @for (utterance of utterances.controls; track utterance) {
            <li class="d-flex justify-content-between align-items-center">
              @if (utterance !== editedUtterance) {
              <div class="flex-grow-1">
                {{ utterance.value }}
              </div>
              } @if (utterance === editedUtterance) {
              <div class="flex-grow-1 mr-3">
                <textarea
                  nbInput
                  fullWidth
                  fieldSize="small"
                  [(ngModel)]="editedUtteranceValue"
                  [ngModelOptions]="{ standalone: true }"
                  (keyup.enter)="validateEditUtterance(utterance)"
                ></textarea>
              </div>
              } @if (utterance !== editedUtterance) {
              <button
                type="button"
                nbButton
                [nbTooltip]="'faq.faq-management-edit.editTooltip' | transloco"
                ghost
                shape="round"
                size="small"
                (click)="editUtterance(utterance.value)"
              >
                <nb-icon icon="pencil"></nb-icon>
              </button>
              } @if (utterance === editedUtterance) {
              <button
                type="button"
                nbButton
                [nbTooltip]="'faq.faq-management-edit.validateChangesTooltip' | transloco"
                shape="round"
                size="small"
                status="success"
                (click)="validateEditUtterance(utterance)"
              >
                <nb-icon icon="check-lg"></nb-icon>
              </button>
              } @if (utterance !== editedUtterance) {
              <button
                type="button"
                nbButton
                [nbTooltip]="'faq.faq-management-edit.deleteTooltip' | transloco"
                ghost
                shape="round"
                size="small"
                status="danger"
                (click)="removeUtterance(utterance.value)"
              >
                <nb-icon icon="trash"></nb-icon>
              </button>
              } @if (utterance === editedUtterance) {
              <button
                type="button"
                nbButton
                [nbTooltip]="'faq.faq-management-edit.cancelChangesTooltip' | transloco"
                ghost
                shape="round"
                size="small"
                (click)="cancelEditUtterance()"
              >
                <nb-icon icon="x-lg"></nb-icon>
              </button>
              }
            </li>
            }
          </ul>
        </div>
      </div>
      } @if (currentTab === faqTabs.ANSWER) {
      <div>
        <tock-form-control
          [label]="'faq.faq-management-edit.localeLabel' | transloco"
          class="mb-3"
          [required]="true"
          [controls]="getSelectedAnswerI18nControl()"
          [showError]="true"
          [information]="'faq.faq-management-edit.localeInformation' | transloco"
        >
          <div class="d-flex align-items-center justify-content-between">
            <div class="flex-grow-1">
              <nb-select
                [(ngModel)]="selectedAnswerI18nValue"
                [ngModelOptions]="{ standalone: true }"
                [compareWith]="compareSelectedAnswerByOptions"
                [placeholder]="'faq.faq-management-edit.localePlaceholder' | transloco"
                size="small"
                fullWidth
              >
                @if (selectedAnswerI18nValue) {
                <nb-select-label class="ellipsis answer-selected-label">
                  {{ longLocaleName(selectedAnswerI18nValue.locale) }} :
                  <img
                    src="{{ getConnectorTypeIconById(selectedAnswerI18nValue.connectorId) }}"
                    class="select-icon align-text-top"
                  />
                  {{ getAnswerConnectorLabel(selectedAnswerI18nValue) }}
                </nb-select-label>
                } @for (locale of getAnswersLocales(); track locale) {
                <nb-option-group [title]="locale.second">
                  @for (i18nValue of getAnswerI18nValueByLocale(locale.first); track i18nValue) {
                  <nb-option
                    [value]="i18nValue"
                    [class.selected]="compareSelectedAnswerByOptions(i18nValue, selectedAnswerI18nValue)"
                    class="align-items-center justify-content-between"
                  >
                    <span>
                      <img
                        src="{{ getConnectorTypeIconById(i18nValue.connectorId) }}"
                        class="select-icon mr-2"
                        [nbTooltip]="getConnectorLabel(i18nValue.connectorId)"
                      />
                      <span
                        [nbTooltip]="getAnswerConnectorLabelTooltip(i18nValue)"
                        [ngClass]="{ 'font-italic': !getAnswerLabelTrimedLength(i18nValue) }"
                        >{{ getAnswerConnectorLabel(i18nValue) }}</span
                      >
                      @if (getAnswerI18nLocalizedLabel(i18nValue)?.validated) {
                      <nb-icon
                        icon="check"
                        class="ml-2 text-success align-text-top"
                        [nbTooltip]="'faq.faq-management-edit.validatedTooltip' | transloco"
                      >
                      </nb-icon>
                      }
                    </span>
                    @if (getAnswerLabelTrimedLength(i18nValue)) {
                    <nb-icon
                      icon="info-square"
                      class="ml-3 opacity-50"
                      [nbTooltip]="i18nValue.label"
                      nbTooltipPlacement="bottom"
                    >
                    </nb-icon>
                    } @if (!getAnswerLabelTrimedLength(i18nValue)) {
                    <nb-icon
                      icon="exclamation-triangle"
                      class="ml-3 text-danger"
                      [nbTooltip]="'faq.faq-management-edit.labelNotProvidedTooltip' | transloco"
                    >
                    </nb-icon>
                    }
                  </nb-option>
                  }
                </nb-option-group>
                }
              </nb-select>
            </div>
            @if (hasUnassignedAnswerCombinations()) {
            <div [nbTooltip]="'faq.faq-management-edit.addLocaleCombinationTooltip' | transloco">
              <button
                nbButton
                size="tiny"
                shape="round"
                status="primary"
                class="ml-2"
                (click)="resetAnswerCombinationSelector()"
                [nbPopover]="answerCombinationSelectorPopover"
                nbPopoverPlacement="left"
              >
                <nb-icon icon="plus-lg"></nb-icon>
              </button>
            </div>
            }
          </div>
          @if (isSubmitted && answers.invalid) {
          <div class="text-danger mt-1">
            {{ 'faq.faq-management-edit.someAnswersMissingError' | transloco }}
          </div>
          }
        </tock-form-control>
        <ng-template #answerCombinationSelectorPopover>
          <div
            class="p-3 text-center answer-combination-selector"
            (click)="stopPropagation($event)"
          >
            @if (!answerCombinationSelector.locale) {
            <div>
              <div class="font-weight-bold mb-2">{{ 'faq.faq-management-edit.selectLocaleLabel' | transloco }}</div>
              @for (locale of getSupportedLocalesWithUnassignedAnswerCombinations(); track locale) {
              <button
                nbButton
                status="control"
                size="tiny"
                fullWidth
                class="my-1"
                (click)="setAnswerCombinationSelector('locale', locale.first)"
              >
                {{ locale.second }}
              </button>
              }
            </div>
            } @if (answerCombinationSelector.locale && !answerCombinationSelector.connector) {
            <div>
              <div class="font-weight-bold mb-2">{{ 'faq.faq-management-edit.selectConnectorLabel' | transloco }}</div>
              @for (connector of getUnassignedConnectorsForLocale(answerCombinationSelector.locale) | keyvalue: originalOrder; track
              connector) {
              <button
                nbButton
                status="control"
                size="tiny"
                fullWidth
                class="my-1"
                (click)="setAnswerCombinationSelector('connector', connector.key)"
              >
                <img
                  src="{{ getConnectorTypeIconById(connector.key) }}"
                  class="select-icon align-text-top mr-2"
                />
                {{ connector.value }}
              </button>
              }
            </div>
            } @if (answerCombinationSelector.locale && answerCombinationSelector.connector && !answerCombinationSelector.interface) {
            <div>
              <div class="font-weight-bold mb-2">{{ 'faq.faq-management-edit.selectInterfaceLabel' | transloco }}</div>
              @for ( interface of getUnassignedInterfacesForLocaleAndConnector( answerCombinationSelector.locale,
              answerCombinationSelector.connector ) | keyvalue; track trackByInterface($index, interface)) {
              <button
                nbButton
                status="control"
                size="tiny"
                fullWidth
                class="my-1"
                (click)="setAnswerCombinationSelector('interface', interface.value.value)"
              >
                @if (interface.value.value === userInterfaceType.textChat) {
                <nb-icon icon="chat-right-text-fill"></nb-icon>
                } @if (interface.value.value === userInterfaceType.voiceAssistant) {
                <nb-icon icon="telephone-fill"></nb-icon>
                }
                {{ interface.value.label }}
              </button>
              }
            </div>
            }
          </div>
        </ng-template>
        @if (selectedAnswerI18nValue && doesSelectedAnswerSupportsRichText()) {
        <tock-form-control
          [label]="'faq.faq-management-edit.answerFormatLabel' | transloco"
          name="answerExportFormat"
          [information]="'faq.faq-management-edit.answerFormatInformation' | transloco"
          [controls]="getSelectedAnswerI18nControl().controls.answerExportFormat"
          [showError]="isSubmitted"
          [hasMargin]="false"
          class="mb-3"
        >
          <nb-radio-group
            [formControl]="getSelectedAnswerI18nControl().controls.answerExportFormat"
            class="d-flex mt-n1 mb-1"
          >
            @for (format of answerExportFormatsRadios; track format) {
            <nb-radio
              [value]="format.value"
              class="text-nowrap"
              >{{ format.label }}</nb-radio
            >
            }
          </nb-radio-group>
        </tock-form-control>
        } @if (selectedAnswerI18nValue) {
        <tock-form-control
          [label]="'faq.faq-management-edit.answerContentLabel' | transloco"
          name="answer"
          [information]="'faq.faq-management-edit.answerContentInformation' | transloco"
          [controls]="getSelectedAnswerI18nControl().controls.label"
          [showError]="isSubmitted"
          [required]="true"
        >
          <tock-wysiwyg-editor
            [editionFormat]="getSelectedAnswerI18nControl().controls.answerExportFormat.value"
            [formControl]="getSelectedAnswerI18nControl().controls.label"
            [locale]="getSelectedAnswerI18nControl().controls.locale.value"
            [placeholder]="'faq.faq-management-edit.answerContentPlaceholder' | transloco"
          ></tock-wysiwyg-editor>
        </tock-form-control>
        }
        <tock-form-control
          [label]="'faq.faq-management-edit.footnotesLabel' | transloco"
          name="footnotes"
          [information]="'faq.faq-management-edit.footnotesInformation' | transloco"
          [controls]="footnotes"
          [showError]="isSubmitted"
        >
          <div formArrayName="footnotes">
            @for (footnote of footnotes.controls; track footnote; let i = $index) {
            <div
              [formGroupName]="i"
              class="mb-2 font-size-small border rounded p-2 d-flex gap-1"
            >
              <div class="flex-grow-1">
                <div class="d-flex gap-1 text-right text-muted mb-1">
                  <label
                    class="min-width-5 font-weight-bold"
                    [ngClass]="{ 'text-danger': isSubmitted && !footnote.value.title.length }"
                  >
                    <abbr
                      title="Required"
                      class="text-danger text-decoration-none"
                    >
                      *
                    </abbr>
                    {{ 'faq.faq-management-edit.footnoteTitleLabel' | transloco }}
                  </label>
                  <input
                    formControlName="title"
                    id="name"
                    [placeholder]="'faq.faq-management-edit.footnoteTitlePlaceholder' | transloco"
                    nbInput
                    fullWidth
                    fieldSize="tiny"
                    type="text"
                    required
                  />
                </div>
                <div class="d-flex gap-1 text-right text-muted mb-1">
                  <label class="min-width-5">{{ 'faq.faq-management-edit.footnoteUrlLabel' | transloco }}</label>
                  <input
                    formControlName="url"
                    id="url"
                    [placeholder]="'faq.faq-management-edit.footnoteUrlPlaceholder' | transloco"
                    nbInput
                    fullWidth
                    fieldSize="tiny"
                    type="url"
                  />
                </div>
                <div class="d-flex gap-1 text-right text-muted">
                  <label class="min-width-5">{{ 'faq.faq-management-edit.footnoteContentLabel' | transloco }}</label>
                  <textarea
                    formControlName="content"
                    id="content"
                    [placeholder]="'faq.faq-management-edit.footnoteContentPlaceholder' | transloco"
                    nbInput
                    fullWidth
                    fieldSize="tiny"
                  ></textarea>
                </div>
              </div>
              <div class="d-flex flex-column">
                @if (i > 0) {
                <button
                  nbButton
                  size="tiny"
                  status="basic"
                  [nbTooltip]="'faq.faq-management-edit.reduceFootnoteIndexTooltip' | transloco"
                  (click)="changeFootnoteIndex(-1, i)"
                  class="mb-1"
                >
                  <nb-icon
                    icon="chevron-up-outline"
                    pack="nebular-essentials"
                  ></nb-icon>
                </button>
                } @if (canIncreaseFootnoteIndex(i)) {
                <button
                  nbButton
                  size="tiny"
                  status="basic"
                  [nbTooltip]="'faq.faq-management-edit.increaseFootnoteIndexTooltip' | transloco"
                  (click)="changeFootnoteIndex(1, i)"
                  class="mb-1"
                >
                  <nb-icon
                    icon="chevron-down-outline"
                    pack="nebular-essentials"
                  ></nb-icon>
                </button>
                }
                <button
                  nbButton
                  size="tiny"
                  status="danger"
                  [nbTooltip]="'faq.faq-management-edit.deleteFootnoteTooltip' | transloco"
                  (click)="removeFootnote(i)"
                >
                  <nb-icon icon="trash"></nb-icon>
                </button>
              </div>
            </div>
            }
          </div>
          <button
            nbButton
            size="tiny"
            (click)="addFootnote()"
          >
            <nb-icon icon="plus"></nb-icon>
            {{ 'faq.faq-management-edit.addFootnoteButton' | transloco }}
          </button>
        </tock-form-control>
      </div>
      }
    </form>
  </nb-card-body>

  <nb-card-footer>
    @if (currentTab === 'answer' && getSelectedAnswerI18nControl()) {
    <div class="mt-n2 mb-1">
      <small [ngClass]="getAnswerLengthIndicatorClass()">
        {{
          'faq.faq-management-edit.answerLengthIndicator'
            | transloco: { count: getSelectedAnswerI18nControl().controls.label.value.length, max: controlsMaxLength.answer }
        }}
      </small>
    </div>
    }

    <div class="grid-button">
      <button
        type="button"
        nbButton
        outline
        status="primary"
        size="small"
        (click)="close()"
      >
        {{ 'faq.faq-management-edit.cancelButton' | transloco }}
      </button>
      <button
        type="button"
        nbButton
        status="primary"
        size="small"
        [disabled]="!canSave"
        (click)="checkIntentNameAndSave()"
      >
        {{ 'faq.faq-management-edit.saveButton' | transloco }}
      </button>
    </div>
  </nb-card-footer>
</nb-card>
