<div class="d-flex justify-content-end mb-4">
  <button
    *ngIf="!fullDisplay && answer.answers.length !== 0"
    nbButton
    ghost
    size="small"
    (click)="toggleDisplay()"
  >
    <nb-icon icon="globe2"></nb-icon>
    {{ 'bot.simple-answer.i18nButtonLabel' | transloco }}
  </button>
  <button
    *ngIf="fullDisplay"
    nbButton
    ghost
    size="small"
    (click)="toggleDisplay()"
  >
    <nb-icon icon="globe2"></nb-icon>
    {{ 'bot.simple-answer.answersListButtonLabel' | transloco }}
  </button>
</div>

<div *ngIf="!fullDisplay">
  <div
    *ngFor="let a of answer.answers"
    class="grid mb-1"
  >
    <div class="d-flex flex-column align-self-center">
      <button
        *ngIf="canUpward(a)"
        nbButton
        ghost
        size="small"
        shape="round"
        status="info"
        [nbTooltip]="'bot.simple-answer.moveUpwardTooltip' | transloco"
        (click)="upward(a)"
      >
        <nb-icon icon="arrow-up"></nb-icon>
      </button>
      <button
        *ngIf="canDownward(a)"
        nbButton
        size="small"
        ghost
        shape="round"
        status="info"
        [nbTooltip]="'bot.simple-answer.moveDownwardTooltip' | transloco"
        (click)="downward(a)"
      >
        <nb-icon icon="arrow-down"></nb-icon>
      </button>
    </div>
    <textarea
      nbInput
      fullWidth
      rows="2"
      [(ngModel)]="a.label.defaultLocalizedLabelForLocale(state.currentLocale).label"
      (change)="updateLabel(a)"
    >
    </textarea>
    <div class="d-flex flex-wrap">
      <button
        nbButton
        ghost
        shape="round"
        [status]="a.mediaMessage ? 'primary' : 'basic'"
        [nbTooltip]="'bot.simple-answer.chooseMediaMessageTooltip' | transloco"
        (click)="displayMediaMessage(a)"
      >
        <nb-icon icon="image"></nb-icon>
      </button>
      <button
        *ngIf="answer.allowNoAnswer || answer.answers.length !== 1"
        nbButton
        ghost
        shape="round"
        status="danger"
        [nbTooltip]="'bot.simple-answer.deleteAnswerTooltip' | transloco: { answerLabel: answerLabel }"
        (click)="deleteAnswer(a, true)"
      >
        <nb-icon icon="trash"></nb-icon>
      </button>
    </div>
  </div>
  <div class="grid grid-add mt-4">
    <textarea
      nbInput
      fullWidth
      [placeholder]="'bot.simple-answer.addNewAnswerPlaceholder' | transloco: { answerLabel: answerLabel }"
      [(ngModel)]="newAnswer"
      (keyup.enter)="addAnswer()"
    >
    </textarea>
    <div class="d-flex flex-wrap">
      <button
        nbButton
        ghost
        shape="round"
        [status]="newMedia ? 'primary' : 'basic'"
        [nbTooltip]="'bot.simple-answer.editMediaMessageTooltip' | transloco"
        (click)="displayMediaMessage()"
      >
        <nb-icon icon="image"></nb-icon>
      </button>
      <button
        nbButton
        shape="round"
        status="primary"
        [nbTooltip]="'bot.simple-answer.addAnswerTooltip' | transloco: { answerLabel: answerLabel }"
        (click)="addAnswer()"
      >
        <nb-icon icon="plus-lg"></nb-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="fullDisplay">
  <tock-i18n-label
    *ngFor="let a of answer.answers"
    [i18nLabel]="a.label"
    [deleteLabelAllowed]="answer.answers.length !== 1"
    (delete)="deleteAnswer(a, false)"
  ></tock-i18n-label>
</div>
