@import '@nebular/theme/styles/global/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

.main-card {
  max-width: 90vw;
  min-width: 50vw;
  max-height: 90vh;
}

.entries-list {
  DIV {
    border: var(--list-item-divider-width) var(--list-item-divider-style) var(--list-item-divider-color);
    background-color: var(--layout-background-color);
    border-radius: 5px;
    padding: 0 0 0 0.5rem;
    margin: 0.5rem 0;

    button {
      margin: 0.1rem 0.1rem 0.1rem 1rem;
    }
  }
}
