/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
