@import '../../../../../theme/styles/utilities.scss';

.userInterface {
  float: left;
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.footnotes {
  background-color: var(--background-basic-color-2);
  font-size: x-small;

  padding: 0.5em 0.75em;

  border-radius: 0.25em;

  .title {
    font-size: xx-small;
  }

  .truncate {
    @include truncate(1);
  }
}
