<img
  *ngIf="sentence.userInterface"
  src="/assets/images/{{ sentence.userInterface }}.svg"
  class="userInterface"
  nbTooltip="{{ sentence.userInterface }}"
/>
<span
  *ngIf="reply"
  [innerHTML]="linkifyHtml(sentence.text)"
></span>
<span *ngIf="!reply">{{ sentence.text }}</span>

<div
  class="footnotes mt-1"
  *ngIf="sentence.footnotes?.length"
>
  <strong class="title mr-1">SOURCES : </strong>
  <span *ngFor="let footNote of sentence.footnotes; let i = index; let last = last">
    <a
      [href]="footNote.url"
      target="_blank"
      *ngIf="footNote.url?.trim().length"
      [class.d-block]="$any(footNote).content"
    >
      {{ footNote.title }}
    </a>
    <span
      *ngIf="!footNote.url?.trim().length"
      [class.d-block]="$any(footNote).content"
    >
      {{ footNote.title }}
    </span>

    <div
      *ngIf="footNote.content"
      [class.truncate]="!footNote._showFullContent"
      #footnoteContentWrapper
    >
      <span
        *ngIf="footNote.content"
        (click)="footNote._showFullContent = !footNote._showFullContent"
      >
        <nb-icon
          *ngIf="footNote._showFullContent"
          icon="chevron-down-outline"
          pack="nebular-essentials"
          class="align-bottom pointer"
          nbTooltip="Hide"
        ></nb-icon>
        <nb-icon
          *ngIf="!footNote._showFullContent && isClamped(footnoteContentWrapper)"
          icon="chevron-right-outline"
          pack="nebular-essentials"
          class="align-bottom pointer ml-n2"
          nbTooltip="Show more"
        ></nb-icon>
      </span>
      {{ footNote.content }}
    </div>

    <span
      *ngIf="!footNote.content"
      class="mx-1"
      >|</span
    >
  </span>
</div>
