@import '../../../../../theme/styles/utilities.scss';

.userInterface {
  float: left;
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.footnotes {
  font-size: x-small;

  .title {
    font-size: xx-small;
  }

  .truncate {
    @include truncate(1);
  }
}
