<nb-card class="m-0">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{
      create
        ? ('bot.story-dialog.createNewStoryTitle' | transloco)
        : ('bot.story-dialog.updateStoryTitle' | transloco: { name: name || label })
    }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form #intentForm="ngForm">
      <tock-form-control
        [label]="'bot.story-dialog.userPhraseSampleLabel' | transloco"
        name="userSentence"
        [information]="'bot.story-dialog.userPhraseSampleInformation' | transloco"
      >
        <input
          nbInput
          fullWidth
          name="userSentence"
          id="userSentence"
          [placeholder]="'bot.story-dialog.userPhraseSamplePlaceholder' | transloco"
          [(ngModel)]="userSentence"
        />
      </tock-form-control>
      <tock-form-control
        [label]="'bot.story-dialog.labelLabel' | transloco"
        name="label"
      >
        <input
          tockAutofocusElement
          nbInput
          fullWidth
          name="label"
          id="label"
          [placeholder]="'bot.story-dialog.labelPlaceholder' | transloco"
          [(ngModel)]="label"
          (keyup)="copyToName()"
          (keyup.enter)="save()"
        />
      </tock-form-control>
      <tock-form-control
        [label]="'bot.story-dialog.storyIdLabel' | transloco"
        name="name"
        [information]="'bot.story-dialog.storyIdInformation' | transloco"
        [required]="true"
      >
        <input
          nbInput
          required
          name="name"
          fullWidth
          [placeholder]="'bot.story-dialog.storyIdPlaceholder' | transloco"
          [disabled]="!create"
          [(ngModel)]="name"
          (keyup)="format()"
          (keyup.enter)="save()"
        />
      </tock-form-control>
      <tock-form-control
        [label]="'bot.story-dialog.intentLabel' | transloco"
        name="intent"
        [information]="'bot.story-dialog.intentInformation' | transloco"
        [required]="true"
      >
        <input
          nbInput
          fullWidth
          id="intent"
          name="intent"
          [placeholder]="'bot.story-dialog.chooseIntentPlaceholder' | transloco"
          required
          autocomplete="off"
          [nbAutocomplete]="intentAuto"
          [disabled]="freezeIntent"
          [(ngModel)]="intent"
          (keyup)="intentCategoryChange()"
          (focus)="intentCategoryChange()"
          (change)="intent = $any($event.target).value"
        />
      </tock-form-control>
      <nb-autocomplete
        #intentAuto
        [activeFirst]="true"
      >
        @for (category of intentCategories; track category) {
        <nb-option-group [title]="category.category">
          @for (intent of category.intents; track intent) {
          <nb-option [value]="intent.name">
            {{ intent.intentLabel() }}
          </nb-option>
          }
        </nb-option-group>
        }
      </nb-autocomplete>
      <tock-story-tag [(selectedTag)]="tag"></tock-story-tag>
      <tock-form-control
        [label]="'bot.story-dialog.categoryLabel' | transloco"
        name="category"
      >
        <input
          nbInput
          fullWidth
          id="category"
          name="category"
          [placeholder]="'bot.story-dialog.chooseCategoryPlaceholder' | transloco"
          autocomplete="off"
          [nbAutocomplete]="catAuto"
          [(ngModel)]="category"
          (keyup)="categoryChange()"
          (focus)="categoryChange()"
        />
      </tock-form-control>
      <nb-autocomplete
        #catAuto
        [activeFirst]="true"
      >
        @for (category of categories; track category) {
        <nb-option [value]="category">
          {{ category }}
        </nb-option>
        }
      </nb-autocomplete>
      <tock-form-control
        [label]="'bot.story-dialog.descriptionLabel' | transloco"
        name="description"
      >
        <textarea
          nbInput
          fullWidth
          rows="5"
          name="description"
          id="description"
          [placeholder]="'bot.story-dialog.descriptionPlaceholder' | transloco"
          [(ngModel)]="description"
        ></textarea>
      </tock-form-control>
    </form>
  </nb-card-body>
  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      type="submit"
      nbButton
      status="primary"
      size="small"
      [disabled]="!intentForm.form.valid"
      (click)="save()"
    >
      {{ 'common.actions.save' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
