:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 30rem;
  width: 30rem;
}
.no-padding {
  padding: 0;
}
.btn-align {
  text-align: right;
}
