<div class="content" id="element-id">
  <nb-card>
    <nb-card-body nbSpinnerStatus="primary">
      <date-range-calendar [rangeInDays]="7" (datesChanged)="datesChanged($event)"></date-range-calendar>
      <tock-select-bot [allowNoConfigurationSelection]="false" noConnectorLabel="All Connectors"
                       [allowNoSelection]="true" noConfigurationLabel="All Configurations"
                       (selectionChange)="selectedConfigurationChanged($event)" class="select-bot">
      </tock-select-bot>
      <span style="float: right; padding: 5px;">
        <nb-toggle status="success" [(ngModel)]="pretty" (change)="waitAndRefresh()">
          Pretty (3D)
        </nb-toggle>
        &nbsp;&nbsp;
        <nb-toggle status="warning" [(ngModel)]="displayTests" (change)="waitAndRefresh()">
          Tests (Tock Studio)
        </nb-toggle>
          <!--      <button nbButton outline shape="round" (click)="onPdfAction()" nbTooltip="Export page as PDF"-->
          <!--              status="primary" style="float: right; margin-right: 40px;">-->
          <!--        PDF <nb-icon icon="download"></nb-icon>-->
          <!--      </button>-->
      </span>
    </nb-card-body>
  </nb-card>

  <tock-chart [data]="messagesByDayOfWeek" title="Messages by Day of Week" [pretty]="pretty" type="PieChart"></tock-chart>
  <tock-chart [data]="messagesByHour" title="Messages by Hour of Day" [pretty]="pretty" type="PieChart"></tock-chart>
  <tock-chart [data]="messagesByConfiguration" title="Messages by Configuration" [pretty]="pretty" type="PieChart"></tock-chart>
  <tock-chart [data]="messagesByConnector" title="Messages by Connector Type" [pretty]="pretty" type="PieChart"></tock-chart>
  <tock-chart [data]="messagesByType" title="Messages Test Ratio" [pretty]="pretty" type="PieChart"></tock-chart>

</div>
