<div
  class="content"
  id="element-id"
>
  <nb-card style="margin-bottom: unset">
    <nb-card-body nbSpinnerStatus="primary">
      <tock-date-range-calendar
        [rangeInDays]="7"
        (datesChanged)="datesChanged($event)"
      ></tock-date-range-calendar>
      <tock-select-bot
        [allowNoConfigurationSelection]="true"
        [noConnectorLabel]="'analytics.behavior.allConnectorsLabel' | transloco"
        [allowNoSelection]="true"
        [noConfigurationLabel]="'analytics.behavior.allConfigurationsLabel' | transloco"
        (selectionChange)="selectedConfigurationChanged($event)"
        class="select-bot"
      >
      </tock-select-bot>
      <button
        nbButton
        ghost
        shape="round"
        (click)="waitAndRefresh()"
        [nbTooltip]="'analytics.behavior.refreshTooltip' | transloco"
        status="basic"
      >
        <nb-icon icon="arrow-clockwise"></nb-icon>
      </button>
      <span style="float: right; padding: 5px">
        <nb-toggle
          status="warning"
          [(ngModel)]="displayTests"
          (change)="waitAndRefresh()"
        >
          {{ 'analytics.behavior.displayTestsLabel' | transloco }}
        </nb-toggle>
      </span>
    </nb-card-body>
  </nb-card>

  <div class="space graph-list">
    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByStory"
      [nbSpinner]="messagesByStoryLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByStoryData"
          [title]="'analytics.behavior.messagesByStoryTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>
    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByIntent"
      [nbSpinner]="messagesByIntentLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByIntentData"
          [title]="'analytics.behavior.messagesByIntentTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>
    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByDayOfWeek"
      [nbSpinner]="messagesByDayOfWeekLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByDayOfWeekData"
          [title]="'analytics.behavior.messagesByDayOfWeekTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>
    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByHourOfDay"
      [nbSpinner]="messagesByDayOfWeekLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByHourData"
          [title]="'analytics.behavior.messagesByHourOfDayTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>

    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByActionType"
      [nbSpinner]="messagesByActionTypeLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByActionTypeData"
          [title]="'analytics.behavior.messagesByActionTypeTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [filter]="filter"
          (intentChanged)="waitAndRefresh()"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>

    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByStoryCategory"
      [nbSpinner]="messagesByStoryCategoryLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByStoryCategoryData"
          [title]="'analytics.behavior.messagesByStoryCategoryTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>

    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByStoryType"
      [nbSpinner]="messagesByStoryTypeLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByStoryTypeData"
          [title]="'analytics.behavior.messagesByStoryTypeTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>
    <nb-card
      class="space graph"
      *ngIf="userPreferences.graphs.behavior.messagesByLocale"
      [nbSpinner]="messagesByStoryLocaleLoading"
    >
      <nb-card-body>
        <tock-chart
          [data]="messagesByStoryLocaleData"
          [title]="'analytics.behavior.messagesByLocaleTitle' | transloco"
          type="PieChart"
          [chartPreferences]="userPreferences"
          [isMultiChart]="false"
        ></tock-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<tock-scroll-top-button></tock-scroll-top-button>
