<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{ 'bot.media-dialog.title' | transloco }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <nb-alert
      class="d-flex align-items-center flex-row gap-1"
      outline="info"
    >
      <nb-icon
        icon="info-circle"
        status="info"
      ></nb-icon>
      {{ 'bot.media-dialog.alertMessage' | transloco }}
    </nb-alert>
    <tock-form-control
      [label]="'bot.media-dialog.carouselAutoLabel' | transloco"
      name="fillCarousel"
      [information]="'bot.media-dialog.carouselAutoInformation' | transloco"
    >
      <nb-toggle
        id="fillCarousel"
        name="fillCarousel"
        [(checked)]="media.fillCarousel"
      >
      </nb-toggle>
    </tock-form-control>
    <form #mediaForm="ngForm">
      <tock-form-control
        [label]="'bot.media-dialog.cardTitleLabel' | transloco"
        name="titleLabel"
      >
        <input
          nbInput
          fullWidth
          tockAutofocusElement
          id="titleLabel"
          name="titleLabel"
          [placeholder]="'bot.media-dialog.cardTitlePlaceholder' | transloco"
          [(ngModel)]="media.titleLabel"
        />
      </tock-form-control>
      <tock-form-control
        [label]="'bot.media-dialog.cardSubtitleLabel' | transloco"
        name="subTitle"
      >
        <input
          nbInput
          fullWidth
          id="subTitle"
          name="subTitle"
          [placeholder]="'bot.media-dialog.cardSubtitlePlaceholder' | transloco"
          [(ngModel)]="media.subTitleLabel"
        />
      </tock-form-control>

      <!-- File -->
      <p *ngIf="media.file">
        {{ 'bot.media-dialog.fileLabel' | transloco }}
        <a
          href="{{ media.file.url(restService.url) }}"
          target="_blank"
          >{{ media.file.name }}</a
        >
        <img
          *ngIf="media.file.isImage()"
          class="image"
          src="{{ media.file.url(restService.url) }}"
        />
        <button
          nbButton
          (click)="media.file = undefined; fileUpload = 'upload'"
          ghost
          shape="round"
          status="danger"
          size="medium"
          [nbTooltip]="'bot.media-dialog.removeFileTooltip' | transloco"
        >
          <nb-icon icon="trash"></nb-icon>
        </button>
      </p>
      <p *ngIf="!media.file">
        <nb-radio-group (valueChange)="fileTypeChange($event)">
          <nb-radio
            class="inline-radio"
            value="upload"
            [checked]="true"
            [nbTooltip]="'bot.media-dialog.fileUploadTooltip' | transloco"
            >{{ 'bot.media-dialog.fileUploadLabel' | transloco }}</nb-radio
          >
          <nb-radio
            class="inline-radio"
            value="url"
            [nbTooltip]="'bot.media-dialog.externalUrlTooltip' | transloco"
            >{{ 'bot.media-dialog.externalUrlLabel' | transloco }}</nb-radio
          >
        </nb-radio-group>
        <span
          *ngIf="fileUpload === 'upload'"
          class="file-block"
        >
          <input
            type="file"
            ng2FileSelect
            [uploader]="uploader"
            class="file"
          />
        </span>
        <span
          *ngIf="fileUpload === 'url'"
          class="file-block"
        >
          <input
            nbInput
            type="text"
            name="url"
            fullWidth
            fieldSize="small"
            [placeholder]="'bot.media-dialog.externalUrlPlaceholder' | transloco"
            [(ngModel)]="fileExternalUrl"
            (blur)="checkFileName()"
          />
        </span>
      </p>
      <!-- Description -->
      <tock-form-control
        *ngIf="media.file"
        [label]="'bot.media-dialog.fileDescriptionLabel' | transloco"
        name="description"
      >
        <input
          nbInput
          fullWidth
          id="description"
          name="description"
          [placeholder]="'bot.media-dialog.fileDescriptionPlaceholder' | transloco"
          [(ngModel)]="media.file.descriptionLabel"
        />
      </tock-form-control>
      <hr />
      <div>
        <div class="h6 mb-3">{{ 'bot.media-dialog.actionsTitle' | transloco }}</div>
        <div
          *ngFor="let action of media.actions"
          class="grid mb-2"
        >
          <div class="d-flex flex-column align-self-center">
            <button
              *ngIf="canUpward(action)"
              nbButton
              ghost
              size="small"
              shape="round"
              status="info"
              [nbTooltip]="'bot.media-dialog.moveUpwardTooltip' | transloco"
              (click)="upward(action)"
            >
              <nb-icon icon="arrow-up"></nb-icon>
            </button>
            <button
              *ngIf="canDownward(action)"
              nbButton
              ghost
              size="small"
              shape="round"
              status="info"
              [nbTooltip]="'bot.media-dialog.moveDownwardTooltip' | transloco"
              (click)="downward(action)"
            >
              <nb-icon icon="arrow-down"></nb-icon>
            </button>
          </div>
          <tock-form-control
            [label]="'bot.media-dialog.actionTitleLabel' | transloco"
            name="titleLabel{{ action.internalId }}"
            [boldLabel]="false"
            [hasMargin]="false"
          >
            <input
              tockAutofocusElement
              nbInput
              fieldSize="small"
              id="titleLabel{{ action.internalId }}"
              name="titleLabel{{ action.internalId }}"
              [placeholder]="'bot.media-dialog.actionTitlePlaceholder' | transloco"
              [(ngModel)]="action.titleLabel"
            />
          </tock-form-control>
          <tock-form-control
            [label]="'bot.media-dialog.actionUrlLabel' | transloco"
            name="url{{ action.internalId }}"
            [boldLabel]="false"
            [hasMargin]="false"
          >
            <input
              nbInput
              fieldSize="small"
              id="url{{ action.internalId }}"
              name="url{{ action.internalId }}"
              [placeholder]="'bot.media-dialog.actionUrlPlaceholder' | transloco"
              [(ngModel)]="action.url"
            />
          </tock-form-control>

          <button
            nbButton
            ghost
            size="small"
            status="danger"
            shape="round"
            [nbTooltip]="'common.actions.remove' | transloco"
            (click)="removeAction(action)"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
      </div>

      <div class="text-center mt-3">
        <button
          nbButton
          status="primary"
          (click)="addAction()"
          size="small"
        >
          <nb-icon icon="plus-circle"></nb-icon>
          {{ 'bot.media-dialog.addActionButton' | transloco }}
        </button>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      *ngIf="!create"
      nbButton
      size="small"
      status="danger"
      (click)="remove()"
    >
      {{ 'common.actions.remove' | transloco }}
    </button>
    <button
      nbButton
      size="small"
      status="primary"
      (click)="save()"
    >
      {{ create ? ('common.actions.create' | transloco) : ('common.actions.update' | transloco) }}
    </button>
  </nb-card-footer>
</nb-card>
