<nb-card>
  <nb-card-header>
    Je ne trouve pas mon train
  </nb-card-header>
  <nb-card-body>
    <div class="bot-user-content">
      <tock-user-bubble></tock-user-bubble>
      <tock-bot-bubble></tock-bot-bubble>
      <div class="add-bubble-buttons-container">
        <tock-add-bubble-button class="add-bubble-button" [action]="addBotResponse"></tock-add-bubble-button>
        <tock-add-bubble-button class="add-bubble-button" [action]="addUserAction"></tock-add-bubble-button>
      </div>
      <tock-user-bubble></tock-user-bubble>
      <tock-bot-bubble></tock-bot-bubble>
      <div class="add-bubble-buttons-container">
        <tock-add-bubble-button class="add-bubble-button" [action]="addBotResponse"></tock-add-bubble-button>
        <tock-add-bubble-button class="add-bubble-button" [action]="addUserAction"></tock-add-bubble-button>
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <nb-form-field class="user-sentence-input-container">
      <input type="text" nbInput fullWidth shape="round" placeholder="Enter user sentence...">
      <button nbSuffix nbButton ghost (click)="addUserSentence()">
        <nb-icon icon="arrow-right"></nb-icon>
      </button>
    </nb-form-field>
  </nb-card-footer>
</nb-card>
