<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <h4>Import scenarios dumps</h4>

    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Close"
      (click)="importCancel()"
      class="ml-3"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form
      [formGroup]="importForm"
      (submit)="importSubmit()"
    >
      <div class="row main-row">
        <div class="col-12">
          <div>
            <tock-form-control
              label="Scenario dump files"
              name="importFile"
              required="true"
              [controls]="filesSources"
              [showError]="isImportSubmitted"
            >
              <tock-file-upload
                id="importFile"
                formControlName="filesSources"
                [autofocus]="true"
                [fullWidth]="true"
                [multiple]="true"
                [fileTypeAccepted]="['json']"
                [filesInError]="filesInError"
              ></tock-file-upload>
            </tock-form-control>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-between">
    <button
      nbButton
      outline
      status="primary"
      size="small"
      (click)="importCancel()"
    >
      Cancel
    </button>
    <button
      nbButton
      status="primary"
      size="small"
      (click)="importSubmit()"
      [disabled]="!canSaveImport"
    >
      Import
    </button>
  </nb-card-footer>
</nb-card>
