<nb-card [nbSpinner]="loading">
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <h4>Import scenarios dumps</h4>

    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Close"
      (click)="close()"
      class="ml-3"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form
      [formGroup]="importForm"
      (submit)="importSubmit()"
    >
      <div class="row main-row">
        <div class="col-12">
          <div>
            <tock-form-control
              label="Scenario dump files"
              name="importFile"
              required="true"
              [controls]="filesSources"
              [showError]="isImportSubmitted"
            >
              <tock-file-upload
                id="importFile"
                formControlName="filesSources"
                [autofocus]="true"
                [fullWidth]="true"
                [multiple]="true"
                [fileTypeAccepted]="['json']"
                [filesInError]="filesInError"
              ></tock-file-upload>
            </tock-form-control>
          </div>
        </div>
      </div>

      <nb-alert
        *ngIf="importFilesInError.length"
        status="warning"
        closable
        (close)="closeAlertImportFilesInError()"
      >
        <small>The following files were not imported:</small>
        <ul>
          <li
            *ngFor="let file of importFilesInError"
            class="text-break"
          >
            <small>{{ file }}</small>
          </li>
        </ul>
      </nb-alert>
    </form>
  </nb-card-body>
  <nb-card-footer class="grid-button">
    <button
      nbButton
      outline
      status="primary"
      size="small"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      nbButton
      status="primary"
      size="small"
      (click)="importSubmit()"
      [disabled]="!canSaveImport"
    >
      Import
    </button>
  </nb-card-footer>
</nb-card>
