<div class="d-flex flex-wrap mb-2">
  <h1 class="flex-grow-1">
    @if (applications.length !== 0) {
    <span>
      {{ 'applications.application.applicationTitle' | transloco }}
      @if (application?.name?.length !== 0) {
      <span>"{{ application.name }}"</span>
      }
    </span>
    }
  </h1>

  <section class="grid-actions gap-1">
    @if (applications.length !== 0) {
    <button
      nbButton
      ghost
      (click)="cancel()"
      [nbTooltip]="'applications.application.cancelTooltip' | transloco"
    >
      <nb-icon icon="x-lg"></nb-icon>
      {{ 'applications.application.cancelButton' | transloco }}
    </button>
    }

    <button
      nbButton
      status="primary"
      (click)="saveApplication()"
      [nbTooltip]="
        newApplication
          ? ('applications.application.createNewApplicationTooltip' | transloco)
          : ('applications.application.updateApplicationTooltip' | transloco)
      "
    >
      @if (newApplication) {
      <nb-icon icon="plus-lg"></nb-icon>
      {{ 'applications.application.createButton' | transloco }}
      } @if (!newApplication) {
      <nb-icon icon="floppy"></nb-icon>
      {{ 'applications.application.updateButton' | transloco }}
      }
    </button>
  </section>
</div>

<nb-card>
  @if (application) {
  <nb-card-body>
    <div class="row mb-4">
      <div class="col">
        <label
          for="appLabel"
          class="label required"
        >
          <abbr title="Required">*</abbr>
          {{
            newApplication
              ? ('applications.application.newApplicationLabel' | transloco)
              : ('applications.application.applicationLabel' | transloco)
          }}
        </label>
        <input
          nbInput
          fullWidth
          id="appLabel"
          type="text"
          [placeholder]="
            newApplication
              ? ('applications.application.newApplicationLabel' | transloco)
              : ('applications.application.applicationLabel' | transloco)
          "
          [(ngModel)]="application.label"
          (keyup)="format()"
          (keyup.enter)="saveApplication()"
          [nbTooltip]="'applications.application.displayedLabelTooltip' | transloco"
          #appLabel
          required
          autocomplete="off"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <label
          for="appName"
          class="label required"
        >
          <abbr title="Required">*</abbr>
          {{
            newApplication
              ? ('applications.application.newApplicationName' | transloco)
              : ('applications.application.applicationName' | transloco)
          }}
        </label>
        <input
          nbInput
          fullWidth
          id="appName"
          type="text"
          [placeholder]="
            newApplication
              ? ('applications.application.newApplicationName' | transloco)
              : ('applications.application.applicationName' | transloco)
          "
          [(ngModel)]="application.name"
          (keyup)="format()"
          (keyup.enter)="saveApplication()"
          [nbTooltip]="'applications.application.technicalNameTooltip' | transloco"
          #appName
          required
          autocomplete="off"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 col-lg-6">
        <label
          for="treshold"
          class="label d-block"
        >
          {{ 'applications.application.unknownIntentThresholdLabel' | transloco }}
        </label>
        <input
          nbInput
          fullWidth
          type="number"
          id="treshold"
          [placeholder]="'applications.application.unknownIntentThresholdPlaceholder' | transloco"
          [(ngModel)]="application.unknownIntentThreshold"
          min="0"
          max="1"
          [nbTooltip]="'applications.application.unknownIntentThresholdTooltip' | transloco"
        />
      </div>
      <div class="col-6 col-lg-6">
        <label
          for="knownIntentThreshold"
          class="label d-block"
        >
          {{ 'applications.application.knownIntentThresholdLabel' | transloco }}
        </label>
        <input
          nbInput
          fullWidth
          type="number"
          id="knownIntentThreshold"
          [placeholder]="'applications.application.knownIntentThresholdPlaceholder' | transloco"
          [(ngModel)]="application.knownIntentThreshold"
          min="0"
          max="1"
          [nbTooltip]="'applications.application.knownIntentThresholdTooltip' | transloco"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 col d-flex gap-1 align-items-center flex-wrap">
        <nb-checkbox
          class="separator"
          [(ngModel)]="application.normalizeText"
          [nbTooltip]="'applications.application.normalizedTextModelsTooltip' | transloco"
        >
          {{ 'applications.application.normalizedTextModelsLabel' | transloco }}
        </nb-checkbox>
        @if (!application.normalizeText) {
        <nb-checkbox
          class="separator"
          [(ngModel)]="application.mergeEngineTypes"
          [nbTooltip]="'applications.application.useEntityModelsTooltip' | transloco"
        >
          {{ 'applications.application.useEntityModelsLabel' | transloco }}
        </nb-checkbox>
        } @if (!application.normalizeText && !application.mergeEngineTypes) {
        <nb-checkbox
          class="separator"
          [(ngModel)]="application.useEntityModels"
          [nbTooltip]="'applications.application.entityDisambiguationOnlyTooltip' | transloco"
        >
          {{ 'applications.application.entityDisambiguationOnlyLabel' | transloco }}
        </nb-checkbox>
        } @if (!application.normalizeText) {
        <nb-checkbox
          class="separator"
          [(ngModel)]="application.supportSubEntities"
          [nbTooltip]="'applications.application.allowSubentitiesTooltip' | transloco"
        >
          {{ 'applications.application.allowSubentitiesLabel' | transloco }}
        </nb-checkbox>
        }
      </div>
    </div>
    @if (state.locales) {
    <div class="row mb-4">
      <div class="col-6 col-lg-3">
        <label
          for="locales"
          class="label required d-block"
        >
          <abbr title="Required">*</abbr>
          {{ 'applications.application.localesLabel' | transloco }}
        </label>
        <nb-form-field>
          <nb-icon
            nbPrefix
            icon="globe2"
          ></nb-icon>
          <nb-select
            fullWidth
            (selectedChange)="addLocale()"
            [(ngModel)]="newLocale"
            [placeholder]="'applications.application.addNewLocalePlaceholder' | transloco"
            id="locales"
          >
            @for (locale of state.locales; track locale) {
            <nb-option [value]="locale.first">
              {{ locale.second }}
            </nb-option>
            }
          </nb-select>
        </nb-form-field>
      </div>
      @if (application.supportedLocales.length !== 0) {
      <div class="col-6 col-lg-9 d-flex flex-wrap align-items-center pt-4">
        @for (locale of application.supportedLocales; track locale) {
        <span class="tag">
          {{ state.localeName(locale) }}
          <button
            nbButton
            ghost
            size="tiny"
            status="danger"
            class="ml-1"
            [nbTooltip]="'applications.application.deleteLocaleTooltip' | transloco"
            (click)="removeLocale(locale)"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>
        </span>
        }
      </div>
      }
    </div>
    } @if (state.locales) {
    <div class="row mb-4">
      <div class="col-6 col-lg-3">
        <label
          for="engines"
          class="label required d-block"
        >
          <abbr title="Required">*</abbr>
          {{ 'applications.application.nluEngineLabel' | transloco }}
        </label>
        <nb-radio-group
          id="engines"
          name="engines-group"
          class="d-flex"
          [(ngModel)]="nlpEngineType"
          (valueChange)="changeNlpEngine($event)"
        >
          @for (engine of state.supportedNlpEngines; track engine) {
          <nb-radio [value]="engine.name">
            {{ engine.name }}
          </nb-radio>
          }
        </nb-radio-group>
      </div>
    </div>
    } @if (!newApplication && state.locales) {
    <div class="row mb-4">
      <div class="col">
        <label class="label d-block">{{ 'applications.application.advancedOptionsLabel' | transloco }}</label>
        <tock-application-advanced-options
          [application]="application"
          [nlpEngineTypeChange]="nlpEngineTypeChange"
        >
        </tock-application-advanced-options>
      </div>
    </div>
    }
  </nb-card-body>
  }
</nb-card>

<tock-scroll-top-button></tock-scroll-top-button>
