<div class="user-content">

  <div class="user-bubble">
    <div class="user-bubble-content">
      <span class="text">{{label}}</span>
      <div class="second-container">
        <div class="intent-combo-container">
          <nb-select class="intent-combo" placeholder="Select intent" [(selected)]="intent" >
            <nb-option value="-1">New</nb-option>
            <nb-option *ngFor="let intentOption of intents" [value]="intentOption">{{intentOption}}</nb-option>
          </nb-select>
        </div>
        <div class="edit-button">
          <button nbButton><nb-icon icon="edit-2"></nb-icon></button>
        </div>
      </div>
    </div>
    <div class="avatar-user"></div>
  </div>

</div>
