@if (configuration) {
<nb-card [nbSpinner]="uploading">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ 'applications.application-upload.uploadDumpTitle' | transloco }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'applications.application-upload.closeTooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    @if (!report) {
    <div>
      <p>
        <nb-radio-group
          [(ngModel)]="type"
          name="upload-type-group"
        >
          @if (state.hasRole(UserRole.technicalAdmin)) {
          <nb-radio
            value="application"
            class="dump-type"
          >
            {{ 'applications.application-upload.applicationDumpLabel' | transloco }}
          </nb-radio>
          }
          <nb-radio
            value="sentences"
            class="dump-type"
          >
            {{ 'applications.application-upload.sentencesDumpLabel' | transloco }}
          </nb-radio>
        </nb-radio-group>
      </p>
      <ul class="mention">
        @if (state.hasRole(UserRole.technicalAdmin)) {
        <li>
          {{ 'applications.application-upload.applicationDumpDescription' | transloco }}
        </li>
        }
        <li>{{ 'applications.application-upload.sentencesDumpDescription' | transloco }}</li>
      </ul>
      @if (!applicationName) {
      <p>
        <label>{{ 'applications.application-upload.targetApplicationNameLabel' | transloco }}</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="configuration.newApplicationName"
          [placeholder]="'applications.application-upload.targetApplicationNamePlaceholder' | transloco"
        />
        <span class="mention">{{ 'applications.application-upload.emptyApplicationNameMention' | transloco }}</span>
      </p>
      }
      <p>
        <label
          for="file"
          class="file-label"
          >{{ 'applications.application-upload.selectDumpFileLabel' | transloco }}</label
        >
        <input
          nbInput
          id="file"
          type="file"
          ng2FileSelect
          [uploader]="uploader"
        />
      </p>
    </div>
    } @if (report) {
    <div>
      @if (!report.success) {
      <div>
        <h4>{{ 'applications.application-upload.errorTitle' | transloco }}</h4>
        <ul>
          @for (e of report.errorMessages; track e) {
          <li>
            {{ e }}
          </li>
          }
        </ul>
      </div>
      } @if (report.success) {
      <div>
        @if (!report.modified) {
        <h4>{{ 'applications.application-upload.noNewDataTitle' | transloco }}</h4>
        } @if (report.modified) {
        <div>
          <h4>{{ 'applications.application-upload.successfulImportTitle' | transloco }}</h4>
          @if (report.applicationsImported.length) {
          <div class="font-weight-bold">
            {{ 'applications.application-upload.applicationsImportedTitle' | transloco }}
            @for (app of report.applicationsImported; track app) {
            <div>
              {{ app }}
            </div>
            }
            <hr />
          </div>
          } @if (report.entitiesImported.length) {
          <div class="font-weight-bold">
            {{ 'applications.application-upload.entitiesImportedTitle' | transloco }}
            @for (entity of report.entitiesImported; track entity) {
            <div>
              {{ entity }}
            </div>
            }
            <hr />
          </div>
          } @if (report.intentsImported.length) {
          <div class="font-weight-bold">
            {{ 'applications.application-upload.intentsImportedTitle' | transloco }}
            @for (intent of report.intentsImported; track intent) {
            <div>
              {{ intent }}
            </div>
            }
            <hr />
          </div>
          } @if (report.sentencesImported) {
          <div class="font-weight-bold">
            {{ 'applications.application-upload.sentencesImportedTitle' | transloco }}
            @if (report.sentencesImported) {
            <div>
              {{ report.sentencesImported }}
            </div>
            }
            <hr />
          </div>
          } @if (report.faqsImported) {
          <div class="font-weight-bold">
            {{ 'applications.application-upload.faqsImportedTitle' | transloco }}
            @if (report.faqsImported) {
            <div>
              {{ report.faqsImported }}
            </div>
            }
            <hr />
          </div>
          } @if (report.errorMessages.length) {
          <div>
            <h5>{{ 'applications.application-upload.errorsTitle' | transloco }}</h5>
            <ul>
              @for (e of report.errorMessages; track e) {
              <li>
                {{ e }}
              </li>
              }
            </ul>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
    }
  </nb-card-body>
  <nb-card-footer>
    @if (!report) {
    <button
      nbButton
      outline
      status="primary"
      (click)="cancel()"
    >
      {{ 'applications.application-upload.cancelButton' | transloco }}
    </button>
    } @if (!report) {
    <button
      nbButton
      status="primary"
      (click)="upload()"
      [disabled]="!uploader.getNotUploadedItems().length"
      style="margin: 10px"
    >
      {{ 'applications.application-upload.uploadButton' | transloco }}
    </button>
    } @if (report) {
    <button
      nbButton
      outline
      status="primary"
      (click)="cancel()"
    >
      {{ 'applications.application-upload.closeButton' | transloco }}
    </button>
    }
  </nb-card-footer>
</nb-card>
}
