<nb-card
  *ngIf="configuration"
  [nbSpinner]="uploading"
>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    {{ 'applications.application-upload.uploadDumpTitle' | transloco }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'applications.application-upload.closeTooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!report">
      <p>
        <nb-radio-group
          [(ngModel)]="type"
          name="upload-type-group"
        >
          <nb-radio
            *ngIf="state.hasRole(UserRole.technicalAdmin)"
            value="application"
            class="dump-type"
          >
            {{ 'applications.application-upload.applicationDumpLabel' | transloco }}
          </nb-radio>
          <nb-radio
            value="sentences"
            class="dump-type"
          >
            {{ 'applications.application-upload.sentencesDumpLabel' | transloco }}
          </nb-radio>
        </nb-radio-group>
      </p>
      <ul class="mention">
        <li *ngIf="state.hasRole(UserRole.technicalAdmin)">
          {{ 'applications.application-upload.applicationDumpDescription' | transloco }}
        </li>
        <li>{{ 'applications.application-upload.sentencesDumpDescription' | transloco }}</li>
      </ul>

      <p *ngIf="!applicationName">
        <label>{{ 'applications.application-upload.targetApplicationNameLabel' | transloco }}</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="configuration.newApplicationName"
          [placeholder]="'applications.application-upload.targetApplicationNamePlaceholder' | transloco"
        />

        <span class="mention">{{ 'applications.application-upload.emptyApplicationNameMention' | transloco }}</span>
      </p>
      <p>
        <label
          for="file"
          class="file-label"
          >{{ 'applications.application-upload.selectDumpFileLabel' | transloco }}</label
        >
        <input
          nbInput
          id="file"
          type="file"
          ng2FileSelect
          [uploader]="uploader"
        />
      </p>
    </div>
    <div *ngIf="report">
      <div *ngIf="!report.success">
        <h4>{{ 'applications.application-upload.errorTitle' | transloco }}</h4>
        <ul>
          <li *ngFor="let e of report.errorMessages">
            {{ e }}
          </li>
        </ul>
      </div>
      <div *ngIf="report.success">
        <h4 *ngIf="!report.modified">{{ 'applications.application-upload.noNewDataTitle' | transloco }}</h4>
        <div *ngIf="report.modified">
          <h4>{{ 'applications.application-upload.successfulImportTitle' | transloco }}</h4>

          <div
            class="font-weight-bold"
            *ngIf="report.applicationsImported.length"
          >
            {{ 'applications.application-upload.applicationsImportedTitle' | transloco }}
            <div *ngFor="let app of report.applicationsImported">
              {{ app }}
            </div>
            <hr />
          </div>

          <div
            class="font-weight-bold"
            *ngIf="report.entitiesImported.length"
          >
            {{ 'applications.application-upload.entitiesImportedTitle' | transloco }}
            <div *ngFor="let entity of report.entitiesImported">
              {{ entity }}
            </div>
            <hr />
          </div>

          <div
            class="font-weight-bold"
            *ngIf="report.intentsImported.length"
          >
            {{ 'applications.application-upload.intentsImportedTitle' | transloco }}
            <div *ngFor="let intent of report.intentsImported">
              {{ intent }}
            </div>
            <hr />
          </div>

          <div
            class="font-weight-bold"
            *ngIf="report.sentencesImported"
          >
            {{ 'applications.application-upload.sentencesImportedTitle' | transloco }}
            <div *ngIf="report.sentencesImported">
              {{ report.sentencesImported }}
            </div>
            <hr />
          </div>

          <div
            class="font-weight-bold"
            *ngIf="report.faqsImported"
          >
            {{ 'applications.application-upload.faqsImportedTitle' | transloco }}
            <div *ngIf="report.faqsImported">
              {{ report.faqsImported }}
            </div>
            <hr />
          </div>

          <div *ngIf="report.errorMessages.length">
            <h5>{{ 'applications.application-upload.errorsTitle' | transloco }}</h5>
            <ul>
              <li *ngFor="let e of report.errorMessages">
                {{ e }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      outline
      status="primary"
      (click)="cancel()"
      *ngIf="!report"
    >
      {{ 'applications.application-upload.cancelButton' | transloco }}
    </button>
    <button
      nbButton
      status="primary"
      (click)="upload()"
      *ngIf="!report"
      [disabled]="!uploader.getNotUploadedItems().length"
      style="margin: 10px"
    >
      {{ 'applications.application-upload.uploadButton' | transloco }}
    </button>
    <button
      nbButton
      outline
      status="primary"
      (click)="cancel()"
      *ngIf="report"
    >
      {{ 'applications.application-upload.closeButton' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
