@if (!loading && configurations?.length === 0) {
<div class="d-flex flex-wrap align-items-center">
  <h1 class="flex-grow-1">{{ 'analytics.satisfaction.title' | transloco }}</h1>
</div>
<tock-no-data-found [title]="'analytics.satisfaction.noBotConfiguration' | transloco"></tock-no-data-found>
} @if (configurations?.length) {
<div>
  @if (isStatisfactionActivated) {
  <div>
    <tock-satisfaction-details></tock-satisfaction-details>
  </div>
  } @if (!isStatisfactionActivated && !errorMsg) {
  <div>
    <tock-activate-satisfaction (enableSatisfaction)="isStatisfactionActivated = $event"></tock-activate-satisfaction>
  </div>
  } @if (errorMsg) {
  <h2>{{ errorMsg }}</h2>
  }
</div>
}
