<nb-card>
  <nb-card-header>
    {{ 'analytics.preferences.title' | transloco }}
    <button
      nbButton
      size="large"
      shape="round"
      ghost
      (click)="save()"
      style="float: right"
    >
      <nb-icon
        [nbTooltip]="'analytics.preferences.saveTooltip' | transloco"
        icon="floppy"
      ></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body style="padding: 0">
    <div style="display: flex">
      <nb-card
        status="info"
        style="margin-bottom: 0; width: 50%"
      >
        <nb-card-header>{{ 'analytics.preferences.activityGraphsTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesAll"
            style="width: 100%"
          >
            {{ 'analytics.preferences.allMessagesLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.allMessagesTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.users"
            style="width: 100%"
          >
            {{ 'analytics.preferences.usersLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.usersTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesByDays"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByDaysLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByDaysTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesByStory"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByStoryLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByStoryTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesByIntent"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByIntentLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByIntentTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesByConfiguration"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByConfigurationLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByConfigurationTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.activity.messagesByConnector"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByConnectorLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByConnectorTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
        </nb-card-body>
      </nb-card>
      <nb-card
        status="info"
        style="margin-bottom: 0; width: 50%"
      >
        <nb-card-header>{{ 'analytics.preferences.behaviorGraphsTitle' | transloco }}</nb-card-header>
        <nb-card-body>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByStory"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByStoryLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByStoryTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByIntent"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByIntentLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByIntentTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByDayOfWeek"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByDayOfWeekLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByDayOfWeekTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByHourOfDay"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByHourOfDayLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByHourOfDayTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByActionType"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByActionTypeLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByActionTypeTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByStoryCategory"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByStoryCategoryLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByStoryCategoryTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByStoryType"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByStoryTypeLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByStoryTypeTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="basic"
            [(ngModel)]="preferences.graphs.behavior.messagesByLocale"
            style="width: 100%"
          >
            {{ 'analytics.preferences.messagesByLocaleLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.messagesByLocaleTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
        </nb-card-body>
      </nb-card>
    </div>
    <nb-card
      status="info"
      style="margin-bottom: 0"
    >
      <nb-card-header>{{ 'analytics.preferences.chartOptionsTitle' | transloco }}</nb-card-header>
      <nb-card-body>
        <div>
          <label style="font-weight: bold">{{ 'analytics.preferences.lineChartLabel' | transloco }}</label
          ><br />
          <nb-toggle
            status="success"
            [(ngModel)]="preferences.lineConfig.curvedLines"
            style="width: 50%"
          >
            {{ 'analytics.preferences.curvedLinesLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.curvedLinesTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="success"
            [(ngModel)]="preferences.lineConfig.stacked"
            style="width: 50%"
          >
            {{ 'analytics.preferences.stackedAreaLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.stackedAreaTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
          <nb-toggle
            status="success"
            [(ngModel)]="preferences.lineConfig.focusTarget"
            style="width: 50%"
          >
            {{ 'analytics.preferences.dataPointFocusLabel' | transloco }}
            <nb-icon
              icon="info-circle"
              [nbTooltip]="'analytics.preferences.dataPointFocusTooltip' | transloco"
            ></nb-icon>
          </nb-toggle>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
