<nb-card class="m-0">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{
      create
        ? ('bot.answer-dialog.createTitle' | transloco: { answerLabel: answerLabel })
        : ('bot.answer-dialog.updateTitle' | transloco: { answerLabel: answerLabel })
    }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <tock-answer
      [answer]="answer"
      [fullDisplay]="true"
      [submit]="submit"
      [answerLabel]="answerLabel"
    ></tock-answer>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="save()"
    >
      {{ create ? ('common.actions.create' | transloco) : ('common.actions.update' | transloco) }}
    </button>
  </nb-card-footer>
</nb-card>
