<div class="d-flex align-items-end flex-wrap mt-3 mb-2">
  <h1 class="flex-grow-1">{{ 'applications.user-logs.title' | transloco }}</h1>
  @if (dataSource && dataSource.length) {
  <tock-pagination
    [pagination]="pagination"
    (onPaginationChange)="search()"
  ></tock-pagination>
  }
</div>

<nb-card class="mb-1">
  <nb-card-body>
    @if (dataSource && dataSource.length !== 0) {
    <table class="table table-sm">
      <thead>
        <tr>
          <th
            style="width: 18%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.dateHeader' | transloco }}
          </th>
          <th
            style="width: 40%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.typeHeader' | transloco }}
          </th>
          <th
            style="width: 12%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.userHeader' | transloco }}
          </th>
          <th
            style="width: 20%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.applicationHeader' | transloco }}
          </th>
          <th
            style="width: 5%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.dataHeader' | transloco }}
          </th>
          <th
            style="width: 5%"
            class="border-top-0 pb-3"
          >
            {{ 'applications.user-logs.errorHeader' | transloco }}
          </th>
        </tr>
      </thead>
      <tbody>
        @for (row of dataSource; track row; let i = $index) {
        <tr>
          <td class="text-nowrap">
            {{ row.date | amDateFormat: 'YYYY-MM-DD HH:mm' }}
          </td>
          <td>
            {{ row.actionType }}
          </td>
          <td>
            {{ row.login }}
          </td>
          <td>
            {{ appName(row.applicationId) }}
          </td>
          <td>
            @if (row.newData) {
            <button
              nbButton
              ghost
              (click)="displayData(row)"
            >
              <nb-icon icon="eye"></nb-icon>
            </button>
            }
          </td>
          <td>
            @if (row.error) {
            <div class="error-icon">
              <nb-icon
                icon="exclamation-circle"
                status="danger"
              ></nb-icon>
            </div>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </nb-card-body>
</nb-card>

<div class="d-flex flex-row-reverse">
  @if (dataSource && dataSource.length) {
  <tock-pagination
    [pagination]="pagination"
    (onPaginationChange)="search()"
  ></tock-pagination>
  }
</div>
