<nb-card
  class="side-panel"
  [nbSpinner]="loading"
>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-start">
      <h4>{{ scenario?.id ? 'Edit "' + scenario.name + '"' : 'New scenario' }}</h4>
      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Close"
        (click)="close()"
      >
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <div class="d-flex flex-column mb-2">
        <label for="name">Name <span class="text-muted">(*)</span></label>
        <input
          #nameInput
          nbInput
          formControlName="name"
          fullWidth
          id="name"
          type="text"
          placeholder="Enter name"
        />
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="category">Category</label>
        <input
          nbInput
          formControlName="category"
          fullWidth
          id="category"
          type="text"
          placeholder="Select category"
          autocomplete="off"
          [nbAutocomplete]="categoryAutocomplete"
        />
        <nb-autocomplete #categoryAutocomplete>
          <nb-option
            *ngFor="let option of categoryAutocompleteValues | async"
            [value]="option"
          >
            {{ option }}
          </nb-option>
        </nb-autocomplete>
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="description">Description</label>
        <textarea
          nbInput
          formControlName="description"
          fullWidth
          id="description"
          type="text"
          placeholder="Enter description"
        ></textarea>
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="tags">Tags</label>
        <nb-tag-list (tagRemove)="onTagRemove($event)">
          <nb-tag
            *ngFor="let tag of tags.value"
            removable
            [text]="tag"
          ></nb-tag>
          <input
            nbTagInput
            fullWidth
            id="tags"
            type="text"
            placeholder="Enter tags"
            (tagAdd)="onTagAdd($event)"
            (keydown.enter)="eventPreventDefault($event)"
            autocomplete="off"
            [nbAutocomplete]="tagsAutocomplete"
          />
          <nb-autocomplete #tagsAutocomplete>
            <nb-option
              *ngFor="let option of tagsAutocompleteValues | async"
              [value]="option"
            >
              {{ option }}
            </nb-option>
          </nb-autocomplete>
        </nb-tag-list>
      </div>

      <div class="grid-button mt-4">
        <button
          nbButton
          outline
          status="primary"
          size="small"
          type="button"
          (click)="close()"
        >
          Cancel
        </button>
        <button
          nbButton
          status="primary"
          size="small"
          type="submit"
          [disabled]="!canSave"
        >
          Save
        </button>
        <button
          nbButton
          status="primary"
          size="small"
          type="button"
          [disabled]="!canSave"
          (click)="save(true)"
        >
          Save & design
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
