<nb-card class="side-panel">
  <nb-card-body>
    <div class="d-flex justify-content-between align-items-start mb-4">
      <h2>{{ scenario?.id ? 'Edit "' + scenario.name + '"' : 'New scenario' }}</h2>
      <button
        nbButton
        ghost
        shape="round"
        nbTooltip="Close"
        (click)="close()"
      >
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>

    <form [formGroup]="form">
      <div class="d-flex flex-column mb-2">
        <label for="name">Name <span class="text-muted">(*)</span></label>
        <input
          nbInput
          formControlName="name"
          fullWidth
          id="name"
          type="text"
          placeholder="Enter name"
        />
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="category">Category</label>
        <input
          nbInput
          formControlName="category"
          fullWidth
          id="category"
          type="text"
          placeholder="Select category"
        />
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="description">Description</label>
        <textarea
          nbInput
          formControlName="description"
          fullWidth
          id="description"
          type="text"
          placeholder="Enter description"
        ></textarea>
      </div>

      <div class="d-flex flex-column mb-2">
        <label for="tags">Tags</label>
        <nb-tag-list (tagRemove)="onTagRemove($event)">
          <nb-tag
            *ngFor="let tag of tags.value"
            removable
            [text]="tag"
          ></nb-tag>
          <input
            nbTagInput
            fullWidth
            id="tags"
            type="text"
            placeholder="Enter tags"
            (tagAdd)="onTagAdd($event)"
            (keydown.enter)="eventPreventDefault($event)"
          />
        </nb-tag-list>
      </div>

      <div class="d-flex justify-content-between align-items-start flex-wrap mt-4">
        <button
          nbButton
          outline
          status="primary"
          type="button"
          (click)="close()"
        >
          Cancel
        </button>
        <div>
          <button
            nbButton
            status="primary"
            type="submit"
            [disabled]="!canSave"
            (click)="save()"
          >
            Save
          </button>
          <button
            nbButton
            class="ml-1"
            status="primary"
            type="button"
            [disabled]="!canSave"
            (click)="saveRedirectDesigner()"
          >
            Save and design
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
