#answer-type-label {
  margin-right: 10px;
}

.answer-group {
  margin-bottom: 20px;
}

.answer-type {
  margin-right: 5px;
}

.simple-container {
  float:right;
}

.simple {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.answer-container {
  min-width: 240px;
}

.fullDisplay {
  min-width: 600px;
}
