#answer-type-label {
  margin-right: 10px;
}

.answer-group {
  margin-bottom: 20px;
}

.answer-type {
  margin-right: 5px;
}

.simple {
  font-size: small;
}

.answer-container {
  min-width: 240px;
}

.fullDisplay {
  min-width: 600px;
}
