<h1 mat-dialog-title>Mandatory Entities</h1>
<div class="container">
  <div *ngFor="let e of entities">
    <!-- answer -->
    <tock-answer [answer]="e" class="entity-button"></tock-answer>&nbsp;
    <!-- entity role -->
    <mat-chip-list *ngIf="e.entity" class="entity-button">
      <mat-chip matTooltip="Change Entity"
                selected="false"
                (click)="selectEntity(e)"
                [style.background-color]="e.entity.entityColor"
                color="primary">
        {{e.entity.qualifiedName(state.user)}}
      </mat-chip>
    </mat-chip-list>
    <button *ngIf="!e.entity" class="entity-button" mat-button color="primary" (click)="selectEntity(e)">
      Select Entity
    </button>

    <!-- intent -->
    <mat-form-field>
      <input matInput name="intent" placeholder="Intent" [(ngModel)]="e.intent.name"
             matTooltip="Intent used to find the Entity"
             [matAutocomplete]="intentAuto"
             (keyup)="onIntentChange(e, $event.target.value)"
             (focus)="onIntentChange(e, $event.target.value)"
             (blur)="validateIntent(e)"
             required>
    </mat-form-field>

    <button class="entity-button" mat-icon-button color="warn"
            matTooltip="Remove Mandatory Entity" (click)="removeEntity(e)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <div>
    <!-- answer -->
    <tock-answer [answer]="newEntity" class="entity-button"></tock-answer>&nbsp;
    <!-- entity role -->
    <mat-chip-list *ngIf="newEntity.entity" class="entity-button">
      <mat-chip matTooltip="Change Entity"
                selected="false"
                (click)="selectEntity(newEntity)"
                [style.background-color]="newEntity.entity.entityColor"
                color="primary">
        {{newEntity.entity.qualifiedName(state.user)}}
      </mat-chip>
    </mat-chip-list>
    <button *ngIf="!newEntity.entity" class="entity-button" mat-button color="primary" (click)="selectEntity(newEntity)">
      Select Entity
    </button>

    <!-- intent -->
    <mat-form-field>
      <input matInput name="intent" placeholder="Select Intent" [(ngModel)]="newEntity.intent.name"
             matTooltip="Intent used to find the Entity"
             [matAutocomplete]="intentAuto"
             (keyup)="onIntentChange(newEntity, $event.target.value)"
             (focus)="onIntentChange(newEntity, $event.target.value)"
             (blur)="validateIntent(newEntity)"
             required>
    </mat-form-field>

    <button mat-icon-button color="primary" matTooltip="Add Mandatory Entity" class="entity-button" (click)="addEntity()">
      <mat-icon>library_add</mat-icon>
    </button>

  </div>

  <mat-autocomplete #intentAuto="matAutocomplete" autoActiveFirstOption>
    <mat-optgroup *ngFor="let category of currentIntentCategories" [label]="category.category">
      <mat-option *ngFor="let intent of category.intents" [value]="intent.name">
        {{intent.intentLabel()}}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>


</div>
<mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-raised-button class="submit-button" color="primary" (click)="save()">Update</button>
</mat-dialog-actions>
