.container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.container > * {
  width: 100%;
}

.submit-button {
  margin-left: 20px;
}

.table {
  display: table;
}

.line {
  display: table-row;
}

.entity-button {
  padding-right: 10px;
  padding-left: 10px;
  display: table-cell;
}

.answer {
  max-width: 300px;
}

