.intent {
  width:820px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.intent-mention {
  font-size: small;
}

.sentence-input {
  width:80%;
  font-size: xx-large;
}

.text-area-container {
  min-width:800px;
}

.text-area {
  padding:5px 5px 5px 5px;
  border: inset;
}

.field {
  margin-right: 20px;
}

.search-input{
  margin-right: 10px;
}
