.i18n-label {
  width: 80%;
  height: 23px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.i18n-label-add {
  margin-top: 50px;
}

.display {
  float: right;
  margin-top: -100px;
}

.answerButton {
  margin-bottom: -10px;
}
