<div *ngIf="!fullDisplay">

  <button *ngIf="answer.answers.length !== 0" mat-icon-button class="display" color="primary" matTooltip="Display I18n" (click)="toggleDisplay()">
    <mat-icon>zoom_in</mat-icon>
  </button>

  <div *ngFor="let a of answer.answers">
    <textarea class="i18n-label"
              matInput
              [(ngModel)]="a.label.defaultLocalizedLabel().label"
              (change)="updateLabel(a)">
    </textarea>
    <button mat-icon-button
            class="mediaButton"
            [color]="a.mediaMessage ? 'primary' : 'secondary'"
            matTooltip="Choose media message"
            (click)="displayMediaMessage(a)">
      <mat-icon>perm_media</mat-icon>
    </button>
    <button *ngIf="answer.answers.length !== 1" class="answerButton" mat-icon-button color="warn"
            matTooltip="Delete {{answerLabel}}" (click)="deleteAnswer(a, true)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <textarea class="i18n-label i18n-label-add"
            matInput
            placeholder="Add new {{answerLabel}}"
            [(ngModel)]="newAnswer"
            (keyup.enter)="addAnswer()"
            (blur)="addAnswerIfNonEmpty()"
            #newAnswerElement>
    </textarea>
  <button mat-icon-button
          class="mediaButton"
          [color]="newMedia ? 'primary' : 'secondary'"
          matTooltip="Choose media message"
          (click)="displayMediaMessage()">
    <mat-icon>perm_media</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Add {{answerLabel}}" class="answerButton" (click)="addAnswer()">
    <mat-icon>library_add</mat-icon>
  </button>
</div>
<div *ngIf="fullDisplay">
  <button mat-icon-button class="display" color="primary" matTooltip="Hide I18n" (click)="toggleDisplay()">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <mat-list dense>
    <tock-i18n-label
      *ngFor="let a of answer.answers"
      [deleteAllowed]="answer.answers.length !== 1"
      [i]="a.label"
      (delete)="deleteAnswer(a, false)"></tock-i18n-label>
  </mat-list>

</div>

