<div *ngIf="step && !readonly" class="step">
  <!-- user sentence -->
  <mat-form-field class="input">
    <input matInput
           [(ngModel)]="step.userSentence"
           placeholder="Enter a User Phrase">
  </mat-form-field>

  <!-- intent -->
  <mat-form-field class="input input-intent">
    <input matInput name="intent" placeholder="Intent" [(ngModel)]="step.intent.name"
           matTooltip="Intent starting the Action"
           [matAutocomplete]="intentAuto"
           (keyup)="onIntentChange(step, $event.target.value)"
           (focus)="onIntentChange(step, $event.target.value)"
           (blur)="validateIntent(step)">
  </mat-form-field>

  <!-- answer -->
  <tock-answer [answer]="step" class="entity-button"></tock-answer>&nbsp;

  <!-- target intent -->
  <mat-form-field class="input input-intent">
    <input matInput name="targetIntent" placeholder="Target Intent" [(ngModel)]="step.targetIntent.name"
           matTooltip="Intent to switch when reaching the step"
           [matAutocomplete]="intentAuto"
           (keyup)="onIntentChange(step, $event.target.value)"
           (focus)="onIntentChange(step, $event.target.value)"
           (blur)="validateIntent(step, true)">
  </mat-form-field>

  <div class="entity-button">
    <button mat-icon-button color="warn"
            matTooltip="Remove Action" (click)="removeStep()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <div class="entity-button">
    <button *ngIf="!step.new && step.intent && !step.currentAnswer().isEmpty()" mat-icon-button (click)="addChild()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="entity-button">
    <button *ngIf="step.new" mat-button color="primary"
            matTooltip="Save Action" (click)="save()">
      Save
    </button>
  </div>

  <mat-autocomplete #intentAuto="matAutocomplete" autoActiveFirstOption>
    <mat-optgroup *ngFor="let category of currentIntentCategories" [label]="category.category">
      <mat-option *ngFor="let intent of category.intents" [value]="intent.name">
        {{intent.intentLabel()}}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</div>
<span *ngIf="step && readonly">{{step.userSentence}} <span *ngIf="step.intent" class="intent"
                                                           matTooltip="Action Intent">[{{step.intent.name}}]</span>: <tock-answer
  class="answer" [answer]="step" [editable]="false"></tock-answer></span>
