<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button *ngIf="!isExpandable(node)" mat-icon-button disabled></button>
    <button *ngIf="isExpandable(node)" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <tock-step [step]="node" (delete)="deleteStep($event)" (child)="addNewStep(node)" [defaultCategory]="defaultCategory" class="step" [readonly]="readonly"></tock-step>
  </mat-tree-node>
</mat-tree>
<div *ngIf="!readonly" class="action">
  <button mat-button (click)="addNewStep()" color="primary">
    <mat-icon>dns</mat-icon> Add Action
  </button>
</div>



