.submit-button {
  margin-left: 20px;
}

.step {
  display: table-row;
}

.input {
  padding-right: 10px;
  padding-left: 10px;
  display: table-cell
}

.entity-button {
  display: table-cell;
}

.save {
  margin-right: 10px;
}

.intent {
  font-style: italic;
}

.input-intent {
  max-width: 100px;
}

.answer {
  display:inline-block;
}

.read-only {
  white-space: nowrap;
}
