.category {
  font-size: x-small;
}
.actionButton {
  margin-left: -15px;
}
.actions {
  margin-top: 20px;
}

.intent {
  font-style: italic;
}

.answer {
  display:inline-block;
}

.label-answer {
  margin-right: 10px;
}

.divider {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.fullDisplayDivider {
  min-height: 20px;
}

.mat-expansion-panel-header-title .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: end;
}

.answer-title {
  margin-top: 10px;
}

.answer-title-right-panel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}

.panel-title {
  margin-top: 3px;
}


