<mat-card *ngIf="story">
  <mat-card-title>
    <span *ngIf="!storyNode" class="answer-title" matTooltip="Story name">{{story.name}}</span>
    <span *ngIf="storyNode" class="answer-title" matTooltip="Story name" [matBadge]="storyNode.displayCount()" matBadgeOverlap="false">{{story.name}}</span>
    <button mat-icon-button color="primary" matTooltip="Edit" (click)="editStory()">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="actionButton" mat-icon-button matTooltip="Edit Mandatory Entities" (click)="editEntities()">
      <mat-icon>extension</mat-icon>
    </button>
    <button *ngIf="!displaySteps" class="actionButton" mat-icon-button matTooltip="Edit Actions" (click)="editSteps()">
      <mat-icon>dns</mat-icon>
    </button>
    <button *ngIf="story._id" mat-icon-button color="warn" matTooltip="Delete" (click)="deleteStory()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="intent" matTooltip="Main Intent">{{story.intent.name}}</span>
    <span class="category" matTooltip="Story category">&nbsp;[{{story.category}}]</span>
    <div>
    {{story.description}}
    </div>
    <ul *ngIf="storyNode">
      <li *ngIf="storyNode.intent">Intent: <b>{{storyNode.intent}}</b></li>
      <li *ngIf="storyNode.step">Step: <b>{{storyNode.step}}</b></li>
      <li *ngIf="storyNode.entities.length !==0">Entities: <b>{{storyNode.entities}}</b></li>
      <li>{{storyNode.count}} {{storyNode.count === 1 ? 'instance' : 'instances'}}</li>
    </ul>
  </mat-card-subtitle>


  <mat-card-content>
    <!-- mandatory entities -->
    <div *ngIf="story.mandatoryEntities.length !== 0">
      Mandatory Entities
      <button mat-icon-button matTooltip="Edit Mandatory Entities" (click)="editEntities()">
        <mat-icon>extension</mat-icon>
      </button>
      <ul>
        <li *ngFor="let e of story.mandatoryEntities">{{e.role}} <span class="intent" matTooltip="Intent requested">[{{e.intent.name}}]</span>: <tock-answer class="answer" [answer]="e" [editable]="false"></tock-answer></li>
      </ul>
    </div>

    <!-- default answer -->
    <label for="main_answer" class="label-answer">Answer :</label>
    <tock-answer id="main_answer" class="answer" [answer]="story" [fullDisplay]="fullDisplay" [create]="!story._id" (submit)="saveStory(true)"></tock-answer>

    <!-- steps -->
    <mat-divider *ngIf="displaySteps" [inset]="true" class="divider"></mat-divider>
    <tock-steps *ngIf="displaySteps" [steps]="story.steps" [defaultCategory]="story.category"></tock-steps>

    <div *ngIf="!displaySteps && story.steps.length !== 0">
      Actions
      <button mat-icon-button matTooltip="Edit Actions" (click)="editSteps()">
        <mat-icon>dns</mat-icon>
      </button>
      <ul>
        <li *ngFor="let s of story.steps">{{s.userSentence}} <span class="intent" matTooltip="Action Intent">[{{s.intent.name}}]</span>: <tock-answer class="answer" [answer]="s" [editable]="false"></tock-answer></li>
      </ul>
    </div>

  </mat-card-content>
  <mat-card-actions *ngIf="storyNode">
    <button *ngIf="!story._id" (click)="saveNewStory()" mat-raised-button color="primary">Create Story</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="!story && storyNode">
  <mat-card-title>
    <span class="answer-title" matTooltip="Story name" [matBadge]="storyNode.displayCount()"
          matBadgeOverlap="false">{{storyNode.nodeName()}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    <ul>
      <li *ngIf="storyNode.intent">Intent: <b>{{storyNode.intent}}</b></li>
      <li *ngIf="storyNode.step">Step: <b>{{storyNode.step}}</b></li>
      <li *ngIf="storyNode.entities.length !==0">Entities: <b>{{storyNode.entities}}</b></li>
      <li>{{storyNode.count}} {{storyNode.count === 1 ? 'instance' : 'instances'}}</li>
    </ul>
  </mat-card-subtitle>


  <mat-card-content>
    <button class="actionButton" matTooltip="Create Story" (click)="createStory()">Create Managed Story</button>
  </mat-card-content>
</mat-card>

