<mat-expansion-panel *ngIf="story" [expanded]="storyNode || !story._id" [hideToggle]="storyNode || !story._id" #expansionPanel (opened)="story.hideDetails = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="!storyNode" matTooltip="Story name" class="answer-title">{{story.name}}</span>
      <span *ngIf="storyNode" matTooltip="Story name" [matBadge]="storyNode.displayCount()"
            matBadgeOverlap="false" class="answer-title">{{story.name}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <tock-answer *ngIf="!storyNode && story._id" class="answer" [answer]="story" [fullDisplay]="false"></tock-answer>
      <button mat-icon-button color="primary" matTooltip="Edit" (click)="$event.stopPropagation();editStory()">
        <mat-icon>edit</mat-icon>
      </button>
      <!--button *ngIf="!fullDisplay" mat-icon-button color="primary" matTooltip="View Story Details"
              (click)="$event.stopPropagation();selectStory()">
        <mat-icon>zoom_in</mat-icon>
      </button-->
      <button mat-icon-button matTooltip="Edit Mandatory Entities" (click)="$event.stopPropagation();editEntities()">
        <mat-icon>extension</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Edit Actions" (click)="$event.stopPropagation();editSteps()">
        <mat-icon>dns</mat-icon>
      </button>
      <button *ngIf="story._id" mat-icon-button color="warn" matTooltip="Delete" (click)="$event.stopPropagation();deleteStory()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-panel-description>

  </mat-expansion-panel-header>

  <div>
    <span class="intent" matTooltip="Main Intent">{{story.intent.name}}</span>
    <span class="category" matTooltip="Story category">&nbsp;[{{story.category}}]</span>
    <div>
      {{story.description}}
    </div>
    <ul *ngIf="storyNode">
      <li *ngIf="storyNode.intent">Intent: <b>{{storyNode.intent}}</b></li>
      <li *ngIf="storyNode.step">Step: <b>{{storyNode.step}}</b></li>
      <li *ngIf="storyNode.entities.length !==0">Entities: <b>{{storyNode.entities}}</b></li>
      <li>{{storyNode.count}} {{storyNode.count === 1 ? 'instance' : 'instances'}}</li>
    </ul>
  </div>

  <div *ngIf="!story.hideDetails">
    <div class="fullDisplayDivider" *ngIf="fullDisplay"></div>
    <mat-divider *ngIf="fullDisplay" [inset]="true" class="divider"></mat-divider>
    <div class="fullDisplayDivider" *ngIf="fullDisplay"></div>

    <!-- mandatory entities -->
    <div *ngIf="story.mandatoryEntities.length !== 0">
      Mandatory Entities
      <button mat-icon-button matTooltip="Edit Mandatory Entities" (click)="editEntities()">
        <mat-icon>extension</mat-icon>
      </button>
      <ul>
        <li *ngFor="let e of story.mandatoryEntities">{{e.role}} <span class="intent"
                                                                       matTooltip="Intent requested">[{{e.intent.name}}
          ]</span>:
          <tock-answer class="answer" [answer]="e" [editable]="false"></tock-answer>
        </li>
      </ul>
      <div class="fullDisplayDivider" *ngIf="fullDisplay"></div>
      <mat-divider *ngIf="fullDisplay" [inset]="true" class="divider"></mat-divider>
      <div class="fullDisplayDivider" *ngIf="fullDisplay"></div>
    </div>

    <!-- default answer -->
    <label *ngIf="!fullDisplay" for="main_answer" class="label-answer">Answer :</label>
    <div *ngIf="fullDisplay">
      Answer
      <div class="fullDisplayDivider"></div>
    </div>
    <tock-answer id="main_answer" class="answer" [answer]="story" [fullDisplay]="fullDisplay" [create]="!story._id"
                 (submit)="saveStory(true)"></tock-answer>

    <!-- steps -->
    <div *ngIf="displaySteps" class="fullDisplayDivider"></div>
    <mat-divider *ngIf="displaySteps" [inset]="true" class="divider"></mat-divider>
    <div *ngIf="story.steps.length !== 0">
      Actions
      <button mat-icon-button matTooltip="Edit Actions" (click)="editSteps()">
        <mat-icon>dns</mat-icon>
      </button>
    </div>
    <tock-steps [steps]="story.steps" [defaultCategory]="story.category"
                [readonly]="!displaySteps"></tock-steps>

  </div>
  <mat-action-row *ngIf="storyNode || story._id">
    <button *ngIf="!story._id" (click)="saveNewStory()" mat-raised-button color="primary">Create Story</button>
    <button *ngIf="story._id" (click)="expansionPanel.close();" mat-button>Cancel</button>
    <button *ngIf="story._id" (click)="saveStory(false);expansionPanel.close();" mat-raised-button color="primary">Update Story</button>
  </mat-action-row>
</mat-expansion-panel>
<mat-card *ngIf="!story && storyNode">
  <mat-card-title>
    <span class="answer-title" matTooltip="Story name" [matBadge]="storyNode.displayCount()"
          matBadgeOverlap="false">{{storyNode.nodeName()}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    <ul>
      <li *ngIf="storyNode.intent">Intent: <b>{{storyNode.intent}}</b></li>
      <li *ngIf="storyNode.step">Step: <b>{{storyNode.step}}</b></li>
      <li *ngIf="storyNode.entities.length !==0">Entities: <b>{{storyNode.entities}}</b></li>
      <li>{{storyNode.count}} {{storyNode.count === 1 ? 'instance' : 'instances'}}</li>
    </ul>
  </mat-card-subtitle>


  <mat-card-content>
    <button class="actionButton" matTooltip="Create Story" (click)="createStory()">Create Managed Story</button>
  </mat-card-content>
</mat-card>

