<table
  [nbTreeGrid]="source"
  [equalColumnsWidth]="false"
  class="treeGrid"
>
  <tr
    nbTreeGridRow
    [clickToToggle]="false"
    *nbTreeGridRowDef="let row; columns: allColumns"
  ></tr>

  <ng-container [nbTreeGridColumnDef]="customColumn">
    <td
      nbTreeGridCell
      *nbTreeGridCellDef="let row"
    >
      <div class="step-wrapper">
        @if (row.data.children.length) {
        <nb-tree-grid-row-toggle
          [expanded]="row.expanded"
          class="toggler"
        >
        </nb-tree-grid-row-toggle>
        } @if (indicators) {
        <tock-step
          class="step"
          [step]="row.data"
          (delete)="deleteStep($event)"
          (child)="addNewStep(row.data)"
          (duplicate)="duplicateStep(row.data)"
          (rebuildTree)="rebuildTree(row.data)"
          [defaultCategory]="defaultCategory"
          [canUpward]="canUpward(row.data)"
          [canDownward]="canDownward(row.data)"
          (upward)="upward(row.data)"
          (downward)="downward(row.data)"
          [readonly]="readonly"
          [indicators]="indicators"
        ></tock-step>
        }
      </div>
    </td>
  </ng-container>
</table>

@if (!readonly) {
<div class="d-flex flex-wrap gap-1 mt-4">
  <button
    nbButton
    ghost
    size="small"
    (click)="generate()"
  >
    <nb-icon icon="plus-square"></nb-icon>
    {{ 'bot.story-action-steps.generateFromEntityButton' | transloco }}
  </button>
  <button
    nbButton
    status="primary"
    size="small"
    (click)="addNewStep()"
  >
    <nb-icon icon="plus-lg"></nb-icon>
    {{ 'bot.story-action-steps.addActionButton' | transloco }}
  </button>
</div>
}
