<div [formGroup]="form">
  <div [formGroupName]="parentGroup">
    <tock-form-control
      [label]="getFormControlLabel()"
      [name]="configurationParam.key"
      [controls]="getFormControl()"
      [required]="isRequired"
      [boldLabel]="false"
      [showError]="isSubmitted"
      [information]="configurationParam.information"
    >
      @if (configurationParam.type === 'text') {
      <input
        nbInput
        fullWidth
        fieldSize="small"
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
      />
      } @if (configurationParam.type === 'obfuscated') { @if (!inputVisible) {
      <input
        nbInput
        fullWidth
        fieldSize="small"
        [value]="getControlObfuscatedValue()"
        (focus)="showInput($event)"
      />
      } @if (inputVisible) {
      <input
        #clearInput
        nbInput
        fullWidth
        fieldSize="small"
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        (blur)="hideInput()"
      />
      } } @if (configurationParam.type === 'boolean') {
      <nb-toggle
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        class="nb-toggle-small mt-2"
        status="basic"
      >
        @if (form.get(parentGroup).get(configurationParam.key).value) {
        <span>
          {{ 'shared.ai-settings-engine-config-param-input.activatedLabel' | transloco }}
        </span>
        } @if (!form.get(parentGroup).get(configurationParam.key).value) {
        <span>
          {{ 'shared.ai-settings-engine-config-param-input.deactivatedLabel' | transloco }}
        </span>
        }
      </nb-toggle>
      } @if (configurationParam.type === 'prompt') {
      <textarea
        nbInput
        fullWidth
        [rows]="configurationParam.rows || 6"
        fieldSize="small"
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
      ></textarea>
      <div class="mt-1">
        <button
          nbButton
          size="tiny"
          (click)="restoreDefaultPrompt()"
        >
          {{ 'shared.ai-settings-engine-config-param-input.useDefaultPromptButton' | transloco }}
        </button>
      </div>
      } @if (configurationParam.type === 'radio') {
      <nb-radio-group
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        class="d-flex"
        name="{{ parentGroup }}-{{ configurationParam.key }}"
      >
        @for (source of configurationParam.source; track source) {
        <nb-radio [value]="source">
          {{ source }}
        </nb-radio>
        }
      </nb-radio-group>
      } @if (configurationParam.type === 'list') {
      <nb-select
        fullWidth
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        size="small"
      >
        @for (source of configurationParam.source; track source) {
        <nb-option [value]="source">
          {{ source }}
        </nb-option>
        }
      </nb-select>
      } @if (configurationParam.type === 'openlist') {
      <tock-autocomplete-input
        fieldSize="small"
        placeholder=""
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        [options]="configurationParam.source"
      ></tock-autocomplete-input>
      } @if (configurationParam.type === 'number') { @if (!configurationParam.numberControlType || configurationParam.numberControlType ===
      'slider') {
      <tock-slider
        [min]="configurationParam.min"
        [max]="configurationParam.max"
        [step]="configurationParam.step"
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
      ></tock-slider>
      } @if (configurationParam.numberControlType === 'input') {
      <input
        type="number"
        nbInput
        fullWidth
        fieldSize="small"
        [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        [min]="configurationParam.min"
        [max]="configurationParam.max"
        [step]="configurationParam.step"
      />
      } }
    </tock-form-control>
  </div>
</div>
