.calendar-panel {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: -5.5rem;
  margin-top: -1rem;
}

.calendar-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.calendar-shortcuts {
  display: inline-grid;
  width: -webkit-fill-available;
  height: fit-content;
}

.calendar-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
