.intent {
  width:800px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.intent-mention {
  font-style: italic;
  font-size: small;
}

.sentence-input {
  width:80%;
  font-size: xx-large;
}

