@if (step && !readonly) {
<div class="step">
  <div class="line">
    <div>
      @if (canUpward) {
      <button
        nbButton
        ghost
        shape="round"
        status="info"
        [nbTooltip]="'bot.story-action-step.moveUpwardTooltip' | transloco"
        (click)="upwardStep()"
        class="d-block"
      >
        <nb-icon icon="arrow-up-short"></nb-icon>
      </button>
      } @if (canDownward) {
      <button
        nbButton
        ghost
        shape="round"
        status="info"
        [nbTooltip]="'bot.story-action-step.moveDownwardTooltip' | transloco"
        (click)="downwardStep()"
        class="d-block"
      >
        <nb-icon icon="arrow-down-short"></nb-icon>
      </button>
      }
    </div>
    <!-- user sentence -->
    <div>
      <tock-form-control
        [label]="'bot.story-action-step.userPhraseLabel' | transloco"
        name="userSentence"
        [hasMargin]="false"
        [required]="true"
        [boldLabel]="false"
        [hasMargin]="false"
        [showError]="true"
        [controls]="$any({ errors: step.new })"
      >
        @if (!step.new) {
        <input
          nbInput
          fullWidth
          type="text"
          fieldSize="small"
          [placeholder]="'bot.story-action-step.userPhrasePlaceholder' | transloco"
          [(ngModel)]="step.userSentence.defaultLabel"
          (blur)="userSentenceChange($any($event.target).value)"
        />
        } @if (step.new) {
        <input
          nbInput
          fullWidth
          type="text"
          fieldSize="small"
          [placeholder]="'bot.story-action-step.userPhrasePlaceholder' | transloco"
          [(ngModel)]="step.newUserSentence"
          (blur)="userSentenceChange($any($event.target).value)"
        />
        }
      </tock-form-control>
    </div>
    <!-- intent -->
    <tock-form-control
      [label]="'bot.story-action-step.intentLabel' | transloco"
      name="intent"
      [hasMargin]="false"
      [boldLabel]="false"
      [hasMargin]="false"
    >
      <input
        nbInput
        fullWidth
        type="text"
        fieldSize="small"
        [placeholder]="'bot.story-action-step.intentPlaceholder' | transloco"
        [(ngModel)]="step.intent.name"
        (blur)="validateIntent(step)"
        autocomplete="off"
        (keyup)="updateIntentsAutocompleteValues($event)"
        [nbAutocomplete]="intentssAutocomplete"
      />
    </tock-form-control>
    <!-- entity -->
    <tock-form-control
      [label]="'bot.story-action-step.entityLabel' | transloco"
      [boldLabel]="false"
      [hasMargin]="false"
    >
      @if (!step.entity || step.entity.value) {
      <button
        nbButton
        shape="round"
        size="small"
        [nbTooltip]="'bot.story-action-step.setTargetEntityValueTooltip' | transloco"
        (click)="setEntity()"
      >
        {{ step.entity ? step.entity.entityRole : '' }}
        <nb-icon
          icon="paperclip"
          [status]="step.entity ? 'primary' : 'basic'"
        ></nb-icon>
        {{ step.entity ? (step.entity.value ? step.entity.value : '') : '' }}
      </button>
      } @if (step.entity && !step.entity.value) {
      <button
        nbButton
        shape="round"
        size="small"
        [nbTooltip]="'bot.story-action-step.setTargetEntityTooltip' | transloco"
        (click)="setEntity()"
      >
        {{ step.entity ? (step.entity.value ? step.entity.value : step.entity.entityRole) : '' }}
        <nb-icon icon="paperclip"></nb-icon>
      </button>
      }
    </tock-form-control>
    <div></div>
    <!-- answer -->
    <tock-form-control
      [label]="'bot.story-action-step.answerLabel' | transloco"
      [boldLabel]="false"
      [hasMargin]="false"
    >
      <tock-answer
        editableIconSize="small"
        [answer]="step"
      ></tock-answer>
    </tock-form-control>
    <tock-form-control
      [label]="'bot.story-action-step.targetIntentLabel' | transloco"
      name="targetIntent"
      [boldLabel]="false"
      [hasMargin]="false"
      [nbTooltip]="'bot.story-action-step.targetIntentTooltip' | transloco"
    >
      <input
        nbInput
        fullWidth
        type="text"
        fieldSize="small"
        [placeholder]="'bot.story-action-step.targetIntentPlaceholder' | transloco"
        #targetIntent
        [(ngModel)]="step.targetIntent.name"
        (keyup)="onIntentChange(step, $any($event.target).value)"
        (focus)="onIntentChange(step, $any($event.target).value)"
        (blur)="validateIntent(step, true)"
        autocomplete="off"
        (keyup)="updateIntentsAutocompleteValues($event)"
        [nbAutocomplete]="intentssAutocomplete"
      />
    </tock-form-control>
    <tock-form-control
      [label]="'bot.story-action-step.indicatorsLabel' | transloco"
      [boldLabel]="false"
      [hasMargin]="false"
    >
      <nb-select
        multiple
        fullWidth
        size="small"
        [placeholder]="'bot.story-action-step.indicatorsPlaceholder' | transloco"
        optionsListClass="option-list--break-word"
        [selected]="selectedStepsMetrics"
        [compareWith]="matchMetrics"
        (selectedChange)="onStepMetricChange($event)"
        data-testid="selected-steps-Metrics"
      >
        @for (dimension of getIndicatorsValuesGroups(); track dimension) {
        <nb-option-group [title]="dimension.dimension">
          @for (entry of dimension.entries; track entry) {
          <nb-option
            [value]="entry"
            [disabled]="!indicatorValueSelectable(entry)"
          >
            {{ getMetricLabel(entry) }}
          </nb-option>
          }
        </nb-option-group>
        }
      </nb-select>
    </tock-form-control>
  </div>
  <div class="context-menu">
    <!-- remove action -->
    <div class="d-flex">
      <button
        nbButton
        ghost
        status="danger"
        size="small"
        (click)="removeStep()"
      >
        <nb-icon icon="dash-lg"></nb-icon>
        {{ 'bot.story-action-step.removeActionButton' | transloco }}
      </button>
      @if (!step.new && step.intent && !step.currentAnswer().isEmpty()) {
      <button
        nbButton
        ghost
        status="success"
        size="small"
        (click)="addChild()"
      >
        <nb-icon icon="plus-lg"></nb-icon>
        {{ 'bot.story-action-step.addActionButton' | transloco }}
      </button>
      }
      <button
        nbButton
        ghost
        size="small"
        (click)="duplicateStep()"
      >
        <nb-icon icon="copy"></nb-icon>
        {{ 'bot.story-action-step.duplicateButton' | transloco }}
      </button>
      @if (!step.new && step.intent && !step.currentAnswer().isEmpty()) {
      <button
        nbButton
        ghost
        size="small"
        (click)="generateChildren()"
      >
        <nb-icon icon="plus-square"></nb-icon>
        {{ 'bot.story-action-step.generateFromEntityButton' | transloco }}
      </button>
      }
    </div>
  </div>
</div>
}

<nb-autocomplete
  #intentssAutocomplete
  size="tiny"
>
  @for (category of intentsAutocompleteValues | async; track category) {
  <nb-option-group [title]="category.category">
    @for (intent of category.intents; track intent) {
    <nb-option
      [value]="intent.name"
      class="text-capitalize"
    >
      {{ intent.intentLabel() }}
    </nb-option>
    }
  </nb-option-group>
  }
</nb-autocomplete>

@if (step && readonly) {
<span class="read-only">
  {{ step.userSentence.defaultLocalizedLabelForLocale(state.currentLocale).label }}
  @if (step.intent && step.intent.name) {
  <span
    class="intent"
    [nbTooltip]="'bot.story-action-step.actionIntentTooltip' | transloco"
  >
    [{{ step.intent.name }}]
  </span>
  } :
  <tock-answer
    class="answer"
    [answer]="step"
    [editable]="false"
  ></tock-answer>
</span>
}
