<nb-card>
  <nb-card-header>{{ 'lu.display-intents-full-log.title' | transloco }}</nb-card-header>
  <nb-card-body class="body-content">
    <nb-card
      status="info"
      style="margin: 0"
    >
      <nb-card-header style="border-top-left-radius: 0; border-top-right-radius: 0; text-align: center">
        {{ 'lu.display-intents-full-log.requestTitle' | transloco }}
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <json-editor
          [options]="editorOptions"
          [data]="request"
        ></json-editor>
      </nb-card-body>
    </nb-card>

    <nb-card
      status="success"
      style="margin: 0"
    >
      <nb-card-header style="border-top-left-radius: 0; border-top-right-radius: 0; text-align: center">
        {{ 'lu.display-intents-full-log.responseTitle' | transloco }}
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <json-editor
          [options]="editorOptions"
          [data]="response"
        ></json-editor>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
  <nb-card-footer class="btn-align">
    <button
      nbButton
      status="primary"
      (click)="close()"
    >
      {{ 'common.actions.close' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
