# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# nlp admin folders symbolic links for windows
/src/app/applications
/src/app/archive
/src/app/build
/src/app/core-nlp
/src/app/entities
/src/app/inbox
/src/app/intents
/src/app/logs
/src/app/model
/src/app/nlp-tabs
/src/app/quality-nlp
/src/app/scroll
/src/app/search
/src/app/sentence-analysis
/src/app/sentences-scroll
/src/app/shared-nlp
/src/app/test-nlp
/src/app/try

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/node/node

# System Files
.DS_Store
Thumbs.db
