@if (i18nLabel?.i18n.length) {
<div>
  <nb-card>
    <nb-card-header>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <span
            class="label-title"
            [nbTooltip]="'bot.i18n-label.tooltipNamespaceAndKey' | transloco: { namespace: i18nLabel.namespace, key: i18nLabel._id }"
          >
            {{ !i18nLabel.defaultLocalizedLabel().label.length ? i18nLabel._id : i18nLabel.defaultLocalizedLabel().label }}
          </span>
          <div class="font-size-small lineHeight-1 mt-1">
            <div>{{ i18nLabel.category }}</div>
            @if (i18nLabel.defaultLocalizedLabel().label !== i18nLabel.defaultLabel) {
            <span [nbTooltip]="'bot.i18n-label.originalLabelTooltip' | transloco">
              {{ i18nLabel.defaultLabel }}
            </span>
            }
            <span class="text-muted">
              @if (i18nLabel.statCount) {
              <span> {{ 'bot.i18n-label.usedTimesLabel' | transloco: { count: i18nLabel.statCount } }}, </span>
              } @if (i18nLabel.lastUpdate) {
              <span>
                {{ 'bot.i18n-label.lastUsedLabel' | transloco: { timeAgo: (i18nLabel.lastUpdate | amTimeAgo) } }}
              </span>
              }
            </span>
          </div>
        </div>
        <button
          nbButton
          ghost
          shape="round"
          status="danger"
          [nbTooltip]="'bot.i18n-label.deleteLabelTooltip' | transloco"
          [disabled]="!deleteLabelAllowed"
          (click)="deleteLabel()"
        >
          <nb-icon icon="trash"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      @for (l of i18nLabel.i18n; track l; let isLast = $last; let index = $index) {
      <div>
        @if (isLocalizedVisible(l) && isLocalizedNotHidden(l)) {
        <div class="mb-3">
          <div class="d-flex">
            <div class="d-flex gap-1 label-block-actions">
              <!-- Locale -->
              <div
                class="text-uppercase"
                title="{{ l.displayStats() }}"
                [nbTooltip]="state.localeName(l.locale)"
              >
                {{ l.locale }}
              </div>
              <!-- Interface type -->
              <div>
                @if (l.interfaceType === 0) {
                <nb-icon
                  icon="chat-right-text-fill"
                  [nbTooltip]="'bot.i18n-label.textChannelTooltip' | transloco"
                ></nb-icon>
                } @if (l.interfaceType === 1) {
                <nb-icon
                  icon="telephone-fill"
                  [nbTooltip]="'bot.i18n-label.voiceChannelTooltip' | transloco"
                ></nb-icon>
                }
              </div>
              <!-- Connector -->
              @if (l.connectorId) {
              <div>
                @if (l.connectorId) {
                <img
                  src="{{ l.iconUrl() }}"
                  class="icons"
                  [nbTooltip]="l.connectorId"
                />
                }
              </div>
              }
            </div>
            <!-- Label -->
            <div class="flex-grow-1">
              <textarea
                class="label-textarea"
                nbInput
                rows="1"
                [(ngModel)]="l.label"
                (change)="save()"
                [disabled]="!isSupportedLocale(l)"
                [nbTooltip]="
                  isSupportedLocale(l)
                    ? l.stats && l.stats.length !== 0
                      ? ('bot.i18n-label.usedTimesLabel' | transloco: { count: l.mergedStats().count }) +
                        ', ' +
                        ('bot.i18n-label.lastUsedLabel' | transloco: { timeAgo: (l.mergedStats().lastUpdate | amTimeAgo) })
                      : ('bot.i18n-label.noStatsTooltip' | transloco)
                    : ('bot.i18n-label.deleteOnlyTooltip' | transloco)
                "
              ></textarea>
            </div>
            <div class="d-flex align-items-center label-block-actions">
              <!-- Add alternative -->
              <button
                nbButton
                ghost
                [nbTooltip]="
                  isSupportedLocale(l)
                    ? ('bot.i18n-label.addAlternativeTooltip' | transloco)
                    : ('bot.i18n-label.deleteOnlyTooltip' | transloco)
                "
                status="info"
                (click)="addNewAlternative(l)"
                [disabled]="!isSupportedLocale(l)"
              >
                <nb-icon icon="plus-lg"></nb-icon>
              </button>
              <!-- Delete label -->
              <button
                (click)="removeLocalizedLabel(l)"
                nbButton
                [nbTooltip]="'bot.i18n-label.deleteLocalizedLabelTooltip' | transloco"
                status="danger"
                ghost
              >
                <nb-icon icon="trash"></nb-icon>
              </button>
              <!-- Validate label -->
              <nb-checkbox
                class="ml-2"
                [(ngModel)]="l.validated"
                (change)="save()"
                status="info"
                [nbTooltip]="
                  isSupportedLocale(l)
                    ? ('bot.i18n-label.validateLabelTooltip' | transloco)
                    : ('bot.i18n-label.deleteOnlyTooltip' | transloco)
                "
                [disabled]="!isSupportedLocale(l)"
              ></nb-checkbox>
            </div>
          </div>
          <!-- Alternatives -->
          @for (a of l.alternatives; track a; let index = $index) {
          <div class="d-flex">
            <div class="d-flex gap-1 label-block-actions text-muted">
              <div class="text-uppercase">{{ l.locale }}</div>
              <div>
                @if (l.interfaceType === 0) {
                <nb-icon icon="chat-right-text-fill"></nb-icon>
                } @if (l.interfaceType === 1) {
                <nb-icon icon="telephone-fill"></nb-icon>
                }
              </div>
              @if (l.connectorId) {
              <div>
                @if (l.connectorId) {
                <img
                  src="{{ l.iconUrl() }}"
                  class="icons icon-muted"
                  [nbTooltip]="l.connectorId"
                />
                }
              </div>
              }
            </div>
            <div class="flex-grow-1">
              <textarea
                class="label-textarea"
                nbInput
                [value]="a"
                [disabled]="!isSupportedLocale(l)"
                (change)="addAlternative(l, index, $any($event.target).value)"
                rows="1"
              ></textarea>
            </div>
            <div class="label-block-actions">
              <!-- Remove alternative -->
              <button
                nbButton
                ghost
                [nbTooltip]="'bot.i18n-label.removeAlternativeTooltip' | transloco"
                status="danger"
                (click)="removeAlternative(l, index)"
              >
                <nb-icon icon="dash-lg"></nb-icon>
              </button>
            </div>
          </div>
          }
          <!-- Add specific label for connector -->
          @if (isLast || i18nLabel.i18n[index + 1].interfaceType !== l.interfaceType || i18nLabel.i18n[index + 1].locale !== l.locale) {
          <div>
            <div class="d-flex flex-wrap justify-content-between">
              @for (connector of connectorTypes; track connector) { @if ( isSupportedLocale(l) &&
              !i18nLabel.hasLocaleAndInterfaceAndConnector(l.locale, l.interfaceType, connector.connectorType.id) ) {
              <button
                nbButton
                ghost
                shape="round"
                [nbTooltip]="'bot.i18n-label.addSpecificLabelTooltip' | transloco: { connectorId: connector.connectorType.id }"
                (click)="addLocalizedLabelForConnector(l, connector.connectorType.id)"
              >
                <img
                  src="{{ connector.connectorType.iconUrl() }}"
                  class="icons"
                />
              </button>
              } }
            </div>
            @if (!isLast) {
            <hr class="divider" />
            }
          </div>
          }
        </div>
        }
      </div>
      }
    </nb-card-body>
  </nb-card>
</div>
}
