pre {
  padding: 0.5rem;
  margin: 0;
  overflow: initial;

  &.previewer {
    display: flex;
    & .lines-number {
      display: flex;
      flex-direction: column;
      text-align: right;
      padding-right: 1rem;
      border-right: 2px solid;
    }

    & .lines-container {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }
  }

  &.default {
    & .lines-number {
      color: #237893;
      border-color: #237893;
    }

    & span {
      &.key {
        color: #c792cc;
      }
      &.comma,
      &.delimiter {
        color: gray;
      }

      &.boolean {
        color: firebrick;
      }

      &.null {
        color: gray;
      }

      &.number {
        color: blue;
      }

      &.string {
        color: green;
      }
    }
  }

  &.dark {
    & .lines-number {
      color: #858585;
      border-color: #858585;
    }

    & span {
      &.key {
        color: #c792cc;
      }

      &.delimiter,
      &.comma,
      &.boolean,
      &.null {
        color: #6cddf0;
      }

      &.number {
        color: #e95f3c;
      }

      &.string {
        color: #c3e741;
      }
    }
  }
}
