<section [class.grid]="dialogDetailsSentence">
  <div class="main">
    <tock-sentence-training-filters
      #sentenceTrainingFilter
      [sentenceTrainingMode]="sentenceTrainingMode"
      (onFilter)="filterSentenceTraining($event)"
      (onChangeIntent)="changeSentencesIntent($event)"
      (onChangeEntity)="changeSentencesEntity($event)"
      (onTranslateSentences)="translateSentences($event)"
      class="d-block mb-2"
    ></tock-sentence-training-filters>

    <div
      class="loading"
      [nbSpinner]="loading"
      infinite-scroll
      [infiniteScrollDistance]="1"
      (scrolled)="onScroll()"
    >
      @if (!loading && !sentences?.length) {
      <tock-no-data-found
        [title]="'shared.sentence-training.no-data.title' | transloco"
        [message]="'shared.sentence-training.no-data.message' | transloco"
      ></tock-no-data-found>
      } @if (!loading && sentences?.length) {
      <tock-sticky-menu>
        <div class="grid-columns-header">
          <div class="d-flex gap-1 align-items-center">
            <nb-checkbox
              class="lineHeight-0"
              [checked]="selection?.selected?.length === sentences?.length"
              [indeterminate]="selection?.selected?.length && selection.selected.length < sentences?.length"
              (checkedChange)="handleToggleSelectAll($event)"
            ></nb-checkbox>
            @if (selection.selected.length) {
            <div
              class="d-flex gap-1"
              data-testid="batch-action"
            >
              <button
                nbButton
                [nbTooltip]="'shared.sentence-training.batch-actions.validate-tooltip' | transloco"
                status="success"
                ghost
                shape="round"
                (click)="handleBatchAction(Action.VALIDATE)"
                data-testid="batch-action-validate"
              >
                <nb-icon icon="check-circle-fill"></nb-icon>
              </button>
              @if (sentenceTrainingMode !== SentenceTrainingMode.UNKNOWN) {
              <button
                nbButton
                [nbTooltip]="'shared.sentence-training.batch-actions.unknown-tooltip' | transloco"
                status="warning"
                ghost
                shape="round"
                (click)="handleBatchAction(Action.UNKNOWN)"
                data-testid="batch-action-unknown"
              >
                <nb-icon icon="question-circle"></nb-icon>
              </button>
              } @if (sentenceTrainingMode !== SentenceTrainingMode.RAGEXCLUDED) {
              <button
                nbButton
                [nbTooltip]="'shared.sentence-training.batch-actions.ragexcluded-tooltip' | transloco"
                status="warning"
                ghost
                shape="round"
                (click)="handleBatchAction(Action.RAGEXCLUDED)"
                data-testid="batch-action-ragexcluded"
              >
                <nb-icon icon="lightbulb-off"></nb-icon>
              </button>
              }
              <button
                nbButton
                [nbTooltip]="'shared.sentence-training.batch-actions.delete-tooltip' | transloco"
                status="danger"
                ghost
                shape="round"
                (click)="handleBatchAction(Action.DELETE)"
                data-testid="batch-action-delete"
              >
                <nb-icon icon="trash"></nb-icon>
              </button>
            </div>
            }
          </div>
          <div class="d-flex justify-content-between align-items-center flex-wrap gap-1">
            <span
              class="pointer"
              (click)="toggleSort()"
              data-testid="sort"
            >
              {{ 'shared.sentence-training.sort-by-creation-date' | transloco }}
              @if (isSorted) {
              <nb-icon
                class="align-middle"
                icon="chevron-down-outline"
                pack="nebular-essentials"
              ></nb-icon>
              } @if (!isSorted) {
              <nb-icon
                class="align-middle"
                icon="chevron-up-outline"
                pack="nebular-essentials"
              ></nb-icon>
              }
            </span>
            <tock-pagination
              [pagination]="pagination"
              (onPaginationChange)="paginationChange()"
            ></tock-pagination>
          </div>
        </div>
      </tock-sticky-menu>
      } @for (sentence of sentences; track sentence) {
      <tock-sentence-training-entry
        [sentence]="sentence"
        [sentences]="sentences"
        [sentenceTrainingMode]="sentenceTrainingMode"
        [selection]="selection"
        (onDetails)="showDetails($event)"
        (onClearSentence)="clearSentence($event)"
      ></tock-sentence-training-entry>
      }
    </div>
  </div>

  @if (dialogDetailsSentence) {
  <tock-sentence-training-dialog
    #sentenceTrainingDialog
    class="aside"
    [sentence]="dialogDetailsSentence"
    (onClose)="closeDetails()"
    (onSearchSentence)="retrieveSentence($event)"
  ></tock-sentence-training-dialog>
  }
</section>

<tock-scroll-top-button></tock-scroll-top-button>
