@import '@nebular/theme/styles/global/breakpoints';

.loading {
  min-height: 50px;
}

.aside {
  height: min-content;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;

  .main {
    order: 2;
  }

  .aside {
    order: 1;
    position: inherit;
  }
}

@include media-breakpoint-up(lg) {
  .grid {
    grid-template-columns: 6fr 4fr;

    .main {
      order: 1;
    }

    .aside {
      order: 2;
      position: sticky;
      top: 5.75rem;
    }
  }
}
