<div class="content" id="element-id">
  <nb-card>
    <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="primary">
      <date-range-calendar [rangeInDays]="7" (datesChanged)="datesChanged($event)"></date-range-calendar>
      <tock-select-bot [allowNoConfigurationSelection]="true" noConnectorLabel="All Connectors"
                       [allowNoSelection]="true" noConfigurationLabel="All Configurations"
                       (selectionChange)="selectedConfigurationChanged($event)" class="select-bot">
      </tock-select-bot>
      <button nbButton shape="round" (click)="waitAndRefresh()" nbTooltip="Refresh" status="basic">
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
      <span style="float: right; padding: 5px;">&nbsp;&nbsp;
        <nb-toggle status="warning" [(ngModel)]="displayTests" (change)="waitAndRefresh()">
          Tests (Tock Studio)
        </nb-toggle>
      </span>
    </nb-card-body>
  </nb-card>

  <nb-accordion>
    <nb-accordion-item #messagesByTypeItem (collapsedChange)="collapsedChange($event)" *ngIf="userPreferences.graphs.activity.messagesAll">
      <nb-accordion-item-header>Messages</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByTypeData" title="Messages" [chartPreferences]="userPreferences"
                    [isLoading]="messagesByTypeLoading" pdfId="messages"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item #messagesByDaysItem (collapsedChange)="collapsedChange($event)">
      <nb-accordion-item-header>Messages by days in calendar</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByDaysData" title="Messages by days in calendar" [chartPreferences]="userPreferences" type="Calendar" *ngIf="userPreferences.graphs.activity.messagesByDays"
                    [isLoading]="messagesByDaysLoading" pdfId="messagesCalendar"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item #messagesByStoryItem (collapsedChange)="collapsedChange($event)" *ngIf="userPreferences.graphs.activity.messagesByStory">
      <nb-accordion-item-header>Messages by Story</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByStoryData" title="Messages by Story" [chartPreferences]="userPreferences"
                    [isLoading]="messagesByStoryLoading"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item #messagesByIntentItem (collapsedChange)="collapsedChange($event)" *ngIf="userPreferences.graphs.activity.messagesByIntent">
      <nb-accordion-item-header>Messages by Intent</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByIntentData" title="Messages by Intent" [chartPreferences]="userPreferences"
                    [isLoading]="messagesByIntentLoading"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item #messagesByConfigurationItem (collapsedChange)="collapsedChange($event)"
                       *ngIf="userPreferences.graphs.activity.messagesByConfiguration">
      <nb-accordion-item-header>Messages by Configuration</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByConfigurationData" title="Messages by Configuration" [chartPreferences]="userPreferences"
                    [isLoading]="messagesByConfigurationLoading"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item #messagesByConnectorItem (collapsedChange)="collapsedChange($event)"
                       *ngIf="userPreferences.graphs.activity.messagesByConnector">
      <nb-accordion-item-header>Messages by Connector Type</nb-accordion-item-header>
      <nb-accordion-item-body>
        <tock-chart [data]="messagesByConnectorData" title="Messages by Connector Type" [chartPreferences]="userPreferences"
                    [isLoading]="messagesByConnectorLoading"></tock-chart>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</div>
