<nb-card
  [ngClass]="{ selected: sentence._showDialog }"
  class="my-2"
  [id]="getSentenceId(sentence)"
>
  <nb-card-body
    class="grid-columns flex-wrap p-3"
    [ngClass]="{ 'grid-columns-without-selection': !selection }"
  >
    @if (selection) {
    <nb-checkbox
      [checked]="isSentenceSelected()"
      (checkedChange)="toggle()"
      class="mt-1"
    ></nb-checkbox>
    }

    <div class="flex-grow-1">
      <tock-sentence-training-sentence [sentence]="sentence"></tock-sentence-training-sentence>

      @if (sentence.forReview && sentence.reviewComment) {
      <nb-card
        class="mx-3 mt-2 mb-0"
        accent="info"
      >
        <nb-card-body class="text-muted review">
          <strong class="d-block">{{ 'shared.sentence-training-entry.review-comment' | transloco }} :</strong>
          {{ sentence.reviewComment }}
        </nb-card-body>
      </nb-card>
      }
    </div>

    <div class="tools-panel">
      <div class="font-size-small text-muted unselectable">
        <button
          nbButton
          ghost
          size="tiny"
          class="lineFirstSmallButtonRetract"
          [nbTooltip]="'shared.sentence-training-entry.copy-sentence' | transloco"
          (click)="copySentence()"
        >
          <nb-icon icon="copy"></nb-icon>
        </button>

        <button
          nbButton
          ghost
          size="tiny"
          class="mr-2"
          [nbTooltip]="'shared.sentence-training-entry.test-sentence' | transloco"
          (click)="testDialogSentence()"
        >
          <nb-icon icon="terminal-plus"></nb-icon>
        </button>

        <time>{{ sentence.creationDate | date: 'y/MM/dd HH:mm:ss' }}</time>

        <span
          class="text-uppercase mx-1"
          [style.color]="sentence.statusColor()"
          [nbTooltip]="'shared.sentence-training-entry.sentence-status' | transloco"
        >
          {{ sentence.statusDisplayed() }}
        </span>

        <span [nbTooltip]="'shared.sentence-training-entry.sentence-configuration' | transloco">
          {{ sentence.configuration }}
        </span>

        @if (sentence.qualifier) {
        <span [nbTooltip]="'shared.sentence-training-entry.qualifier' | transloco">
          {{ sentence.qualifier }}
        </span>
        }
      </div>

      <div class="d-flex mb-1">
        <nb-form-field
          class="mb-0 flex-grow-1 mb-0"
          [nbTooltip]="'shared.sentence-training-entry.intent-association' | transloco"
        >
          <nb-icon
            nbPrefix
            icon="compass"
          ></nb-icon>
          <input
            #sentenceIntentInput
            nbInput
            fullWidth
            type="text"
            [placeholder]="getSentenceAttribut('intentLabel')"
            (focus)="onFocus()"
            (blur)="onBlur($event)"
            (keyup.escape)="onBlur($event)"
            (keyup)="filterIntentsList($event)"
            autocomplete="off"
            [nbAutocomplete]="intentsAutocomplete"
            class="intent-input"
          />
          @if (isIntentStorySearchable()) {
          <nb-icon
            nbSuffix
            icon="book"
            (click)="displayIntentStoryDetails()"
            [nbTooltip]="'shared.sentence-training-entry.show-intent-story-details' | transloco"
            class="pointer"
          ></nb-icon>
          }
        </nb-form-field>
        <button
          nbButton
          ghost
          [nbTooltip]="'shared.sentence-training-entry.intent-detection-probability' | transloco"
          class="stats-button font-weight-normal"
          [class.pl-3]="!intentHasChanged()"
          [class.pr-1]="!intentHasChanged()"
          (click)="swapStatsDetails()"
        >
          @if (!intentHasChanged()) {
          <span>
            {{ getSentenceAttribut('probability') | percent: '1.0-1' }}
          </span>
          }
          <nb-icon
            [icon]="sentence._showStatsDetails ? 'chevron-up-outline' : 'chevron-down-outline'"
            pack="nebular-essentials"
          ></nb-icon>
        </button>

        <nb-autocomplete
          size="tiny"
          #intentsAutocomplete
          (selectedChange)="addIntentToSentence($event)"
        >
          @for (group of filteredIntentGroups | async; track group) {
          <nb-option-group [title]="group.category">
            @for (intent of group.intents; track intent) {
            <nb-option [value]="intent._id">
              {{ intent.label || intent.name }}
            </nb-option>
            }
          </nb-option-group>
          }
        </nb-autocomplete>
      </div>

      @if (sentence._showStatsDetails) {
      <div class="stats-details font-size-small mb-3">
        <div class="d-flex gap-1 justify-content-between">
          <span>{{ 'shared.sentence-training-entry.intent-probability' | transloco }} :</span>
          <span>{{ sentence.classification.intentProbability | percent: '1.0-2' }}</span>
        </div>
        @if (sentence.classification.otherIntentsProbabilities?.size) {
        <div class="text-muted font-size-small">
          {{ 'shared.sentence-training-entry.other-intents-probability' | transloco }} : @for (i of
          sentence.classification.otherIntentsProbabilities | keyvalue: originalOrder; track i) {
          <div class="d-flex gap-1 justify-content-between">
            <span>
              {{ state.intentLabelByName(i.key) }}
              <button
                nbButton
                size="tiny"
                ghost
                (click)="setSentenceIntentByName(i.key)"
                [nbTooltip]="'shared.sentence-training-entry.associate-intent' | transloco"
              >
                <nb-icon icon="arrow-right-circle-fill"></nb-icon>
              </button>
            </span>
            <span>{{ i.value | percent: '1.0-2' }}</span>
          </div>
          }
        </div>
        }
        <hr class="my-1" />
        <div class="d-flex gap-1 justify-content-between">
          <span>{{ 'shared.sentence-training-entry.entities-probability' | transloco }} :</span>
          <span>{{ sentence.classification.entitiesProbability | percent: '1.0-2' }}</span>
        </div>
        @if (sentence.classification.notRetainedEntities?.length) {
        <div class="text-muted font-size-small">
          {{ 'shared.sentence-training-entry.other-entities-probability' | transloco }} : @for (i of
          sentence.notRetainedEntitiesContainer().getEntities(); track i) {
          <div class="d-flex gap-1 justify-content-between">
            <span
              >{{ i.value ? sentence.notRetainedEntitiesContainer().entityText(i) : '' }}
              {{ sentence.notRetainedEntitiesContainer().entityValue(i) }}</span
            >
            <span>{{ i.probability | percent: '1.0-2' }}</span>
          </div>
          }
        </div>
        }
      </div>
      }

      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.validate' | transloco"
          status="success"
          [ngClass]="{ 'action-button-active': isActionButtonSuggested(Action.VALIDATE) || isActionButtonHighlighted(Action.VALIDATE) }"
          [class.lineFirstLargeButtonRetract]="!isActionButtonHighlighted(Action.VALIDATE) && !isActionButtonSuggested(Action.VALIDATE)"
          [ghost]="!isActionButtonHighlighted(Action.VALIDATE)"
          [outline]="isActionButtonSuggested(Action.VALIDATE)"
          shape="round"
          size="large"
          (click)="handleAction(Action.VALIDATE)"
        >
          <nb-icon icon="check-circle-fill"></nb-icon>
        </button>

        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.ask-for-review' | transloco"
          status="info"
          [ghost]="!isActionButtonHighlighted('review')"
          shape="round"
          size="large"
          (click)="askForReview()"
        >
          <nb-icon icon="search"></nb-icon>
        </button>

        @if (sentenceTrainingMode !== SentenceTrainingMode.UNKNOWN) {
        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.set-as-unknown' | transloco"
          status="warning"
          [ngClass]="{ 'action-button-active': isActionButtonSuggested(Action.UNKNOWN) || isActionButtonHighlighted(Action.UNKNOWN) }"
          [ghost]="!isActionButtonHighlighted(Action.UNKNOWN)"
          [outline]="isActionButtonSuggested(Action.UNKNOWN)"
          shape="round"
          size="large"
          (click)="handleAction(Action.UNKNOWN)"
        >
          <nb-icon icon="question-circle"></nb-icon>
        </button>
        } @if (sentenceTrainingMode !== SentenceTrainingMode.RAGEXCLUDED) {
        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.exclude-from-rag' | transloco"
          status="warning"
          [ngClass]="{
            'action-button-active': isActionButtonSuggested(Action.RAGEXCLUDED) || isActionButtonHighlighted(Action.RAGEXCLUDED)
          }"
          [ghost]="!isActionButtonHighlighted(Action.RAGEXCLUDED)"
          [outline]="isActionButtonSuggested(Action.RAGEXCLUDED)"
          shape="round"
          size="large"
          (click)="handleAction(Action.RAGEXCLUDED)"
        >
          <nb-icon icon="lightbulb-off"></nb-icon>
        </button>
        }

        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.delete' | transloco"
          status="danger"
          ghost
          shape="round"
          size="large"
          (click)="handleAction(Action.DELETE)"
        >
          <nb-icon icon="trash"></nb-icon>
        </button>

        <nb-form-field
          [nbTooltip]="'shared.sentence-training-entry.set-sentence-language' | transloco"
          class="mt-1 flex-grow-1"
        >
          <nb-icon
            nbPrefix
            icon="globe2"
          ></nb-icon>
          <nb-select
            [(ngModel)]="sentence.language"
            [placeholder]="'shared.sentence-training-entry.sentence-language' | transloco"
          >
            @for (l of state.currentApplication.supportedLocales; track l) {
            <nb-option [value]="l">
              {{ state.localeName(l) }}
            </nb-option>
            }
          </nb-select>
        </nb-form-field>
      </div>

      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <button
            nbButton
            [nbTooltip]="'shared.sentence-training-entry.create-new-intent' | transloco"
            ghost
            shape="round"
            class="lineFirstButtonRetract"
            (click)="createNewIntent()"
          >
            <nb-icon icon="compass"></nb-icon>
          </button>

          @if (state.hasRole(UserRole.botUser)) {
          <button
            nbButton
            [nbTooltip]="'shared.sentence-training-entry.create-faq' | transloco"
            ghost
            shape="round"
            (click)="redirectToFaqManagement()"
            class="ml-2"
          >
            <nb-icon icon="chat-left-text"></nb-icon>
          </button>
          }
        </div>

        @if (!standAlone) {
        <button
          nbButton
          [nbTooltip]="'shared.sentence-training-entry.show-dialog' | transloco"
          ghost
          shape="round"
          status="info"
          (click)="showDetails()"
        >
          <nb-icon icon="wechat"></nb-icon>
        </button>
        }
      </div>
    </div>
  </nb-card-body>
</nb-card>
