<button
  nbButton
  size="tiny"
  class="float-right ml-2"
  [nbTooltip]="'shared.json-iterator.expand_recursively_tooltip' | transloco"
  *ngIf="isRoot && !isPrimitive(data)"
  (click)="expandAll()"
>
  <nb-icon icon="arrows-expand"></nb-icon>
</button>

<div *ngIf="isRoot && isPrimitive(data)">
  {{ data }}
</div>

<div
  *ngIf="parentKey"
  class="parent-title d-flex"
>
  <button
    type="button"
    class="node-toggle"
    [disabled]="!isExpandable()"
    [attr.aria-expanded]="isExpandable() ? isDeployed : null"
    (click)="switchDeployed()"
  >
    <span class="caret-holder">
      <nb-icon
        icon="caret-right-fill"
        class="align-middle"
        *ngIf="!isDeployed && isExpandable()"
      ></nb-icon>
      <nb-icon
        icon="caret-down-fill"
        class="align-middle"
        *ngIf="isDeployed && isExpandable()"
      ></nb-icon>
    </span>
    <strong>{{ parentKey }} :</strong>
  </button>

  <div
    class="node-value grow-1"
    [class.ellipsis]="!(isDeployed && isPrimitive(data))"
  >
    <span
      class="text-primary pl-2"
      *ngIf="isPrimitive(data) && !isDeployed"
      >"{{ data }}"</span
    >
    <pre
      class="pre-format text-primary pl-2"
      *ngIf="isPrimitive(data) && isDeployed"
    >
"{{ data }}"</pre
    >

    <span
      class="text-muted pl-2"
      *ngIf="!isPrimitive(data)"
      >{{ data | json }}</span
    >
  </div>

  <button
    type="button"
    class="copy-btn"
    [nbTooltip]="(copied ? 'shared.json-iterator.copied_tooltip' : 'shared.json-iterator.copy_tooltip') | transloco"
    (click)="copyValue()"
  >
    <nb-icon [icon]="copied ? 'check' : 'copy'"></nb-icon>
  </button>
</div>

<div
  *ngIf="!isPrimitive(data) && (isRoot || isDeployed)"
  class="entry-block"
  [class.isRoot]="isRoot"
>
  <ng-container *ngFor="let list of data | keyvalue: customSort">
    <tock-json-iterator
      [data]="list.value"
      [parentKey]="list.key"
      [isRoot]="false"
    ></tock-json-iterator>
  </ng-container>
</div>
