@if (isRoot && !isPrimitive(data)) {
<button
  nbButton
  size="tiny"
  class="float-right ml-2"
  [nbTooltip]="'shared.json-iterator.expand_recursively_tooltip' | transloco"
  (click)="expandAll()"
>
  <nb-icon icon="arrows-expand"></nb-icon>
</button>
} @if (isRoot && isPrimitive(data)) {
<div>
  {{ data }}
</div>
} @if (parentKey) {
<div class="parent-title d-flex">
  <button
    type="button"
    class="node-toggle"
    [disabled]="!isExpandable()"
    [attr.aria-expanded]="isExpandable() ? isDeployed : null"
    (click)="switchDeployed()"
  >
    <span class="caret-holder">
      @if (!isDeployed && isExpandable()) {
      <nb-icon
        icon="caret-right-fill"
        class="align-middle"
      ></nb-icon>
      } @if (isDeployed && isExpandable()) {
      <nb-icon
        icon="caret-down-fill"
        class="align-middle"
      ></nb-icon>
      }
    </span>
    <strong>{{ parentKey }} :</strong>
  </button>
  <div
    class="node-value grow-1"
    [class.ellipsis]="!(isDeployed && isPrimitive(data))"
  >
    @if (isPrimitive(data) && !isDeployed) {
    <span class="text-primary pl-2">"{{ data }}"</span>
    } @if (isPrimitive(data) && isDeployed) {
    <pre class="pre-format text-primary pl-2">            "{{ data }}"</pre>
    } @if (!isPrimitive(data)) {
    <span class="text-muted pl-2">{{ data | json }}</span>
    }
  </div>
  <button
    type="button"
    class="copy-btn"
    [nbTooltip]="(copied ? 'shared.json-iterator.copied_tooltip' : 'shared.json-iterator.copy_tooltip') | transloco"
    (click)="copyValue()"
  >
    <nb-icon [icon]="copied ? 'check' : 'copy'"></nb-icon>
  </button>
</div>
} @if (!isPrimitive(data) && (isRoot || isDeployed)) {
<div
  class="entry-block"
  [class.isRoot]="isRoot"
>
  @for (list of data | keyvalue: customSort; track list) {
  <tock-json-iterator
    [data]="list.value"
    [parentKey]="list.key"
    [isRoot]="false"
  ></tock-json-iterator>
  }
</div>
}
