<div class="d-flex flex-wrap align-items-center">
  <h1 class="flex-grow-1">
    Satisfaction
    <span
      *ngIf="count"
      class="font-weight-normal"
      >({{ count }})</span
    >
  </h1>

  <div class="d-flex">
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Refresh dialogs"
      (click)="refresh()"
      class="ml-2"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>

    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Export all dialogs with rating"
      (click)="exportDialogs()"
      class="ml-2"
    >
      <nb-icon icon="download"></nb-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="satisfactionStat">
  <nb-card class="mb-0">
    <nb-card-body class="d-flex gap-1 justify-content-between align-items-center">
      <div>
        <div class="d-flex mb-1">
          <nb-icon
            *ngFor="let _ of getStarArray()"
            icon="star-fill"
          ></nb-icon>
        </div>
        <span class="text text-hint caption">{{ satisfactionStat.nbUsersRated }} users</span>
      </div>

      <div
        class="rating-circle"
        [ngStyle]="getStyles()"
        nbTooltip="Average rating"
      >
        <span>{{ satisfactionStat.ratingBot.toFixed(1) }}</span>
      </div>
    </nb-card-body>
  </nb-card>

  <div class="d-flex flex-wrap">
    <nb-card
      class="flex-grow-1 p-2 p-lg-3 px-xl-4 mb-0"
      *ngFor="let index of [1, 2, 3, 4, 5]"
    >
      <div class="d-flex column-gap-1 justify-content-between align-items-center">
        <div class="text-nowrap">
          <div class="d-flex">
            <nb-icon
              *ngFor="let _ of [].constructor(index)"
              icon="star"
            ></nb-icon>
          </div>
          <span class="text-hint caption">{{ getNbUsersByNote(index) }} users</span>
        </div>
        <nb-toggle
          [value]="index"
          (change)="updateRatingFilter($event)"
          class="nb-toggle-reset-label-margin"
        ></nb-toggle>
      </div>
    </nb-card>
  </div>
</ng-container>

<tock-dialogs-list
  #dialogsList
  [ratingFilter]="ratingFilter"
></tock-dialogs-list>

<tock-scroll-top-button></tock-scroll-top-button>
