@if (answer && answer.currentAnswer()) {
<div>
  @if (!fullDisplay) {
  <div>
    <span class="simple">{{ answer.simpleTextView(wide) }}</span>
    @if (editable) {
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'bot.answer.editTooltip' | transloco: { answerLabel: answerLabel }"
      [size]="editableIconSize"
      (click)="$event.stopPropagation(); editAnswer()"
    >
      <nb-icon icon="chat-right-quote"></nb-icon>
    </button>
    }
  </div>
  } @if (fullDisplay) {
  <div class="fullDisplay">
    <tock-form-control
      [label]="'bot.answer.typeLabel' | transloco"
      name="answer-type-label"
    >
      <nb-radio-group
        [(ngModel)]="answerType"
        (ngModelChange)="changeType($event)"
        class="d-flex"
      >
        <nb-radio [value]="0">{{ 'bot.answer.simpleAnswerLabel' | transloco }}</nb-radio>
        @if (shared.configuration && shared.configuration.compilerAvailable) {
        <nb-radio [value]="2">
          {{ 'bot.answer.scriptAnswerLabel' | transloco }}
        </nb-radio>
        }
      </nb-radio-group>
    </tock-form-control>
    @if (answer.isSimpleAnswer()) {
    <div>
      <tock-simple-answer
        [container]="answer"
        [submit]="submit"
        [answerLabel]="answerLabel"
      ></tock-simple-answer>
    </div>
    } @if (answer.isScriptAnswer()) {
    <div>
      <tock-script-answer [container]="answer"></tock-script-answer>
    </div>
    }
  </div>
  }
</div>
}
