<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1">
    Export scenarios dumps
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Close"
      (click)="close()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="export()"
    >
      <nb-radio-group
        formControlName="allOrCurrentOnly"
        name="reactive-forms-group"
      >
        <nb-radio value="one">For each saga, export only the current scenario or the most recent draft version</nb-radio>
        <nb-radio value="all">Export all scenarios versions of all sagas</nb-radio>
      </nb-radio-group>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      nbButton
      status="primary"
      size="small"
      (click)="export()"
    >
      Export
    </button>
  </nb-card-footer>
</nb-card>
