<nb-card class="m-0">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    {{ 'bot.mandatory-entities.title' | transloco }}
    <button
      type="button"
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'common.actions.close' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-column gap-1">
        @for (e of entities; track e; let i = $index) {
        <div class="grid">
          <tock-form-control
            [label]="'bot.mandatory-entities.answerLabel' | transloco"
            name="answer_{{ i }}"
            [required]="true"
            [hasMargin]="false"
          >
            <tock-answer
              id="answer_{{ i }}"
              answerLabel="question"
              editableIconSize="small"
              [answer]="e"
            ></tock-answer>
          </tock-form-control>
          <tock-form-control
            [label]="'bot.mandatory-entities.entityLabel' | transloco"
            name="entity_{{ i }}"
            [required]="true"
            [hasMargin]="false"
          >
            @if (e.entity) {
            <span
              id="entity_{{ i }}"
              class="pointer entity"
              [style.background-color]="e.entity.entityColor"
              (click)="selectEntity(e)"
            >
              {{ e.entity.qualifiedName(stateService.user) }}
            </span>
            } @if (!e.entity) {
            <div>
              <button
                nbButton
                id="entity_{{ i }}"
                size="small"
                outline
                (click)="selectEntity(e)"
              >
                {{ 'common.actions.select' | transloco }}
              </button>
            </div>
            }
          </tock-form-control>
          <tock-form-control
            [label]="'bot.mandatory-entities.intentLabel' | transloco"
            name="intent_{{ i }}"
            [information]="'bot.mandatory-entities.intentInformation' | transloco"
            [required]="true"
            [hasMargin]="false"
          >
            <input
              nbInput
              id="intent_{{ i }}"
              name="intent"
              autocomplete="off"
              [placeholder]="'bot.mandatory-entities.chooseIntentPlaceholder' | transloco"
              fieldSize="small"
              [(ngModel)]="e.intent.name"
              [nbAutocomplete]="intentAuto"
              (keyup)="onIntentChange(e, $any($event.target).value)"
              (focus)="onIntentChange(e, $any($event.target).value)"
              (blur)="validateIntent(e)"
            />
          </tock-form-control>
          <button
            nbButton
            ghost
            status="danger"
            shape="round"
            size="small"
            [nbTooltip]="'common.actions.remove' | transloco"
            (click)="removeEntity(e)"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
        }
      </div>

      <div class="grid">
        <tock-form-control
          [label]="'bot.mandatory-entities.answerLabel' | transloco"
          name="answer"
          [required]="true"
          [hasMargin]="false"
        >
          <tock-answer
            answerLabel="question"
            editableIconSize="small"
            [answer]="newEntity"
          ></tock-answer>
        </tock-form-control>
        <tock-form-control
          [label]="'bot.mandatory-entities.entityLabel' | transloco"
          name="entity"
          [required]="true"
          [hasMargin]="false"
        >
          @if (newEntity.entity) {
          <span
            id="entity"
            class="pointer entity"
            [style.background-color]="newEntity.entity.entityColor"
            (click)="selectEntity(newEntity)"
          >
            {{ newEntity.entity.qualifiedName(stateService.user) }}
          </span>
          } @if (!newEntity.entity) {
          <div>
            <button
              id="entity"
              nbButton
              outline
              size="small"
              (click)="selectEntity(newEntity)"
            >
              {{ 'common.actions.select' | transloco }}
            </button>
          </div>
          }
        </tock-form-control>
        <tock-form-control
          [label]="'bot.mandatory-entities.intentLabel' | transloco"
          name="intent"
          [information]="'bot.mandatory-entities.intentInformation' | transloco"
          [hasMargin]="false"
        >
          <input
            nbInput
            id="intent"
            name="intent"
            autocomplete="off"
            [placeholder]="'bot.mandatory-entities.chooseIntentPlaceholder' | transloco"
            fieldSize="small"
            [(ngModel)]="newEntity.intent.name"
            [nbAutocomplete]="intentAuto"
            (keyup)="onIntentChange(newEntity, $any($event.target).value)"
            (focus)="onIntentChange(newEntity, $any($event.target).value)"
            (blur)="validateIntent(newEntity)"
          />
        </tock-form-control>
        <button
          nbButton
          shape="round"
          status="primary"
          size="small"
          [nbTooltip]="'common.actions.add' | transloco"
          class="entity-button"
          (click)="addEntity()"
        >
          <nb-icon icon="plus-lg"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="save()"
    >
      {{ 'common.actions.save' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>

<nb-autocomplete
  #intentAuto
  [activeFirst]="true"
>
  @for (category of currentIntentCategories; track category) {
  <nb-option-group [title]="category.category">
    @for (intent of category.intents; track intent) {
    <nb-option [value]="intent.name">
      {{ intent.intentLabel() }}
    </nb-option>
    }
  </nb-option-group>
  }
</nb-autocomplete>
