<div class="d-flex flex-wrap">
  <h1 class="flex-grow-1">
    {{ 'lu.intents-logs.title' | transloco }}
    <span
      *ngIf="pagination.total"
      class="font-weight-normal"
      >({{ pagination.total }})</span
    >
  </h1>

  <section class="d-flex flex-wrap align-items-center">
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'lu.intents-logs.refresh-sentences-tooltip' | transloco"
      (click)="loadData()"
      class="ml-2"
    >
      <nb-icon icon="arrow-clockwise"></nb-icon>
    </button>

    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'lu.intents-logs.download-csv-dump-tooltip' | transloco"
      (click)="downloadDump()"
      *ngIf="pagination.total"
    >
      <nb-icon icon="download"></nb-icon>
    </button>
  </section>
</div>

<section
  [nbSpinner]="loading"
  [class.grid]="dialogDetailsSentence"
  infinite-scroll
  [infiniteScrollDistance]="1"
  (scrolled)="onScroll()"
>
  <div>
    <nb-card class="mb-2">
      <nb-card-body>
        <form
          [formGroup]="form"
          class="d-flex gap-1 align-items-center"
        >
          <nb-form-field class="flex-grow-1">
            <nb-icon
              nbPrefix
              icon="search"
            ></nb-icon>
            <input
              nbInput
              fullWidth
              fieldSize="medium"
              [placeholder]="'lu.intents-logs.search-logs-placeholder' | transloco"
              type="text"
              formControlName="searchString"
            />
            <button
              nbButton
              nbSuffix
              ghost
              [nbTooltip]="'common.actions.clear' | transloco"
              type="button"
              (click)="resetSearch()"
              *ngIf="searchString.value?.trim().length"
            >
              <nb-icon icon="x-lg"></nb-icon>
            </button>
          </nb-form-field>

          <nb-toggle
            formControlName="onlyCurrentLocale"
            class="mb-n2"
          >
            {{ 'lu.intents-logs.only-current-locale' | transloco }}
          </nb-toggle>
          <nb-toggle
            formControlName="displayTests"
            class="mb-n2"
          >
            {{ 'common.actions.display-tests' | transloco }}
          </nb-toggle>
        </form>
      </nb-card-body>
    </nb-card>

    <tock-sticky-menu>
      <div class="d-flex justify-content-between">
        <div></div>
        <tock-pagination
          [pagination]="pagination"
          (onPaginationChange)="paginationChange()"
        ></tock-pagination>
      </div>
    </tock-sticky-menu>

    <tock-no-data-found
      *ngIf="!loading && !logs?.length"
      [title]="'lu.intents-logs.no-logs-found' | transloco"
    ></tock-no-data-found>

    <div
      *ngIf="pagination.total"
      class="mt-2"
    >
      <nb-card
        *ngFor="let d of logs"
        class="mb-1"
      >
        <nb-card-header>
          <h4 *ngIf="d.error">
            {{ d.textRequest() }}
            <nb-icon
              [nbTooltip]="'lu.intents-logs.error-tooltip' | transloco"
              class="text-danger"
              icon="exclamation-triangle"
            ></nb-icon>
          </h4>
          <tock-sentence-training-sentence
            *ngIf="!d.error"
            [sentence]="d.sentence"
            [readOnly]="true"
          ></tock-sentence-training-sentence>
        </nb-card-header>

        <nb-card-body class="d-flex gap-1 align-items-center justify-content-between">
          <div>
            {{ state.intentLabelByName(d.intent) }}
            <span
              *ngIf="d.sentence?.classification?.intentId && d.sentence.classification.hasIntentProbability()"
              [nbTooltip]="'lu.intents-logs.intent-probability-tooltip' | transloco"
            >
              <span class="intentProbability">({{ d.sentence.classification.intentProbability | percent: '1.0-2' }})</span>
            </span>
            {{ state.intentLabelByName(d.intent) ? '-' : '' }} {{ d.date | amTimeAgo }}
            <span *ngIf="d.durationInMS !== 0">{{ 'lu.intents-logs.in' | transloco }} {{ d.durationInMS }} ms</span>
          </div>

          <div class="d-flex">
            <button
              nbButton
              ghost
              (click)="displayFullLog(d)"
              [nbTooltip]="'lu.intents-logs.view-full-log-tooltip' | transloco"
            >
              <nb-icon icon="eye"></nb-icon>
            </button>

            <button
              nbButton
              ghost
              [nbTooltip]="'lu.intents-logs.create-faq-tooltip' | transloco"
              *ngIf="isRootSentence(d.sentence) && config.answerToSentenceUrl"
              (click)="redirectToFaqManagement(d.sentence)"
            >
              <nb-icon icon="chat-left-text"></nb-icon>
            </button>

            <button
              nbButton
              ghost
              (click)="copySentence(d.sentence)"
              [nbTooltip]="'lu.intents-logs.copy-sentence-tooltip' | transloco"
            >
              <nb-icon icon="copy"></nb-icon>
            </button>

            <button
              nbButton
              ghost
              (click)="showDetails(d.sentence)"
              [nbTooltip]="'lu.intents-logs.show-dialog-tooltip' | transloco"
            >
              <nb-icon icon="chat-dots"></nb-icon>
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <tock-sentence-training-dialog
    #sentenceTrainingDialog
    *ngIf="dialogDetailsSentence"
    class="aside"
    [sentence]="dialogDetailsSentence"
    (onClose)="closeDetails()"
  ></tock-sentence-training-dialog>
</section>

<tock-scroll-top-button></tock-scroll-top-button>
