<div class="bot-content">
  <div class="bot-bubble">
    <div class="avatar-bot"></div>
    <div class="bot-bubble-content">
      <span class="text">{{label}}</span>
      <div class="edit-button">
        <button nbButton>
          <nb-icon icon="edit-2"></nb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="bubble-footer">
  <span class="actions">
    <span class="flex-start">
      <button *ngFor="let action of actions" nbButton class="action-button" [status]="action === 'Oui'?'primary':'default'">
        <nb-icon icon="flash"></nb-icon>
        {{action}}
      </button>
    </span>
    <span class="flex-end">
      <button nbButton class="action-button">
        <nb-icon icon="flash"></nb-icon>
        Add Action
      </button>
    </span>
  </span>
</div>
