<div [formGroup]="form">
  <div [formGroupName]="parentGroup">
    <tock-form-control
      [label]="configurationParam.label"
      [name]="configurationParam.key"
      [controls]="getFormControl()"
      [required]="true"
      [boldLabel]="false"
      [showError]="isSubmitted"
      [information]="configurationParam.information"
    >
      <ng-container *ngIf="configurationParam.type === 'text'">
        <input
          nbInput
          fullWidth
          fieldSize="small"
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        />
      </ng-container>

      <ng-container *ngIf="configurationParam.type === 'obfuscated'">
        <input
          *ngIf="!inputVisible"
          nbInput
          fullWidth
          fieldSize="small"
          [value]="getControlObfuscatedValue()"
          (focus)="showInput($event)"
        />
        <input
          *ngIf="inputVisible"
          #clearInput
          nbInput
          fullWidth
          fieldSize="small"
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
          (blur)="hideInput()"
        />
      </ng-container>

      <ng-container *ngIf="configurationParam.type === 'prompt'">
        <textarea
          nbInput
          fullWidth
          rows="8"
          fieldSize="small"
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
        ></textarea>

        <div class="mt-1">
          <button
            nbButton
            size="tiny"
            (click)="restoreDefaultPrompt()"
          >
            Use default prompt
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="configurationParam.type === 'list'">
        <nb-select
          fullWidth
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
          size="small"
        >
          <nb-option
            *ngFor="let source of configurationParam.source"
            [value]="source"
          >
            {{ source }}
          </nb-option>
        </nb-select>
      </ng-container>

      <ng-container *ngIf="configurationParam.type === 'openlist'">
        <tock-autocomplete-input
          fieldSize="small"
          placeholder=""
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
          [options]="configurationParam.source"
        ></tock-autocomplete-input>
      </ng-container>

      <ng-container *ngIf="configurationParam.type === 'number'">
        <input
          type="number"
          nbInput
          fullWidth
          fieldSize="small"
          [formControl]="$any(form.get(parentGroup).get(configurationParam.key))"
          [min]="configurationParam.min"
          [max]="configurationParam.max"
          [step]="configurationParam.step"
        />
      </ng-container>
    </tock-form-control>
  </div>
</div>
