<nb-card [nbSpinner]="uploading">
  <nb-card-header>{{ 'bot.i18n-import.title' | transloco }}</nb-card-header>
  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="import()"
    >
      <tock-form-control
        [label]="'bot.i18n-import.fileLabel' | transloco"
        name="importFile"
        [required]="true"
        [controls]="file"
        [showError]="isImportSubmitted"
      >
        <div
          *ngIf="fileFormatErrorMessage"
          class="font-weight-bold text-danger font-italic mb-2"
        >
          {{ fileFormatErrorMessage }}
        </div>
        <tock-file-upload
          id="importFile"
          formControlName="file"
          [autofocus]="true"
          [fullWidth]="true"
          [multiple]="false"
          [fileTypeAccepted]="['json', 'csv']"
        ></tock-file-upload>
      </tock-form-control>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      (click)="cancel()"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      nbButton
      (click)="import()"
      [disabled]="!canSaveImport"
      status="primary"
    >
      {{ 'common.actions.import' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
