.options-wrapper {
  margin-top: -1em;
  margin-right: -1.3em;
  margin-left: -1.6em;

  background-color: var(--background-basic-color-3);
  padding: 0.5em 2em;
}

.shaders-wrapper {
  position: relative;

  .shader-top,
  .shader-bottom {
    pointer-events: none;
    padding: 0.5em;
    position: absolute;

    left: 0;
    right: 0.7em;
  }

  .shader-top {
    top: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, var(--background-basic-color-2) 100%);
  }
  .shader-bottom {
    bottom: 0;
    background: linear-gradient(0deg, var(--background-basic-color-2) 10%, rgba(255, 255, 255, 0) 100%);
  }
}

.locale-display {
  border-radius: var(--button-round-border-radius);
  color: var(--button-filled-primary-text-color);
  background-color: var(--button-filled-primary-background-color);
  font-size: var(--button-tiny-text-font-size);
  margin-top: var(--button-tiny-icon-vertical-margin);
  margin-bottom: var(--button-tiny-icon-vertical-margin);

  display: flex;
  padding: 0em 0.4em;
  justify-content: center;
  width: 2em;
}
