<nb-card>
  <nb-card-header> Request a review </nb-card-header>

  <nb-card-body>
    <textarea
      nbInput
      rows="10"
      name="description"
      placeholder="Description"
      [(ngModel)]="description"
      class="textarea"
    ></textarea>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      (click)="dialogRef.close({ status: 'cancel' })"
    >
      Cancel
    </button>
    <button
      nbButton
      status="primary"
      (click)="save()"
    >
      Add
    </button>
  </nb-card-footer>
</nb-card>
