<nb-card>
  <nb-card-header>{{ 'shared.sentence-review-request.header' | transloco }}</nb-card-header>

  <nb-card-body>
    <textarea
      nbInput
      rows="10"
      name="description"
      [placeholder]="'shared.sentence-review-request.description-placeholder' | transloco"
      [(ngModel)]="description"
      class="textarea"
    ></textarea>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      (click)="dialogRef.close({ status: 'cancel' })"
    >
      {{ 'common.actions.cancel' | transloco }}
    </button>
    <button
      *ngIf="reviewComment"
      nbButton
      status="warning"
      (click)="delete()"
    >
      {{ 'shared.sentence-review-request.delete-review' | transloco }}
    </button>
    <button
      nbButton
      status="primary"
      (click)="save()"
    >
      <span *ngIf="!reviewComment">{{ 'common.actions.add' | transloco }}</span>
      <span *ngIf="reviewComment">{{ 'common.actions.update' | transloco }}</span>
    </button>
  </nb-card-footer>
</nb-card>
