pre {
  outline: 1px solid #ccc;
  padding: 0.5rem;
  margin: 0;

  span.default {
    &-key,
    &-delimiter {
      color: black;
    }

    &-boolean {
      color: firebrick;
    }

    &-null {
      color: gray;
    }

    &-number {
      color: blue;
    }

    &-string {
      color: green;
    }
  }

  span.dark {
    &-object-delimiter {
      color: #dcd712;
    }

    &-key {
      color: #c792cc;
    }

    &-delimiter,
    &-boolean,
    &-null {
      color: #6cddf0;
    }

    &-number {
      color: #e95f3c;
    }

    &-string {
      color: #c3e741;
    }
  }
}
