@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

:host {
  display: flex;
  justify-content: center;

  .debug {
    cursor: pointer;

    color: var(--chat-message-sender-text-color);
    border-bottom: 1px dashed var(--chat-message-sender-text-color);

    height: 11px;
    margin-bottom: 10px;

    span {
      background: var(--card-background-color);
      padding: 0 5px;
      border-radius: 0.5rem;
    }
  }
}
