<form
  [formGroup]="form"
  class="grid"
>
  <nb-form-field>
    <nb-icon
      nbPrefix
      icon="search"
    ></nb-icon>
    <input
      nbInput
      fullWidth
      fieldSize="medium"
      [placeholder]="'metrics.indicators-filters.search_placeholder' | transloco"
      type="text"
      formControlName="search"
    />
  </nb-form-field>

  <nb-select
    multiple
    [placeholder]="'metrics.indicators-filters.filter_by_dimensions_placeholder' | transloco"
    fullWidth
    optionsListClass="option-list--break-word"
    formControlName="dimensions"
  >
    <nb-option
      *ngFor="let dimension of dimensionsCache"
      value="{{ dimension }}"
    >
      <span class="initial-capitalize">{{ dimension }}</span>
    </nb-option>
  </nb-select>

  <button
    *ngIf="isFiltered"
    nbButton
    [nbTooltip]="'metrics.indicators-filters.clear_all_filters_tooltip' | transloco"
    ghost
    shape="round"
    (click)="clearFilters()"
    data-testid="clear-button"
  >
    <nb-icon icon="x-lg"></nb-icon>
  </button>
</form>
