<div class="content">
  <nb-card>
    <nb-card-header style=" z-index: 1000;display: inline;padding-bottom: 0;">
      <nb-card style="position: absolute;z-index: 1000;">
        <button outline nbButton status="primary" style="position: relative;z-index: 1000;" (click)="openCalendar()">
          {{ range.start | date }} - {{ range.end | date }}
        </button>
        <div *ngIf="calendarDisplayed">
          <div style="z-index: 1000;display: flex;">
            <div style="z-index: 1000;display: inline-grid;width: -webkit-fill-available; height: fit-content;">
              <button nbButton size="small" [status]="getStatus(1)" (click)="searchByDays(1)">Yesterday</button>
              <button nbButton size="small" [status]="getStatus(0)" (click)="searchByDays(0)">Today</button>
              <button nbButton size="small" [status]="getStatus(7)" (click)="searchByDays(7)">Last 7 days</button>
              <button nbButton size="small" [status]="getStatus(14)" (click)="searchByDays(14)">Last 14 days</button>
              <button nbButton size="small" [status]="getStatus(28)" (click)="searchByDays(28)">Last 28 days</button>
              <button nbButton size="small" [status]="getStatus(90)" (click)="searchByDays(90)">Last 90 days</button>
              <button nbButton size="small" [status]="getStatus(-1)" (click)="setCustomDate()">Custom</button>
            </div>
            <nb-calendar-range [(range)]="range" class="cal"></nb-calendar-range>
          </div>
          <div style="text-align: right;padding: 5px;">
            <button nbButton size="small" status="basic" style="margin-right: 10px;" (click)="close()">Cancel</button>
            <button nbButton size="small" status="primary" (click)="search()">Update</button>
          </div>
        </div>
      </nb-card>
      <button nbButton outline shape="round" (click)="onExportClick()" nbTooltip="Export" status="primary" style="float: right">
        <nb-icon icon="upload"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body [nbSpinner]="loadingUsers" nbSpinnerStatus="primary" id="element-id">
      <nb-card>
        <nb-card-header>
          Users activity
          <nb-icon icon="question-mark-circle"
                   nbTooltip="The number of unique users according to their last interaction with the bot
               during the given time period across different connectors">
          </nb-icon>
        </nb-card-header>
        <nb-card-body *ngIf="usersChart!=null">
          <div style="text-align: center;" >
            <span *ngFor="let connector of connectors; index as i;" style="margin-right: 10px">
              <img *ngIf="getConnector(connector)"
                   src="{{getConnector(connector).iconUrl()}}"
                   class="connector"
                   [nbTooltip]="getConnector(connector).label()" [alt]="connector"/>
              <b>{{globalUsersCount[i]}}</b>
            </span>
          </div>
          <div style="text-align: center;">
            <google-chart #chart
                          [title]="usersChart.title"
                          [type]="usersChart.type"
                          [data]="usersChart.data"
                          [columns]="usersChart.columnNames"
                          [options]="usersChart.options"
                          [width]="usersChart.width"
                          [height]="usersChart.height">
            </google-chart>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          Messages
          <nb-icon icon="question-mark-circle"
                   nbTooltip="The number of messages sent to the bot during the given time period across the different connectors">
          </nb-icon>
        </nb-card-header>
        <nb-card-body *ngIf="messagesChart!=null">
          <div style="text-align: center;">
            <span *ngFor="let connector of connectors; index as i;" style="margin-right: 10px">
              <img *ngIf="getConnector(connector)"
                   src="{{getConnector(connector).iconUrl()}}"
                   class="connector"
                   [nbTooltip]="getConnector(connector).label()" [alt]="connector"/>
              <b>{{globalMessagesCount[i]}}</b>
            </span>
          </div>
          <div style="text-align: center;">
            <google-chart
                          [title]="messagesChart.title"
                          [type]="messagesChart.type"
                          [data]="messagesChart.data"
                          [columns]="messagesChart.columnNames"
                          [options]="messagesChart.options"
                          [width]="messagesChart.width"
                          [height]="messagesChart.height">
            </google-chart>
          </div>
        </nb-card-body>
      </nb-card>

    </nb-card-body>
  </nb-card>
</div>
