<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center gap-1">
    Create a new namespace
    <button
      nbButton
      ghost
      shape="round"
      nbTooltip="Cancel"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <label
        for="name"
        class="label required"
      >
        <abbr title="Required">*</abbr>
        New namespace name
      </label>
      <input
        tockAutofocusElement
        nbInput
        formControlName="name"
        fullWidth
        id="name"
        type="text"
        placeholder="Enter new namespace name"
      />
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      Cancel
    </button>

    <button
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled]="!canSave"
    >
      Save
    </button>
  </nb-card-footer>
</nb-card>
