<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center gap-1">
    {{ 'applications.create-namespace.createNewNamespaceTitle' | transloco }}
    <button
      nbButton
      ghost
      shape="round"
      [nbTooltip]="'applications.create-namespace.closeTooltip' | transloco"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="form"
      (submit)="save()"
    >
      <div class="form-section">
        <tock-form-control
          [label]="'applications.create-namespace.namespaceLabelLabel' | transloco"
          name="label"
          [controls]="label"
          [required]="true"
          [showError]="isSubmitted"
        >
          <input
            tockAutofocusElement
            nbInput
            formControlName="label"
            fullWidth
            id="label"
            type="text"
            [placeholder]="'applications.create-namespace.namespaceLabelPlaceholder' | transloco"
          />
        </tock-form-control>
      </div>

      <div class="form-section mt-3">
        <tock-form-control
          [label]="'applications.create-namespace.namespaceNameLabel' | transloco"
          name="name"
          [controls]="name"
          [required]="true"
          [showError]="isSubmitted"
        >
          <input
            nbInput
            formControlName="name"
            fullWidth
            id="name"
            type="text"
            [placeholder]="'applications.create-namespace.namespaceNamePlaceholder' | transloco"
          />
        </tock-form-control>

        <div class="text-muted font-size-small">{{ 'applications.create-namespace.namespaceNameHelp' | transloco }}</div>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      (click)="cancel()"
    >
      {{ 'applications.create-namespace.cancelButton' | transloco }}
    </button>

    <button
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled]="!canSave"
    >
      {{ 'applications.create-namespace.saveButton' | transloco }}
    </button>
  </nb-card-footer>
</nb-card>
