name: Deploy MkDocs

on:
  push:
    branches:
      - master
    tags:
      - 'tock-*'
    paths:
      - docs/**
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: deploy-${{ github.repository }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13.9

      - name: Install dependencies
        run: |
          echo "Installing dependencies"
          pip install -r docs/requirements.txt

      - name: Build MkDocs site
        run: |
          echo "Building MkDocs site"
          cd docs
          mkdocs build

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/site

  deploy:
    needs: build
    permissions:
      pages: write      
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
