<nb-card [nbSpinner]="loading">
  <nb-card-header class="d-flex justify-content-between align-items-start gap-1 flex-wrap">
    <div>
      Create new <span class="text-lowercase">{{ type }}</span> rule
    </div>

    <button
      type="button"
      nbButton
      ghost
      shape="round"
      nbTooltip="Close"
      (click)="cancel()"
    >
      <nb-icon icon="x-lg"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form">
      <div class="d-flex gap-1">
        <div [ngClass]="{ 'w-50': hasTarget(), 'w-100': !hasTarget() }">
          <tock-form-control
            label="Story"
            name="mainStory"
            [controls]="mainStory"
            [showError]="isSubmitted"
            [required]="true"
          >
            <input
              nbInput
              id="mainStory"
              fullWidth
              type="text"
              placeholder="Story"
              [value]="getCurrentStoryLabel(mainOrTarget.mainStory)"
              autocomplete="off"
              [nbAutocomplete]="storyAutocomplete"
              (input)="filterStoriesList($any($event.target).value)"
              (change)="onStoryChange(mainOrTarget.mainStory, $any($event.target).value)"
              (focus)="storyInputFocus()"
              (blur)="storyInputBlur(mainOrTarget.mainStory, $event)"
            />

            <nb-autocomplete
              #storyAutocomplete
              (selectedChange)="onStorySelectionChange(mainOrTarget.mainStory, $event)"
            >
              <nb-option
                *ngFor="let option of filteredStories$ | async"
                [value]="option"
                class="align-items-center"
              >
                <nb-icon
                  [icon]="getStoryIcon(option)"
                  class="mr-1"
                ></nb-icon>
                {{ option.name }}
              </nb-option>
            </nb-autocomplete>
          </tock-form-control>
        </div>
        <div
          class="w-50"
          *ngIf="hasTarget()"
        >
          <tock-form-control
            label="{{ type }} story"
            name="targetStory"
            [controls]="targetStory"
            [showError]="isSubmitted"
            [required]="true"
          >
            <input
              nbInput
              id="targetStory"
              fullWidth
              type="text"
              placeholder="{{ type }} story"
              [value]="getCurrentStoryLabel(mainOrTarget.targetStory)"
              autocomplete="off"
              [nbAutocomplete]="targetAutocomplete"
              (input)="filterStoriesList($any($event.target).value)"
              (change)="onStoryChange(mainOrTarget.targetStory, $any($event.target).value)"
              (focus)="storyInputFocus()"
              (blur)="storyInputBlur(mainOrTarget.targetStory, $event)"
            />

            <nb-autocomplete
              #targetAutocomplete
              (selectedChange)="onStorySelectionChange(mainOrTarget.targetStory, $event)"
            >
              <nb-option
                *ngFor="let option of filteredStories$ | async"
                [value]="option"
                class="align-items-center"
              >
                <nb-icon
                  [icon]="getStoryIcon(option)"
                  class="mr-1"
                ></nb-icon>
                {{ option.name }}
              </nb-option>
            </nb-autocomplete>
          </tock-form-control>
        </div>
      </div>

      <tock-form-control
        label="Configuration"
        name="configuration"
      >
        <tock-select-bot
          [(configurationId)]="botApplicationConfigurationId"
          [allowNoSelection]="true"
          noConfigurationLabel="All Configurations"
          size="medium"
        ></tock-select-bot>
      </tock-form-control>

      <nb-toggle
        formControlName="enabled"
        nbTooltip="Status"
      >
        <span *ngIf="enabled.value">Rule enabled</span>
        <span *ngIf="!enabled.value">Rule disabled</span>
      </nb-toggle>
    </form>
  </nb-card-body>

  <nb-card-footer class="card-footer-actions">
    <button
      nbButton
      ghost
      size="small"
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      type="button"
      nbButton
      status="primary"
      size="small"
      (click)="save()"
    >
      Create rule
    </button>
  </nb-card-footer>
</nb-card>
