@if ((botConfiguration.restConfigurations | async).length === 0) {
<nb-card class="plans">
  {{ 'test.test-plan.noBotConfiguration' | transloco }}
</nb-card>
} @if (xray) {
<nb-card class="plans">
  <nb-card-header>{{ 'test.test-plan.executeXRayPlanTitle' | transloco }}</nb-card-header>
  <nb-card-body>
    <tock-select-bot
      [configurationId]="xrayBotConfigurationId"
      [returnsRestConfiguration]="true"
      (selectionChange)="changeBotConfiguration($event)"
      [allowNoSelection]="true"
    ></tock-select-bot>
    <input
      nbInput
      status="primary"
      class="input-text"
      [placeholder]="'test.test-plan.jiraTestPlanPlaceholder' | transloco"
      [(ngModel)]="xray.testPlanKey"
      (keyup.enter)="executeXRay()"
    />
    <button
      nbButton
      (click)="executeXRay()"
      color="primary"
    >
      {{ 'test.test-plan.createButton' | transloco }}
    </button>
    @if (executeXray) {
    <div>
      <br />
      <img
        src="{{ baseHref }}assets/images/loading.gif"
        width="40px"
        height="40px"
      />
    </div>
    }
  </nb-card-body>
</nb-card>
} @if ((botConfiguration.restConfigurations | async).length !== 0) {
<nb-card class="plans">
  <nb-card-header style="display: flex">
    {{ 'test.test-plan.testPlansTitle' | transloco }}
    <nb-actions
      size="small"
      style="cursor: pointer"
    >
      @if (!testPlanCreation) {
      <nb-action
        class="control-item"
        (click)="prepareCreateTestPlan()"
        [nbTooltip]="'test.test-plan.createTestPlanTooltip' | transloco"
      >
        <nb-icon icon="plus-square"></nb-icon>
      </nb-action>
      }
    </nb-actions>
  </nb-card-header>
  <nb-card-body style="background: #dadfe638">
    @if (testPlanCreation) {
    <div class="new-plan">
      <input
        nbInput
        [placeholder]="'test.test-plan.testPlanNamePlaceholder' | transloco"
        status="primary"
        class="input-new-plan"
        [(ngModel)]="testPlanName"
        (keyup.enter)="createTestPlan()"
      />
      <tock-select-bot
        [(configurationId)]="testBotConfigurationId"
        [returnsRestConfiguration]="true"
      ></tock-select-bot>
      <nb-actions
        size="tiny"
        style="cursor: pointer"
      >
        <nb-action
          class="control-item"
          (click)="createTestPlan()"
          [nbTooltip]="'test.test-plan.createTooltip' | transloco"
          class="create"
        >
          <nb-icon
            icon="check-circle"
            status="success"
          ></nb-icon>
        </nb-action>
        <nb-action
          class="control-item"
          (click)="resetCreateTestPlan()"
          [nbTooltip]="'test.test-plan.cancelTooltip' | transloco"
        >
          <nb-icon
            icon="x-circle"
            status="danger"
          ></nb-icon>
        </nb-action>
      </nb-actions>
    </div>
    } @if (testPlans) {
    <div>
      @for (p of testPlans; track p) {
      <nb-card style="margin-bottom: 10px">
        <nb-card-header>
          <div>
            Plan "{{ p.name }}" - {{ p.botName }}
            @if (p.dialogs.length !== 0) {
            <button
              nbButton
              ghost
              (click)="exec(p)"
              style="color: #73a1ff"
              [nbTooltip]="'test.test-plan.launchTooltip' | transloco"
            >
              <nb-icon icon="box-arrow-up-right"></nb-icon>
            </button>
            } @if (executePlan && p === this.runningTestPlan) {
            <div>
              <br />
              <img
                src="{{ baseHref }}assets/images/loading.gif"
                width="40px"
                height="40px"
              />
            </div>
            }
            <nb-actions
              size="small"
              style="cursor: pointer; float: right"
            >
              <nb-action
                class="control-item"
                (click)="deleteTestPlan(p)"
                [nbTooltip]="'test.test-plan.deleteTooltip' | transloco"
              >
                <nb-icon
                  icon="trash"
                  status="danger"
                ></nb-icon>
              </nb-action>
            </nb-actions>
          </div>
          <div style="font-size: 14px; font-weight: 300; margin-top: 10px">
            {{ 'test.test-plan.conversationsLabel' | transloco: { count: p.dialogs.length } }}
            @if (p.dialogs.length !== 0) {
            <span>
              - @if (!p.displayDialog) {
              <button
                nbButton
                (click)="showDialogs(p)"
              >
                <nb-icon icon="eye"></nb-icon>
                {{ 'test.test-plan.displayConversationsButton' | transloco: { count: p.dialogs.length } }}
              </button>
              } @if (p.displayDialog) {
              <button
                nbButton
                (click)="hideDialogs(p)"
              >
                <nb-icon icon="eye-slash"></nb-icon>
                {{ 'test.test-plan.hideConversationsButton' | transloco: { count: p.dialogs.length } }}
              </button>
              }
            </span>
            } @if (p.dialogs.length === 0) {
            <span>{{ 'test.test-plan.noDialogsLabel' | transloco }}</span>
            }
          </div>
        </nb-card-header>
        <nb-card-body>
          @if (p.displayDialog) {
          <ol>
            @for (d of p.dialogs; track d) {
            <li>
              @if (d.actions.length === 0) {
              <span>{{ 'test.test-plan.noContentLabel' | transloco }}</span>
              } @if (d.actions.length !== 0) {
              <span>
                <tock-chat-ui-message
                  [message]="d.actions[0].messages[0]"
                  [reply]="false"
                  [replay]="true"
                ></tock-chat-ui-message>
              </span>
              } ... @if (!d.displayActions) {
              <button
                nbButton
                (click)="d.displayActions = true"
              >
                <nb-icon icon="eye"></nb-icon>
                {{ 'test.test-plan.displayAllSentencesButton' | transloco }}
              </button>
              } @if (d.displayActions) {
              <button
                nbButton
                (click)="d.displayActions = false"
              >
                <nb-icon icon="eye-slash"></nb-icon>
                {{ 'test.test-plan.hideAllSentencesButton' | transloco }}
              </button>
              }
              <button
                nbButton
                (click)="removeDialog(p, d)"
                color="warn"
              >
                <nb-icon icon="trash"></nb-icon>
                {{ 'test.test-plan.removeDialogButton' | transloco }}
              </button>
              @if (d.displayActions) {
              <tock-chat-ui>
                @for (action of d.toDialogReport().actions; track action) {
                <tock-chat-ui-message
                  [message]="action.message"
                  [date]="action.date"
                  [reply]="action.isBot()"
                  [replay]="true"
                  [sender]="getUserNameKey(action) | transloco"
                  [avatar]="getUserAvatar(action)"
                ></tock-chat-ui-message>
                }
              </tock-chat-ui>
              }
            </li>
            }
          </ol>
          } @if (p.testPlanExecutions && p.testPlanExecutions.length > 0) {
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                {{ 'test.test-plan.executionsTitle' | transloco: { count: p.testPlanExecutions.length } }}
                <span class="last-execution-status">{{ 'test.test-plan.lastExecutionStatusLabel' | transloco }}</span>
                @if (p.testPlanExecutions[0].nbErrors === 0) {
                <span>
                  <nb-icon
                    icon="check-circle"
                    status="success"
                  ></nb-icon>
                </span>
                } @if (p.testPlanExecutions[0].nbErrors !== 0) {
                <span>
                  <nb-icon
                    icon="x-circle"
                    status="danger"
                  ></nb-icon>
                </span>
                }
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <ol>
                  @for (e of p.testPlanExecutions; track e) {
                  <li>
                    {{ e.date | amDateFormat: 'HH:mm:ss YYYY-MM-DD' }}
                    @if (!e.displayExecution) {
                    <button
                      nbButton
                      (click)="e.displayExecution = true"
                    >
                      <nb-icon icon="eye"></nb-icon>
                      {{ 'test.test-plan.displayDetailsButton' | transloco }}
                    </button>
                    } @if (e.displayExecution) {
                    <button
                      nbButton
                      (click)="e.displayExecution = false"
                    >
                      <nb-icon icon="eye-slash"></nb-icon>
                      {{ 'test.test-plan.hideDetailsButton' | transloco }}
                    </button>
                    } @if (e.nbErrors === 0) {
                    <span>
                      <nb-icon
                        icon="check-circle"
                        status="success"
                      ></nb-icon>
                      {{ 'test.test-plan.executionSuccessLabel' | transloco: { count: e.dialogs.length } }}
                    </span>
                    } @if (e.nbErrors !== 0) {
                    <span>
                      <nb-icon
                        icon="x-circle"
                        status="danger"
                      ></nb-icon>
                      {{
                        'test.test-plan.executionErrorLabel' | transloco: { errorCount: e.nbErrors, conversationCount: e.dialogs.length }
                      }}
                    </span>
                    } @if (e.displayExecution) {
                    <ol>
                      @for (details of e.dialogs; track details) {
                      <li>
                        @if (!details.error) {
                        <span>
                          <nb-icon
                            icon="check-circle"
                            status="success"
                          ></nb-icon>
                          {{ 'test.test-plan.successLabel' | transloco }}
                        </span>
                        } @if (details.error) {
                        <span>
                          <nb-icon
                            icon="x-circle"
                            status="danger"
                          ></nb-icon>
                          {{ 'test.test-plan.errorLabel' | transloco }}
                          @if (details.dialogReport) {
                          <span>
                            <h4>{{ 'test.test-plan.expectedDialogLabel' | transloco }}</h4>
                            <tock-chat-ui>
                              @for (action of details.dialogReport.actions; track action) {
                              <tock-chat-ui-message
                                [message]="action.message"
                                [date]="action.date"
                                [reply]="action.isBot()"
                                [replay]="true"
                                [sender]="getUserNameKey(action) | transloco"
                                [avatar]="getUserAvatar(action)"
                              ></tock-chat-ui-message>
                              }
                            </tock-chat-ui>
                            @if (details.returnedMessage) {
                            <span>
                              <h4>{{ 'test.test-plan.butLastAnswerWasLabel' | transloco }}</h4>
                              <tock-chat-ui-message
                                [message]="details.returnedMessage"
                                [reply]="true"
                                [replay]="true"
                              ></tock-chat-ui-message>
                            </span>
                            }
                          </span>
                          } @if (details.errorMessage) {
                          <span>{{ details.errorMessage }}</span>
                          }
                          <br />
                        </span>
                        }
                      </li>
                      }
                    </ol>
                    }
                  </li>
                  }
                </ol>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          } @if (p.displayExecutions) {
          <span> </span>
          }
        </nb-card-body>
      </nb-card>
      }
    </div>
    }
  </nb-card-body>
</nb-card>
}

<tock-scroll-top-button></tock-scroll-top-button>
